@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.intl-tel-input {
    display: block;
    width: 100%;


}

.form .iti-flag {
    background-image: url('../img/flags.png');

}

body {
    background-image: linear-gradient(to top right, rgba(224, 73, 13, .4), rgba(4, 149, 245, .5));
    font-family: "Open Sans", sans-serif;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    min-height: 100vh;
    margin: 0;

}

.box {
    width: 500px;
    padding: 40px;
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    margin: 10px auto;
    /* transform: translate(-50%, -50%); */
    border-radius: 35px;
    background-image: linear-gradient(to top right, rgba(2, 68, 250, 0.4), rgba(83, 25, 17, 0.5));
    text-align: center;
}

h2 {
    text-align: center;
    margin: 0 0 40px;
    color: #fff;
}

.form {
    padding: 20px 10px;
}

.form-control {
    margin-bottom: 5px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 15px;
}

.form-control input:focus {
    outline: 0;
    border-color: rgb(0, 255, 42);
}

.form-control.success input {
    border-color: var(--success-color);

}

.form-control.error input {
    border-color: var(--error-color)
}

.form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}


.form button {
    cursor: pointer;
    background-color: #266c9b;
    border: 2px solid #1e5981;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 30px;
    width: 100%;
    transition: all 0.3s;
}

.form button:hover {
    transform: scale(1.05);
}

.devsite-code-buttons-container {
    display: none;
}
#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}
.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}
.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}


.main {
    width: 1226px;
    margin: 0 auto;
  }
  
  .top {
    background: #333;
  }
  
  .top .main {
    display: flex;
    justify-content: space-between;
    height: 40px;
  }
  
  .top .main a {
    color: #e3e3e3;
    line-height: 40px;
    display: inline-block;
    font-size: 12px;
  }
  
  .top .main a:hover {
    color: #fff;
  }
  
  .top .main .left {
    padding-left: 10px;
  }
  
  .top .main .sep {
    margin: 0 0.3em;
    color: #424242;
  }
  
  .top .main .right {
    display: flex;
    align-items: center;
  }
  

/* Mobile query */
@media (max-width: 768px) {

    body {
        background-image: none;
        background-color: #fff !important;
        padding: 0 20px !important;
    }

    .box {
        width: 100%;
        padding: 20px;
        /* position: absolute; */
        /* top: 50%;
        left: 50%; */
        margin: 10px auto;
        /* transform: translate(-50%, -50%); */
        border-radius: 35px;
        background-image: linear-gradient(to top right, rgba(2, 68, 250, 0.4), rgba(83, 25, 17, 0.5));
        text-align: center;
    }

    h2 {
        text-align: center;
        margin: 0 0 40px;
        color: #fff;
    }

    .form {
        padding: 20px 10px;
    }

    .form-control {
        margin-bottom: 5px;
        padding-bottom: 20px;
        position: relative;
    }
    .form-control label {
        color: #fff;
        display: block;
        margin-bottom: 10px;
    }
    .form-control input {
        border: 2px solid #f0f0f0;
        border-radius: 10px;
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 15px;

    }

    .form-control input:focus {
        outline: 0;
        border-color: rgb(0, 255, 42);
    }

    .form-control.success input {
        border-color: var(--success-color);

    }

    .form-control.error input {
        border-color: var(--error-color)
    }

    .form-control small {
        color: var(--error-color);
        position: absolute;
        bottom: 0;
        left: 0;
        visibility: hidden;
    }

    .form-control.error small {
        visibility: visible;
    }


    .form button {
        cursor: pointer;
        background-color: #2670a2;
        border: 2px solid #1c5479;
        border-radius: 4px;
        color: #fff;
        display: block;
        font-size: 16px;
        padding: 10px;
        margin-top: 30px;
        width: 100%;
        transition: all 0.3s;
    }

    .form button:hover {
        transform: scale(1.05);
    }

    .devsite-code-buttons-container {
        display: none;
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }
    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }
    .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

}