a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

input {
  border: 0;
  outline: none;
}

img {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 1226px;
  margin: 0 auto;
}

.top {
  background: #333;
}

.top .main {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.top .main a {
  color: #e3e3e3;
  line-height: 40px;
  display: inline-block;
  font-size: 12px;
}

.top .main a:hover {
  color: #fff;
}

.top .main .left {
  padding-left: 10px;
}

.top .main .sep {
  margin: 0 0.3em;
  color: #424242;
}

.top .main .right {
  display: flex;
  align-items: center;
}

.top .main .right .cart {
  position: relative;
}

.top .main .right .cart a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 120px;
  height: 100%;
  margin-left: 10px;
  background-color: #424242;
}

.top .main .right .cart a img {
  width: 20px;
  height: 20px;
}

.top .main .right .cart a:hover {
  color: #bbbbbb;
  background-color: #fff;
}

.top .main .right .cart .cart_content {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  width: 316px;
  z-index: 100000000000;
  background-color: #fff;
  color: #000;
  padding: 10px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
  cursor: default;
  font-size: 14px;
}

.top .main .right .cart .cart_content .empty {
  padding: 20px 0;
  text-align: center;
}

.top .main .right .cart .cart_content .gotopay {
  display: none;
  margin-bottom: 20px;
}

.top .main .right .cart .cart_content .gotopay a {
  display: block;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  background-color: #c83500;
}

.top .main .right .cart .cart_content .cart_content_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top .main .right .cart .cart_content .cart_content_item .image {
  width: 60px;
}

.top .main .right .cart .cart_content .cart_content_item .text {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.top .main .right .cart .cart_content .cart_content_item .price {
  color: orangered;
}

.top .main .right .cart .cart_content .cart_content_item .delete_btn {
  color: #000;
}

.top .main .right .cart:hover .cart_content {
  display: block;
}

.top .main .right .cart:hover a {
  color: #e4e3e3;
  background-color: #fff;
}

.header {
  position: relative;
}

.header>.main {
  display: flex;
  align-items: center;
}

.header>.main .logo {
  padding-left: 30px;
}

.header>.main .logo img {
  width: 120px;
  height: 120px;
}

.header>.main .search {
  position: relative;
  width: 600px;
  margin-left: 200px;
}

.header>.main .search input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  padding-right: 60px;
  border: 1px solid #e0e0f4;
}

.header>.main .search img {
  position: absolute;
  right: 0;
  top: 0;
  width: 52px;
  height: 50px;
  padding: 15px;
  border-left: 1px solid #e0e0f4;
  cursor: pointer;
}

.header .nav-slide-down {
  display: none;
  position: absolute;
  left: 0;
  top: 112px;
  width: 100%;
  height: 230px;
  z-index: 200;
  background-color: #fff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
  border-top: 1px solid #ccc;
  overflow: hidden;
}

.header .nav-slide-down .main ul {
  display: flex;
  height: 230px;
  align-items: center;
}

.header .nav-slide-down .main ul li {
  width: 200px;
  text-align: center;
}

.header .nav-slide-down .main ul li .text {
  margin: 10px 0;
}

.header .nav-slide-down .main ul li .price {
  color: orange;
}

/*search bar*/
/* search list */
.search-list {
  z-index: 800;
  position: absolute;
  top: 50px;
  left: 0;
  width: 600px;
  height: 200px;
  border: 1px solid #ff6700;
  border-top: none;
  box-sizing: border-box;
  background-color: #fff;
  display: none;
}

.search-list>a {
  width: 243px;
  height: 30px;
  padding: 6px 15px;
  display: block;
  box-sizing: border-box;
  color: #424242;
  font-size: 12px;
  text-align: left;
}

.search-list>a:hover {
  color: orange;
}

.search>input:focus~.search-list {
  display: block;
}

.menu .main {
  display: flex;
}

.menu .main .left {
  position: relative;
  width: 234px;
  background-color: #464646;
}

.menu .main .left ul {
  padding: 20px 0;
}

.menu .main .left ul li {
  display: block;
}

.menu .main .left ul li>a {
  position: relative;
  display: block;
  padding-left: 30px;
  height: 84px;
  line-height: 84px;
  color: #fff;
  font-size: 18px;
}

.menu .main .left ul li>a img {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}

.menu .main .left ul li>a:hover {
  background-color: #ff6700;
}

.menu .main .left ul li .left_content {
  display: none;
  position: absolute;
  left: 234px;
  top: 0;
  width: 992px;
  height: 460px;
  z-index: 100000;
  background-color: #fff;
  box-shadow: 0 0 8px #464646;
  padding: 20px;
}

.menu .main .left ul li .left_content .item-list {
  display: flex;
  flex-wrap: wrap;
}

.menu .main .left ul li .left_content .item-list .item {
  width: 300px;
  margin-bottom: 40px;
  display: flex;
  align-content: center;
}

.menu .main .left ul li .left_content .item-list .item .image {
  width: 80px;
}

.menu .main .left ul li .left_content .item-list .item .image img {
  width: 76px;
  height: 76.8px;
}

.menu .main .left ul li .left_content .item-list .item .text {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 18px;
}

.menu .main .left ul li .left_content .item-list .item:hover {
  color: orange;
}

.menu .main .right {
  width: 992px;
  height: 460px;
}

.menu .main .right .slide-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.menu .main .right .slide-wrap .slide-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.menu .main .right .slide-wrap .slide-content .slide-item {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.menu .main .right .slide-wrap .slide-content .slide-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.menu .main .right .slide-wrap #pagination {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  z-index: 1000;
}

.menu .main .right .slide-wrap #pagination span {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin: 0 4px;
  display: inline-block;
  background-color: #999;
  cursor: pointer;
}

.menu .main .right .slide-wrap #pagination span.active {
  background-color: #00bfff;
}

.menu .main .right .slide-wrap #slide-page-prev {
  width: 40px;
  height: 40px;
  background: url(../img/prev.png) no-repeat center center;
  background-size: contain;
  border-width: 100px;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  cursor: pointer;
}

.menu .main .right .slide-wrap #slide-page-next {
  width: 40px;
  height: 40px;
  background: url(../img/next.png) no-repeat center center;
  background-size: contain;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  cursor: pointer;
}

.product-list {
  background-color: #f5f5f5;
  margin-top: 20px;
  padding: 20px 0;
}

.product-list .main ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-list .main ul li {
  width: 24%;
  padding: 20px 10px;
  text-align: center;
  background-color: #fff;
  transition: 0.5s;
  margin-bottom: 20px;
}

.product-list .main ul li .image {
  width: 190px;
  height: 192px;
  margin: 0 auto;
}

.product-list .main ul li .image img {
  width: 100%;
  height: 100%;
}

.product-list .main ul li .desc {
  font-size: 14px;
  color: #6b6b6b;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.product-list .main ul li .price {
  margin-top: 12px;
  color: #266238;
}

.product-list .main ul li .add_to_cart {
  margin-top: 20px;
}

.product-list .main ul li .add_to_cart a {
  display: block;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  background-color: #c83500;
}

.product-list .main ul li:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

footer {
  border-top: 1px solid #eee;
}

footer .main {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

footer .main .col {
  flex: 1;
}

footer .main .col h2 {
  padding-bottom: 20px;
}

footer .main .col li {
  padding: 10px;
}

footer .main .col .footer-img {
  width: 50px;
}

.burger {
  display: none;
  position: absolute;
  right: 20px;
  top: 70px;
  width: 60px;
  height: 60px;
}

.burger .toggleMenu {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger .toggleMenu::before {
  content: '';
  position: absolute;
  width: 32px;
  height: 2px;
  background-color: #555;
  transform: translateY(-10px);
  box-shadow: 0 10px #555;
  transition: 0.5s;
}

.burger .toggleMenu::after {
  content: '';
  position: absolute;
  width: 32px;
  height: 2px;
  background-color: #555;
  transform: translateY(10px);
  transition: 0.5s;
}




main .detail {
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}

main .detail .detail-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 12px;
}

main .detail .detail-left,
main .detail .detail-right {
  width: 40%;
  padding: 20px 10px;
  text-align: center;
  background-color: #fff;
  transition: 0.5s;
  margin-bottom: 20px;
}


main .detail .detail-left img {
  width: 560px;
  height: 560px;
  margin: 0 auto;
}

main .detail .detail-right {
  width: 300px;
  text-align: center;
}

main .detail .detail-right h2 {
  padding-top: 60px;
}
main .detail .detail-right p {
  padding-top: 60px;
}

main .detail .detail-right .price {
  margin-top: 12px;
  color: #154f16;
  font-size: 30px;
  padding-top: 30px;
}

main .detail .detail-right .add_to_cart {
  margin-top: 20px;
  padding-top: 10px;
}

main .detail .detail-right .add_to_cart a {
  display: block;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  background-color: #c83500;
}



@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .main {
    width: 100%;
    margin: 0 auto;
  }

  .top {
    background: #333;
  }

  .top .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
  }

  .top .main a {
    color: #e3e3e3;
    line-height: 40px;
    display: inline-block;
    font-size: 12px;
  }

  .top .main a:hover {
    color: #fff;
  }

  .top .main .left {
    display: none;
    padding-left: 10px;
  }

  .top .main .sep {
    margin: 0 0.3em;
    color: #424242;
  }

  .top .main .right {
    width: 100%;
    display: flex;
    background-color: #424242;
  }

  .top .main .right>a {
    flex: 1;
    text-align: center;
  }

  .top .main .right .cart {
    position: relative;
  }

  .top .main .right .cart a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 120px;
    height: 100%;
    margin-left: 10px;
    background-color: #424242;
  }

  .top .main .right .cart a img {
    width: 20px;
    height: 20px;
  }

  .top .main .right .cart a:hover {
    color: #bbbbbb;
    background-color: #fff;
  }

  .top .main .right .cart .cart_content {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    width: 316px;
    z-index: 100000000000;
    background-color: #fff;
    color: #000;
    padding: 10px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
    cursor: default;
    font-size: 14px;
  }

  .top .main .right .cart .cart_content .empty {
    padding: 20px 0;
    text-align: center;
  }

  .top .main .right .cart .cart_content .cart_content_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .top .main .right .cart .cart_content .cart_content_item .image {
    width: 60px;
  }

  .top .main .right .cart .cart_content .cart_content_item .text {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .top .main .right .cart .cart_content .cart_content_item .price {
    color: orangered;
  }

  .top .main .right .cart:hover .cart_content {
    display: block;
  }

  .top .main .right .cart:hover a {
    color: #e4e3e3;
    background-color: #fff;
  }

  .header {
    position: relative;
  }

  .header>.main {
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  .header>.main .logo {
    flex: 1;
    padding-left: 0;
  }

  .header>.main .logo img {
    width: 120px;
    height: 120px;
  }

  .header>.main .search {
    flex: 2;
    margin-left: 10px;
    background-color: #f5f5f5;
  }

  .header>.main .search.active {
    display: block;
  }

  .header>.main .search input {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    padding-right: 60px;
    border: 1px solid #e0e0f4;
  }

  .header>.main .search img {
    position: absolute;
    right: 0;
    top: 0;
    width: 52px;
    height: 50px;
    padding: 15px;
    border-left: 1px solid #e0e0f4;
    cursor: pointer;
  }

  .header .nav-slide-down {
    display: none;
    position: absolute;
    left: 0;
    top: 112px;
    width: 100%;
    height: 230px;
    z-index: 200;
    background-color: #fff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
    border-top: 1px solid #ccc;
    overflow: hidden;
  }

  .header .nav-slide-down .main ul {
    display: flex;
    height: 230px;
    align-items: center;
  }

  .header .nav-slide-down .main ul li {
    width: 200px;
    text-align: center;
  }

  .header .nav-slide-down .main ul li .text {
    margin: 10px 0;
  }

  .header .nav-slide-down .main ul li .price {
    color: orange;
  }

  /*search bar*/
  /* search list */
  .search-list {
    z-index: 800;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 200px;
    border: 1px solid #ff6700;
    border-top: none;
    box-sizing: border-box;
    background-color: #fff;
    display: none;
  }

  .search-list>a {
    width: 243px;
    height: 30px;
    padding: 6px 15px;
    display: block;
    box-sizing: border-box;
    color: #424242;
    font-size: 12px;
    text-align: left;
  }

  .search-list>a:hover {
    color: orange;
  }

  .search>input:focus~.search-list {
    display: block;
  }

  .menu .main {
    display: flex;
  }

  .menu .main .left {
    display: none;
    position: relative;
    width: 234px;
    background-color: #464646;
  }

  .menu .main .left ul {
    padding: 20px 0;
  }

  .menu .main .left ul li {
    display: block;
  }

  .menu .main .left ul li>a {
    position: relative;
    display: block;
    padding-left: 30px;
    height: 84px;
    line-height: 84px;
    color: #fff;
    font-size: 18px;
  }

  .menu .main .left ul li>a img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
  }

  .menu .main .left ul li>a:hover {
    background-color: #ff6700;
  }

  .menu .main .left ul li .left_content {
    display: none;
    position: absolute;
    left: 234px;
    top: 0;
    width: 992px;
    height: 460px;
    z-index: 100000;
    background-color: #fff;
    box-shadow: 0 0 8px #464646;
    padding: 20px;
  }

  .menu .main .left ul li .left_content .item-list {
    display: flex;
    flex-wrap: wrap;
  }

  .menu .main .left ul li .left_content .item-list .item {
    width: 300px;
    margin-bottom: 40px;
    display: flex;
    align-content: center;
  }

  .menu .main .left ul li .left_content .item-list .item .image {
    width: 80px;
  }

  .menu .main .left ul li .left_content .item-list .item .image img {
    width: 76px;
    height: 76.8px;
  }

  .menu .main .left ul li .left_content .item-list .item .text {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
  }

  .menu .main .left ul li .left_content .item-list .item:hover {
    color: orange;
  }

  .menu .main .right {
    width: 100%;
    height: 220px;
  }

  .menu .main .right .slide-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .menu .main .right .slide-wrap .slide-content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .menu .main .right .slide-wrap .slide-content .slide-item {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  .menu .main .right .slide-wrap .slide-content .slide-item img {
    width: 100%;
    height: 100%;
  }

  .menu .main .right .slide-wrap #pagination {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 1000;
  }

  .menu .main .right .slide-wrap #pagination span {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin: 0 4px;
    display: inline-block;
    background-color: #999;
    cursor: pointer;
  }

  .menu .main .right .slide-wrap #pagination span.active {
    background-color: #00bfff;
  }

  .menu .main .right .slide-wrap #slide-page-prev {
    width: 40px;
    height: 40px;
    background: url(../img/prev.png) no-repeat center center;
    background-size: contain;
    border-width: 100px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    cursor: pointer;
  }

  .menu .main .right .slide-wrap #slide-page-next {
    width: 40px;
    height: 40px;
    background: url(../img/next.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    cursor: pointer;
  }

  .product-list {
    background-color: #f5f5f5;
    margin-top: 20px;
    padding: 20px;
  }

  .product-list .main ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product-list .main ul li {
    width: 100%;
    padding: 20px 10px;
    text-align: center;
    background-color: #fff;
    transition: 0.5s;
    margin-bottom: 20px;
  }

  .product-list .main ul li .image {
    width: 190px;
    height: 192px;
    margin: 0 auto;
  }

  .product-list .main ul li .image img {
    width: 100%;
    height: 100%;
  }

  .product-list .main ul li .desc {
    font-size: 14px;
    color: #6b6b6b;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
  }

  .product-list .main ul li .price {
    margin-top: 12px;
    color: #266238;
  }

  .product-list .main ul li .add_to_cart {
    margin-top: 20px;
  }

  .product-list .main ul li .add_to_cart a {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    background-color: #c83500;
  }

  .product-list .main ul li:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }

  footer {
    border-top: 1px solid #eee;
  }

  footer .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0;
  }

  footer .main .col {
    flex: 1;
    text-align: center;
  }

  footer .main .col h2 {
    padding-bottom: 20px;
  }

  footer .main .col li {
    padding: 10px;
  }


  main {
    background-color: #f5f5f5;
    margin-top: 20px;
    padding: 20px;
  }

  main .detail {
    width: 100%;
    margin: 0 auto;
  }

  main .detail .detail-main {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    margin: 0 auto;
  }

  main .detail .detail-left {
    width: 100%;
    padding: 0;
    text-align: center;
    background-color: #fff;
    transition: 0.5s;
    margin-bottom: 20px;
    margin: 0 auto;
  }

  main .detail .detail-right {
    width: 200px;
    padding: 20px 10px;
    text-align: center;
    background-color: #fff;
    transition: 0.5s;
    margin-bottom: 20px;
    margin: 0 auto;
  }

 

  main .detail .detail-left img {
    width: 190px;
    height: 190px;
    margin: 0 auto;
  }

main .detail .detail-right h2 {
  padding-top: 0px;
}
main .detail .detail-right p {
  padding-top: 0px;
}

main .detail .detail-right .price {
  margin-top: 12px;
  color: #154f16;
  font-size: 30px;
  padding-top: 0px;
}

main .detail .detail-right .add_to_cart {
  margin-top: 20px;
  padding-top: 0px;
}

  main .detail .detail-right .add_to_cart a {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    background-color: #c83500;
  }
}