* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    background: linear-gradient(to bottom right, blue, pink);
}
li {
    list-style-type: none;
}
h1{
    color: #fff;
    position: absolute;
    left: calc( 50% - 100px);
    top: -160px;
}
.content {
    position: absolute;
    left: calc( 50% - 200px);
    top: calc( 50% - 245px);
    background-color: rgb(255, 255, 255);
    width: 400px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    margin: 0 auto;
    border:2px solid rgb(0, 0, 0);
    box-shadow: 0px 6px 8px 10px rgba(0, 0, 0, 0.5);
}
main {
    height: 450px;
}
footer{
    color:rgb(117, 117, 117)
}
.tab_con{
   height: 100%;
}
.bg{
    overflow: hidden;
    position: relative;
    border-top: -1px solid transparent;
    color: rgb(255, 255, 255);
    height: 100%;
    background-size:100% 100%;
}
.bg2 .wenb{
    line-height: 27px;
    margin-right: 20px;
    overflow: hidden;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.bg h2,.bg2 h2{
    margin: 30px 0 10px 20px;
}
.bg .list p,.wenb,.size,.colour{
    margin: 0 0 0 20px;
}
.bg .p1{
    font-size: 30px;
    position: absolute;
    bottom: 30px;
    left: 150px;
}
.size{
    margin: 30px 0 30px 20px;
}
.size p,.colour p{
    font-weight: 700;
}
.size span,.colour span{
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.size .sp1{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 30px;
}
.colour span:nth-child(1){
    background-color: aqua;
}
.colour span:nth-child(2){
    background-color: rgb(255, 0, 0);
}
.colour span:nth-child(3){
    background-color: rgb(59, 65, 231);
}
.colour span:nth-child(4){
    background-color: rgb(238, 238, 24);
}
.colour span:nth-child(5){
    background-color: rgb(3, 3, 3);
}
.colour .sp2 span{
    margin:20px 20px 0 0;
}
.tab_list {
    height: 39px;
    background-color: #000000;
}
.tab_list li {
    width: 50%;
    float: left;
    height: 39px;
    line-height: 39px;
    text-align: center;
    cursor: pointer;
}
.tab_list li:nth-child(1){
    border-right: 1px #ccc solid;
}
.tab_list .current {
    color: rgb(255, 0, 0);
}
.item {
        display: none;
}
img{
    transition: all 1s;
    width: 100%;
    height: 100%;
}
.div1{
    position: absolute;
    top: 0;
}