.gx-modal-content {
    transition: left .8s linear 0s;
    position: relative;
    left: 0px
}

.createRoom-modal {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-right: -5px;
    margin-left: -5px;
    padding-top: 15px !important;
}

.createRoom-modal .gx-input {
    line-height: 30px;
    height: 30px;
}

.createRoom-modal>.col-xs-6:nth-child(1) {
    padding-left: 30px;
    width: 49%;
}

.createRoom-modal-right .gx-input, .createRoom-modal-right .createRoom-input-add {
    width: 217px !important;
}

.createRoom-modal>.col-xs-6:nth-child(2) {
    padding-left: 0px;
    width: 46%;
}

.createRoom-modal-error {
    width: 90%;
    position: absolute;
    top: 42px;
    left: 5%;
    height: 20px;
    background: rgba(222, 51, 51, .2);
    color: #FF4444;
    z-index: 1;
    line-height: 20px;
    text-align: center;
    opacity: 0;
}

.createRoom-modal-left {
    display: block;
    min-width: 96px;
    margin-top: -2px;
}

.createRoom-modal-right {
    display: block;
    position: relative;
    margin-top: 8px;
}

.createRoom-gx-menu {
    font-size: 12px;
    color: rgba(255, 255, 255, .3);
    line-height: 26px;
}

.J_createRoomChooseRoomType {
    cursor: pointer;
}

.createRoom-gx-menu .caret {
    border: none;
    width: 8px;
    height: auto;
    fill: #FFF;
    top: 8px;
    right: 8px;
    transform: rotate(180deg);
}

.createRoom-gx-menu .gx-menu-in-div {
    width: 217px;
    height: 26px;
    background: rgba(63, 89, 155, 0.2);
    border-radius: 4px;
    position: relative;
    line-height: 26px !important;
    padding-left: 10px;
}

.createRoom-gameVersion-div {
    border: 1px solid rgba(63, 89, 155, 0.4);
    display: inline-block;
    width: 104px;
    height: 26px;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 13px;
    filter: grayscale(0%);
    transition: .2s;
    position: relative;
    color: #FFF;
}

.createRoom-gameVersion-div.disabled-check {
    border: 1px solid #485164;
    cursor: no-drop;
    filter: grayscale(100%);
    color: rgba(255, 255, 255, .6);
}

.createRoom-gameVersion-div.no-choose {
    border: 1px solid #485164;
    cursor: no-drop;
}

.createRoom-gameVersion-div.active {
    background: #3F599B;
    border: 1px solid #3F599B;
    color: #FFF;
    filter: grayscale(0%);
}

.createRoom-gameVersion-div.active img {
    filter: grayscale(0%) !important;
}

.createRoom-gameVersion-div img {
    filter: grayscale(0%);
}

.createRoom-gameVersion-div .createRoom-gameVersion-div-no {
    position: absolute;
    top: -3px;
    left: -1px;
    opacity: 0;
}

.createRoom-gameVersion-div .createRoom-gameVersion-div-no svg {
    width: 14px;
    height: auto;
    fill: #485164;
}

.createRoom-gameVersion-div.disabled-check .createRoom-gameVersion-div-no,
.createRoom-gameVersion-div.no-choose .createRoom-gameVersion-div-no {
    opacity: 1;
}

.createRoom-input-add {
    background: rgba(63, 89, 155, 0.2);
    width: 238px;
    position: relative;
    border-radius: 4px;
}

.createRoom-input-add .gx-input {
    background: none;
    color: rgba(255, 255, 255, .3);
}

.createRoom-input-add .J_createRoom-input-add {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

.createRoom-input-add .J_createRoom-input-add svg:nth-child(2) {
    display: none;
}

.createRoom-input-add .J_createRoom-input-add svg {
    width: 16px;
}

.createRoom-input-add .J_createRoom-input-add.show svg:nth-child(2) {
    display: inline-block;
}

.createRoom-input-add .J_createRoom-input-add.show svg:nth-child(1) {
    display: none;
}

.createRoom-hide {
    overflow: hidden;
    height: 0px !important;
    width: 0px !important;
}

.createRoom-modal-input-error {
    position: absolute;
    top: 30px;
    left: 0px;
    font-size: 12px;
}

.createRoom-modal-nav {
    position: relative;
}

.gx-img-btn-blue {
    width: 120px;
    height: 34px;
    line-height: 34px;
    background: #3F599B;
}

.J_sureChoose {
    background: #3F599B;
    border-radius: 4px;
    width: 100%;
}

.J_sureChoose:hover,
.J_sureChoose:active {
    background: #2796f8;
}

.createRoom-modal-mapdiv {
    display: inline-block;
    width: 250px;
    height: 292px;
    background-size: cover;
    vertical-align: top;
    background: rgba(63, 89, 155, 0.2);
    border-radius: 4px;
    padding: 14px 10px;
    font-size: 12px;
}

.createRoom-modal-mapdiv .createRoom-special {
    top: -26px;
    right: 0px;
}

.createRoom-modal-map .gx-map {
    pointer-events: none;
}

.createRoom-modal-map {
    width: 210px;
    height: 126px;
    border-radius: 4px;
    margin-right: 5px;
    position: relative;
    margin: 0 auto;
}

.createRoom-modal-map .gx-map-name {
    height: 24px;
    line-height: 24px;
    background: rgba(63, 89, 155, 0.45);
}

.createRoom-modal-map-text {
    width: 100%;
    height: 54px;
    margin-top: 6px;
    white-space: normal;
    line-height: 17px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow-x: hidden;
    overflow-y: scroll;
    color: rgba(255, 255, 255, .6);
    margin-bottom: 25px;
}

.createRoom-modal-map-text-two {
    width: 100%;
    height: 78px;
    margin-top: 8px;
    white-space: normal;
    line-height: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow-x: hidden;
    overflow-y: scroll;
    color: rgba(255, 255, 255, .6);
    border-radius: 4px;
    font-size: 12px;
    color: #899ACB;
    /* padding: 0 7px; */
}


.createRoom-modal-map-changeBtn {
    width: 100px;
    height: 24px;
    line-height: 24px;
    margin: 0 auto;
    display: block;
    background: transparent;
    border: 1px solid #3F599B;
}

.createRoomlist-modal-content {
    padding: 20px 25px !important;
}

.createRoomlist-modal-content .row {
    margin: 0;
}

.createRoomlist-modal-content .col-xs-8,
.createRoomlist-modal-content .col-xs-4,
.createRoomlist-modal-content .col-xs-3 {
    padding: 0;
}

.createRoomlist-modal-navList {
    font-size: 12px;
    margin-left: -3px !important;
    margin-right: -3px !important;
}

.createRoomlist-modal-navList .col-xs-3 {
    width: 60px;
    height: 30px;
    padding-right: 3px;
    padding-left: 3px;
    margin-bottom: 7px;
    width: 25%;
}

.createRoomlist-modal-navList .col-xs-3:first-child {
    margin-left: 0px;
}

.createRoomlist-modal-navList8 .col-xs-3 {
    /* width: 12.4%; */
}

.createRoomlist-modal.gx-modal-content .modal-content {
    background: #1D2944;
    border-radius: 0;
    padding-top: 0px !important;
}

.createRoomlist-modal.gx-modal-content .modal-content>.row,
#modalChangeMap .modal-content>.row {
    margin-left: -7px;
    margin-right: -7px;
}

.createRoomlist-modal.gx-modal-content .modal-content>.row>.col-xs-8,
#modalChangeMap .modal-content>.row>.col-xs-8 {
    width: 56%;
    padding-left: 7px;
    padding-right: 7px;
}

.createRoomlist-modal.gx-modal-content .modal-content>.row>.col-xs-4,
#modalChangeMap .modal-content>.row>.col-xs-4 {
    width: 44%;
    padding-left: 7px;
    padding-right: 7px;
}

.createRoomlist-modal.gx-modal-content {
    background: transparent;
}

.createRoomlist-modal-nav {
    width: 100%;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    background: rgba(63, 89, 155, 0.2);
    color: rgba(255, 255, 255, 0.6);
}

.createRoomlist-modal-nav:hover {
    color: #FFFFFF;
    background: #5A6585;
}

.createRoomlist-modal-nav.active {
    background: #3F599B;
    color: #FFFFFF;
}

.createRoomlist-modal-typelist {
    float: left;
    background: rgb(40, 55, 93);
    height: 282px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    width: 0px;
    overflow: hidden;
}

.createRoomlist-modal-typelist:first {
    border-radius: 4px 0px 0px 0px;
}

.createRoomlist-modal-typelist-item {
    margin-bottom: 6px;
    width: 60px;
    height: 30px;
    background: rgb(45, 62, 105);
    text-align: center;
    line-height: 30px;
    color: rgba(255, 255, 255, .6);
    cursor: pointer;
}

.createRoomlist-modal-typelist-item:last-child {
    border-bottom: none;
}

.createRoomlist-modal-typelist-item:hover {
    background: #2385F0;
    color: #FFF;
}

.createRoomlist-modal-typelist-item.active {
    background: #2385F0;
    color: #FFF;
}

.createRoomlist-modal-tablelist {
    float: left;
    width: 100%;
}

.createRoomlist-modal-tablelist.private .createRoomlist-modal-tablelist-thead {
    width: 570px;
}

.createRoomlist-modal-tablelist.private .createRoomlist-modal-tablelist-scroll {
    width: 570px;
}

.createRoomlist-modal-tablelist-thead {
    width: 100%;
    height: 30px;
    background: rgba(63, 89, 155, 0.6);
    border-radius: 0px 4px 0px 0px;
    line-height: 42px;
    text-align: center;
    padding-right: 4px;
}

.createRoomlist-modal-tablelist-thead table {
    width: 100%;
    line-height: 30px;
}

.createRoomlist-modal-tablelist-thead .gx-menu .caret {
    top: 13px;
    right: -3px;
    border-top: 4px solid #FFF;
}

.createRoomlist-modal-tablelist-thead .gx-menu .gx-menu-ul {
    width: 40px;
    left: 50%;
    margin-left: -19px;
    background-color: #1C2744;
    line-height: 30px;
    overflow: hidden !important;
}

.createRoomlist-modal-tablelist-thead .gx-menu-li {
    padding-left: 0px;
    text-align: center;
    border-bottom: 1px solid rgba(161, 173, 200, .1);
    cursor: pointer;
}

.createRoomlist-modal-tablelist-scroll {
    width: 100%;
    height: 344px;
    /* background: #242932; */
    overflow-y: scroll;
    overflow-x: hidden;
    background: #28375d;
}

.createRoomlist-modal-tablelist-scroll table {
    width: 100%;
    text-align: center;
}

.createRoomlist-modal-tablelist-scroll table tr {
    background: rgb(40, 55, 93);
    line-height: 28px;
    height: 28px;
    color: rgba(255, 255, 255, .6);
    cursor: pointer;
    /* border-bottom: 1px solid #303647; */
}

.createRoomlist-modal-tablelist-scroll table tr .ft-gold {
    opacity: .6;
}

.createRoomlist-modal-tablelist-scroll table tr:hover {
    color: rgba(255, 255, 255, 1);
    background: rgba(107, 158, 255, 0.3);
}

.createRoomlist-modal-tablelist-scroll table tr:hover .ft-gold {
    opacity: 1;
}

.createRoomlist-modal-tablelist-scroll table tr.active .ft-gold {
    opacity: 1;
}

.createRoomlist-modal-tablelist-scroll table tr.active {
    color: rgba(255, 255, 255, 1);
    background: rgba(107, 158, 255, 0.3);
}

.createRoomlist-modal-tablelist-scroll table tr.J_chooseItem-empty {
    background: transparent;
    color: #6B9EFF;
    line-height: 20px;
}

.createRoomlist-modal-tablelist-scroll table tr.J_chooseItem-empty img {
    width: 134px;
    margin-top: 80px;
    margin-bottom: 10px;
}

.createRoomlist-modal-content .suo-input {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 1px solid rgba(63, 89, 155, 0.6);
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}

.show-report {
    margin-top: 14px;
    text-align: center;
}

.createRoomlist-modal-content .suo-input .form-control {
    height: 28px;
    font-size: 12px;
}

.createRoomlist-modal-content .suo-input .form-control::placeholder {
    font-size: 12px;
}

.createRoomlist-modal-content .suo-input .input-group-addon {
    padding: 5px 1px;
}

.createRoomlist-modal-content .gx-map-name {
    height: 14px;
    line-height: 14px;
    color: #FFFFFF;
    text-align: left;
    font-size: 14px;
}

.createRoomlist-modal-right-bottom-author {
    text-align: left;
    color: rgba(161, 173, 200, .6);
    width: 100%;
    margin-top: 7px;
}

.createRoomlist-modal-textbtn {
    position: absolute;
    top: 7px;
    right: 0px;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    padding: 0px 7px;
    border-radius: 4px;
    line-height: 26px;

}

.createRoomlist-details-mapdiv .J_showreportModal-div {
    position: absolute;
    top: 0px;
    right: 7px;
}

.createRoomlist-details-mapdiv .gx-map .createRoomlist-modal-textbtn.J_showreportModal {
    right: 0px;
    position: relative;
    display: inline-block;
}

.createRoomlist-details-mapdiv .gx-map .createRoomlist-modal-textbtn span {
    position: relative;
    top: 1px;
}

.createRoomlist-details-mapdiv .gx-map .createRoomlist-modal-textbtn.J_showreportModal svg {
    position: relative;
    top: 4px;
    width: 16px;
}

.createRoomlist-details-mapdiv .gx-map .createRoomlist-modal-textbtn.J_showreportModal svg path {
    fill: #FFF;
}

.createRoomlist-details-mapdiv .gx-map .createRoomlist-modal-textbtn.J_mapcollection {
    position: relative;
    right: 0px;
    margin-right: 10px;
    display: inline-block;
}

.createRoomlist-details-mapdiv .gx-map .createRoomlist-modal-textbtn.J_mapcollection svg {
    position: relative;
    top: 4px;
    width: 16px;
}

.createRoomlist-details-mapdiv .gx-map .createRoomlist-modal-textbtn.J_mapcollection svg path {
    fill: #FFC438;
}

.createRoomlist-modal-textbtn:hover {
    /* color: #FF4444; */
}

.reportModal-select {
    width: 246px;
    display: inline-block;
    text-align: left;
    font-size: 12px;
    border-radius: 2px;
    line-height: 24px
}

.reportModal-select .gx-menu .gx-menu-in-div {
    background: rgba(63, 89, 155, 0.2);
    color: #56627B;
}

.reportModal-select .gx-menu .gx-menu-ul {
    max-height: 74px;
}

.createRoomlist-modal-tablelist .J_createRoomlist-sort {
    cursor: pointer;
    position: relative;
}

.createRoomlist-modal-tablelist .J_createRoomlist-sort .triangle-up {
    position: absolute;
    top: 13px;
    right: 10px;
}

.createRoomlist-modal-tablelist .J_createRoomlist-sort .triangle-down {
    position: absolute;
    top: 13px;
    right: 10px;
}

.createRoom-playerSelect {
    width: 47px;
    display: inline-block;
    text-align: center;
    background-color: #2A2F3D;
}

.createRoom-playerSelect .gx-menu-li {
    padding-left: 0px;
    text-align: center;
    border-bottom: 1px solid rgba(161, 173, 200, .1);
    cursor: pointer;
}

.createRoom-playerSelect .gx-menu .caret {
    border-top: 4px solid #FFF;
    top: 9px;
    right: 5px;
}

.createRoom-playerSelect .gx-menu-ul {
    overflow-y: hidden !important;
    line-height: 24px;
}

.createRoom-playerSelect .gx-menu-ul a {
    display: block;
}

.createRoom-playerSelect-num {
    position: relative;
    left: -5px
}

.createRoomlist-modal-tablelist-scroll .J_chooseItem td {
    font-size: 10px;
}

.createRoomlist-modal-tablelist-scroll .J_chooseItem :first-child {
    text-align: left;
}

.createRoomlist-modal-tablelist-scroll .J_chooseItem :first-child span {
    padding-left: 10px;
    font-size: 12px;
}

.createRoomlist-modal-tablelist-thead-normal tbody .text-nowrap td:nth-of-type(1) {
    padding-left: 10px;
    text-align: left;
}

.createRoom-modal .pointer-events-none {
    pointer-events: none;
}

#createRoomModal {
    overflow: hidden;
}

#createRoomModal .gx-modal-header {
    padding-top: 20px;
}

#createRoomModal .modal-dialog {
    width: 529px;
}

#createRoomModal .gx-modal-content {
    height: 453px;
}

#createRoomModal .createRoomwidth {
    width: 765px !important;
    margin-top: 92px !important;
}

#createRoomModal .createRoomwidth .gx-modal-content {
    height: 530px;
}

.createRoomlist-details-mapdiv {
    height: 172.54px;
    border-radius: 4px;
    overflow: hidden;
}

.createRoomlist-details-mapdiv .gx-map-marker {
    height: 26px;
    line-height: 26px;
    top: 7px;
    left: 7px;
    border-radius: 4px;
}

.createRoomlist-details-mapdiv-empty {
    width: 100%;
    height: 175px;
    background: rgba(63, 89, 155, 0.2);
    border-radius: 4px;
}

.createRoom-choosemodal-div {}

.createRoom-choosemodal-div>div:nth-child(1) {
    font-size: 13px;
    vertical-align: middle;
    margin: 5px 0px;
    margin-bottom: 10px;
}

.createRoom-special svg {
    height: 12px;
}

.createRoom-special svg path {
    fill: #899ACB;
}

.createRoom-special {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #899ACB;
    font-size: 12px;
}

.createRoom-choosemodal-div>div:nth-child(1) svg {
    vertical-align: middle;
    fill: #FFF;
}

.createRoom-choosemodal-div>div:nth-child(2) {
    width: 100%;
    height: 88px;
    /* background: rgba(63, 89, 155, 0.2); */
    border-radius: 4px;
}

.createRoom-choosemodal-item label {
    color: #6B9EFF;
}

.createRoom-choosemodal-item .gx-check input[type="radio"]:checked+label:before {
    background: url('../../../images/iconfont/ischeckboxRadio.png') no-repeat;
    background-size: 100% 100%;
}

.createRoom-choosemodal-item .tooltip-inner {
    width: 151px;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1px
}

.needprivate_nav {
    padding: 0px;
    margin-bottom: 3px;
    display: none;
}

.needprivate_nav>div {
    display: inline-block;
    /* width: 120px; */
    height: 20px;
    background: #1C2744;
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    overflow: hidden;
}



.needprivate_nav>div .J_chooseMapPrivate {
    padding: 0px 5px;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    display: inline-block;
    min-width: 60px;
    text-align: center;
    color: rgba(63, 89, 155, 0.6);
}

.needprivate_nav>div .J_chooseMapPrivate.active {
    background: #33477C;
    color: #FFFFFF;
}

.createRoom-choosemodal-item {
    white-space: nowrap;
}

.createRoom-choosemodal .col-xs-3 {
    width: auto;
    min-width: 25%;
}

.createRoomlist-modal-right-bottom {
    margin-top: 13px;
}