.gx-modal-header {
  background: #3F599B;
  text-align: left;
  padding-left: 5px;
}

.gx-modal-content .modal-content {
  padding: 8px 0px 0px 25px;
}

.setting-index .modal-content-en {
  padding: 30px 50px 30px 26px;
}

.setting-left {
  min-width: 84px;
  display: inline-block;
}

.setting-left-en {
  width: 52px;
  display: inline-block;
  height: 26px;
  vertical-align: middle;
}

.setting-right {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.game-scanning {
  background: #3F599B;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 29px;
}

.game-scanning:hover {
  cursor: pointer;
  opacity: 0.8;
}

.game-scanning .text {
  font-weight: 600;
  color: #FFFFFF;
  font-size: 12px;
  margin-left: 6px;
}

.game-list .title {
  -webkit-app-region: drag;
  width: 100%;
  height: 50px;
  padding-left: 34px;
  padding-right: 21px;
  background: rgba(63, 89, 155, 0.2);
  border-radius: 4px 4px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-list .title .title-name {
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}

.game-list .title .title-icon {
  width: 15px;
  height: 15px;
  -webkit-app-region: no-drag;
}

.game-list .title .title-icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

.game-list .main {
  padding: 20px 30px;
  padding-bottom: 60px;
}

.game-list .main .tisi {
  font-size: 14px;
  font-weight: 400;
  color: #FF4444;
  margin-top: 14px;
}

.game-list .main ul {
  padding: 0;
}

.game-list .main ul li {
  display: flex;
  justify-content: space-between;
  background: rgba(63, 89, 155, 0.2);
  border-radius: 4px;
  margin-bottom: 14px;
  padding: 12px 14px 12px 8px;
}

.game-list .main ul li .left {
  width: 40px;
  height: 40px;
}

.game-list .main ul li .left img {
  width: 40px;
  height: 40px;
}

.game-list .main ul li .content {
  flex: auto;
  padding-left: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-list .main ul li .content .game-name {
  font-size: 14px !important;
  font-weight: 500;
  color: #FFFFFF;
}

.game-list .main ul li .content .game-path {
  font-size: 10px;
  font-weight: 400;
  max-width: 269px;
  color: #FFFFFF;
  display: inline-block;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
  overflow: hidden;
}

.game-list .main ul li .right {
  width: 120px;
}

.game-list .main ul li .right .down {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: flex-end;
}

.game-list .main ul li .right .down button {
  width: 90px;
  height: 20px;
  background: #2385F0;
  border-radius: 4px;
  display: block;
  border: 0;
  font-size: 12px;
  font-weight: 500;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-list .main ul li .right .down button:hover {
  opacity: 0.8;
}

.game-list .main ul li .right .down button svg {
  width: 15px;
  height: 15px;
  margin-right: 4px;
}

.game-list .main ul li .right .down button svg path {
  fill: #fff;
}

.game-list .main ul li .right .down a {
  font-size: 10px;
  font-weight: 500;
  color: #959CAD;
  text-decoration: underline;
}

.game-list .main ul li .right .down a:hover {
  opacity: 0.8;
}

.game-list .main ul li .right .Install {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.game-list .main ul li .right .Install .title-tisi {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: #A2FF33;
}

.game-list .main ul li .right .Install .speed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.game-list .main ul li .right .Install .speed .mb {
  font-size: 10px;
  font-weight: 400;
  color: #727B92;
}

.game-list .main ul li .right .Install .speed .Proportion {
  font-size: 10px;
  font-weight: 500;
  color: #FFFFFF;
}

.game-list .main ul li .right .Install .schedule {
  margin-top: 5px;
  height: 4px;
  background: rgba(63, 89, 155, 0.2);
  border-radius: 4px;
  overflow: hidden;
}

.game-list .main ul li .right .Install .schedule .strip {
  width: 0%;
  height: 4px;
  background: linear-gradient(108deg, #8CFD05 0%, #40E378 100%);
  border-radius: 4px;
}

.game-list .footer {
  width: 500px;
  height: 54px;
  background: rgba(63, 89, 155, 0.2);
  border-radius: 4px 4px 0px 0px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding: 0 30px;
}

.game-list .footer .text {
  font-size: 12px;
  font-weight: 400;
  color: #8890A3;
  margin: 0 10px;
}

.game-list .footer .closure {
  background: #8da7eb;
  margin-left: 20px;
}

.game-list .footer button {
  width: 70px;
  height: 24px;
  background: #3F599B;
  border-radius: 4px;
  border: 0;
  position: relative;
}

.game-list .footer button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.resolving-a {
  cursor: pointer;
}

.resolvingtype-a {
  cursor: pointer;
}

.setting-select {
  width: 236px;
  line-height: 26px;
  height: 26px;
  display: inline-block;
  border-radius: 4px;
  border: none;
  padding-left: 21px;
  background: rgba(63, 89, 155, 0.2);
  color: #FFF;
  font-size: 12px;
}

.setting-select .caret {
  top: 10px;
  right: 19px;
  line-height: 26px;
}

.setting-file {
  display: inline-block;
  width: 237px;
  line-height: 26px;
  height: 26px;
  background: rgba(63, 89, 155, 0.2);
  border-radius: 4px;
  border: none;
}

.setting-file .gx-input {
  background: none;
  width: 207px;
  line-height: 26px;
  height: 26px;
  color: rgba(255, 255, 255, 0.3);
}

.setting-file .input-group-addon {
  background: #28385d;
  line-height: 26px;
  height: 26px;
  cursor: pointer;
  padding: 0px 10px;
  min-width: auto;
  position: absolute;
  right: 15px;
}

.update-file {
  cursor: pointer;
  margin: 0px;
}

.update-file svg {
  position: relative;
  top: 4px;
}

.setting-btn {
  min-width: 100px;
  margin: 0 8px;
}

.settingCheckboxlabel {
  right: 0px;
}

#settingCheckbox[type="checkbox"]+label:before {
  background: url('../../../images/iconfont/checkbox.png') no-repeat;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  left: -24px;
  top: 8px;
}

.mt20 {
  margin-top: 18px;
}

#settingCheckbox[type="checkbox"]:checked+label:before {
  background: url('../../../images/iconfont/ischeckbox.png') no-repeat;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  left: -24px;
  top: 8px;
}

.setting-error {
  width: 89%;
  margin: 0 auto;
  margin-top: 6px;
  bottom: -26px;
  left: 6%;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  top: 51px;
}

.game-list .setting-error {
  top: -4px;
}

.J_setting-autoUrl,
.J_setting-downGame {
  color: #6b9eff;
}

.J_setting-autoUrl .f12 {
  position: relative;
  top: -1px;
  margin-right: 5px;
}

.J_setting-downGame .f12 {
  position: relative;
  top: -1px;
  margin-right: 5px;
}

#DownGameModal .modal-dialog {
  width: 100%;
  height: 175px;
}

#DownGameModal .DownGameModal-content {
  width: 100%;
  height: 175px;
  background: #222F4E;
  border-radius: 1px;
  text-align: center;
  padding-top: 30px;
}

#DownGameModal .DownGameModal-content .DownGameZip {
  display: none;
}

#DownGameModal .DownGameModal-pre {
  width: 80%;
  height: 10px;
  background: #242932;
  border-radius: 5px;
  display: inline-block;
}

#DownGameModal .DownGameModal-zip {
  width: 500px;
  height: 10px;
  background: #242932;
  border-radius: 5px;
  display: none;
}

#DownGameModal .DownGameModal-bor {
  width: 0%;
  height: 10px;
  background: linear-gradient(90deg, #3F79EE 0%, #5EFAED 100%);
  border-radius: 5px;
  transition: all 0.3s ease-in-out 0s;
}

.J_fileGameUrl_autoloading {
  width: 236px;
  height: 26px;
  background: rgba(63, 89, 155, 0.2) !important;
  border-radius: 4px;
  border: 1px solid #373E4F;
  margin-bottom: 5px;
}

#DownGameConfirmModal .DownGameModal-search {
  width: 100%;
  height: 175px;
  background: #222F4E;
  border-radius: 4px;
  box-shadow: 1px 0px 7px #28385d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#DownGameConfirmModal .DownGameModal-search dot {
  display: inline-block;
  height: 1em;
  line-height: 1;
  text-align: left;
  vertical-align: -0.25em;
  overflow: hidden;
}

#DownGameConfirmModal .DownGameModal-search dot::before {
  display: block;
  content: '...\A..\A.';
  white-space: pre-wrap;
  animation: dot 2s infinite step-start both;
}

@keyframes dot {
  33% {
    transform: translateY(-2em);
  }

  66% {
    transform: translateY(-1em);
  }
}

#DownGameConfirmModal .DownGameModal-content {
  width: 100%;
  height: 175px;
  background: #222F4E;
  border-radius: 4px;
  box-shadow: 1px 0px 7px #28385d;
}

#DownGameConfirmModal .DownGameModal-content .title {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#DownGameConfirmModal .DownGameModal-content .title .title-name {
  font-size: 16px;
  font-weight: 500;
  color: #A6ABB8;
}

#DownGameConfirmModal .DownGameModal-content .title .title-icon {
  width: 15px;
  height: 15px;
}

#DownGameConfirmModal .DownGameModal-content .title .title-icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

#DownGameConfirmModal .DownGameModal-content .tisi {
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 40px;
}

#DownGameConfirmModal .DownGameModal-content .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#DownGameConfirmModal .DownGameModal-content .content>div {
  flex: 1;
  text-align: center;
}

#DownGameConfirmModal .DownGameModal-content .content p {
  font-size: 12px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 13px;
}

.typing_loader {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: typing 1s linear infinite alternate;
  -moz-animation: Typing 1s linear infinite alternate;
  animation: typing 1s linear infinite alternate;
  /* Not necessary- its only for layouting*/
  margin: 0;
  border-color: #fff;
}

@-webkit-keyframes typing {
  0% {
    background-color: #a1adc8;
    box-shadow: 12px 0px 0px 0px rgba(161, 173, 200, 0.2), 24px 0px 0px 0px rgba(161, 173, 200, 0.2);
  }

  25% {
    background-color: rgba(161, 173, 200, 0.4);
    box-shadow: 12px 0px 0px 0px #ffffff, 24px 0px 0px 0px rgba(161, 173, 200, 0.2);
  }

  75% {
    background-color: rgba(161, 173, 200, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(161, 173, 200, 0.2), 24px 0px 0px 0px #a1adc8;
  }
}

@-moz-keyframes typing {
  0% {
    background-color: #a1adc8;
    box-shadow: 12px 0px 0px 0px rgba(161, 173, 200, 0.2), 24px 0px 0px 0px rgba(161, 173, 200, 0.2);
  }

  25% {
    background-color: rgba(161, 173, 200, 0.4);
    box-shadow: 12px 0px 0px 0px #ffffff, 24px 0px 0px 0px rgba(161, 173, 200, 0.2);
  }

  75% {
    background-color: rgba(161, 173, 200, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(161, 173, 200, 0.2), 24px 0px 0px 0px #a1adc8;
  }
}

@keyframes typing {
  0% {
    background-color: #a1adc8;
    box-shadow: 12px 0px 0px 0px rgba(161, 173, 200, 0.2), 24px 0px 0px 0px rgba(161, 173, 200, 0.2);
  }

  25% {
    background-color: rgba(161, 173, 200, 0.4);
    box-shadow: 12px 0px 0px 0px #ffffff, 24px 0px 0px 0px rgba(161, 173, 200, 0.2);
  }

  75% {
    background-color: rgba(161, 173, 200, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(161, 173, 200, 0.2), 24px 0px 0px 0px #a1adc8;
  }
}

.setting-connector .setting-connector-bg {
  width: 100%;
  background: #222F4E;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;
  /* padding-top: 64px; */
  /* padding-bottom: 66px; */
  min-height: 261px;
  padding-bottom: 0px;
}

.setting-connector .setting-connector-bg .setting-connector-title {
  color: #FFFFFF;
  line-height: 34px;
  border-bottom: 1px solid rgba(63, 89, 155, .4);
}

.setting-connector .setting-connector-bg .setting-connector-p {
  color: rgba(255, 255, 255, .6);
  margin: 20px 0px;
  font-size: 12px;
  position: relative;
}

.setting-connector .setting-connector-bg .setting-connector-p .gx-switch {
  position: absolute;
  top: 0px;
  right: 0px;
}


.setting-modal-header-nav-item {
  display: inline-block;
  /* min-width: 100px; */
  margin: 0px 10px;
  font-size: 14px;
  cursor: pointer;
  -webkit-app-region: no-drag;
  text-align: center;
}

.setting-modal-header-nav-bot {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #161A21;
  position: absolute;
  bottom: 0px;
  left: 9%;
}

.gx-modal-header {
  position: relative;
}

.setting-modal-header-nav-item-active {
  font-size: 14px;
  color: #FFF;
  height: 100%;
  border-bottom: 2px solid #6B9EFF;
}

.language-select a {
  display: block;
}

.header-window .iconfont {
  color: #abb3c9;
}

.setting-volume .volume-content {
  /* position: relative;
    width: 400px;
    height: 440px;
    left: 440px;
    top: 130px;
    border-radius: 4px; */
}

.setting-volume .volume-option-item input {
  width: 230px;
  height: 6px;
}

.setting-volume .volume-option-item {
  padding: 0 58px;
  margin-bottom: 10px;
}

.setting-volume .volume-option-item-text {
  margin-top: 18px;
  margin-bottom: 12px;
  padding-left: 43px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}

.setting-volume .volume-option-item .volume-swich {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.setting-volume .volume-option-item .gx-swich-num {
  background: none;
  width: auto;
  height: auto;
  margin-left: 3px;
}

.setting-volume .volume-option-item .gx-swich-content {
  width: 90%;
  margin-top: 10px;
}

.setting-volume .volume-option-item .rangeslider {
  height: 6px;
  background: rgba(63, 89, 155, 0.4);
  border-radius: 8px;
}

.setting-volume .volume-option-item .rangeslider__handle {
  top: -6px;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border: 1px solid #6B9EFF;
  border-radius: 50%;
}

.setting-volume .rangeslider__fill {
  height: 6px;
  background: #6B9EFF !important;
  border-radius: 8px;
}

.setting-volume .volume-mute-option .rangeslider {
  background: rgba(136, 136, 136, 0.6) !important;
}

.setting-volume .volume-option-item .rangeslider__handle {
  border: 1px solid #BBBBBB !important;
}

.setting-volume .volume-mute-option .rangeslider__fill {
  background: #BBBBBB !important;
}

.setting-volume .volume-option-item .volume-mute-div {
  margin-top: 7px;
  margin-left: 12px;
  cursor: pointer;
}

.setting-volume .volume-option-item .volume-mute-div img {
  position: absolute;
  width: 12px;
}

.setting-volume .volume-option-item .volume-mute-div .volume-mute-svg {
  display: none;
}

.setting-volume .volume-option-item .volume-mute-div.volume-mute .volume-mute-svg {
  display: block;
}

.setting-volume .volume-option-item .volume-mute-div.volume-mute .volume-sound-svg {
  display: none;
}


.minsize .gx-modal-content {
  width: 375px;
  height: 135px;
  overflow: hidden;
  background: url(../../../images/hall/down-bg.png) no-repeat;
  background-size: 100% 100%;
  border-radius: 0px;
}

.minsize .setting-error.alert-error {
  margin-top: -4px;
  /* margin-top: -6px;
  font-size: 10px;
  height: 12px;
  line-height: 12px; */
}

.minsize .content {
  position: relative;
  left: -3px;
}

.minsize #games_list {
  margin-top: 10px;
}

.minsize .Proportion {
  font-family: 'IndustryBlack';
  font-size: 16px !important;
  font-style: italic;
  position: relative;
  left: 10px
}

.minsize .content .game-path {
  display: none !important;
}

.minsize .game-list .main ul li {
  padding-top: 0px;
  background: transparent;
}

.minsize .header-close.iconfont.J_removeMask {
  color: rgba(255, 255, 255, .6);
  font-size: 16px;
  position: relative;
  top: -5px;
  right: -6px;
}

.minsize .Install {
  width: 270px;
  position: relative;
  left: -248px;
  top: 56px;
}

.minsize .schedule {
  position: relative;
  top: -28px;
  height: 8px !important;
  width: 195px;
  background: rgba(49, 55, 72, .6) !important;
}

.minsize .game-list .main ul li .right .Install .schedule .strip {
  height: 8px;
  background: linear-gradient(270deg, #FC855C 0%, #EE5F51 100%);
}

.minsize .game-list .main {
  padding: 3px 20px;
  padding-bottom: 0px;
}

.minsize .title {
  height: 34px;
  background: transparent;
  padding-left: 29px;
  margin-top: 10px;
}

.minsize .title .title-name {
  font-size: 20px;
}

.minsize .game-list .main ul li .right .Install .title-tisi {
  display: none;
}

.minsize .game-list .main ul li .left img {
  width: 40px;
  height: auto;
  margin-right: 20px;
}

.minsize .footer {
  display: none;
}

.minsize .game-name {
  width: 244px;
  font-size: 16px !important;
  white-space: nowrap;
}

.minsize .mb {
  display: none;
}

.minsize .speed {
  position: absolute;
  top: -35px;
  right: 37px;
}


.min-downmodal {
  width: 375px;
  height: 135px;
  overflow: hidden;
  background: url(../../../images/hall/down-bg.png) no-repeat;
  background-size: 100% 100%;
  border-radius: 0px;
  position: relative;
}

.min-downmodal .min-downmodal-title {
  display: inline-block;
  line-height: 44px;
  padding-left: 15px;
  font-size: 20px;
}

.min-downmodal-header {
  -webkit-app-region: drag;
}

.min-downmodal .min-downmodal-close {
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 15px;
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.min-downmodal .min-downmodal-close span {
  font-size: 16px;
  color: rgba(255, 255, 255, .6);
}

.min-downmodal .media {
  margin-top: 17px;
  margin-left: 29px;
}

.min-downmodal .media-body {
  font-size: 14px;
  white-space: nowrap;
}

.min-downmodal .media-left img {
  width: 40px;
}

.min-downmodal-pre {
  width: 198px;
  height: 8px;
  background: rgba(49, 55, 72, .6);
  border-radius: 3px;
  position: relative;
  margin-top: 12px;
  margin-bottom: 6px;
}

.min-downmodal-bro {
  width: 0%;
  height: 8px;
  background: linear-gradient(270deg, #FC855C 0%, #EE5F51 100%);
  border-radius: 3px;
}

.min-downmodal-bronum {
  position: absolute;
  top: -6px;
  left: 212px;
  font-size: 14px;
  font-family: 'YouSheBiao';
}

.setting-points {
  font-size: 12px;
  color: rgba(255, 255, 255, .6);
  position: relative;
}

.setting-connector .setting-connector-bg .setting-points .setting-points-input {
  width: 60px;
  height: 24px;
  background: #1C2744;
  border-radius: 4px;
  border: 1px solid rgba(63, 89, 155, 0.4);
  font-size: 12px;
  margin-right: 0px;
  text-align: center;
  padding-left: 0px;
  color: #FFFFFF;
}

.setting-points .gx-switch {
  position: absolute;
  right: 0px;
  top: 0px;
}

.setting-Version3-two .gx-switch .setting-Version3-two-close {
  position: absolute;
  top: 2px;
  right: 71px;
  pointer-events: none;
  white-space: nowrap;
}

.setting-Version3-two .gx-switch .setting-Version3-two-open {
  position: absolute;
  top: 2px;
  right: 71px;
  display: none;
  pointer-events: none;
  white-space: nowrap;
}

.setting-Version3-two .gx-switch.open .setting-Version3-two-close {
  display: none;
}

.setting-Version3-two .gx-switch.open .setting-Version3-two-open {
  display: inline-block;
}