.mapAdmin-content {
    padding: 30px 90px;
}

.mapAdmin-switch-nav {
    margin-top: 5px;
    margin-bottom: 10px;
}

.mapAdmin-scroll {
    height: 400px;
    padding: 37px 20px 0px 20px;
    overflow-y: scroll;
    overflow-x: unset;
    background: url(../../../images/modal/mapAddmin/bg.png) no-repeat center;
    background-size: cover;
}

.mapAdmin-map-row {
    margin: 0 -7px;
}

.mapAdmin-map-row .col-xs-4 {
    padding: 0px 7px;
    margin-bottom: 20px;
}

.mapAdmin-map {
    width: 100%;
}

.mapAdmin-map-map {
    width: 100%;
    height: 136px;
    background-size: cover;
    border: 2px solid #464646;
    border-radius: 6px;
    position: relative;
}

.mapAdmin-map-name {
    width: 100%;
    height: 20px;
    line-height: 20px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: rgba(70, 70, 70, .8);
    text-align: center;
}

.mapAdmin-map-active .mapAdmin-map-map {
    border: 2px solid #EFBB74;
}

.mapAdmin-map-active .mapAdmin-map-name {
    background: rgba(239, 187, 116, .8);
}

.mapAdmin-map-map-bot {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, .7);
    border-radius: 1px 0px 8px 0px;
    transform: scale(.7);
    transform-origin: 0% 0%;
    padding: 2px 5px;
}

.mapAdmin-map .gx-progress {
    width: 82px;
    margin: 0 auto;
    padding: 0px;
    height: 9px;
}

.gx-progress-bar {
    height: 7px;
}