.gx-modal-header {
    background: #3F599B;
    text-align: left;
    padding-left: 5px;
}

.gx-modal-content .modal-content {
    padding: 8px 0px 0px 25px;
}

.setting-index .modal-content-en {
    padding: 30px 50px 30px 26px;
}

.setting-left {
    min-width: 84px;
    display: inline-block;
}

.setting-left-en {
    width: 52px;
    display: inline-block;
    height: 26px;
    vertical-align: middle;
}

.setting-right {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    .loading {
        
    }
}

.game-scanning {
    background: #3F599B;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 29px;
}

.game-scanning:hover {
    cursor: pointer;
    opacity: .8;
}

.game-scanning .text {
    font-weight: 600;
    color: #FFFFFF;
    font-size: 12px;
    margin-left: 6px;
}

.game-list {
    .title {
        -webkit-app-region: drag;
        width: 500px;
        height: 50px;
        padding-left: 34px;
        padding-right: 21px;
        background: rgba(63, 89, 155, 0.2);
        border-radius: 4px 4px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title-name {
            font-size: 16px;
            font-weight: 600;
            color: #FFFFFF;
        }

        .title-icon {
            width: 15px;
            height: 15px;
            -webkit-app-region: no-drag;

            &:hover {
                opacity: .8;
                cursor: pointer;
            }
        }
    }

    .main {
        padding: 6px 30px;
        padding-bottom: 60px;

        .tisi {
            font-size: 14px;
            font-weight: 400;
            color: #FF4444;
            margin-top: 14px;
        }

        ul {
            padding: 0;

            li {
                display: flex;
                justify-content: space-between;
                background: rgba(63, 89, 155, 0.2);
                border-radius: 4px;
                margin-bottom: 14px;
                padding: 12px 14px 12px 8px;

                // &:last-child {
                //     margin: 0;
                // }

                .left {
                    width: 40px;
                    height: 40px;

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }

                .content {
                    flex: auto;
                    padding-left: 14px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .game-name {
                        font-size: 12px;
                        font-weight: 500;
                        color: #FFFFFF;
                    }
                    .game-path {
                        font-size: 10px;
                        font-weight: 400;
                        color: #FFFFFF;
                    }
                }

                .right {
                    width: 120px;

                    .down {
                        text-align: right;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;
                        align-items: flex-end;

                        button {
                            width: 90px;
                            height: 20px;
                            background: #2385F0;
                            border-radius: 4px;
                            display: block;
                            border: 0;
                            font-size: 12px;
                            font-weight: 500;
                            color: #FFFFFF;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &:hover {
                                opacity: .8;
                            }

                            svg {
                                width: 15px;
                                height: 15px;
                                margin-right: 4px;
                            }

                            svg path{
                                
                                fill:#fff
                            }
                        }

                        a {
                            font-size: 10px;
                            font-weight: 500;
                            color: #959CAD;
                            text-decoration: underline;

                            &:hover {
                                opacity: .8;
                            }
                        }
                    }
                    

                    .Install {
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        height: 100%;

                        .title-tisi {
                            text-align: center;
                            font-size: 12px;
                            font-weight: 500;
                            color: #A2FF33;
                        }

                        .speed {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-top: 5px;

                            .mb {
                                font-size: 10px;
                                font-weight: 400;
                                color: #727B92;
                            }

                            .Proportion {
                                font-size: 10px;
                                font-weight: 500;
                                color: #FFFFFF;
                            }
                        }

                        .schedule {
                            margin-top: 5px;
                            height: 4px;
                            background: rgba(63, 89, 155, 0.2);
                            border-radius: 4px;
                            overflow: hidden;

                            .strip {
                                width: 0%;
                                height: 4px;
                                background: linear-gradient(108deg, #8CFD05 0%, #40E378 100%);
                                border-radius: 4px;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        width: 500px;
        height: 54px;
        background: rgba(63, 89, 155, 0.2);
        border-radius: 4px 4px 0px 0px;
        display: flex;
        align-items: center;
        // justify-content: flex-end;
        position: fixed;
        bottom: 0;
        padding: 0 30px;

        .text {
            font-size: 12px;
            font-weight: 400;
            color: #8890A3;
            margin: 0 10px;
        }

        .closure {
            background: #8da7eb;
            margin-left: 20px;
        }

        button {
            width: 70px;
            height: 24px;
            background: #3F599B;
            border-radius: 4px;
            border: 0;
            position: relative;

            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }

            // .file {
            //     width: 100%;
            //     position: absolute;
            //     left: 0;
            //     right: 0;
            //     top: 0;
            //     bottom: 0;
            //     opacity: 0;
            //     cursor: pointer;
            // }
        }
    }
}

.resolving-a {
    cursor: pointer;
}

.resolvingtype-a {
    cursor: pointer;
}

.setting-select {
    width: 236px;
    line-height: 26px;
    height: 26px;
    display: inline-block;
    border-radius: 4px;
    border: none;
    padding-left: 21px;
    background: rgba(63, 89, 155, 0.2);
    color: #FFF;
    font-size: 12px;
}

.setting-select .caret {
    top: 10px;
    right: 19px;
    line-height: 26px;
}

.setting-file {
    display: inline-block;
    width: 237px;
    line-height: 26px;
    height: 26px;
    background: rgba(63, 89, 155, 0.2);
    border-radius: 4px;
    border: none;
}

.setting-file .gx-input {
    background: none;
    width: 207px;
    line-height: 26px;
    height: 26px;
    color: rgba(255, 255, 255, .3);
}

.setting-file .input-group-addon {
    background: #28385d;
    line-height: 26px;
    height: 26px;
    cursor: pointer;
    padding: 0px 10px;
    min-width: auto;
    position: absolute;
    right: 15px;
}

.update-file {
    cursor: pointer;
    margin: 0px;
}

.update-file svg {
    position: relative;
    top: 4px;
}

.setting-btn {
    min-width: 100px;
    margin: 0 8px;
}

.settingCheckboxlabel {
    right: -0px;
}


#settingCheckbox[type="checkbox"]+label:before {
    background: url('../../../images/iconfont/checkbox.png') no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
    left: -24px;
    top: 8px;
}

.mt20 {
    margin-top: 18px;
}

#settingCheckbox[type="checkbox"]:checked+label:before {
    background: url('../../../images/iconfont/ischeckbox.png') no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
    left: -24px;
    top: 8px;
}

.setting-error {
    width: 89%;
    margin: 0 auto;
    margin-top: 6px;
    // position: absolute;
    bottom: -26px;
    left: 6%;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
}

.J_setting-autoUrl,
.J_setting-downGame {
    color: rgba(107, 158, 255, 1);
}

.J_setting-autoUrl .f12 {
    position: relative;
    top: -1px;
    margin-right: 5px;
}

.J_setting-downGame .f12 {
    position: relative;
    top: -1px;
    margin-right: 5px;
}

#DownGameModal .modal-dialog {
    width: 100%;
    height: 175px;
}

#DownGameModal {
    .DownGameModal-content {
        width: 100%;
        height: 175px;
        background: #222F4E;
        border-radius: 1px;
        text-align: center;
        padding-top: 30px;
    }

    
}

#DownGameModal .DownGameModal-content .DownGameZip {
    display: none;
}

#DownGameModal .DownGameModal-pre {
    width: 80%;
    height: 10px;
    background: #242932;
    border-radius: 5px;
    display: inline-block;
}

#DownGameModal .DownGameModal-zip {
    width: 500px;
    height: 10px;
    background: #242932;
    border-radius: 5px;
    display: none;
}

#DownGameModal .DownGameModal-bor {
    width: 0%;
    height: 10px;
    background: linear-gradient(90deg, #3F79EE 0%, #5EFAED 100%);
    border-radius: 5px;
    transition: all .3s ease-in-out 0s;
}

.J_fileGameUrl_autoloading {
    width: 236px;
    height: 26px;
    background: rgba(63, 89, 155, 0.2) !important;
    border-radius: 4px;
    border: 1px solid #373E4F;
    margin-bottom: 5px;
}

#DownGameConfirmModal {
    .DownGameModal-search {
        width: 100%;
        height: 175px;
        background: #222F4E;
        border-radius:4px;
        box-shadow: 1px 0px 7px #28385d;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        dot {
            display: inline-block;
            height: 1em;
            line-height: 1;
            text-align: left;
            vertical-align: -.25em;
            overflow: hidden;
    
            &::before {
                display: block;
                content: '...\A..\A.';
                white-space: pre-wrap;
                animation: dot 2s infinite step-start both;
            }
        }

        @keyframes dot {
            33% {
                transform: translateY(-2em);
            }
        
            66% {
                transform: translateY(-1em);
            }
        }
    }
    
    .DownGameModal-content {
        width: 100%;
        height: 175px;
        background: #222F4E;
        border-radius:4px;
        box-shadow: 1px 0px 7px #28385d;

        .title {
            display: flex;
            justify-content: space-between;
            padding: 20px;

            .title-name {
                font-size: 16px;
                font-weight: 500;
                color: #A6ABB8;
            }
    
            .title-icon {
                width: 15px;
                height: 15px;
    
                &:hover {
                    opacity: .8;
                    cursor: pointer;
                }
            }
        }

        .tisi {
            font-size: 12px;
            font-weight: 400;
            color: #FFFFFF;
            text-align: center;
            margin-bottom: 40px;
        }

        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            >div {
                flex: 1;
                text-align: center;
            }

            p {
                font-size: 12px;
                font-weight: 500;
                color: #FFFFFF;
                margin-bottom: 13px;
            }
        }
    }
}

.typing_loader {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    -webkit-animation: typing 1s linear infinite alternate;
    -moz-animation: Typing 1s linear infinite alternate;
    animation: typing 1s linear infinite alternate;
    /* Not necessary- its only for layouting*/
    margin: 0;
    border-color: #fff;

}

@-webkit-keyframes typing {
    0% {
        background-color: rgba(161, 173, 200, 1);
        box-shadow: 12px 0px 0px 0px rgba(161, 173, 200, 0.2),
            24px 0px 0px 0px rgba(161, 173, 200, 0.2);
    }

    25% {
        background-color: rgba(161, 173, 200, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 2),
            24px 0px 0px 0px rgba(161, 173, 200, 0.2);
    }

    75% {
        background-color: rgba(161, 173, 200, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(161, 173, 200, 0.2),
            24px 0px 0px 0px rgba(161, 173, 200, 1);
    }
}

@-moz-keyframes typing {
    0% {
        background-color: rgba(161, 173, 200, 1);
        box-shadow: 12px 0px 0px 0px rgba(161, 173, 200, 0.2),
            24px 0px 0px 0px rgba(161, 173, 200, 0.2);
    }

    25% {
        background-color: rgba(161, 173, 200, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 2),
            24px 0px 0px 0px rgba(161, 173, 200, 0.2);
    }

    75% {
        background-color: rgba(161, 173, 200, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(161, 173, 200, 0.2),
            24px 0px 0px 0px rgba(161, 173, 200, 1);
    }
}

@keyframes typing {
    0% {
        background-color: rgba(161, 173, 200, 1);
        box-shadow: 12px 0px 0px 0px rgba(161, 173, 200, 0.2),
            24px 0px 0px 0px rgba(161, 173, 200, 0.2);
    }

    25% {
        background-color: rgba(161, 173, 200, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 2),
            24px 0px 0px 0px rgba(161, 173, 200, 0.2);
    }

    75% {
        background-color: rgba(161, 173, 200, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(161, 173, 200, 0.2),
            24px 0px 0px 0px rgba(161, 173, 200, 1);
    }
}


.setting-connector .setting-connector-bg {
    width: 100%;
    background: #222F4E;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 37px;
    padding: 30px 40px;
    padding-top: 64px;
    padding-bottom: 66px;
}

.setting-connector .setting-connector-bg .gx-input {
    width: 207px;
    height: 26px;
    background: rgba(63, 89, 155, 0.2);
    border-radius: 4px;
    border: 1px solid transparent;
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.6)
}

.setting-connector .setting-connector-bg .gx-check {
    font-size: 14px;
    margin-right: 125px;
}

.setting-connector .setting-connector-bg .setting-connector-p {
    padding-left: 0px;
    line-height: 30px;
    font-size: 12px;
}

.setting-connector-p.add {
    position: absolute;
    top: 0px;
    left: 44px;
    width: 309px;
    transform: scale(.8);
    color: rgba(255, 255, 255, 0.6);
}

.setting-modal-header-nav-item {
    display: inline-block;
    /* min-width: 100px; */
    margin: 0px 10px;
    font-size: 14px;
    cursor: pointer;
    -webkit-app-region: no-drag;
    text-align: center;
}

.setting-modal-header-nav-bot {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #161A21;
    position: absolute;
    bottom: 0px;
    left: 9%;
}

.gx-modal-header {
    position: relative;
}

.setting-modal-header-nav-item-active {
    font-size: 14px;
    color: #FFF;
    height: 100%;
    border-bottom: 2px solid #6B9EFF;
}

.language-select a {
    display: block
}

.header-window .iconfont {
    color: #abb3c9;
}


.setting-volume .volume-content {
    /* position: relative;
    width: 400px;
    height: 440px;
    left: 440px;
    top: 130px;
    border-radius: 4px; */
}

.setting-volume .volume-option-item input {
    width: 230px;
    height: 6px;
}

.setting-volume .volume-option-item {
    padding: 0 58px;
    margin-bottom: 10px;
}

.setting-volume .volume-option-item-text {
    margin-top: 18px;
    margin-bottom: 12px;
    padding-left: 43px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
}

.setting-volume .volume-option-item .volume-swich {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.setting-volume .volume-option-item .gx-swich-num {
    background: none;
    width: auto;
    height: auto;
    margin-left: 3px;
}

.setting-volume .volume-option-item .gx-swich-content {
    width: 90%;
    margin-top: 10px;
}

.setting-volume .volume-option-item .rangeslider {
    height: 6px;
    background: rgba(63, 89, 155, 0.4);
    border-radius: 8px;
}

.setting-volume .volume-option-item .rangeslider__handle {
    top: -6px;
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    border: 1px solid #6B9EFF;
    border-radius: 50%;
}

.setting-volume .rangeslider__fill {
    height: 6px;
    background: #6B9EFF !important;
    border-radius: 8px;
}

.setting-volume .volume-mute-option .rangeslider {
    background: rgba(136, 136, 136, 0.6) !important;
}

.setting-volume .volume-option-item .rangeslider__handle {
    border: 1px solid #BBBBBB !important;
}

.setting-volume .volume-mute-option .rangeslider__fill {
    background: #BBBBBB !important;
}

.setting-volume .volume-option-item .volume-mute-div {
    margin-top: 7px;
    margin-left: 12px;
    cursor: pointer;
}

.setting-volume .volume-option-item .volume-mute-div img {
    position: absolute;
    width: 12px;
}

.setting-volume .volume-option-item .volume-mute-div .volume-mute-svg {
    display: none;
}

.setting-volume .volume-option-item .volume-mute-div.volume-mute .volume-mute-svg {
    display: block;
}

.setting-volume .volume-option-item .volume-mute-div.volume-mute .volume-sound-svg {
    display: none;
}