#seting {
    background: #222f4e;
}

#seting .gx-modal-header {
    background: #33477c;
    text-align: left;
    padding-left: 14px;
    line-height: 50px;
    height: 50px;
    padding-top: 0px;
}

#seting .gx-modal-header .f16 {
    font-size: 14px;
}

#seting .gx-modal-header .ft-white-tr {
    color: #FFF;
}

#seting .gx-modal-header .header-window {
    top: 0px;
}

#seting .header-close.iconfont.ft-ash {
    color: #adb5ca;
}

#seting .seting-list {
    width: 120px;
    height: 406px;
    background: #28375d;
    font-size: 12px;
    overflow: hidden;
    padding-top: 9px;
}

#seting .seting-list .seting-list-ul {
    color: rgba(255, 255, 255, .6);
    padding-left: 34px;
    position: relative;
    height: 48px;
    line-height: 48px;
    margin-bottom: 0px;
    cursor: pointer;
    transition: margin .1s linear 0s;

}

#seting .seting-list .seting-list-ul.open {
    margin-bottom: -10px;
}

#seting .seting-list .seting-list-ul.active {
    color: rgba(255, 255, 255, 1);
}

#seting .seting-list .seting-list-ul svg {
    width: 14px;
    height: 14px;
    fill: rgba(255, 255, 255, .6);
    vertical-align: middle;
    position: absolute;
    top: 17px;
    left: 12px;
    transform: rotate(180deg);
    transition: all .1s linear;
}

#seting .seting-list .seting-list-ul.active svg {
    fill: rgba(255, 255, 255, 1);
}

#seting .seting-list .seting-list-ul .seting-list-ul-bot {
    top: 16px;
    left: auto;
    right: 10px;
}

#seting .seting-list .seting-list-ul.open .seting-list-ul-bot {
    transform: rotate(0deg);
    top: 19px;
}

#seting .seting-list .seting-list-ul .seting-list-ul-bot {
    width: 10px;
    height: 10px;
}

#seting .seting-list .seting-list-li {
    padding-left: 34px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    color: rgba(255, 255, 255, .6);
    margin: 9px 0px;
    cursor: pointer;
    transition: all .1s linear;
    overflow: hidden;
}

#seting .seting-list .seting-list-li.active {
    color: rgba(255, 255, 255, 1);
    background: #3F599B;
}

#seting .seting-list .seting-list-border {
    width: 92px;
    height: 1px;
    background: #3F599B;
    opacity: 0.4;
    margin: 0 auto;
}

#seting .seting-showDiv {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 500px;
    height: 405px;
}

.seting-showDiv .seting-page-title {
    font-size: 14px;
    line-height: 14px;
    margin: 18px 18px;
}

.seting-showDiv .seting-page-list {
    white-space: nowrap;
    margin-bottom: -15px;
    overflow: unset;
}

.seting-showDiv .seting-page-list .media-body {
    overflow: unset;
}

.seting-showDiv .seting-page-list .media-left {
    font-size: 12px;
    color: rgba(255, 255, 255, .6);
    padding-left: 36px;
    line-height: 24px;
}

.seting-showDiv .seting-page-list .media-left>div {
    margin: 12px 0px;
}

.seting-showDiv .seting-page-list .media-left>div:nth-child(1) {
    margin-top: 0px;
}

.seting-showDiv .seting-page-list .seting-page-list-item {
    margin: 12px 0px;
    padding-left: 10px;
    height: 24px;
}

.seting-gamesetting-after-chack-btn {
    display: block;
    position: absolute;
    top: 86px;
    right: 14px;
    width: 95px;
    height: 95px;
    background: #3F599B;
    border-radius: 8px;
    border: 1px solid rgba(107, 158, 255, 0.3000);
    text-align: center;
    font-size: 20px;
    padding-top: 17px;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.8000);
    cursor: pointer;
    z-index: 1;
}

.seting-showDiv .seting-page-list .seting-page-list-item:nth-child(1) {
    margin: 0px;
}

.seting-page-list-item .seting-page-btn svg {
    width: 14px;
    height: 14px;
    fill: #FFF;
    vertical-align: middle;
}

.seting-page-btn {
    background: #3F599B;
    border-radius: 4px;
    font-size: 12px;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0px 14px;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.seting-page-btn:hover {
    filter: brightness(1.1);
}

.seting-right {
    color: #A2FF33;
    display: inline-block;
    font-size: 12px;
    margin-left: 13px;
}

.seting-error {
    color: #FF4444;
    display: inline-block;
    font-size: 12px;
    margin-left: 13px;
}

.seting-alert {
    color: rgba(255, 255, 255, .6);
    display: inline-block;
    font-size: 12px;
    margin-left: 13px;
}

.seting-right svg {
    width: 15px;
    height: 15px;
    fill: #A2FF33;
    vertical-align: middle;
}

.seting-error svg {
    width: 15px;
    height: 15px;
    fill: #FF4444;
    vertical-align: middle;
}

.seting-alert svg {
    width: 15px;
    height: 15px;
    fill: rgba(255, 255, 255, .6);
    vertical-align: middle;
}

.seting-gx-menu .gx-menu-in-div {
    width: 250px;
    height: 24px;
    background: #1C2744;
    border-radius: 4px;
    border: 1px solid rgba(63, 89, 155, 0.4);
    font-size: 12px;
    padding-left: 10px;
    position: relative;
}

.seting-gx-menu .gx-menu-in-div:after {
    content: "";
    width: 0px;
    height: 0px;
    border-top: 4px solid #3F599B;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    top: 13px;
    right: 6px;
}

.seting-gx-menu .gx-menu-in-div:before {
    content: "";
    width: 0px;
    height: 0px;
    border-bottom: 4px solid #3F599B;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    top: 6px;
    right: 6px;
}

.seting-gx-menu .gx-menu-ul a {
    display: block;
    color: rgba(255, 255, 255, .6);
}

.seting-gx-menu .gx-menu-ul a:hover {
    color: rgba(255, 255, 255, 1);
}

.seting-gx-menu .gx-menu-ul {
    width: 250px;
    font-size: 12px;
    line-height: 24px;
    background: #1C2744;
    /* border: 1px solid rgba(63, 89, 155, 0.4); */
    border-radius: 4px;
}

.seting-gx-menu .gx-menu-ul .gx-menu-li {
    padding-left: 11px;
}

.seting-page-list-item .gx-range {
    width: 226px;
    vertical-align: middle;
    display: inline-block;
}

.gx-range-text {
    font-size: 16px;
    display: inline-block;
    min-width: 20px;
    text-align: center;
    font-weight: 700;
    color: #FFF;
}

.seting-showDivspop {
    width: 500px;
    height: 40px;
    /* background: #1C2744; */
    border-radius: 1px;
    position: absolute;
    top: 5px;
    right: 0px;
    text-align: right;
}

.gamesetingTest .seting-showDivspop {
    width: 500px;
    height: 40px;
    background: #1C2744;
    border-radius: 1px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: right;
    top: auto;
}

.seting-showDivspop-success {
    font-size: 12px;
    color: #A2FF33;
    line-height: 40px;
    padding-right: 40px;
    opacity: 0;
    position: absolute;
    top: 0px;
    right: 0px;
}

.seting-showDivspop-success svg {
    width: 15px;
    height: 15px;
    fill: #A2FF33;
    vertical-align: middle;
}

.seting-showDivspop-error {
    font-size: 12px;
    color: #FF4444;
    line-height: 40px;
    padding-right: 40px;
    opacity: 0;
    position: absolute;
    top: 0px;
    right: 0px;
}

.seting-showDivspop-error svg {
    width: 15px;
    height: 15px;
    fill: #FF4444;
    vertical-align: middle;
}

.gamesetingVoice .seting-page-list .media-left>div,
.platformsetingVoice .seting-page-list .media-left>div {
    margin: 30px 0px;
}

.gamesetingVoice .seting-page-list .media-left>div:nth-child(1),
.platformsetingVoice .seting-page-list .media-left>div:nth-child(1) {
    margin-top: 27px;
}

.gamesetingVoice .seting-page-list-item,
.platformsetingVoice .seting-page-list-item {
    position: relative;
    top: -2px;
}

.gamesetingVoice .seting-page-list-item svg,
.platformsetingVoice .seting-page-list-item svg {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 7px;
    left: -13px;
    fill: #FFF;
    cursor: pointer;
}

.gamesetingTest-item {
    font-size: 12px;
    padding-left: 18px;
    color: rgba(255, 255, 255, 1);
    height: 40px;
    background: rgba(63, 89, 155, 0.2);
    margin-bottom: 8px;
    overflow: hidden;
    line-height: 40px;
    position: relative;
    padding-right: 18px;
}

.gamesetingTest-item.gamesetingTest-item1 {
    background: linear-gradient(90deg, rgba(40, 237, 48, .1) 0%, rgba(22, 181, 35, .1) 100%);
}

.gamesetingTest-item.gamesetingTest-item0 {
    background: linear-gradient(90deg, rgba(255, 76, 72, .1) 0%, rgba(169, 33, 33, .1) 100%);
}

.gamesetingTest-item.gamesetingTest-item1 svg {
    fill: #2a4d49
}

.gamesetingTest-item.gamesetingTest-item0 svg {
    fill: #41314b
}

.gamesetingTest-item.gamesetingTest-item-1 svg {
    fill: #2c3e68
}

.gamesetingTest-item.gamesetingTest-item1 .seting-page-btn {
    opacity: .6;
}

.gamesetingTest-item.gamesetingTest-item1 .gamesetingTest-item-right {
    color: #A2FF33;
}

.gamesetingTest-item.gamesetingTest-item-1 .gamesetingTest-item-right {
    color: #93a0bc;
}

.gamesetingTest-item.gamesetingTest-item0 .gamesetingTest-item-right {
    color: #FF4444;
}

.gamesetingTest-item>span {
    position: relative;
    z-index: 1;
}

.gamesetingTest-item-right {
    float: right;
    min-width: 119px;
    text-align: center;
    color: #888888;
}

.gamesetingTest-item-right>svg {
    width: 62px;
    height: 62px;
    position: absolute;
    top: -5px;
    left: -9px;
}

.gamesetingTest-item-right .gamesetingTest-item-border {
    display: inline-block;
    width: 1px;
    height: 12px;
    background: rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgb(255 255 255 / 10%);
    position: relative;
    top: 1px;
    margin-left: 8px;
    margin-right: 8px;
}

.gamesetingTest-item .seting-page-btn {
    border: 1px solid #FFF;
    background: transparent;
    height: 22px;
    line-height: 20px;
    min-width: 72px;
    padding: 0px 11px;
    border-radius: 11px;
    position: relative;
    top: -1px;
    opacity: 1;
}

.gamesetingTest-item .seting-page-btn:hover {
    opacity: 1;
}

.gamesetingTest-footborder {
    display: inline-block;
    width: 1px;
    height: 12px;
    background: rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgb(255 255 255 / 10%);
    position: relative;
    top: 9px;
    margin-left: 103px;
    margin-right: 8px;
    vertical-align: middle;
}

.gamesetingTest-footbtn {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    position: relative;
    top: 9px;
    cursor: pointer;
}

.gamesetingTest-footbtn svg {
    width: 16px;
    height: 16px;
    fill: #FFF;
    display: inline-block;
    vertical-align: middle;
}

.gamesetingTest .seting-showDivspop .seting-page-btn {
    left: 18px;
}

.gamesetingTest .seting-showDivspop {
    text-align: left;
    padding-left: 36px;
}

.seting-showDivspop .seting-page-btn {
    margin-top: 10px;
    position: absolute;
    top: 0px;
    left: 36px;
}

.seting-page-list-item-three {
    padding-left: 36px;
    padding-right: 36px;
    font-size: 12px;
    margin-bottom: 24px;
}

.seting-page-list-item-three-border {
    width: 428px;
    height: 1px;
    background: #3F599B;
    opacity: 0.4;
    margin-top: 10px;
}

.seting-page-list-item-three .media {
    overflow: unset;
}

.seting-page-list-item-three .media-left {
    white-space: nowrap;
    color: rgba(255, 255, 255, .6);
}

.seting-page-list-item-three .media-body {
    white-space: nowrap;
    color: rgba(255, 255, 255, .6);
    text-align: right;
}

.seting-page-list-scroll {
    height: 356px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 14px;
}

.othersetingTool-points {
    width: 60px;
    height: 24px;
    background: #1C2744;
    border-radius: 4px;
    border: 1px solid rgba(63, 89, 155, 0.4);
    text-align: center;
    outline: none;
    color: #FFF;
}

.blindness {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 24px;
    margin: 0 -2px;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
}

.othersetingTool .blindness:nth-child(1) {
    border-radius: 4px 0px 0px 4px;
    margin-left: 5px;
}

.othersetingTool .blindness:nth-child(4) {
    border-radius: 0px 4px 4px 0px;
}

.blindness input {
    position: relative;
    z-index: 1;
    cursor: pointer;
    top: 1px;
}

.blindness label {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.blindness.blue label {
    background: #3955FF;
}

.blindness.black label {
    background: #7B7D7B;
}

.blindness.white label {
    background: #EFEBEF;
}

.blindness.yellow label {
    background: #FFEF84;
}

.hotkey .seting-page-title .seting-page-btn {
    position: absolute;
    top: 14px;
    right: 36px;
}

.hotkey .hotkey-title {
    padding-left: 36px;
    color: rgba(255, 255, 255, .6);
    font-size: 12px;
    margin-top: 10px;
}

.hotkey .hotkey-table {
    width: 423px;
    margin: 0 auto;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 12px;
}

.hotkey-td {
    width: 50%;
    display: inline-block;
    text-align: center;
}

.hotkey .hotkey-table .hotkey-th {
    background: #3F599B;
    white-space: nowrap;
    line-height: 26px;
    border-radius: 4px 4px 0px 0px;
}

.hotkey .hotkey-table .hotkey-tbody {
    background: #28375d;
    position: relative;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 0px 0px 4px 4px;
}

.hotkey .hotkey-table .hotkey-tbody .hotkey-tbody-border {
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 50%;
    background: #2d3e69;
}

.hotkey .hotkey-table .hotkey-tbody .hotkey-tr {
    white-space: nowrap;
    margin-bottom: 3px;
    margin-top: 3px;
    color: rgba(255, 255, 255, .6);
    height: 20px;
}

.hotkey .hotkey-table .hotkey-tbody .hotkey-tr:last-child {
    border-radius: 0px 0px 4px 4px;
}

.hotkey .hotkey-table .hotkey-tbody .hotkey-tr:hover {
    background: #314575;
    color: #FFF;
}

.hotkey .hotkey-table .hotkey-tbody .hotkey-tr .hotkey-td {
    line-height: 20px;
    vertical-align: middle;
}

.hotkey .hotkey-table .hotkey-tbody .hotkey-tr .hotkey-td:nth-child(2) {
    cursor: pointer;
}

.hotkey-table .seting-gx-menu {
    display: block;
    width: 110px;
    margin: 0 auto;
}

.hotkey-table .seting-gx-menu .gx-menu-in-div {
    width: 110px;
    height: 20px;
    line-height: 18px;
    font-size: 10px;
    background: rgba(63, 89, 155, 0.2);
    border-radius: 4px;
    border: 1px solid #6B9EFF;
    text-align: left;
    padding-left: 19px;
    position: relative;
}

.hotkey-table .seting-gx-menu .gx-menu-in-div:after {
    top: 11px;
    right: 18px;
}

.hotkey-table .seting-gx-menu .gx-menu-in-div:before {
    top: 4px;
    right: 18px;
}

.hotkey-table .seting-gx-menu .hotkey-close {
    position: absolute;
    top: 5px;
    right: 4px;
    width: 8px;
    height: 8px;
    fill: #6B9EFF;
}

.hotkey-table .seting-gx-menu .hotkey-close:hover {
    filter: brightness(1.1);
}

.hotkey-table .seting-gx-menu .gx-menu-ul {
    width: 110px;
}

.J_hotkeyChange .seting-gx-menu {
    display: none;
}

.J_hotkeyChange.open .seting-gx-menu {
    display: block;
}

.hotkey-key {
    width: 100%;
    height: 20px;
}

.J_hotkeyChange.open .hotkey-key {
    display: none;
}

.seting-kt-icon {
    fill: rgba(255, 255, 255, .6);
    top: 1px;
}