.start-text {
    background: linear-gradient(180deg, #FFFFFF 0%, #8F8F8F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.startGame-progress {
    width: 312px;
    height: 10px;
    margin: 0 auto;
}