#career {
    padding-top: 5px;
    width: 1171px;
    margin-left: 30px;
}

#career .career-content {
    width: 1171px;
    margin: 0px auto;
}

#career .career-content-top {
    padding-top: 20px;
    height: 166px;
    background: url(../../../images/hall/career/top-bg.png) no-repeat;
    background-size: 100% auto;
}

#career .career-content-user {
    width: 310px;
    height: 146px;
    padding: 20px;
    position: relative;
    padding-right: 18px;
}

#career .career-content-user .media {
    overflow: unset
}

#career .career-content-user .hastype .media-left,
#career .career-content-user .hastype .media-body {
    position: relative;
    top: -10px;
    overflow: unset;
}

#career .career-content-user .tooltip-inner {
    word-break: break-all;
}

.career-content-user-avatar {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(180deg, rgba(218, 229, 249, 1), rgba(129, 146, 184, 1));
    padding: 1px;
    border-radius: 50%;
    margin-right: 0px;
}

.career-content-user-name {
    width: 144px;
    color: #FFFFFF;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    margin-bottom: -5px;
}

.career-content-user-label {
    position: relative;
    margin: 10px 0px;
    margin-top: 8px;
}

.career-content-user-label span {
    width: 120px;
    height: 16px;
    border-radius: 8px;
    font-size: 10px;
    line-height: 16px;
    display: block;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 18px;
    margin-left: 5px;
    padding-right: 5px;
}

.career-content-user-label.career-content-user-label1 span {
    background: rgba(215, 83, 243, .5);
}

.career-content-user-label.career-content-user-label2 span {
    background: rgba(255, 97, 57, .5);
}

.career-content-user-label.career-content-user-label3 span {
    background: rgba(255, 175, 28, .5);
}

.career-content-user-label.career-content-user-label4 span {
    background: rgba(43, 59, 132, .8);
}

.career-content-user-label:after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: -2px;
    left: 0px;
}

.career-content-user-label.career-content-user-label1:after {
    background: url("../../../images/iconfont/user-anchor.png") no-repeat;
    background-size: 100% 100%;
}

.career-content-user-label.career-content-user-label2:after {
    background: url("../../../images/iconfont/user-star.png") no-repeat;
    background-size: 100% 100%;
}

.career-content-user-label.career-content-user-label3:after {
    background: url("../../../images/iconfont/user-official.png") no-repeat;
    background-size: 100% 100%;
}

.career-content-user-label.career-content-user-label4:after {
    background: url("../../../images/iconfont/user-map.png") no-repeat;
    background-size: 100% 100%;
}

.career-content-user-border {
    position: absolute;
    top: 35px;
    left: 211px;
    width: 1px;
    height: 67px;
    background: rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgba(255, 255, 255, .1);
}

.hastype .career-content-user-border {
    left: 144px;
}

.career-content-user-level {
    width: 60px;
    height: 61px;
    background-size: 100% auto;
}

.career-content-level-name {
    min-width: 62px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    margin-top: 15px;
}

.career-content-top-nav {
    position: absolute;
    top: -2px;
    left: 455px;
    height: 146px;
}

.career-content-top-nav .career-content-top-nav-item {
    width: 100px;
    height: 35px;
    background: #29344e;
    margin: 12px 0px;
    text-align: center;
    line-height: 35px;
    transform: skew(22deg);
    cursor: pointer;
    transition: .3s;
}

.career-content-top-nav .career-content-top-nav-item:hover {
    background: #3A4B75;
}

.career-content-top-nav .career-content-top-nav-item:nth-child(2) {
    position: relative;
    left: 20px;
}

.career-content-top-nav .career-content-top-nav-item:nth-child(3) {
    position: relative;
    left: 40px;
}

.career-content-top-nav .career-content-top-nav-item span {
    display: inline-block;
    transform: skew(-22deg);
}

.career-content-top-nav .career-content-top-nav-item.active {
    background: #3A4B75;

}


.career-content-probability-border {
    width: 100px;
    height: 100px;
    background: rgba(32, 36, 45, 1);
    position: absolute;
    top: 19px;
    left: 213%;
    border-radius: 50%;
}

.career-content-probability-border-after {
    width: 90px;
    height: 90px;
    background: url(../../../images/hall/career/top-bg.png) no-repeat;
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    text-align: center;
    background-size: 1171px 116px;
    background-position: -658px -17px;
}

.career-content-probability-border-after .numberfont {
    position: relative;
    left: -3px;
}

.career-content-probability-border-after .numberfont .f12 {
    position: absolute;
    top: 13px;
    right: -11px;
}

#career-content-probability-echarts {
    width: 120px;
    height: 160px;
    position: absolute;
    top: 13px;
    left: 679px;
    z-index: 1;
}

.career-content-num {
    position: absolute;
    top: 43px;
    left: 786px;
    width: 315px;
}

.career-content-num-item {
    width: 32%;
    text-align: center;
    display: inline-block;
    position: relative;
}

.career-content-num-item svg path {
    fill: #A1ADC8;
}

.career-content-num .career-content-num-border {
    width: 1px;
    height: 36px;
    background: rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgba(255, 255, 255, .1);
    position: absolute;
    top: 50%;
    margin-top: -18px;
}

.career-content-num .career-content-num-border:nth-child(1) {
    left: 208px;
}

.career-content-num .career-content-num-border:nth-child(2) {
    left: 102px;
}

.career-content-num-item .tooltip {
    width: 146px;
}

.career-content-user-mapname {
    display: inline-block;
    width: 90px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.career-content-apm {
    padding-top: 17px;
    padding-left: 16px;
    background: url(../../../images/hall/career/apm-bg.png) no-repeat !important;
    background-size: cover !important;
}

#career-content-apm-echarts {
    width: 455px;
    height: 24vh;
    /* border: 1px solid blue; */
    margin-top: 30px;
    left: -14px;
}

.career-content-probability {
    background: url(../../../images/hall/career/probability-bg.png) no-repeat !important;
    background-size: cover !important;
}



.career-content-special-icon {
    position: absolute;
    top: -8px;
    right: 8px;
}

.career-content-special-icon path {
    fill: rgba(255, 255, 255, 0.6)
}

.career-content-special-icon:hover path {
    fill: rgba(255, 255, 255, 1)
}

.career-content-special {
    width: 12px;
    height: 3px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    margin: 11px auto;
    margin-bottom: 13px;
}

.career-content-probability>div {
    opacity: 1;
    transition: opacity .5s ease-in-out 0s;
}

.career-content-probability-menu {
    display: inline-block;
    min-width: 114px;
    line-height: 28px;
}

.career-content-probability-menu a {
    display: block;
}

.career-content-probability-menu .gx-menu-in {
    color: #FFF;
    text-align: center;
    padding-left: 0px;
    border-radius: 4px 0px 4px 0px;
    height: 28px;
    line-height: 28px;
}

.career-content-probability-menu .caret {
    position: unset;
    margin-left: 10px;
}

#career .career-content-bottom {
    width: 100%;
    height: 36vh;
}

#career .career-content-bottom-teble .gx-teble-thead-th {
    font-size: 12px;
}

#career .career-content-bottom-teble .gx-teble-thead {
    background: rgba(63, 89, 155, .6);
    height: 40px;
    line-height: 40px;
    color: #FFF;
    border-radius: 0px 4px 0px 0px;
    padding-right: 23px;
}

#career .career-history-map {
    width: 75.24px;
    height: 47px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    overflow: hidden;
    background-size: cover;
}

#career .career-history-map-name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 16px;
    line-height: 16px;
    background: rgba(49, 55, 72, .9);
    width: 100%;
}

#career .career-content-bottom-teble .gx-teble-tbody {
    padding-right: 0px;
    height: 350px;
    background: rgba(36, 41, 54, 0.4);
    border: 1px solid rgba(63, 89, 155, 0.6);
    border-radius: 0px 0px 4px 4px;
}

.career-content-pop-all-level {
    display: flex;
    flex-wrap: wrap;
    background: none !important;
    padding: 0 18px;
    justify-content: space-around;
}

.career-content-pop-all-level div {
    width: 60px;
    display: flex;
    flex-wrap: wrap;
    background-image: none !important;
    margin: 0 10px;
}

.career-content-pop-all-level .career-icon {
    width: 60px;
    height: 55px;
}

.career-content-pop-all-level p {
    width: 60px;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}

.career-content-pop-current-level {
    background: none !important;
}

.career-content-pop-text {
    color: #A1ADC8;
    font-size: 12px;
    margin: 15px 0px 15px 30px;
}

.career-content-pop-line {
    width: 380px;
    height: 1px;
    background: #313748;
    border-radius: 1px;
    margin: 12px auto 0;
    background-image: none !important;
}

.current-level-bg {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url(../../../images/modal/settlement/win-title.png) no-repeat !important;
    background-size: 100% !important;
    width: 270px;
    height: 51px;
    margin: 9px auto 0;
}

.current-level {
    background-image: none !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.current-level-bg p {
    text-align: center;
    font-size: 14px;
    margin: 0 0 9px;
}

.current-level-icon {
    position: relative;
    width: 100%;
    height: 108px;
    background-size: contain;
}

.current-level div {
    position: relative;
    font-size: 18px;
    line-height: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    width: auto;
}

.career-content-level--1 {
    background: url(../../../images/rank/badge-min/circular/-1.png) no-repeat bottom;
    background-size: 33px;
}

.career-content-level-0 {
    background: url(../../../images/rank/badge-min/circular/0.png) no-repeat bottom;
    background-size: 33px;
}

.career-content-level-1 {
    background: url(../../../images/rank/badge-min/circular/1.png) no-repeat bottom;
    background-size: 33px 35px;
}

.career-content-level-2 {
    background: url(../../../images/rank/badge-min/circular/2.png) no-repeat bottom;
    background-size: 36px 38px;
}

.career-content-level-3 {
    background: url(../../../images/rank/badge-min/circular/3.png) no-repeat bottom;
    background-size: 44px 37px;
}

.career-content-level-4 {
    background: url(../../../images/rank/badge-min/circular/4.png) no-repeat bottom;
    background-size: 52px 37px;
}

.career-content-level-5 {
    background: url(../../../images/rank/badge-min/circular/5.png) no-repeat bottom;
    background-size: 52px 38px;
}

.career-content-level-6 {
    background: url(../../../images/rank/badge-min/circular/6.png) no-repeat bottom;
    background-size: 52px 50px;
}

.career-content-level-7 {
    background: url(../../../images/rank/badge-min/circular/7.png) no-repeat bottom;
    background-size: 53px 53px;
}

.career-content-level-8 {
    background: url(../../../images/rank/badge-min/circular/8.png) no-repeat bottom;
    background-size: 60px 55px;
}

.career-content-center {
    display: flex;
    margin: 14px 0 0px;
}

.career-content-center div {
    min-width: 100px;
    height: 40px;
    background: rgba(36, 41, 54, .7);
    border-radius: 4px 4px 0px 0px;
    line-height: 40px;
    text-align: center;
    margin-right: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: .3s;
}

.career-content-center>div:hover {
    background: rgba(63, 89, 155, .6);
}

.career-content-div-active {
    background: rgba(63, 89, 155, .6) !important;
}

.career-content-playback {
    width: 100%;
    height: 100%;
}

.career-content-playback div {
    margin: auto;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.career-content-playback-Download {
    cursor: pointer;
}

.career-content-playback-Download path {
    font-size: 20px;
    fill: #A1ADC8;
    opacity: 0.6
}

.career-content-playback-Download:hover path {
    fill: #5A6585;
    opacity: 1;
}

.career-content-playback-loading {
    width: 649px;
    height: 24px;
    background: #252b44;
    border-radius: 12px;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 0px;
    line-height: 24px;
    color: #6B9EFF;
    z-index: 999;
}

.career-content-playback-loading svg {
    width: 12px;
    height: auto;
    fill: rgba(107, 158, 255, 1);
    position: relative;
    top: 2px;
}

#career-content-bottom-tbody td {
    position: relative;
}

.career-rotate-animation {
    animation: 1.5s rotate1 linear infinite;
}

@keyframes rotate1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#career-content-bottom-tbody {
    font-size: 12px;
}

#career-content-bottom-tbody .J_career_showDetails {
    position: relative;
    font-size: 16px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    cursor: pointer;
    top: 3px;
}

#career-content-bottom-tbody .J_career_showDetails path {
    fill: rgba(255, 255, 255, 0.6);
}

#career-content-bottom-tbody .J_career_showDetails:hover path {
    fill: white
}

#career-content-bottom-tbody .career-content-bottom-tbody-empty {
    line-height: 347px;
    color: #6B9EFF;
    width: 1169px;
}

.career-content-level-all {
    position: absolute;
    width: 503px;
    height: 437px;
    background: #222f4e url(../../../images/hall/career/career-level-all-bg.png) no-repeat right bottom;
    z-index: 5;
}

.career-content-level-all-header {
    background: url(../../../images/modal/settlement/win-title.png) 100% 100% no-repeat;
    width: 270px;
    height: 51px;
    margin: 0 auto;
    background-size: 100% auto;
    text-align: center;
    line-height: 60px;
    font-size: 14px;
    margin-top: 9px;
    margin-bottom: 8px;
}

.career-content-level-current-name {
    margin-bottom: 10px;
    text-align: center;
}

.career-content-level-current-name span {
    border-radius: 4px;
    padding: 1px 3px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.career-content-level-current {
    width: 90px;
    height: 100px;
    margin: 0 auto;
}

.career-content-level-line {
    width: 443px;
    height: 1px;
    background: #FFFFFF;
    border-radius: 1px;
    opacity: 0.1;
    margin: 0 auto;
}

.career-content-level-body {
    padding: 0 10px;
    margin-top: 20px;
}

.career-content-level-body-list {
    width: 20%;
    height: 85px;
    display: inline-block;
    text-align: center;
    float: left;
}

.career-content-level-body-list div {
    width: 60px;
    height: 80px;
    margin: 0 auto;
}

.career-content-level-body-list span {
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
}

.career-content-level-season {
    font-size: 12px;
    color: #A1ADC8;
    margin-top: 10px;
    margin-left: 30px;
    position: absolute;
}

.gx-avatar-90-level-1 {
    background: url(../../../images/rank/badge-min/ribbon180/-1.png) no-repeat top center;
    background-size: 100% auto;
}

.gx-avatar-90-level0 {
    background: url(../../../images/rank/badge-min/ribbon180/0.png) no-repeat top center;
    background-size: 100% auto;
}

.gx-avatar-90-level1 {
    background: url(../../../images/rank/badge-min/ribbon180/1.png) no-repeat top center;
    background-size: 100% auto;
}

.gx-avatar-90-levelrating {
    background: url(../../../images/rank/badge-min/ribbon180/rating.png) no-repeat top center;
    background-size: 100% auto;
}

.gx-avatar-90-level2 {
    background: url(../../../images/rank/badge-min/ribbon180/2.png) no-repeat top center;
    background-size: 100% auto;
}

.gx-avatar-90-level3 {
    background: url(../../../images/rank/badge-min/ribbon180/3.png) no-repeat top center;
    background-size: 100% auto;
}

.gx-avatar-90-level4 {
    background: url(../../../images/rank/badge-min/ribbon180/4.png) no-repeat top center;
    background-size: 100% auto;
}

.gx-avatar-90-level5 {
    background: url(../../../images/rank/badge-min/ribbon180/5.png) no-repeat top center;
    background-size: 100% auto;
}

.gx-avatar-90-level6 {
    background: url(../../../images/rank/badge-min/ribbon180/6.png) no-repeat top center;
    background-size: 100% auto;
}

.gx-avatar-90-level7 {
    background: url(../../../images/rank/badge-min/ribbon180/7.png) no-repeat top center;
    background-size: 100% auto;
}

.gx-avatar-90-level8 {
    background: url(../../../images/rank/badge-min/ribbon180/8.png) no-repeat top center;
    background-size: 100% auto;
}