.hall-content-friend {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #899ACB;
}

.hall-content-friend .hall-content-friend-fix {
    width: 50px;
    height: 100vh;
    padding-bottom: 30px;
    background: #1c2334;
    position: absolute;
    right: 0px;
    top: 60px;
    z-index: 10;
    transition: width .2s ease-in-out;
    z-index: 9999;
}

.hall-content-friend .hall-content-friend-fix.active {
    background-color: #1c2334;
}

.hall-content-friend-fix.active {
    width: 212px;
}

.hall-content-friend-fix.active .hall-content-friend-pull .iconfont {
    transform: scale(.8) rotate(180deg);
}

.hall-content-friend-fix .hall-content-friend-fix-narrow {
    display: block;
    opacity: 1;
}

.hall-content-friend-fix .hall-content-friend-fix-details {
    display: none;
    opacity: 0;
    height: 100%;
}

.hall-content-friend .hall-content-friend-top {
    height: 48px;
    width: 100%;
    border-bottom: 1px solid rgba(63, 89, 155, 0.2);
    padding: 0px 10px;
    position: relative;
    padding-top: 1px;
}

.hall-content-friend-fix-narrow .hall-content-friend-top {
    border-bottom: 1px solid rgba(63, 89, 155, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hall-content-friend .hall-content-friend-top>span {
    line-height: 48px;
}

.hall-content-friend .hall-content-friend-top>.float-right {
    line-height: 48px;
}

.hall-content-friend .hall-content-friend-top svg path {}

.hall-content-friend .hall-content-friend-pull {
    width: 10px;
    height: 56px;
    background-image: url(../../../images/friend/pull.png);
    position: absolute;
    top: 50%;
    left: -9px;
    margin-top: -99px;
    line-height: 56px;
}

.hall-content-friend .hall-content-friend-pull>.iconfont {
    display: inline-block;
    transform: scale(.8) rotate(360deg);
}

.hall-content-friend .hall-content-friend-search {
    display: inline-block;
}

.hall-content-friend .hall-content-friend-search .hall-content-friend-search-input {
    width: 0px;
    padding: 0px;
    border: none;
    height: 24px;
    top: 12px;
    outline: none;
    transition: all .3s ease-in;
    background: #28375d;
    position: absolute;
    left: 167px;
}

.hall-content-friend .hall-content-friend-search .hall-content-friend-search-input::placeholder {
    color: rgba(161, 173, 200, .6);
}

.hall-content-friend .hall-content-friend-search.active .hall-content-friend-search-input {
    width: 169px;
    left: 9px;
    border-radius: 1px;
    padding-left: 30px;
}

.hall-content-friend .hall-content-friend-search-icon {
    margin-right: 10px;
    cursor: pointer;
    transition: all .3s ease-in;
    position: relative;
    left: 0px;
}

.hall-content-friend .hall-content-friend-search-clear {
    display: none;
    opacity: 0;
    position: absolute;
    right: 41px;
    transition: opacity .3s ease-in;
}

.hall-content-friend .hall-content-friend-search.active .hall-content-friend-search-icon {
    left: -143px;
    color: rgba(161, 173, 200, .6);
}

.hall-content-friend .hall-content-friend-search.active .hall-content-friend-search-clear {
    display: inline-block;
    opacity: 1;
    cursor: pointer;
}

.hall-content-friend .hall-content-friend-scroll {
    width: 100%;
    height: calc(100% - 74px);
    overflow-y: scroll;
    overflow-x: unset;

}

.hall-content-friend .hall-content-friend-ul-title {
    height: 18px;
    padding: 0 10px;
    margin: 10px 0px;
    cursor: pointer;
}

.hall-content-friend .hall-content-friend-ul-title>span {
    line-height: 18px;
}

.hall-content-friend .hall-content-friend-ul .hall-content-friend-ul-title>.iconfont {
    display: inline-block;
    transform: scale(.8) rotate(-180deg);
    opacity: .3;
    margin-right: 3px;
}

.hall-content-friend .hall-content-friend-ul.open .hall-content-friend-ul-title>.iconfont {
    display: inline-block;
    transform: scale(.8) rotate(-90deg);
    opacity: .3;
    margin-right: 3px;
}

.hall-content-friend .hall-content-friend-ul-state {
    transform: scale(.8);
    display: block;
    margin-top: 0px;
    transform-origin: left;
}

.hall-content-friend .hall-content-friend-ul-li {
    height: 44px;
    padding-top: 6px;
    padding-right: 0px;
    margin: 5px 0px;
    position: relative;
    left: 0px;
    border-radius: 4px;
    cursor: pointer;
}

.hall-content-friend .hall-content-friend-ul-li .media {
    overflow: unset
}

.hall-content-friend .hall-content-friend-ul-li:hover {
    background-color: rgba(63, 89, 155, 0.1)
}

.hall-content-friend .hall-content-friend-ul-li:hover {}

.hall-content-friend .hall-content-friend-ul-li .gx-avatar-avatar {
    width: 29px;
    height: 29px;
    margin-left: 10px;
    padding: 1px;
}

.hall-content-friend .hall-content-friend-ul-li .name-ellipsis {
    margin-bottom: -5px;
}

.hall-content-friend .hall-content-friend-ul-li .gx-avatar-avatar img {
    width: 27px;
    height: 27px;
    border-radius: 50%;
}

.hall-content-friend .hall-content-friend-ul-li .media-right {
    cursor: pointer;
}

.hall-content-friend .hall-content-friend-accept {
    margin-right: 9px;
    position: relative;
    left: -5px;
    color: #394f87;
    font-weight: 700;
    font-size: 18px;
}

.hall-content-friend .hall-content-friend-accept:hover {
    /* color: #7BB764; */
    color: #465e9c;
}

.hall-content-friend .hall-content-friend-refuse {
    opacity: .8;
    position: relative;
    left: -5px;
    color: #3e5899;
    font-weight: 700;
    font-size: 18px;
}

.hall-content-friend .hall-content-friend-refuse:hover {
    /* color: #B32A2A; */
    opacity: 1;
}

.hall-content-friend .hall-content-friend-ul-ignore {
    background: #3F599B;
    border-radius: 4px;
    line-height: 18px;
    display: inline-block;
    padding: 0px 5px;
    float: right;
    position: relative;
    top: -1px;
    cursor: pointer;
    color: #FFF;
    font-size: 10px;
}

.hall-content-friend .hall-content-friend-ul-ignore svg {
    position: relative;
    top: 2px;
}

.hall-content-friend .hall-content-friend-ul-ignore svg path {
    fill: #FFF;
}

.hall-content-friend .hall-content-friend-ul-ignore:hover {
    background: #4561a8;
}

.hall-content-friend .hall-content-friend-ul-bot {
    background: rgb(254, 68, 68);
    display: inline-block;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    padding: 1px 2px;
}

.hall-content-friend .hall-content-friend-status-2 .gx-avatar-avatar-bot {
    background: #BBBBBB;
}

.hall-content-friend .hall-content-friend-status-2 .hall-content-friend-ul-state {
    /* color: #BBBBBB !important; */
}

.hall-content-friend .hall-content-friend-status-1 .hall-content-friend-ul-state {
    /* color: #7BB764; */
}

.hall-content-friend .hall-content-friend-status-2 img[alt="avatar"] {
    filter: grayscale(1);
}

.hall-content-friend .hall-content-friend-apply-bot {
    font-family: IndustryBlack;
    background: rgb(254, 68, 68);
    color: #FFF;
    position: absolute;
    top: 0px;
    left: -6px;
    padding: 0px 3px;
}

.hall-content-friend-fix-narrow {
    text-align: center;
}

.hall-content-friend .hall-content-friend-fix-narrow .gx-avatar-avatar {
    width: 28px;
    height: 28px;
    padding: 0px;
    margin: 0px auto;
    background: none;
}

.hall-content-friend .hall-content-friend-fix-narrow-item {
    margin: 24px auto;
}

.hall-content-friend .hall-content-friend-fix-narrow .gx-avatar-avatar img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

#addfriendModal .gx-modal-header {
    -webkit-app-region: no-drag;
    padding-left: 0px;
    text-align: center;
}

#addfriendModal .modal-dialog {
    width: 540px;
}

#addfriendModal .gx-modal-content {
    height: 382px;
    width: 540px;
}

#addfriendModal .addfriendModal-content {
    padding: 14px;
}

#addfriendModal .addfriendModal-content .gx-search-clear:hover {
    color: white
}

#addfriendModal .J_findId {
    display: inline-block;
    width: 117px;
    height: 34px;
    background: #2385F0;
    border-radius: 1px;
    vertical-align: middle;
    line-height: 34px;
    float: right;
    border-radius: 4px;
}

#addfriendModal .addfriendModal-content-scroll {
    width: 512px;
    height: 250px;
    background: rgba(63, 89, 155, 0.2);
    border-radius: 1px;
    border: 1px solid rgba(161, 173, 200, 0.2);
    margin-top: 14px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px;
}

#addfriendModal .addfriendModal-content-scroll-title {}

#addfriendModal .addfriendModal-content-scroll-list {
    min-height: 60px
}

#addfriendModal .gx-avatar-avatar {
    width: 34px;
    height: 34px;
}

#addfriendModal .gx-avatar-avatar img {
    width: 30px;
    height: 30px;
}

#addfriendModal .addfriendModal-level-name {
    display: inline-block;
    transform: scale(.8);
    transform-origin: left;
    margin-top: -5px;
    font-weight: 700;
}

#addfriendModal .addfriendModal-content-scroll-item {
    overflow: unset;
    margin-bottom: 10px;
}

#addfriendModal .addfriendModal-content-scroll-item .name-ellipsis {
    margin-bottom: -5px;
}

#addfriendModal .addfriendModal-content-scroll-list .row {
    margin-right: -14px;
    margin-left: -14px;
}

#addfriendModal .addfriendModal-content-scroll-list .col-xs-4 {
    padding-right: 14px;
    padding-left: 14px;
}

.J_addfriendModal-friendAdd {
    cursor: pointer;
}

.j_friendshowfind {
    cursor: pointer;
}


#friendRemarksModal .gx-modal-header {
    -webkit-app-region: no-drag;
    padding-left: 0px;
    text-align: center;
}

#friendRemarksModal .modal-dialog {
    width: 540px;
}

#friendRemarksModal .gx-modal-content {
    height: 230px;
    width: 540px;
}

#friendRemarksModal .gx-search {
    margin-top: 45px;
}

#friendRemarksModal .gx-search input {
    padding-left: 10px;
}

#friendRemarksModal .gx-img-middle-btn-blue {
    border-radius: 0px;
    min-width: 117px;
    line-height: 34px;
    height: 34px;
    margin-top: 45px;
}