#UserGoldModal .modal-dialog {
    width: 400px;
    height: 430px;
}

#UserGoldModal .gx-modal-header {
    -webkit-app-region: no-drag;
}

#UserGoldModal .gx-modal-header-nav-icon {
    left: 6.5%
}

#UserGoldModal .gx-modal-content {
    height: 100%;
    border-radius: 4px;
}

#UserGoldModal .UserGoldModal-div {
    width: 100%;
    height: 100%;
    background: rgba(63, 89, 155, 0.2);
    color: white;
}

#UserGoldModal .gx-modal-header-nav-icon {
    border-bottom: 10px solid #313748;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

#UserGoldModal .UserGoldModal-title {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
}

#UserGoldModal .UserGoldModal-div.UserGoldModal-div-rule {
    width: 100%;
    height: 100%;
    background: rgba(63, 89, 155, 0.2);
    color: rgba(255, 255, 255, 0.6);
}

#UserGoldModal .UserGoldModal-index-one,
#UserGoldModal .UserGoldModal-index-two {
    width: 350px;
    height: 260px;
    margin: 0 auto;
    margin-top: 54px;
    border-radius: 4px;
    overflow: hidden;
}

#UserGoldModal .UserGoldModal-thead {
    font-size: 12px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: rgba(63, 89, 155, 0.6);
    border-radius: 1px;
    padding-right: 4px;
}

#UserGoldModal .UserGoldModal-thead>div {
    display: inline-block;
    text-align: center;
    float: left;
}

#UserGoldModal .UserGoldModal-div-scroll {
    height: 230px;
    width: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#UserGoldModal .UserGoldModal-div-history-item>div {
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    /* border-right: 1px solid #313748;
    border-bottom: 1px solid #313748; */
    float: left;
}

#UserGoldModal .UserGoldModal-div-history-item>div:last-child {
    border-right: 1px solid transparent;
    padding: 0 15px;
}

#UserGoldModal .UserGoldModal-div-rule {
    padding: 18px 18px 10px 18px;
}

#UserGoldModal .gx-modal-header-nav {
    top: 50px;
    border-bottom: 1px solid rgba(90, 101, 133, 0.15);
    margin: 0 25px;
    width: 350px;
    display: flex;
    padding: 0;
}

#UserGoldModal .gx-modal-header-nav-item {
    width: auto;
    height: 45px;
    margin-right: 20px;
    text-align: left;
    display: inline-flex;
    align-items: center;
}

#UserGoldModal .gx-modal-header-nav-item i {
    font-size: 16px;
}

#UserGoldModal .gx-modal-header-nav-item svg{
    margin-right: 5px;
}

#UserGoldModal .UserGoldModal-btn {
    text-align: center;
    width: 80px;
    height: 29px;
    background: #3F599B;
    border-radius: 4px;
    margin: 18px auto;
    line-height: 29px;
    cursor: pointer;
    font-size: 12px;
}