#newHelpModal .newHelpModal-content {
  width: 500px;
  height: 196px;
  background-color: #282a32;
}

#newHelpModal .modal-dialog {
  width: 500px;
}

#newHelpModal .newHelpModal-top {
  width: 500px;
  height: 76px;
  text-align: center;
  background: url(../../../images/help/newhelp-topbg.png) no-repeat;
  background-size: 100% 100%;
  padding-top: 14px;
}

#newHelpModal .newHelpModal-top div:nth-child(1) {
  font-family: 'YouSheBiao';
  font-size: 36px;
  color: #FFFFFF;
  line-height: 32px;
  letter-spacing: 4px;
}

#newHelpModal .newHelpModal-top div:nth-child(2) {
  font-size: 9px;
  color: rgba(255, 255, 255, .4);
  line-height: 13px;
  letter-spacing: 13px;
  margin-top: 3px;
}

#newHelpModal .newHelpModal-text {
  width: 500px;
  min-height: 40px;
  /* font-family: 'YouSheBiao'; */
  padding: 11px 0px 11px 26px;
  font-size: 12px;
  line-height: 22px;
}

#newHelpModal .newHelpModal-text .newHelpModal-text-gold {
  background: linear-gradient(137deg, #FFECA2 0%, #F6C765 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'YouSheBiao';
  font-size: 16px;
}

#newHelpModal .newHelpModal-step {
  height: 80px;
  background: #21232b;
}

#newHelpModal .newHelpModal-step .newHelpModal-step-one {
  width: 182px;
  height: 80px;
  background: linear-gradient(90deg, #3f62a9 0%, #432a8c 100%);
  float: left;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

#newHelpModal .newHelpModal-step .newHelpModal-step-two {
  width: 165px;
  height: 80px;
  background: #23252d;
  float: left;
  position: relative;
  z-index: 2;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

#newHelpModal .newHelpModal-step .newHelpModal-step-three {
  width: 153px;
  height: 80px;
  background: #21232b;
  float: left;
  position: relative;
  z-index: 3;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

#newHelpModal .newHelpModal-step .newHelpModal-step-horn-top {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
}

#newHelpModal .newHelpModal-step .newHelpModal-step-horn-bottom {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 2;
}

#newHelpModal .newHelpModal-step .newHelpModal-step-one .newHelpModal-step-horn-top {
  border-top: 40px solid #23252d;
  border-left: 30px solid transparent;
}

#newHelpModal .newHelpModal-step .newHelpModal-step-one-end {
  display: none;
}

#newHelpModal .newHelpModal-step .newHelpModal-step-one-end svg {
  width: 20px;
  height: 20px;
  fill: #9bf333;
}

#newHelpModal .newHelpModal-step .newHelpModal-step-one .newHelpModal-step-horn-bottom {
  border-bottom: 40px solid #23252d;
  border-left: 30px solid transparent;
}

#newHelpModal .newHelpModal-step .newHelpModal-step-two .newHelpModal-step-horn-top {
  border-top: 40px solid #21232b;
  border-left: 30px solid transparent;
}

#newHelpModal .newHelpModal-step .newHelpModal-step-two .newHelpModal-step-horn-bottom {
  border-bottom: 40px solid #21232b;
  border-left: 30px solid transparent;
}

#newHelpModal .newHelpModal-step .newHelpModal-step-title {
  font-family: 'YouSheBiao';
  font-size: 16px;
  vertical-align: bottom;
  margin-top: 1px;
  position: relative;
  z-index: 2;
}

#newHelpModal .newHelpModal-step .newHelpModal-step-title span:nth-child(1) {
  font-size: 42px;
  position: relative;
  bottom: -8px;
}

#newHelpModal .newHelpModal-step .newHelpModal-step-one .newHelpModal-step-title {
  margin-left: 18px;
}

#newHelpModal .newHelpModal-step .newHelpModal-step-two .newHelpModal-step-title,
#newHelpModal .newHelpModal-step .newHelpModal-step-three .newHelpModal-step-title {
  margin-left: 10px;
}

#newHelpModal .newHelpModal-step .newHelpModal-step-two .newHelpModal-step-title span:nth-child(1),
#newHelpModal .newHelpModal-step .newHelpModal-step-three .newHelpModal-step-title span:nth-child(1) {
  color: rgba(255, 255, 255, .05);
}

#newHelpModal .newHelpModal-step .newHelpModal-step-two .newHelpModal-step-title span:nth-child(2),
#newHelpModal .newHelpModal-step .newHelpModal-step-three .newHelpModal-step-title span:nth-child(2) {
  color: rgba(255, 255, 255, .2);
}

#newHelpModal .newHelpModal-step-svg {
  position: absolute;
  bottom: -79px;
  right: -14px;
  width: 84px;
  z-index: 1;
}

#newHelpModal .newHelpModal-step-svg path {
  fill: rgba(255, 255, 255, .03);
}

#newHelpModal .newHelpModal-step .newHelpModal-step-two .newHelpModal-step-svg {
  bottom: -84px;
  right: 0px;
  width: 69px;
}

#newHelpModal .newHelpModal-step .newHelpModal-step-one .newHelpModal-step-svg {
  bottom: -87px;
  right: 3px;
  width: 59px;
}

#newHelpModal .newHelpModal-step .newHelpModal-step-one .newHelpModal-step-one-loading {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 16px;
  right: 20px;
  background: url(../../../images/loading.svg) no-repeat center;
  background-size: 100% 100%;
}

#newHelpModal .newHelpModal-step .newHelpModal-step-one .newHelpModal-step-one-addtext {
  font-size: 12px;
  color: rgba(255, 255, 255, .6);
  line-height: 12px;
  margin-top: -7px;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changeone .newHelpModal-step-one .newHelpModal-step-title {
  display: none;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changeone .newHelpModal-step-one {
  width: 410px;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changeone .newHelpModal-step-two .newHelpModal-step-title,
#newHelpModal .newHelpModal-step.newHelpModal-step-changeone .newHelpModal-step-three .newHelpModal-step-title {
  margin-left: 5px;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changeone .newHelpModal-step-two .newHelpModal-step-title span:nth-child(2),
#newHelpModal .newHelpModal-step.newHelpModal-step-changeone .newHelpModal-step-three .newHelpModal-step-title span:nth-child(2) {
  display: none;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changeone .newHelpModal-step-two .newHelpModal-step-svg,
#newHelpModal .newHelpModal-step.newHelpModal-step-changeone .newHelpModal-step-three .newHelpModal-step-svg {
  display: none;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changeone .newHelpModal-step-two {
  width: 55px;
  background-color: #2c2d35;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changeone .newHelpModal-step-one .newHelpModal-step-horn-top {
  border-top: 40px solid #2c2d35;
  border-left: 30px solid transparent;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changeone .newHelpModal-step-one .newHelpModal-step-horn-bottom {
  border-bottom: 40px solid #2c2d35;
  border-left: 30px solid transparent;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changeone .newHelpModal-step-two .newHelpModal-step-horn-top {
  border-top: 40px solid #22242c;
  border-left: 30px solid transparent;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changeone .newHelpModal-step-two .newHelpModal-step-horn-bottom {
  border-bottom: 40px solid #22242c;
  border-left: 30px solid transparent;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changeone .newHelpModal-step-three {
  width: 32px;
  background-color: #22242c;
}


.newHelpModal-step-media>.media-body {
  width: 262px;
  padding-left: 27px;
  font-size: 12px;
}

.newHelpModal-step-media>.media-body div:nth-child(1) {
  font-family: 'YouSheBiao';
  font-size: 16px;
  color: rgba(255, 255, 255, .3);
  margin-top: 2px;
}

.newHelpModal-step-media>.media-body div:nth-child(1) span:nth-child(1) {
  font-size: 18px;
  position: relative;
  top: 1px;
}

.newHelpModal-step-media>.media-body div:nth-child(1) svg {
  width: 14px;
  height: auto;
  fill: rgba(255, 255, 255, .3);
  position: relative;
  top: 1px;
}

.newHelpModal-step-one-success .media>.media-body div:nth-child(2) {
  margin-top: 2px;
}

.newHelpModal-step-one-success .media>.media-body div:nth-child(3) input {
  width: 210px;
  height: 20px;
  background: rgba(34, 47, 78, 0.28);
  border-radius: 1px;
  font-size: 12px;
  color: rgba(255, 255, 255, .6);
  line-height: 20px;
  padding-left: 8px;
  margin-top: 8px;
  border: none;
}

.newHelpModal-step-one-success .media>.media-right div {
  min-width: 94px;
  text-align: center;
}

.newHelpModal-step-media .btn-air-blue,
.newHelpModal-step-media .btn-green {
  font-family: 'YouSheBiao';
}

.newHelpModal-step-three-end .btn-green {
  font-family: 'YouSheBiao';
}

.newHelpModal-step-one-success .media-right div:nth-child(2) {
  font-family: 'YouSheBiao';
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}


.newHelpModal-step-one-error .media-body div:nth-child(2) {
  margin-top: 12px;
  margin-bottom: 24px;
}

.newHelpModal-step-one-finding .media-body div:nth-child(2) {
  margin-top: 12px;
  margin-bottom: 24px;
}

.newHelpModal-step-one-finding .media-right div {
  font-family: 'YouSheBiao';
  font-size: 16px;
}

.newHelpModal-step-one-finding .media-right div:nth-child(1) {
  background: linear-gradient(180deg, #62EE61 0%, #41E378 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.newHelpModal-step-one-finding .media-right div:nth-child(2) {
  background: linear-gradient(123deg, #5CDBFF 0%, #6BA0FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  white-space: nowrap;
}

.newHelpModal-step-one-finding .media-right div:nth-child(3) {
  background: linear-gradient(153deg, #F8E098 0%, #F0CB78 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.newHelpModal-step-one-finding-over {
  position: absolute !important;
  font-family: none !important;
  font-size: 12px !important;
  color: #FFF !important;
  background: none !important;
  -webkit-text-fill-color: rgba(255, 255, 255, .6) !important;
  text-decoration: underline;
  cursor: pointer;
}

.newHelpModal-step-one-finding-over:hover {
  -webkit-text-fill-color: rgba(255, 255, 255, 1) !important;
}

.newHelpModal-step-changetwo .newHelpModal-step-one .newHelpModal-step-title,
.newHelpModal-step-changetwo .newHelpModal-step-three .newHelpModal-step-title span:nth-child(2) {
  display: none;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changetwo .newHelpModal-step-one {
  width: 42px;
  background: #2c2d35;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changetwo .newHelpModal-step-one .newHelpModal-step-svg,
#newHelpModal .newHelpModal-step.newHelpModal-step-changetwo .newHelpModal-step-three .newHelpModal-step-svg {
  display: none;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changetwo .newHelpModal-step-two {
  width: 416px;
  background: linear-gradient(90deg, #3f62a9 0%, #432a8c 100%);
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changetwo .newHelpModal-step-two::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top: 40px solid transparent;
  border-left: 30px solid #2c2d35;
  border-bottom: 40px solid transparent;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changetwo .newHelpModal-step-three {
  width: 40px;
  background-color: #22242c;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changetwo .newHelpModal-step-one .newHelpModal-step-horn-top {
  border-top: 40px solid #2c2d35;
  border-left: 30px solid transparent;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changetwo .newHelpModal-step-one .newHelpModal-step-one-end {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  /* background-color: red; */
  overflow: hidden;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changetwo .newHelpModal-step-one .newHelpModal-step-horn-bottom {
  border-bottom: 40px solid #2c2d35;
  border-left: 30px solid transparent;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changetwo .newHelpModal-step-two .newHelpModal-step-title {
  display: none;
}

.newHelpModal-step-two-start .media-body div:nth-child(2) {
  margin-top: 12px;
  margin-bottom: 24px;
}

.newHelpModal-step-two-repairing .media-body div:nth-child(2) {
  margin-top: 12px;
  margin-bottom: 24px;
}

.newHelpModal-step-two-repairing .media-right div:nth-child(1) {
  font-family: 'YouSheBiao';
  background: linear-gradient(153deg, #F8E098 0%, #F0CB78 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  white-space: nowrap;
}

.newHelpModal-step-two-repairing .media-right div:nth-child(2) {
  font-family: 'YouSheBiao';
  background: linear-gradient(180deg, #62EE61 0%, #41E378 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  white-space: nowrap;
}

.newHelpModal-step-two-start .media-right span {
  font-family: 'YouSheBiao';
  font-size: 24px;
  position: relative;
  right: -33px;
}

.newHelpModal-step-two .newHelpModal-step-media>.media-body {
  padding-left: 47px;
}

.newHelpModal-step-two-start .media-right span:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 6px;
  left: -24px;
  background: url(../../../images/loading.svg) no-repeat center;
  background-size: 100% 100%;
}

.newHelpModal-step-type {
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.newHelpModal-step-two-error .media-body div:nth-child(2) {
  margin-top: 12px;
  margin-bottom: 24px;
}

.newHelpModal-step-two-test .media-body div:nth-child(2) {
  margin-top: 12px;
  margin-bottom: 24px;
}

.newHelpModal-step-two-test .newHelpModal-step-media>.media-body {
  width: 379px;
}

.newHelpModal-step-two-testerror .media-body div:nth-child(2) {
  margin-top: 12px;
  margin-bottom: 24px;
  color: #FF582C;
}






#newHelpModal .newHelpModal-step.newHelpModal-step-changethree .newHelpModal-step-one {
  width: 72px;
  background: #2c2d35;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changethree .newHelpModal-step-two .newHelpModal-step-title,
#newHelpModal .newHelpModal-step.newHelpModal-step-changethree .newHelpModal-step-one .newHelpModal-step-title {
  display: none;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changethree .newHelpModal-step-one .newHelpModal-step-svg,
#newHelpModal .newHelpModal-step.newHelpModal-step-changethree .newHelpModal-step-two .newHelpModal-step-svg {
  display: none;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changethree .newHelpModal-step-three {
  width: 397px;
  background: linear-gradient(90deg, #3f62a9 0%, #432a8c 100%);
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changethree .newHelpModal-step-three::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top: 40px solid transparent;
  border-left: 30px solid #2f3138;
  border-bottom: 40px solid transparent;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changethree .newHelpModal-step-two {
  width: 30px;
  background-color: #2f3138;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changethree .newHelpModal-step-two .newHelpModal-step-horn-top {
  border-top: 40px solid #2f3138;
  border-left: 30px solid transparent;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changethree .newHelpModal-step-two .newHelpModal-step-horn-bottom {
  border-bottom: 40px solid #2f3138;
  border-left: 30px solid transparent;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changethree .newHelpModal-step-one .newHelpModal-step-horn-top {
  border-top: 40px solid #2f3138;
  border-left: 30px solid transparent;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changethree .newHelpModal-step-one .newHelpModal-step-horn-bottom {
  border-bottom: 40px solid #2f3138;
  border-left: 30px solid transparent;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changethree .newHelpModal-step-one-end {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  /* background-color: red; */
  overflow: hidden;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changethree .newHelpModal-step-two .newHelpModal-step-one-end {
  margin-top: -10px;
  margin-left: -10px;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changethree .newHelpModal-step-three .newHelpModal-step-title {
  display: none;
}

#newHelpModal .newHelpModal-step.newHelpModal-step-changethree .newHelpModal-step-three-end .media-body div:nth-child(1) {
  font-family: 'YouSheBiao';
  line-height: 80px;
  padding-left: 46px;
}

#newHelpModal .newHelpModal-animate-bot {
  margin-left: -4px;
}

.J_NewHelp_startend.btn-green {
  text-align: left;
  padding-left: 19px;
}