@import "./veranda.css";
@import "./rank.css";
@import "./career.css";
@import "./match.css";
@import "../../layouts/settlement.css";
@import "./information.css";
@import "../modal/createRoom.css";

body {
    height: 100vh;
    overflow: hidden;
    opacity: 0;
}

.hall-content {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #3a4348 url(../../../images/hall/hall-bg.jpg) no-repeat center bottom;
}

.version-content {
    position: absolute;
    bottom: 6px;
    left: 28px;
    color: rgba(168, 168, 168, 0.5);
    z-index: 0;
    font-size: 10px;
}

.hall-header {
    height: 60px;
    width: 100%;
    background-color: #1A1C22;
    position: relative;
    -webkit-app-region: drag;
    background: linear-gradient(90deg, #548DFE 0%, #6731EF 100%);
    background: url(../../../images/hall/header-bg.jpg) no-repeat center;
    z-index: 904;
}

.hall-header .header-window .iconfont {
    font-size: 18px;
    color: #696b95;
}

.hall-header .hall-header-logo {
    width: 140px;
    height: 44px;
    z-index: 5;
    background: url('../../../images/hall/hallLogo.png') no-repeat top center;
    background-size: cover;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    -webkit-app-region: no-drag;
    margin-left: 32px;
}

.hall-header .hall-header-logo-en {
    width: 140px;
    height: 44px;
    z-index: 5;
    background: url('../../../images/hall/hallLogoen.png') no-repeat top center;
    background-size: cover;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    -webkit-app-region: no-drag;
    margin-left: 32px;
}

.hall-header .hall-header-left {
    width: 560px;
    height: 60px;
    position: relative;
    padding-left: 9px;
    display: inline-block;
    vertical-align: middle;
    left: 48px;
}

.hall-header-notice-border {
    width: 1px;
    height: 20px;
    background: rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgb(255 255 255 / 10%);
    position: absolute;
    top: 35%;
    left: 218px;
}

.hall-header .hall-header-refresh {
    -webkit-app-region: no-drag;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 25px;
    position: absolute;
    top: 21px;
    left: 171px;
}

.hall-header .hall-header-return {
    -webkit-app-region: no-drag;
    vertical-align: middle;
    margin-left: 46px;
    opacity: 0;
    pointer-events: none;
}

.hall-header .hall-header-notice {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 19px;
    left: 230px;
    z-index: 10;
}

.hall-header .hall-header-notice>img {
    width: 20px;
}

.hall-header .hall-header-notice .hall-header-notice-content {
    width: 124px;
    min-height: 148.5px;
    background: url('../../../images/login/notic-hall-bg-tips.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 41px;
    left: -53px;
    font-size: 12px;
    color: rgba(255, 255, 255, .8);
    padding: 3px 7px 2px 10px;
}

.hall-header .hall-header-notice .hall-header-notice-content:after {
    content: "";
    position: absolute;
    top: -8px;
    left: 0px;
    width: 100%;
    height: 8px;
    background: url(../../../images/login/notic-hall-bg-tips-top.png) no-repeat 100% 100%;
    background-size: 100% 100%;
}

.hall-header .hall-header-notice .hall-header-notice-content:before {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0px;
    width: 100%;
    height: 9px;
    background: url(../../../images/login/notic-hall-bg-tips-bottom.png) no-repeat 100% 100%;
    background-size: 100% 100%;
}

.hall-header-notice.warning .hall-header-notice-content:before {
    background: url(../../../images/login/notic-hall-bg-warning-bottom.png) no-repeat 100% 100%;
    background-size: 100% 100%;
}

.hall-header-notice.warning .hall-header-notice-content:after {
    background: url(../../../images/login/notic-hall-bg-warning-top.png) no-repeat 100% 100%;
    background-size: 100% 100%;
}

.hall-header-notice.warning .hall-header-notice-content {
    background: url('../../../images/login/notic-hall-bg-warning.png') no-repeat;
    background-size: 100% 100%;
    color: rgba(255, 255, 255, 1);
}

.hall-header .hall-header-notice .hall-header-notice-content-close {
    position: absolute;
    right: 2px;
    top: -7px;
    cursor: pointer;
    z-index: 1;
}

.hall-header .hall-header-notice .hall-header-notice-content-close img:nth-child(2) {
    display: none;
}

.hall-header-notice.warning .hall-header-notice-content-close img:nth-child(2) {
    display: inline-block;
}

.hall-header-notice.warning .hall-header-notice-content-close img:nth-child(1) {
    display: none;
}

.hall-header .hall-header-notice .hall-header-notice-content-close img {
    width: 12px;
}

.hall-header .hall-header-returnroom {
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 171px;
    font-size: 12px;
    -webkit-app-region: no-drag;
    width: 34px;
    height: 34px;
    background: url('../../../images/hall/room-bg.png');
    background-size: 100%;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    padding-top: 5px;
    padding-right: 0px;
}

.hall-header .hall-header-returnroom div {
    transform: scale(.8);
}

.hall-header .hall-header-return.active svg path {
    fill: #FFF !important;
}

.hall-header .hall-header-refresh svg path,
.hall-header .hall-header-return svg path {
    fill: #696b95;
    transition: .3s;
}

.hall-header .hall-header-refresh:hover svg path,
.hall-header .hall-header-return:hover svg path {
    fill: #FFF !important;
}

.hall-header .hall-header-left-swiper {
    width: 100%;
    padding: 0px 0px;
    height: 60px;
    overflow: hidden;
    -webkit-app-region: no-drag;
    display: inline-block;
    white-space: nowrap;
}

.hall-header .hall-header-left-swiper-item {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    height: 60px;
    text-align: center;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    color: rgba(255, 255, 255, .6);
    display: inline-block;
    min-width: 70px;
    float: left;
    margin-right: 36px;
    transition: .3s;
    position: relative;
}

.hall-header .hall-header-left-swiper-item span {
    display: inline-block;
    font-weight: 800;
}

.hall-header .hall-header-left-swiper-item.active {
    color: rgba(255, 255, 255, 1);
    border-bottom: 2px solid #6B9EFF;
}

.hall-header .hall-header-left-swiper-item:hover {
    color: #FFF;
}

.hall-header .hall-header-left-swiper-item .hall-header-match-bot {
    position: absolute;
    top: 5px;
    right: -33px;
    width: 46px;
    height: 16px;
    background: linear-gradient(90deg, #548DFE 0%, #6731EF 100%);
    border-radius: 8px;
    line-height: 16px;
    font-size: 12px;
    color: #FFF;
}

.hall-header .hall-header-left-swiper-item:last-child {
    margin-right: 0px;
}

.hall-header .hall-header-right {
    width: 460px;
    height: 60px;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: right;
}


.hall-header .hall-header-user {
    /* width: 140px; */
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    margin-right: 15px;
    text-align: left;
}

.hall-header .hall-header-ping {
    display: inline-block;
    width: 127px;
    text-align: left;
    padding-left: 14px;
    position: relative;
    height: 60px;
    vertical-align: middle;
    line-height: 60px;
    -webkit-app-region: no-drag;
    top: 4px;
}

.hall-header .hall-header-ping-hover {
    white-space: nowrap;
    position: absolute;
    width: 164px;
    background: #1A1C22;
    top: 60px;
    left: -120px;
    z-index: 11;
    color: #A1ADC8;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 80%);
    line-height: 30px;
    font-size: 12px;
    height: 0px;
    overflow: hidden;
    transition: all .2s linear 0s;
}

.hall-header .hall-header-ping .hall-header-ping-span {
    position: absolute;
    top: -3px;
}

.hall-header .hall-header-ping .hall-header-ping-span::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 20px;
    background: rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgb(255 255 255 / 10%);
    position: absolute;
    left: -11px;
    top: 20px;
}

.hall-header .hall-header-ping .hall-header-ping-span:hover .hall-header-ping-hover {
    height: 120px;
}

.hall-header .hall-header-ping-hover .hall-header-ping-bot {
    width: 8px;
    height: 8px;
    background: #A2FF33;
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    margin-right: 3px;
}

.hall-header .hall-header-ping-hover .hall-header-ping-hover-list {
    padding-left: 10px;
}

.hall-header .hall-header-ping-hover .hall-header-ping-right {
    color: #A2FF33;
    margin-left: 40px;
    float: right;
}

.hall-header-ping-hover-list.congestion .hall-header-ping-bot {
    background: #FF4444;
}

.hall-header-ping-hover-list.congestion .hall-header-ping-right {
    color: #FF4444;
}

.hall-header-ping-hover-list.busy .hall-header-ping-bot {
    background: #FFA333;
}

.hall-header-ping-hover-list.busy .hall-header-ping-right {
    color: #FFA333;
}

.J_UserAdmin {
    cursor: pointer;
    color: #FFF;
}

.J_hall-gold-showModal {
    cursor: pointer;
    background: #38397f url(../../../images/hall/header-gold.png) no-repeat top left;
    height: 20px;
    background-size: auto 100%;
    padding-left: 30px;
    display: inline-block;
    border-radius: 10px;
    padding-right: 10px;
    margin-top: -4px;
    min-width: 72px;
}

.J_hall-gold-showModal>span:nth-child(1) {
    line-height: 20px;
    letter-spacing: .5px;
    position: relative;
    top: 1px;
    color: rgba(255, 255, 255, .6);
    font-family: HeadlineA;
    font-size: 15px;
}


#Hall-user {
    overflow: unset;
}

#Hall-user .name-ellipsis {
    padding-left: 2px;
    display: block;
}

#Hall-user .media-right {
    padding: 0px;
}

.hall-header .hall-header-user .user-avatar {
    margin: 9px 0px;
    border-radius: 50%;
    text-align: center;
    margin-right: 0px;
    -webkit-app-region: no-drag;
    cursor: pointer;
    position: relative;
}

/* .J_hall-gold-showModal:hover .gx-btn-befor-img {
    width: 28px !important;
    height: 28px !important;
    opacity: 1 !important;
    position: unset !important;
}

.J_hall-gold-showModal:hover img[alt='gold'] {
    opacity: 0;
    display: none;
} */
#Hall-user * {
    -webkit-app-region: no-drag;
}

.hall-header .hall-header-user .user-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.hall-header-user {
    position: relative;
}

.hall-header .hall-header-fun-item {
    -webkit-app-region: no-drag;
}

.hall-header .hall-header-fun-item:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 20px;
    background: rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgb(255 255 255 / 10%);
    position: absolute;
    left: -10px;
    top: 18px;
}

.hall-header .hall-header-fun-item_icon svg path {
    fill: #696b95;
}

.hall-header .hall-header-fun-item_icon svg {
    position: relative;
    top: 3px;
}

.hall-header .hall-header-fun-item_icon:hover svg path {
    fill: #FFF !important;
}

.hall-header .hall-header-fun-item_icon .iconfont {
    font-size: 20px;
}

.hall-header .hall-header-fun-item_icon .iconfont:hover {
    color: rgba(255, 255, 255, 0.8)
}

.hall-header .hall-header-fun-item_icon .animate-reflection {
    width: 144%;
    height: 33%;
    transform: rotate(70deg);
    background: rgba(255, 255, 255, 0.856);
    position: absolute;
    animation: move 2s infinite 2s;
    top: 12px;
    left: -56px;
}

.hall-header .hall-header-fun-item_icon .iconfont {
    position: relative;
    z-index: 1;
}

@keyframes move {
    from {
        left: -56px;
    }

    to {
        left: 60px;
    }
}


.hall-header-setting-select {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    position: relative;
    top: 4px;
}

.gx-menu-active .gx-menu-ul {
    border: 1px solid #3F599B;
}

.hall-header-setting-select .gx-menu-ul {
    min-width: 100px;
    line-height: 36px;
    font-size: 12px;
    left: -41px;
    border: none;
    max-height: 231px;
    z-index: 20220328;
    border-color: #2e3f6b !important;
    /* background: #1c2743; */
}

.hall-header-setting-select .gx-menu-li {
    text-align: center;
    padding-left: 0;
}

.hall-header-setting-select .gx-menu-ul a {
    display: block;
    color: rgba(255, 255, 255, .8);
}

.hall-header-setting-select .red-bot {
    position: relative;
    right: -5px;
    top: -3px;
}

.hall-header-setting-select .gx-menu-li {
    position: relative;
}

.hall-header-setting-select .gx-menu-li .red-bot {
    position: absolute;
    top: 10px;
    right: 10px;
}

.hall-header-setting-select .hall-header-fun-item_icon .red-bot {
    position: absolute;
    right: -5px;
    top: 16px;
}

.hall-header-setting-select.gx-menu-active .gx-menu-in::after {
    content: "";
    width: 18px;
    height: 9px;
    background: url(../../../images/hall/gx-menu.png);
    background-size: 100%;
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -9px;
    z-index: 20220329;
}

.hall-bg {
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    overflow: hidden;
}

#ActivateCodeModal .modal-dialog {
    width: 481px;
    height: 274px;
    background: url(../../../images/hall/Activate-bg.png) no-repeat center bottom;
    background-size: 100% 100%;
    text-align: center;
    padding: 40px 40px 36px 40px;
}

#ActivateCodeModal .alert-error {
    position: absolute;
    bottom: -29px;
    left: 0px;
}

#ActivateCodeModal .password-list {
    text-align: center;
    margin-top: 48px;
    position: relative;
}

#ActivateCodeModal .password-item {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: linear-gradient(90deg, #212634 0%, #181C27 100%);
    border-radius: 4px;
    border: 1px solid #373E4F;
    margin: 0px 11px;
}

#ActivateCodeModal .gx-img-btn-blue {
    width: 238px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    margin-top: 30px;
}

#ActivateCodeModal .password-input {
    position: absolute;
    background: none;
    outline: none;
    box-shadow: none;
    border: none;
    letter-spacing: 55px;
    width: 100%;
    font-size: 26px;
    top: 2px;
    left: 87px;
}

#ActivateCodeModal .password-input {
    color: transparent;
    /* 光标的颜色*/
    text-shadow: 0px 0px 0px #FFF;
    /* 文本颜色 */
    -webkit-text-fill-color: transparent;
}

.Error_show {
    opacity: 1;
}

#GamebeforModal .modal-dialog {
    width: 370px;
    height: 270px;
    background: #222f4e url(../../../images/gameBefore-bg.png) no-repeat bottom right;
    text-align: center;
    padding: 40px 30px 20px 30px;
    margin: 191.5px auto !important;
}

#GamebeforModal .text-left.mt25 {
    margin-top: 19px;
    margin-bottom: -13px;
}

#GamebeforModal .mt40 {
    margin-top: 26px;
}

#GamebeforModal .modal-dialog .media-body {
    text-align: left;
    padding-left: 5px;
    width: 234px;
}

#GamebeforModal .btn-style {
    min-width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 0 10px;
    border-radius: 2px;
    text-shadow: none;
}


#MapAuthorModal .modal-dialog {
    width: 700px;
    height: 412px;
}

#MapAuthorModal .modal-dialog.MapAuthorModalUpdateTop {}

#MapAuthorModal .gx-modal-content {
    height: auto;
}

#MapAuthorModal .MapAuthorModal-row {
    margin: 0 -5px;
}

#MapAuthorModal .MapAuthorModal-row .col-xs-8,
#MapAuthorModal .MapAuthorModal-row .col-xs-4 {
    padding-left: 5px;
    padding-right: 5px;
}

#MapAuthorModal .MapAuthorModal-modal-navdiv {
    line-height: 34px
}

#MapAuthorModal .MapAuthorModal-modal-navdiva {
    margin-top: 3px;
}

#MapAuthorModal .MapAuthorModal-modal-navdiva a {
    color: rgba(255, 255, 255, .6);
    text-decoration: underline;
    margin-right: 33px;
    font-size: 12px;
}

#MapAuthorModal .MapAuthorModal-modal-navdiva a:hover {
    color: rgba(35, 133, 240, 1);
}

#MapAuthorModal .MapAuthorModal-modal-navdiva a.active {
    color: rgba(107, 158, 255, 1);
}

#MapAuthorModal .MapAuthorModal-modal-nav {
    display: inline-block;
    min-width: 110px;
    height: 34px;
    background: rgba(63, 89, 155, 0.2);
    border-radius: 1px;
    color: rgba(255, 255, 255, .6);
    line-height: 34px;
    text-align: center;
    margin-right: 8px;
    border-radius: 4px;
    font-size: 12px;
}

.J_showMapAuthorModal_updata {
    color: rgba(63, 89, 155, 1);
}

#MapAuthorModal .MapAuthorModal-modal-nav:hover,
#MapAuthorModal .MapAuthorModal-modal-nav.active {
    background: rgba(63, 89, 155, 1);
    color: #FFF;
}

#MapAuthorModal .MapAuthorModal-details .gx-img-middle-btn-blue {
    width: 100%
}

#MapAuthorModal .MapAuthorModal-modal-thead {
    width: 100%;
    height: 30px;
    background: rgba(63, 89, 155, .6);
    border-radius: 1px;
    margin-top: 6px;
    padding-right: 6px;
}

#MapAuthorModal .MapAuthorModal-modal-thead table {
    width: 100%;
    line-height: 30px;
    text-align: center;
    /* background: rgba(63, 89, 155, .6) */
}

#MapAuthorModal .MapAuthorModal-modal-scroll {
    width: 100%;
    height: 224px;
    background: rgba(63, 89, 155, 0.2);
    border-radius: 1px;
    overflow-y: auto;
    overflow-x: hidden;
}

#MapAuthorModal .MapAuthorModal-modal-scroll table {
    width: 100%;
    line-height: 34px;
    text-align: center;
}

#MapAuthorModal .MapAuthorModal-modal-scroll table tr {
    background: transparent;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    /* border-bottom: 1px solid #303647; */
}

#MapAuthorModal .MapAuthorModal-modal-thead-tr td:nth-child(1) {
    text-align: left;
    padding-left: 20px;
}

#MapAuthorModal .MapAuthorModal-modal-scroll table tr td:nth-child(1) {
    text-align: left;
    padding-left: 20px;
}

#MapAuthorModal .MapAuthorModal-modal-scroll table tr:hover {
    color: rgba(255, 255, 255, 1);
    background: rgba(107, 158, 255, .3);
}

#MapAuthorModal .MapAuthorModal-modal-scroll table tr.active {
    color: rgba(255, 255, 255, 1);
    background: rgba(107, 158, 255, .3);
}

#MapAuthorModal .MapAuthorModal-content {
    padding: 25px 20px;
    padding-top: 6px;
}

#MapAuthorModal .MapAuthorModal-content .form-control {
    padding-left: 10px;
}

#MapAuthorModal .MapAuthorModal-map {
    height: 84px;
}

#MapAuthorModal .MapAuthorModal-map .gx-map-name {
    height: 20px;
    line-height: 20px;
}

#MapAuthorModal .MapAuthorModal-update-content .gx-input {
    height: 30px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.6)
}

#MapAuthorModal .MapAuthorModal-text {
    width: 251px;
    height: 140px;
    margin-top: 13px;
    white-space: normal;
    line-height: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow-x: hidden;
    overflow-y: scroll;
}

#MapAuthorModal .MapAuthorModal-left {
    width: 100px;
    display: inline-block;
    text-align: right;
}

#MapAuthorModal .MapAuthorModal-content-page-two .MapAuthorModal-left {
    display: inline-block;
    text-align: left;
    width: 87px;
}

#MapAuthorModal .MapAuthorModal-content-page-two .mt25 {
    margin-top: 19.3px;
}

#MapAuthorModal .MapAuthorModal-content-page-two {
    padding-left: 38px;
}

#MapAuthorModal .MapAuthorModal-content-page-two .MapAuthorModal-right .gx-check:nth-child(2) {
    margin-right: 10px;
}

#MapAuthorModal .MapAuthorModal-content-page-two .MapAuthorModal-left-bot {
    position: absolute;
    top: -1px;
    left: -15px;
    color: #FFF;
}

#MapAuthorModal .MapAuthorModal-content-page-two>div:nth-child(1) {
    font-size: 12px;
    color: rgba(255, 255, 255, .4);
    text-align: center;
    margin-top: -15px;
    margin-left: -38px;
    margin-bottom: 17px;
}

#MapAuthorModal .MapAuthorModal-content-page-two>div:nth-child(2) {
    font-size: 16px;
    color: rgba(255, 255, 255, .6);
    margin-left: -27px;
}

#MapAuthorModal .MapAuthorModal-right {
    display: inline-block;
    width: 180px;
}

#MapAuthorModal .MapAuthorModal-right .btn-middle-blue {
    font-weight: 500;
}



#MapAuthorModal .MapAuthorModal-updata-content {
    padding: 23px 84px 1px 84px;
}

#MapAuthorModal .gx-addbtn {
    min-width: 70px;
}

#MapAuthorModal .MapAuthorModal-updata-content .gx-input {
    width: 100%;
    height: 26px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.6)
}

#MapAuthorModal .MapAuthorModal-mode-item {
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 10px;
}

#MapAuthorModal .MapAuthorModal-istest-item {
    display: inline-block;
    margin-right: 10px;
}

#MapAuthorModal .MapAuthorModal-add-div {
    width: 100%;
    height: 70px;
    background: rgba(63, 89, 155, 0.2);
    border-radius: 4px;
    border: 1px solid #373E4F;
    vertical-align: top;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px 0px 0px 10px;
}

#MapAuthorModal .MapAuthorModal-add-div input {
    display: none;
}

#MapAuthorModal .MapAuthorModal-add-div label:before {
    display: none;
}

#MapAuthorModal .MapAuthorModal-add-div-show input {
    display: inline-block;
}

#MapAuthorModal .MapAuthorModal-add-div-show label:before {
    display: inline-block;
}

#MapAuthorModal .MapAuthorModal-left-bot {
    position: absolute;
    top: -1px;
    left: 17px;
    color: #FFF;
}

.MapAuthorModal-update-content .gx-modal-header .ft-indigo-light {
    font-size: 16px;
}

#NormalHeightModal .gx-modal-smell {
    height: 277px;
    background-size: 100% 100%;
}


#UpdataModal .updata-progress {
    width: 80%;
    margin: 0 auto;
}

.hall-notice-item {
    display: inline-block;
    padding-left: 45px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    letter-spacing: 2px;
}

.hall-notice-item:hover {
    color: #FFF;
}

#noticeModal .gx-modal-content {
    height: auto;
    min-height: 500px;
}

#noticeModal .noticeModal-foot-item-next {
    float: right;
}

#noticeModal .noticeModal-foot {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0px;
    padding: 0px 20px;
}

#noticeModal .noticeModal-foot-item {
    display: inline-block;
}

#noticeModal .noticeModal-foot-text {
    width: 154px;
    cursor: pointer;
}

#noticeModal .gx-modal-header {
    -webkit-app-region: no-drag;
    padding: 0px;
    padding-left: 20px;
    line-height: 50px;
}

#noticeModal .noticeModal-content {
    padding: 20px 20px 40px 20px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.noticeModal-foot {}

#noticeModal .gx-modal-header .header-window {
    top: 0px;
}

.hall-notice-icon {
    position: absolute;
    top: 10px;
    left: 18px;
    line-height: 32px;
}

.hall-notice-icon path {
    fill: #FFF;
}

.rankMapModal-content-map-name-img {
    width: 17px;
    height: 17px;
    background: url(../../../images/gamelogo/version1-34.png);
    background-size: 17px 17px;
}

.inhall {
    padding: 0px !important;
    padding-left: 6px;
    top: 60px;
    right: 61px;
    outline: none;
}

.inhall .modal-dialog {
    width: 100%;
    height: calc(100VH - 60px);
    background: rgba(83, 81, 84, 1) url(../../../images/details/details-bg.jpg) no-repeat bottom left;
    background-size: 1280px 720px;
    padding: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0px !important;
    outline: none;
}

#skinModal .gx-modal-smell {
    width: 400px;
    height: 230px;
}

#skinModal .skinModal-content-title {
    text-align: center;
    font-size: 16px;
    color: rgba(255, 255, 255, .6);
    margin-top: -4px;
    margin-bottom: 20px;
}

#skinModal .skinModal-content-img {
    width: 175px;
    height: 100px;
    border: 1px solid transparent;
    cursor: pointer;
}

#skinModal .row {
    margin-right: 11px;
    margin-left: 11px;
}

#skinModal .row .col-xs-6 {
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    position: relative;
}

#skinModal .row .col-xs-6>div:nth-child(2) {
    font-size: 12px;
    margin-top: 10px;
}

#skinModal .row .col-xs-6>div>img:nth-child(2) {
    position: absolute;
    bottom: 32px;
    right: 15px;
    opacity: 0;
}

#skinModal .row .col-xs-6>div.active>img:nth-child(2) {
    opacity: 1;
}

#skinModal .row .col-xs-6>div.active .skinModal-content-img {
    border: 1px solid #609441;
    border-radius: 5px;
}

#volumeModal .volume-content {
    position: relative;
    width: 400px;
    height: 440px;
    left: 440px;
    top: 130px;
    border-radius: 4px;
}

#volumeModal .volume-option-item input {
    width: 270px;
    height: 10px;
}

#volumeModal .volume-option-item {
    padding-left: 59px;
    padding-right: 43px;
    margin-bottom: 15px;
}

#volumeModal .volume-option-item-text {
    margin-bottom: 15px;
    padding-left: 43px;
    color: rgba(255, 255, 255, 0.6)
}

#volumeModal .volume-option-item .volume-swich {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#volumeModal .volume-option-item .gx-swich-num {
    background: none;
    width: auto;
    height: auto;
    margin-left: 3px;
}

#volumeModal .volume-option-item .gx-swich-content {
    width: 90%;
    margin-top: 12px;
}

#volumeModal .volume-option-item .rangeslider {
    height: 6px;
    background: rgba(63, 89, 155, 0.4);
    border-radius: 8px;
}

#volumeModal .volume-option-item .rangeslider__handle {
    top: -6px;
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    border: 1px solid #6B9EFF;
    border-radius: 50%;
}

#volumeModal .rangeslider__fill {
    height: 6px;
    background: #6B9EFF;
    border-radius: 8px;
}

#volumeModal .volume-mute-option .rangeslider {
    background: rgba(136, 136, 136, 0.6) !important;
}

#volumeModal .volume-option-item .rangeslider__handle {
    border: 1px solid #BBBBBB !important;
}

#volumeModal .volume-mute-option .rangeslider__fill {
    background: #BBBBBB !important;
}

#volumeModal .volume-option-item .volume-mute-div {
    margin-top: 5px;
    margin-left: 7px;
    cursor: pointer;
}

#volumeModal .volume-option-item .volume-mute-div img {
    position: absolute;
}

#volumeModal .volume-option-item .volume-mute-div .volume-mute-svg {
    display: none;
}

#volumeModal .volume-option-item .volume-mute-div.volume-mute .volume-mute-svg {
    display: block;
}

#volumeModal .volume-option-item .volume-mute-div.volume-mute .volume-sound-svg {
    display: none;
}

#detailsSwiper iframe {
    width: 1230px;
    height: 660px;
    position: relative;
    /* left: 8px; */
}



#startModal .startModal-content {
    text-align: center;
    background: url('../../../images/modal/start/bg.png');
    background-size: 100% 100%;
    width: 340px;
    height: 140px;
    border-radius: 8px;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
}

@property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
}

@property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
}

:root {
    --d: 5000ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgb(12 164 0 / 100%);
    --c2: rgb(12 164 0 / 10%);
}



#startModal .startModal-content::after {
    position: absolute;
    content: "";
    top: -4px;
    left: -4px;
    z-index: -1;
    width: 348px;
    height: 148px;
    border: 10px solid;
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) .4turn) 30;
    animation: borderRotate var(--d) linear infinite forwards;
    filter: blur(8px)
}

@keyframes borderRotate {
    100% {
        --angle: 450deg;
    }
}

@keyframes borderRadial {
    20% {
        --gradX: 100%;
        --gradY: 50%;
    }

    40% {
        --gradX: 100%;
        --gradY: 100%;
    }

    60% {
        --gradX: 50%;
        --gradY: 100%;
    }

    80% {
        --gradX: 0%;
        --gradY: 50%;
    }

    100% {
        --gradX: 50%;
        --gradY: 0%;
    }
}

/* @property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}

#startModal .startModal-content::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate), #42604D, #8CFD05 43%, #40E378);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
} */

#startModal .gx-modal-smell-dialog {
    width: 340px;
    height: 140px;
}

#startModal .startModal-content-en {
    height: 8px;
    position: absolute;
    top: 11px;
    left: 13px;
}

#startModal .startModal-content-logo {
    height: 80px;
    margin-top: 9px;
}

#startModal .startModal-content-progress {
    width: 240px;
    height: 6px;
    background: #21352D;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.22);
    border-radius: 12px;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 7px;
}

#startModal .startModal-content-bar {
    transition: width .3s linear;
    width: 0%;
    height: 6px;
    background: linear-gradient(90deg, #8CFD05 0%, #40E378 100%);
    border-radius: 12px;
}

#startModal .startModal-content-text {
    color: #56D05A;
    font-size: 10px;
}

#AntiCheatingModal {
    z-index: 1015;
}

#AntiCheatingModal .AntiCheating-bg {
    background: #121213 url('../../../images/modal/ant/bg.png') no-repeat;
    background-size: 100% auto;
    overflow: hidden;
    min-height: 657px;
    padding-bottom: 30px;
}

#AntiCheatingModal .AntiCheating-content {
    width: 872px;
    margin: 0 auto;
    position: relative;
}

#AntiCheatingModal .AntiCheating-title {
    margin: 0 auto;
    background-size: 100% auto;
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    text-shadow: 0px 0px 5px #FFF;
}

#AntiCheatingModal .AntiCheating-date {
    margin-top: 28px;
    width: 100%;
    border-bottom: 1px solid rgba(216, 216, 216, .2);
    padding-bottom: 23px;
    text-align: center;
}

#AntiCheatingModal .AntiCheating-date .AntiCheating-date-div {
    display: inline-block;
    width: 45px;
    height: 64px;
    position: relative;
    vertical-align: middle;
}

#AntiCheatingModal .AntiCheating-date .AntiCheating-date-div .AntiCheating-date-div-top {
    width: 45px;
    height: 31.5px;
    background: rgba(255, 255, 255, .8);
    border-radius: 4px 4px 0px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#AntiCheatingModal .AntiCheating-date .AntiCheating-date-div .AntiCheating-date-div-bottom {
    width: 45px;
    height: 31.5px;
    background: rgba(255, 255, 255, .8);
    border-radius: 0px 0px 4px 4px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#AntiCheatingModal .AntiCheating-date .AntiCheating-date-div .AntiCheating-date-div-num {
    font-size: 58px;
    color: #182024;
    position: relative;
    z-index: 1;
    font-weight: 600;
    line-height: 64px;
    width: 100%;
    text-align: center;
    font-family: RobotoBold;
}

#AntiCheatingModal .AntiCheating-date .AntiCheating-date-border {
    display: inline-block;
    width: 14px;
    height: 5px;
    background: #D8D8D8;
    vertical-align: middle;
    margin: 0 5px;
}

#AntiCheatingModal .AntiCheating-top {
    display: flex;
    justify-content: space-around;
    margin-right: -12px;
    margin-left: -12px;
    padding-top: 26px;
}

#AntiCheatingModal .AntiCheating-top .AntiCheating-top-div {
    display: inline-block;
    width: 200px;
    height: 100px;
    background: linear-gradient(180deg, rgba(250, 250, 250, 0.03) 0%, rgba(80, 92, 203, 0.1) 100%);
    border-radius: 1px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

#AntiCheatingModal .AntiCheating-top .AntiCheating-top-div .AntiCheating-top-div-num {
    font-size: 58px;
    line-height: 65px;
}

#AntiCheatingModal .AntiCheating-top .AntiCheating-top-div .AntiCheating-top-div-text {
    font-size: 16px;
    color: rgba(107, 158, 255, .6);
}

#AntiCheatingModal .AntiCheating-text {
    overflow: hidden;
    text-align: center;
    height: 0px;
    overflow: hidden;
    opacity: 0;
}

#AntiCheatingModal .AntiCheating-text .AntiCheating-text-title {
    font-size: 16px;
    padding-top: 13px;
    padding-bottom: 10px;
    font-weight: 800;
}

#AntiCheatingModal .AntiCheating-text .AntiCheating-text-text {
    font-size: 12px;
    color: rgba(255, 255, 255, .5);
    text-align: left;
    width: 820px;
    margin: 0 auto;
}

#AntiCheatingModal .AntiCheating-nav {
    margin-top: 25px;
    border: 1px solid rgba(255, 255, 255, .2);
    display: inline-block;
    height: 30px;
    overflow: hidden;
    border-radius: 4px;
}

#AntiCheatingModal .AntiCheating-nav .AntiCheating-nav-item {
    display: inline-block;
    line-height: 30px;
    color: #FFF;
    min-width: 100px;
    padding: 0 10px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

#AntiCheatingModal .AntiCheating-nav .AntiCheating-nav-item:nth-child(2) {
    border-right: 1px solid rgba(255, 255, 255, .2);
    border-left: 1px solid rgba(255, 255, 255, .2);
    margin: 0px -4.5px;
}

#AntiCheatingModal .AntiCheating-nav .AntiCheating-nav-item.active {
    background: #494949;
}

#AntiCheatingModal .AntiCheating-list {
    background: rgba(24, 24, 25, .8);
    border-radius: 4px;
    margin-top: 15px;
}

#AntiCheatingModal .AntiCheating-list .AntiCheating-list-title {
    border-bottom: 1px solid rgba(216, 216, 216, .2);
    height: 60px;
    line-height: 60px;
}

#AntiCheatingModal .AntiCheating-list .AntiCheating-list-title-th {
    display: inline-block;
    width: 19%;
    text-align: center;
}

#AntiCheatingModal .AntiCheating-list .AntiCheating-list-content {
    margin-top: 6px;
}

#AntiCheatingModal .AntiCheating-list .AntiCheating-list-content .AntiCheating-list-item {
    height: 48px;
    line-height: 48px;
}

#AntiCheatingModal .AntiCheating-list .AntiCheating-list-content .AntiCheating-list-item:nth-child(2n-1) {
    background: rgba(255, 255, 255, .1)
}

#AntiCheatingModal .AntiCheating-list .AntiCheating-list-content .AntiCheating-list-item .AntiCheating-list-item-td {
    display: inline-block;
    width: 19%;
    text-align: center;
}

#AntiCheatingModal .AntiCheating-list .AntiCheating-list-content .AntiCheating-list-item .AntiCheating-list-item-td:nth-child(1),
#AntiCheatingModal .AntiCheating-list .AntiCheating-list-content .AntiCheating-list-item .AntiCheating-list-item-td:nth-child(5) {
    color: #FF4444;
}


#AntiCheatingModal .AntiCheating-bot {
    position: absolute;
    top: 4px;
    right: 0px;
    color: #FF4444;
    opacity: .6;
    cursor: pointer;
}

#AntiCheatingModal .AntiCheating-bot:hover {
    opacity: 1;
}

#AntiCheatingModal .AntiCheating-bot svg {
    fill: #FF4444;
    vertical-align: middle;
}

#AntiCheatingminModal .modal-dialog {
    width: 500px;
    height: 480px;
    background: #21232B;
    border-radius: 2px;
    overflow: hidden;
}

#AntiCheatingminModal .AntiCheatingmin-top {
    height: 80px;
    text-align: center;
    background: url(../../../images/modal/ant/modal-top.png) no-repeat center;
    background-size: 100%;
    padding-top: 32px;
}

#AntiCheatingminModal .AntiCheatingmin-top img {
    height: 15px;
}

#AntiCheatingminModal .AntiCheatingmin-content {
    margin: 0 35px;
    padding-top: 26px;
    overflow: hidden;
}

#AntiCheatingminModal .AntiCheatingmin-content-title {
    color: #FFFFFF;
    margin-bottom: 12px;
    font-weight: 800;
}

#AntiCheatingminModal .AntiCheatingmin-content-text {
    text-indent: 2em;
    font-size: 12px;
    line-height: 30px;
    color: rgba(255, 255, 255, .8)
}

#AntiCheatingminModal .AntiCheatingmin-content-bottom {
    position: absolute;
    width: 100%;
    bottom: 28px;
    left: 0;
    height: 16px;
    background: url(../../../images/modal/ant/modal-bottom.png) no-repeat center;
    background-size: auto 100%;
}

#AntiCheatingminModal #AntiCheatingmin-content-a {
    background: #313748;
    color: #6899f5;
    display: inline-block;
    text-indent: 0px;
    padding: 0px 8px;
    border-radius: 11px;
    height: 22px;
    line-height: 22px;
    cursor: pointer;
    font-weight: 800;
}

#AntiCheatingminModal #AntiCheatingmin-content-a svg {
    fill: #6899f5;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

#AntiCheatingmin-content-a-input {
    position: absolute;
    top: 2000px;
}

#DownMapModal .modal-dialog {
    background-color: #1a2d41;
    width: 420px;
    height: 180px;
}

#DownMapModal .DownMapModal-content {
    width: 420px;
    height: 180px;
    background-color: #1a2d41;
    text-align: center;
    padding-top: 30px;
}

#DownMapModal .DownMapModal-content div:nth-child(1) {
    font-size: 20px;
    font-weight: 700;
}

#DownMapModal .DownMapModal-content div:nth-child(2) {
    font-size: 14px;
    margin-top: 5px;
}

#DownMapModal .DownMapModal-content div:nth-child(3) {
    font-size: 14px;
    margin-top: 15px;
}

#DownMapModal .DownMapModal-content .DownMapModal-zip {
    width: 80%;
    height: 12px;
    border: 1px solid;
    border-color: rgba(151, 151, 151, .5);
    border-radius: 6px;
    padding: 2px 3px;
    margin: 0 auto;
    margin-top: 5px;
}

#DownMapModal .DownMapModal-content .DownGameModal-bor {
    width: 0%;
    height: 6px;
    background: linear-gradient(90deg, #3F79EE 0%, #5EFAED 100%);
    border-radius: 3px;
    transition: width .2s ease;
}

#welcomeModal .modal-dialog {
    width: 500px;
    background: #282a32;
}

#welcomeModal .welcomeModal-bg img {
    width: 500px;
    height: 153px;
    cursor: pointer;
}

#welcomeModal .media {
    white-space: nowrap;
}

#welcomeModal .media-right {
    text-align: right;
}

#welcomeModal .welcomeModal-text {
    font-size: 14px;
    font-family: 'YouSheBiao';
    letter-spacing: 1px;
    line-height: 25px;
}

#welcomeModal .welcomeModal-text-gold {
    background: linear-gradient(137deg, #FFECA2 0%, #F6C765 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 3px;
    letter-spacing: 0px;
}

#welcomeModal img[alt="coin"] {
    margin: 0 -10px;
    position: relative;
    top: -1px;
}

#welcomeModal .gx-check label {
    color: rgba(90, 101, 133, 1);
}

#welcomeModal .gx-check label:before {
    top: 8.5px;
}

#welcomeModal .modal-dialog>div:nth-child(2) {
    padding: 8px 15px 3px 15px;
}

#welcomeModal .btn-green {
    font-size: 14px;
    min-width: 60px;
    line-height: 24px;
    height: 24px;
    display: inline-block;
    font-family: 'YouSheBiao';
    margin-bottom: 10px;
}

.translate-hallpage-header {
    z-index: 1020;
    position: relative;
}

#competition>iframe {
    width: 1220px;
    height: 660px;
    opacity: .1;
    transition: all .3s linear 0s;
}

.hall-content-en .gx-animate-btn {
    letter-spacing: 0px;
}