.information-content {
    margin-top: 36px;
    width: 1180px;
    height: 607px;
    height: 580px;
    background-size: cover;
    /* margin: 20px auto; */
    margin-left: 28px;
}

.information-content>.row {
    margin-right: -6px;
    margin-left: -6px;
    height: 100%;
}

.information-content>.row>.col-xs-6 {
    padding-right: 6px;
    padding-left: 6px;
    height: 100%;
}

.information-content>.row>.col-xs-6:nth-child(1) {
    width: 55%;
}

.information-content>.row>.col-xs-6:nth-child(2) {
    width: 44.64%;
}

.information-content .information-left-scroll {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.information-content .information-left-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(107, 158, 255, .2);
    width: 4px;
}

.information-content .information-left-scroll::-webkit-scrollbar {
    width: 4px;
}

.information-content .information-left-scroll .information-left-item {
    width: 630px;
    /* height: 240px; */
    background: rgba(63, 89, 155, 0.3);
    border-radius: 4px;
    margin-bottom: 14px;
    padding: 20px;
    color: rgba(255, 255, 255, .6);
    position: relative;
    cursor: pointer;
    padding-bottom: 42px;
}

.information-content .information-left-scroll .information-left-item .information-left-item-header {
    line-height: 26px;
}

.information-content .information-left-scroll .information-left-item .information-left-item-header .name-ellipsis {
    vertical-align: middle;
    font-size: 18px;
    color: #FFFFFF;
    max-width: 500px;
}

.information-content .information-left-scroll .information-left-item .information-left-item-header .information-left-item-header-time {
    float: right;
    font-size: 12px;
}

.information-left-item .information-left-item-typeone .information-left-item-header-text {
    margin-top: 15px;
    font-size: 12px;
    line-height: 28px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.information-left-item .information-left-item-typeone>.row {
    margin-right: -5px;
    margin-left: -5px;
    margin-top: 10px;
}

.information-left-item .information-left-item-typeone>.row>.col-xs-3 {
    padding-right: 5px;
    padding-left: 5px;
}

.information-left-item .information-left-item-typeone .information-left-item-typeone-img {
    width: 100%;
    height: 70px;
    overflow: hidden;
    border-radius: 4px;
    background: #FFF;
}

.information-left-item .information-left-item-typeone .information-left-item-typeone-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.information-left-item .information-left-item-typeone .information-left-item-typeone-img.information-left-item-typeone-img-isIframe {
    width: 272px;
    height: 136px;
    position: relative;
}

.information-left-item .information-left-item-typeone .information-left-item-typeone-img.information-left-item-typeone-img-isIframe img:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -23px;
    margin-left: -23px;
    width: 47px;
    height: auto;
}

.information-left-item .information-left-item-typetwo .information-left-item-video {
    width: 272px;
    height: 136px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 15px;
}

.information-left-item .information-left-item-typetwo .information-video-mock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.information-left-item .information-left-item-typetwo .information-left-item-video img[alt="background"] {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.information-left-item .information-left-item-typetwo .information-left-item-video img[alt="play"] {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -23px;
    margin-left: -23px;
}

.information-left-item .information-left-item-typetwo .information-left-item-video span:nth-child(4) {
    position: absolute;
    bottom: 6px;
    right: 6px;
    background-color: rgba(0, 0, 0, .4);
    color: #FFF;
    font-size: 14px;
    padding: 0px 10px;
    line-height: 20px;
}

.information-left-item .information-left-item-typethree {
    margin-top: 15px;
}

.information-left-item .information-left-item-typethree>.row>.col-xs-5 {
    height: 144px;
    width: 44.5%;
}

.information-left-item .information-left-item-typethree>.row>.col-xs-5 div {
    font-size: 12px;
    line-height: 28px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    word-wrap: break-word;
}

.information-left-item .information-left-item-typethree>.row>.col-xs-6 {}

.information-left-item .information-left-item-typethree>.row>.col-xs-6 div {
    width: 290px;
    height: 144px;
    overflow: hidden;
    border-radius: 4px;
}

.information-left-item .information-left-item-typethree>.row>.col-xs-6 div img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.information-left-item .information-left-item-bottom {
    position: absolute;
    width: 100%;
    color: #FFF;
    width: 100%;
    bottom: 15px;
    left: 20px;
    font-size: 12px;
}

.information-content .information-right-top {
    height: 210px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.information-content .information-right-top .information-right-top-swiper {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.information-content .information-right-top .information-right-top-swiper .swiper-slide {
    height: 100%;
}

.information-content .information-right-top .information-right-top-swiper .swiper-slide img[alt="banner"] {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}

.information-content .information-right-top .information-right-top-swiper-nav {
    background: #20212F;
    border-radius: 0px 0px 4px 4px;
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.information-right-top-swiper-nav .information-right-top-swiper-nav-item {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    float: left;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    padding: 0px 10px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: .3s;
    color: rgba(255, 255, 255, .8);
    position: relative;
}

.information-right-top-swiper-nav .information-right-top-swiper-nav-item:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 30px;
    background: rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgb(255 255 255 / 10%);
    position: absolute;
    top: 0px;
    right: 1px;
}

.information-right-top-swiper-nav .information-right-top-swiper-nav-item:first-child:after {
    display: none;
}

.information-right-top-swiper-nav .information-right-top-swiper-nav-item:last-child:after {
    display: none;
}

.information-right-top-swiper-nav .information-right-top-swiper-nav-item.active {
    background: rgba(63, 89, 155, .6);
    border-bottom: 1px solid #6B9EFF;
    color: rgba(255, 255, 255, 1);
}

.information-right-top-swiper-nav .information-right-top-swiper-nav-item.active:after {
    display: none;
}

.information-content .information-right-bottom {
    height: 355px;
}

.information-content .information-right-bottom>.row {
    margin-right: -10px;
    margin-left: -10px;
    height: 100%;
}

.information-content .information-right-bottom>.row>.col-xs-6 {
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
}

.information-content .information-right-bottom-right-div {
    background-color: rgba(63, 89, 155, 0.3);
    height: 100%;
    border-radius: 4px;
}

.information-content .information-right-bottom-right-div-header {
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.information-content .information-right-bottom-right-div-header * {
    vertical-align: middle;
}

.information-right-bottom-right .information-right-bottom-right-div-header {
    background: url('../../../images/hall/information/right-bg.png') no-repeat;
    padding-left: 12px;
    background-size: 100% 100%;
}

.information-right-bottom-top .information-right-bottom-right-div-header {
    background: #3F599B;
    padding-left: 12px;
    background-size: 100% 100%;
    border-radius: 4px 4px 1px 1px;
    margin-bottom: 14px;
}

.information-right-bottom-left .information-right-bottom-right-div-header {
    background: url('../../../images/hall/information/left-bg.png') no-repeat;
    background-size: 100% 100%;
    padding-left: 14px;
}

.information-content .information-right-bottom-right-div-header img[alt='logo'] {
    width: 40px;
    margin-right: 4px;
}

.information-right-bottom-top-content {
    padding: 0 14px;
}

.information-right-bottom-top-content .information-right-bottom-top-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    cursor: pointer;
}

.information-right-bottom-top-content .information-right-bottom-top-item .information-right-bottom-top-item-left {
    position: relative;
    width: 100px;
    height: 50px;
    overflow: hidden;
}

.information-right-bottom-top-content .information-right-bottom-top-item .information-right-bottom-top-item-right {
    width: 112px;
    height: 50px;
}

.information-right-bottom-top-content .information-right-bottom-top-item .information-right-bottom-top-item-left .information-hot-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.information-right-bottom-top-content .information-right-bottom-top-item .information-right-bottom-top-item-left .information-hot-video {
    width: 100px;
    height: 50px;
}

.information-right-bottom-top-content .information-right-bottom-top-item .information-right-bottom-top-item-left .information-hot-video .information-hot-video-background {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.information-right-bottom-top-content .information-right-bottom-top-item .information-right-bottom-top-item-left .information-hot-video .information-hot-video-svg {
    position: absolute;
    margin-top: 15px;
    margin-left: 40px;
}

.information-right-bottom-top-content .information-right-bottom-top-item .information-right-bottom-top-item-left .information-hot-video span {
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 12px;
}

.information-right-bottom-top-content .information-right-bottom-top-item .information-right-bottom-top-item-right .information-hot-title {
    font-size: 12px;
    height: 32px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-wrap: break-word;
}

.information-right-bottom-top-content .information-right-bottom-top-item .information-right-bottom-top-item-right .information-hot-browse {
    font-size: 10px;
    color: #6B9EFF;
    line-height: 10px;
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.information-right-bottom-top-content .information-right-bottom-top-item .information-right-bottom-top-item-right .information-hot-browse img {
    margin-right: 4px;
}

.information-content .information-right-bottom-right-div-header div {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    border: 1px solid #FFF;
    position: absolute;
    right: 14px;
    top: 50%;
    margin-top: -10px;
    border-radius: 11px;
    padding: 0px 10px;
    cursor: pointer;
}

.information-right-bottom-left .information-right-bottom-right-div-header div:hover {
    border: 1px solid rgba(255, 255, 255, .8);
    color: rgba(255, 255, 255, .8)
}

.information-content .information-right-bottom-border {
    width: 1px;
    height: 36px;
    background: rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgb(255 255 255 / 10%);
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -18px;
}

.information-right-bottom-left-item {
    padding-left: 26px;
    margin: 9px 0px;
    margin-bottom: 18px;
}

.information-right-bottom-left-item .media {
    overflow: unset;
}

.information-right-bottom-left-item>.media>.media-body {
    position: relative;
    width: 58px;
    overflow: unset;
}

.information-right-bottom-left-item img[alt="no"] {
    width: 31px;
    margin-right: 18px;
}

.information-right-bottom .circular-avatar {
    position: relative;
    display: inline-block;
}

.information-right-bottom-left-item .media-right {
    font-size: 10px;
    color: rgba(255, 255, 255, .6)
}

.information-right-bottom-left-item .media-right .name-ellipsis {
    display: block;
    color: #FFF;
    max-width: 80px;
}

.information-right-bottom-right-item {
    padding-left: 26px;
    margin: 14px 0px;
    margin-bottom: 18px;
    cursor: pointer;
}

.information-right-bottom-right-item .circular-avatar {
    width: 40px;
    position: relative;
}

.information-right-bottom-right-item .media {
    overflow: unset
}

.information-right-bottom-right-item .media-left {
    position: relative;
    width: 56px;
}

.information-right-bottom-right-item .name-ellipsis {
    max-width: 126px;
    vertical-align: middle;
    font-size: 12px;
}

.information-right-bottom-right-item-bot {
    /* width: 71px;
    height: 16px; */
    font-size: 10px;
    background: rgba(63, 89, 155, 0.4);
    border-radius: 9px;
    display: inline-block;
    padding: 0px 8px;
    color: rgba(255, 255, 255, .6)
}

.information-right-bottom-right-item .gx-onlive {
    position: absolute;
    bottom: 0px;
    right: 14px;
}

#informationvideoModal {
    z-index: 1060;
}

#informationvideoModal video {
    height: 399px;
}

#informationvideoModal .modal-dialog {
    width: auto;
    text-align: center;
}

#informationtextModal {
    z-index: 900;
}

#informationtextModal .modal-dialog {
    overflow: hidden;
}

#informationtextModal .informationtext-right {
    width: 250px;
    position: absolute;
    z-index: 3;
    height: auto;
    right: 70px;
    bottom: 0;
}

#informationtextModal .informationtext-left {
    /* margin-top: 34px; */
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100VH - 106px);
    margin-top: 34px;
}

#informationtextModal .informationtext-content {
    width: 800px;
    min-height: 614px;
    background: rgba(63, 89, 155, 0.4);
    border-radius: 1px;
    /* margin-top: 34px; */
    margin-left: 82px;
    border-radius: 6px;
}

#informationtextModal .informationtext-body {
    padding: 20px;
}

#informationtextModal .informationtext-body iframe {
    width: 100%
}

#informationtextModal .informationtext-right .information-right-bottom-right-div {
    padding-bottom: 1px;
    margin-bottom: 11px;
    min-height: 311px;
}

#informationtextModal .informationtext-right .information-right-bottom-left-item .media-body .information-right-bottom-border {
    right: -15px;
}

#informationtextModal .informationtext-right .information-right-bottom-left-item .media-right {
    padding-left: 30px;
}

#informationtextModal .informationtext-right .information-right-bottom-left-item .media-left {
    padding: 0;
}

#informationtextModal .informationtext-right .information-right-bottom-left-item .media-body {
    width: 40px;
}

#informationtextModal .informationtext-border {
    width: 100%;
    height: 1px;
    background: rgba(63, 89, 155, 0.4);
    margin-top: 17px;
}

#informationtextModal .informationtext-header {
    width: 100%;
    height: 40px;
    background: #3F599B;
    line-height: 40px;
    padding-left: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 2;
    border-radius: 6px 6px 0px 0px;
}

#informationtextModal .informationtext-title {
    font-weight: 600;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
}

#informationtextModal .informationtext-time {
    color: rgba(255, 255, 255, .6);
    font-size: 12px;
    display: inline-block;
    margin-top: 14px;
}

#informationtextModal .informationtext-num {
    position: absolute;
    right: 42px;
    top: 14px;
}

#informationtextModal .informationtext-name {
    position: absolute;
    left: 0px;
    top: 14px;
}

#informationtextModal .informationtext-text {
    width: 764px;
    margin: 0 auto;
    font-size: 12px;
    color: rgba(255, 255, 255, .6);
    margin-top: 20px;
    word-wrap: break-word;
}

#informationtextModal .informationtext-text img {
    max-width: 100%;
    height: auto;
}

#informationtextModal .informationtext-right .information-right-bottom-left .information-right-bottom-left-content {
    pointer-events: none;
}

#informationtextModal .informationtext-right .information-right-bottom-right .information-right-bottom-right-div {
    min-height: 293px;
}

#informationliveModal .modal-dialog {
    overflow: hidden;
}

#informationliveModal .informationliveModal-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    /* background: linear-gradient(90deg, #548DFE 0%, #6731EF 100%); */
    border-radius: 1px;
}

#informationliveModal .informationliveModal-top {
    width: 100%;
    height: 60px;
    background: linear-gradient(90deg, rgba(84, 141, 254, .6) 0%, rgba(103, 49, 239, .6) 100%);
    border-radius: 1px;
    padding-left: 44px;
}

#informationliveModal .informationliveModal-top .inmodal-close {
    top: 19px;
}

.informationtext-content .inmodal-close {
    cursor: pointer;
    position: relative;
    right: 0;
    top: 0;
    color: #FFF;
}

#informationliveModal .informationliveModal-top .media {
    margin-top: 0px;
}

#informationliveModal .media-left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 5px;
}

#informationliveModal .media-left,
.media>.pull-left {
    padding-right: 0px;
}

#informationliveModal .media-right div:nth-child(2) {
    font-size: 12px;
    margin-top: 4px;
    color: rgba(255, 255, 255, .6)
}

#informationliveModal .media-right div:nth-child(2) div {
    display: inline-block;
    background: #6B9EFF;
    margin-left: 8px;
    font-size: 10px;
    padding: 0px 5px;
    line-height: 16px;
    border-radius: 8px;
}

#informationliveModal .informationliveModal-bottom {
    height: 601px;
    position: relative;
}

#informationliveModal .informationliveModal-bottom iframe {
    width: 100%;
    height: 100%;
}

#informationliveModal .informationliveModal-bottom .informationliveModal-mock {
    width: 100%;
    height: 94%;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
}

#informationliveModal .informationliveModal-bottom .informationliveModal-mock-div {
    width: 105px;
    height: 35px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#informationliveModal .informationliveModal-bottom .informationliveModal-mock-div.bilibili {
    right: 152px;
    width: 116px;
}

#informationliveModal .informationliveModal-bottom .informationliveModal-mock-btn {
    width: 160px;
    height: 50px;
    line-height: 46px;
    position: absolute;
    top: 270px;
    left: 529px;
    border: 2px solid #ff5d23;
    text-align: center;
    font-size: 21px;
    color: #ff5d23;
    border-radius: 25px;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
}

#informationliveModal .informationliveModal-bottom .informationliveModal-mock:hover .informationliveModal-mock-btn {
    opacity: 1;
}

#informationliveModal .informationliveModal-bottom .informationliveModal-mock-btn:hover {
    background: #ff5d23;
    color: #FFF;
}

.J_information-banner {
    cursor: pointer;
}

.J_information-livechange img {
    display: inline-block;
    /* animation: 1.5s rotate1 linear infinite; */
}

.inmodal-close {
    position: absolute;
    right: 7px;
    top: 6px;
    z-index: 1;
    color: rgba(255, 255, 255, .6);
    font-size: 12px;
}

.inmodal-close svg {
    width: 12px !important;
    position: relative;
    top: 1px;
    left: 2px;
}

.inmodal-close svg path {
    fill: rgba(255, 255, 255, .6)
}

.inmodal-close:hover svg path {
    fill: rgba(255, 255, 255, 1)
}