.Match-bg-padding {
    /* padding: 0px 76px; */
    padding-top: 33px;
    /* transition: all .3s linear 0s; */
}



.Match-bg {
    width: 1180px;
    height: 600px;
    background-size: auto 100%;
    /* margin: 20px auto; */
    margin-left: 28px;
    position: relative;
    background: url(../../../images/hall/match/match-bg.png) no-repeat center top;
}

/* .Match-bg-right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background: url(../../../images/hall/match/match-bg-right.png) no-repeat right top;
    background-size: auto 100%;
} */

.hall-notice {
    margin-left: 28px;
    width: 1180px;
    height: 32px;
    background: rgba(63, 89, 155, .1);
    border-radius: 16px;
    position: absolute;
    top: 12px;
    overflow: hidden;
    left: 0%;
    color: #FFF;
    z-index: 3;
}



.Match-left {
    padding-top: 30px;
    padding-left: 34px;
    width: 596px;
    display: inline-block;
}

.Match-rule-div {
    display: inline-block;
    width: 100%;
    padding-top: 3px;
    vertical-align: top;
    padding-left: 0px;
    position: relative;
}

.Match-rule-div-item {
    display: inline-block;
    width: 219px;
    padding-top: 3px;
    vertical-align: top;
    padding-left: 39px;
    position: relative;
    min-height: 160px;
}

.Match-rule-div-item-p {
    margin-bottom: 17px;
    display: flex;
    display: inline-block;
    width: 30%;
}

.Match-rule-div-item-bot {
    display: inline-block;
    background: url(../../../images/iconfont/ischeckbox.png) no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
}

.Match-rule-div-item-bot+div {
    background: rgba(86, 98, 123, 0.5);
}

.Match-rule-div-border {
    width: 1px;
    height: 80px;
    background-color: rgba(161, 173, 200, .3);
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -40px;
}

.Match-map-list {
    width: 100%;
    margin-top: 5px;
    height: 343px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-right: -9px;
    margin-left: -9px;
}

.Match-map-list>.col-xs-3 {
    padding-right: 9px;
    padding-left: 9px;
}

.Match-map-item {
    width: 100%;
    height: 89px;
    margin-bottom: 16px;
    background: rgba(86, 98, 123, 0.5);
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.Match-map-item .Match-map-item-retry {
    display: none;
}

.Match-map-item-retry {
    width: 100%;
    height: 100%;
    line-height: 111.8px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: rgba(81, 81, 81, .7);
    cursor: pointer;
}

.Match-map-item-inload .gx-map-name {
    background: rgba(81, 81, 81, .9)
}

.Match-map-item-inload .gx-map-mask {
    display: block;
}

.Match-map-item-inload:hover .Match-map-item-retry {
    opacity: 1;
}

.Match-map-item-inload .Match-map-item-retry {
    display: block;
}

.Match-map-item .gx-map-name {
    height: 21px;
    line-height: 21px;
    font-size: 12px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    /* background: #3F599B; */
}

.Match-map-item .gx-map {
    position: unset;
    height: 68px;
    border-radius: 0px;
}

.Match-right {
    width: 470px;
    text-align: center;
    padding-top: 50px;
    display: inline-block;
    float: right;
    /* padding: 3vh 43px; */
}

.Match-right-smell-text {
    letter-spacing: 22px;
    font-size: 12px;
    transform: scale(.8);
    transform-origin: 100% 50%;
    opacity: .5;
}

.Match-right-middle-text {
    letter-spacing: 5px;
    opacity: .8;
    margin-top: 15px;
}

.Match-right-title {
    width: 289px;
    height: 41px;
    background: url(../../../images/hall/match/match-title.png) no-repeat;
    background-size: cover;
    display: inline-block;
    margin-top: 9%;
    position: relative;
    left: -8px
}

.Match-right-title .f20 {
    position: relative;
    top: 6px;
}

.Match-right-btn-row {
    width: 332px;
    display: inline-block;
    margin-top: 30px;
    position: relative;
}

.Match-right-btn {
    width: 100%;
    height: 36px;
    line-height: 34px;
    border: 1px solid rgba(255, 68, 68, 0.22);
    border-radius: 5px;
    background: rgba(65, 27, 24, 1);
    color: #CF4F47;
    text-align: center;
    opacity: .9;
    margin-bottom: 22px;
    cursor: pointer;
}

.Match-right-btn.active {
    background: url(../../../images/hall/match/match-active.png) no-repeat;
    background-size: cover;
    text-shadow: 0px 1px 1px #260F0F;
    color: #FFFFFF;
    border: none;
    line-height: 36px;
}

.J_MatchNo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.Match-start-btn {
    margin-top: 33px;
    width: 195px;
    height: 50px;
    line-height: 50px;
    background: url(../../../images/hall/match/start-btn.webp) no-repeat;
    background-size: 100% 100%;
    font-size: 15px;
    position: relative;
    left: 8px;
    overflow: hidden;
}

.Match-start-btn:hover {
    background: url(../../../images/hall/match/start-btn-hover.webp) no-repeat;
    background-size: 100% 100%;
}



.match-startBtn-div {
    position: relative;
}

.Match-start-btn .Match-start-btn-loading {
    display: inline-block;
    position: relative;
    top: -1px;
    -webkit-animation: spin 1s linear 1s 5 alternate;
    animation: spin 1s linear infinite;
    vertical-align: middle;
}

.Match-left .tooltip-inner {
    max-width: 324px;
}

.Match-start-btn-in-time {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 30px;
    right: 0px;
    font-size: 21px;
    text-shadow: 0px 1px 1px #260F0F;
    z-index: 1;
}

#J_rank_close {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: rgba(63, 89, 155, .5);
    border-radius: 3px;
    border: 1px solid rgba(107, 158, 255, 0.38);
    color: rgba(255, 255, 255, .6);
    position: absolute;
    top: 42px;
    right: 99px;
    cursor: pointer;
    z-index: 1;
}

#J_Match_close {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: rgba(63, 89, 155, .5);
    border-radius: 3px;
    border: 1px solid rgba(107, 158, 255, 0.38);
    color: rgba(255, 255, 255, .6);
    position: absolute;
    top: 42px;
    right: 99px;
    cursor: pointer;
    z-index: 1;
}

#J_Match_close,
#J_rank_close:hover {
    color: #FFF;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.Match-start-btn-in {
    position: relative;
    top: -7px;
    width: 308px;
    height: 59px;
    background: url(../../../images/rank/session-bg/6.png) no-repeat;
    background-size: 100% 100%;
}

.Match-start-btn-in:hover {
    background: url(../../../images/rank/session-bg/6.png) no-repeat;
    background-size: 100% 100%;
}

.rank-right .Match-start-btn-in {
    position: relative;
    top: -7px;
    width: 308px;
    height: 59px;
    background: url(../../../images/rank/session-bg/6.png) no-repeat;
    background-size: 100% 100%;
    /* background: url(../../../images/gx-big-btn-laoding.png) no-repeat; */
}

.Match-start-btn-in span {
    font-size: 12px;
    color: rgba(255, 255, 255, .6);
    position: relative;
    top: 14px;
    width: 100%;
    display: inline-block;
    left: -6px;
}

.Match-start-btn:hover,
.Match-start-btn:active,
.Match-start-btn:focus {
    /* background-size: 100% 100%; */
}

.Match-start-btn-in:hover,
.Match-start-btn-in:active,
.Match-start-btn-in:focus {
    /* background: url(../../../images/gx-big-btn-laoding.png) no-repeat; */
}

#matchUserModal .gx-modal-smell {
    width: 702px;
    height: 260px;
    /* background: url(../../../images/hall/match/match-modal-bg.png) no-repeat; */
    background: #222F4E;
    border-radius: 4px;
    background-size: 100% 100%;
    padding-top: 20px;
}

#matchUserModal .gx-modal-smell-dialog {
    width: 702px;
}

.match-user-avatar {
    width: 50px;
    height: 50px;
    border: 1px solid #313748;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 10px;
    position: relative;
}

.match-user-avatar img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.match-user-avatar-success {
    box-shadow: 0px 0px 5px 0px #A2FF33;
    border: 1px solid rgba(207, 255, 98, 1);
}

.match-user-avatar-error {
    border: 1px solid #FF4444;
}

.match-user-avatar-icon {
    position: absolute;
    bottom: -5px;
    right: -2px;
    display: none;
}

.match-user-avatar-success .match-user-avatar-icon {
    display: inline-block;
}

.match-rank-title {
    position: relative;
    line-height: 30px;
}

.match-rank-title .italic {
    display: inline-block;
    width: 2px;
    height: 14px;
    background-color: #FFF;
    transform: skew(-15deg);
    margin-right: 2px;
    position: relative;
    top: 2px;
}

.match-rank-title span:nth-child(2) {
    display: inline-block;
    transform: skew(-10deg);
}

.match-rank-title .border {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0px;
    bottom: 1px;
    background: linear-gradient(90deg, #3F599B 0%, rgba(63, 89, 155, 0) 100%);
}

.match-rank-title .match-rank-title-add {
    font-size: 12px;
    display: inline-block;
    color: rgba(255, 255, 255, .6);
    margin-left: 10px;
}

.match-rank-nav {
    padding-left: 30px;
}

.match-rank-nav .match-rank-nav-item {
    display: inline-block;
    width: 149px;
    height: 38px;
    background: rgba(34, 47, 78, 0.2);
    border-radius: 1px;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    color: rgba(255, 255, 255, .6)
}

.match-rank-nav .match-rank-nav-item.active-border::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -5px;
    width: 106%;
    height: 100%;
    background: url(../../../images/hall/active-nav.png) no-repeat;
    background-size: 100% 100%;
    transform: skew(-15deg);
}

.match-rank-nav .match-rank-nav-item svg {
    position: relative;
    top: 3px;
}

.match-rank-nav .match-rank-nav-item svg path {
    fill: rgba(255, 255, 255, .6)
}

.match-rank-nav .match-rank-nav-item.active svg path {
    fill: #FFF
}

.match-rank-nav .match-rank-nav-item:nth-child(1) {
    border-radius: 4px 1px 1px 0px;
    margin-right: 7px;
    position: relative;
}

.match-rank-nav .match-rank-nav-item:nth-child(2) {
    display: inline-block;
    transform: skew(15deg);
}

.match-rank-nav .match-rank-nav-item:nth-child(2) span {
    display: inline-block;
    transform: skew(-15deg);
}

.match-rank-nav .match-rank-nav-item:nth-child(1)::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: -10px;
    top: 0px;
    border-bottom: 38px solid rgba(34, 47, 78, 0.2);
    border-right: 10px solid transparent;
}

.match-rank-nav .match-rank-nav-item:nth-child(1).active::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: -10px;
    top: 0px;
    border-bottom: 38px solid rgba(63, 89, 155, .3);
    border-right: 10px solid transparent;
}

.match-rank-nav .match-rank-nav-item span {
    display: inline-block;
}


.match-rank-nav .match-rank-nav-item.active {
    background: rgba(63, 89, 155, .3);
    color: #FFF;
}

.match-rank-nav .match-rank-nav-item.active span {
    display: inline-block;
}