.hall-rank .rank-bg-padding {
    /* padding: 0px 76px; */
    padding-top: 33px;
    transition: all .3s linear 0s;
}

.hall-rank .rank-bg {
    width: 1180px;
    height: 600px;
    background-size: cover;
    /* margin: 20px auto; */
    margin-left: 28px;
    position: relative;
    background: url(../../../images/hall/match/match-bg.png) no-repeat center top;
}

.rank-left {
    padding-top: 20px;
    padding-left: 34px;
    width: 584px;
    display: inline-block;
}

.rank-map-list-nav .rank-map-list-nav-item {
    display: inline-block;
    font-size: 12px;
    color: rgba(255, 255, 255, .4);
    background-color: #283255;
    min-width: 96px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    padding: 0px 5px;
    cursor: pointer;
    margin-top: 11px;
    border-radius: 4px 4px 0px 0px;
}

.rank-map-list-nav .rank-map-list-nav-item:hover, .rank-map-list-nav .rank-map-list-nav-item.active {
    background-color: #34487c;
    color: rgba(255, 255, 255, 1);

}

.rank-map-list {
    width: 100%;
    height: 328px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-right: -4px;
    margin-left: -0px;
    background-color: #283255;
    padding: 14px 8px 0px 8px;
}

.rank-map-list>.col-xs-3 {
    padding-right: 8px;
    padding-left: 8px;
}

.rank-bg-right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    /* background: url(../../../images/rank/rank-bg.png) no-repeat left top; */
    /* background-size: auto 100%; */
}

.rank-bg-middle {
    position: absolute;
    top: 278px;
    right: 386px;
    width: 170px;
    height: 267px;
    background: url(../../../images/rank/rank-bg/middle.png) no-repeat center;
    background-size: auto 100%;
}

.hall-rank .rank-right {
    padding-top: 37px;
    width: 470px;
    opacity: 0;
    display: inline-block;
    float: right;
    position: relative;
}

.hall-rank .rank-rule-div {
    display: inline-block;
    width: 100%;
    padding-top: 3px;
    vertical-align: top;
    padding-left: 0px;
    position: relative;
}

.hall-rank .rank-rule-div-item-p {
    margin-bottom: 17px;
    display: flex;
    display: inline-block;
    padding-right: 23px;
}

.hall-rank .rank-session {
    width: 250px;
    height: 43px;
    margin: 0 auto;
    position: relative;
}

.hall-rank .rank-Reset-btn {
    position: absolute;
    top: 13px;
    right: 15px;
    color: #FFF;
    font-size: 12px;
    letter-spacing: 1px;
    opacity: .6;
}

.hall-rank .rank-level-MMR {
    position: absolute;
    bottom: 24px;
    width: 100%;
    left: 0px;
    font-size: 20px;
    font-family: IndustryBlack;
    letter-spacing: 2px;
}

.hall-rank .rank-Reset-btn:hover {
    opacity: 1;
}

.hall-rank .rank-Reset-btn svg {
    fill: #FFF;
    width: 12px;
    height: auto;
    position: relative;
    top: 2px;
    margin-right: 1px;
}

.hall-rank .rank-session.rank-session-8 {
    margin-top: 10px;
    /* background: url(../../../images/rank/rank-season-bg.png) no-repeat bottom center; */
}

.hall-rank .rank-level {
    width: 320px;
    height: 348px;
    margin: 0 auto;
    text-align: center;
    padding-top: 92px;
    margin-top: -10px;
    position: relative;
}

.hall-rank .rank-level-star {
    width: 100%;
    position: absolute;
    bottom: 155px;
    left: 0px;
    transform: scale(.8);
}

.hall-rank .rank-level-name {
    position: absolute;
    width: 100%;
    bottom: 93px;
    right: 0px;
}

.hall-rank .rank-level-star8 {
    bottom: 156px;
}

.hall-rank .rank-level-star8 .f16 {
    transform: all .3s linear 0s
}

.hall-rank .rank-level-star8 span {
    position: relative;
    top: 1px;
}

.hall-rank .rank-level-star3 img:nth-child(2) {
    position: relative;
    top: -3px;
}

.hall-rank .rank-level-star1 img:nth-child(1) {
    position: relative;
    top: -3px;
}

.hall-rank .rank-level-star4 img:nth-child(2),
.hall-rank .rank-level-star4 img:nth-child(3) {
    position: relative;
    top: -3px;
}

.hall-rank .rank-level-star5 img:nth-child(2),
.hall-rank .rank-level-star5 img:nth-child(4) {
    position: relative;
    top: -3px;
}

.hall-rank .rank-level-star6 img:nth-child(2),
.hall-rank .rank-level-star6 img:nth-child(5) {
    position: relative;
    top: -3px;
}

.hall-rank .rank-level-star6 img:nth-child(3),
.hall-rank .rank-level-star6 img:nth-child(4) {
    position: relative;
    top: -4px;
}

.hall-rank .rank-level-star5 {
    bottom: 152px;
}

.hall-rank .rank-level-star6 {
    bottom: 194px;
    letter-spacing: -4px;
}

.hall-rank .rank-level-star5 img:nth-child(3) {
    position: relative;
    top: -4px;
}

.hall-rank .rank-startBtn-div {
    position: relative;
    text-align: center;
    top: 5px;
    left: -8px;
    margin-top: -46px;
}

.hall-rank .Match-start-btn-in-time {
    width: 100%;
}

.hall-rank .rank-level-div {
    margin-top: 12px;
}


.hall-rank .rank-startBtn-btn {
    width: 195px;
    height: 50px;
    line-height: 50px;
    background: url(../../../images/hall/match/start-btn.webp) no-repeat;
    background-size: 100% 100%;
    font-size: 15px;
    position: relative;
    left: 8px;
    margin-bottom: 10px;
    margin-top: 28px;
    overflow: hidden;
}

.hall-rank .rank-startBtn-btn.disabled {
    background: url(../../../images/gx-big-btn-disabled.png);
    background-size: 100% 100%;
}

.hall-rank .rank-startBtn-btn:hover {
    background: url(../../../images/hall/match/start-btn-hover.webp) no-repeat;
    background-size: 100% 100%;
}

.hall-rank .rank-startBtn-btn.disabled:hover {
    background: url(../../../images/gx-big-btn-disabled.png);
    background-size: 100% 100%;
}

.rank-rule-div-list {
    display: inline-block;
}

.J_rankNo {
    height: 20px;
    /* margin-top: -33px; */
    /* margin-bottom: -30px; */
    position: absolute;
    bottom: -22px;
    left: 0px;
    width: 100%;
    font-size: 12px;
    opacity: 0;
}

.J_rankNoTime {
    margin-top: 0px;
}

.hall-rank .rank-right-add {
    position: absolute;
    top: 170px;
    right: 27px;
    z-index: 2;
}

.hall-rank .rank-right-add .tooltip-inner {
    width: 192px;
}

.hall-rank .rank-right-add .tooltip-arrow {
    border-right-color: transparent !important;
    border-bottom-color: #3F599B;
}

#rankMapModal .gx-modal-content {
    width: 674px;
    height: 360px;
    background: #1D2944;
    border-radius: 4px;
}

#rankRuleModal .gx-modal-header {
    -webkit-app-region: no-drag;
    position: relative;
    text-align: center;
    padding-left: 0px;
    height: 1px;
    padding: 0px;
}

#rankRuleModal {
    padding-left: 0px !important;
    top: 60px;
    right: 61px;
}

#rankRuleModal .gx-modal-content {
    width: 100%;
    height: calc(100vh - 60px);
}

#rankRuleModal .modal-dialog {
    width: 100%;
    margin: 0px !important;
}

#rankRuleModal .rankRuleModal-content {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 658px;
}

#rankRuleModal .rankRuleModal-content img {
    width: 100%;
}

#rankRuleModal .rankRuleModal-content * {
    user-select: text
}

#rankMapModal .gx-modal-header {
    -webkit-app-region: no-drag;
    position: relative;
    text-align: center;
}

#rankMapModal .rankMapModal-content {
    padding: 12px 24px 30px 24px;
}

#rankMapModal .rankMapModal-content-left {
    width: 298px;
    height: 168px;
    display: inline-block;
    position: relative;
    float: right;
}

#rankMapModal .rankMapModal-content-right {
    width: 318px;
    height: 212px;
    float: left;
    display: inline-block;
    /* overflow-x: hidden;
    overflow-y: scroll; */
    padding: 0px 0px 0px 0px;
    position: relative;
    border-radius: 4px;
}

#rankMapModal .rankMapModal-content-right-th-div {
    background: #34497f;
}

#rankMapModal .rankMapModal-content-right-nav {
    margin-bottom: 10px;
    height: 30px;
}

#rankMapModal .rankMapModal-content-right-nav .rankMapModal-content-right-nav_item {
    display: inline-block;
    font-size: 12px;
    color: rgba(255, 255, 255, .6);
    text-align: center;
    width: 75px;
    height: 30px;
    line-height: 30px;
    float: left;
    background: rgba(63, 89, 155, 0.2);
    margin-right: 6px;
    cursor: pointer;
}

#rankMapModal .rankMapModal-content-right-nav .rankMapModal-content-right-nav_item:last-child {
    margin-right: 0px;
}

#rankMapModal .rankMapModal-content-right-nav .rankMapModal-content-right-nav_item:hover,
#rankMapModal .rankMapModal-content-right-nav .rankMapModal-content-right-nav_item.active {
    background: #3F599B;
    color: rgba(255, 255, 255, 1);
}

#rankMapModal .rankMapModal-content-right-th {
    border-radius: 4px 4px 0px 0px;
    display: flex;
    justify-content: space-between;
    padding: 0px 26px;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    width: 251px;
}

#rankMapModal .rankMapModal-content-menu-show {
    position: absolute;
    right: 3px;
    top: 40px;
    line-height: 30px
}

.J_rankMapModal-chooseCountry {
    line-height: 30px;
    font-size: 12px;
}

/* #rankMapModal .rankMapModal-content-right-th>div {
    background: rgba(63, 89, 155, .6);
    border-radius: 4px 4px 0px 0px;
} */

#rankMapModal .rankMapModal-content-right .rankMapModal-content-right-scroll {
    overflow-x: hidden;
    overflow-y: auto;
    height: 143px;
    background: rgba(63, 89, 155, 0.2);
}

#rankMapModal .JrankMapModal_btn {
    position: absolute;
    bottom: 24px;
    left: 50%;
    width: 200px;
    height: 34px;
    line-height: 34px;
    margin-left: -100px;
}

#rankMapModal .rankMapModal-content-map {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    overflow: hidden;
}

#rankMapModal .rankMapModal-content-map-name {
    text-align: left;
    padding-left: 10px;
    padding-right: 17px;
    line-height: 32px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 32px;
    background: rgba(63, 89, 155, 0.5);
    font-size: 12px;
    border-radius: 0px 0px 0px 4px;
    font-size: 12px;
}

#rankMapModal .rankMapModal-content-map-name .name-ellipsis {
    vertical-align: middle;
    max-width: 154px;
}

#rankMapModal .rankMapModal-content-map-name::after {
    content: "";
    position: absolute;
    top: 0px;
    right: -23px;
    width: 0;
    height: 0;
    border-bottom: 32px solid rgba(63, 89, 155, 0.5);
    border-right: 23px solid transparent;
}

#rankMapModal .rankMapModal-content-item {
    padding-left: 26px;
    padding-right: 0px;
    line-height: 32px;
    cursor: pointer;
    height: 30px;
    font-size: 12px;
    display: flex;
    color: rgba(255, 255, 255, .6);
}

#rankMapModal .rankMapModal-content-item:hover {
    background: #395288;
    color: rgba(255, 255, 255, 1);
}

#rankMapModal .rankMapModal-content-item .caret {
    border: none;
    width: auto;
    height: auto;
    top: 2px;
    right: -10px;
    transform: rotate(180deg);
}

#rankMapModal .rankMapModal-content-item .caret svg {
    width: 10px;
    height: 10px;
    fill: rgba(137, 154, 203, .6);
}

#rankMapModal .rankMapModal-content-item:hover .caret svg {
    fill: #FFF;
}

#rankMapModal .rankMapModal-content-item.active {
    background: #395288;
    color: rgba(255, 255, 255, 1);
}

#rankMapModal .rankMapModal-content-item.active .J_rankMapModal-countryName,
#rankMapModal .rankMapModal-content-item:hover .J_rankMapModal-countryName {
    color: rgba(255, 255, 255, 1);
}

.hall-level-text-en {
    /* font-size: 14px */
}

#rankMapModal .rankMapModal-content-item.active .caret svg {
    fill: #FFF;
}

#rankMapModal .rankMapModal-content-item-right {
    float: right;
}

#rankMapModal .gx-menu {
    width: 57px;
}

#rankMapModal .rankMapModal-content-right .gx-menu .gx-menu-ul {
    width: 120px;
    left: -60px;
}

#rankMapModal .gx-menu-li {
    padding: 0px;
    display: inline-block;
    width: 48%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

#rankMapModal .gx-menu .gx-menu-in {
    display: inline-block;
    position: relative;
}

#rankMapModal .rankMapModal-content-left-allChoose {
    font-size: 12px;
    margin-top: 25px;
}

#rankMapModal .rankMapModal-content-left-allChoose .btn-middle-blue {
    float: right;
    min-width: 60px;
    height: 20px;
    line-height: 20px;
    margin-top: 1px;
}

#rankMapModal .rankMapModal-content-left-allChoose .gx-menu {
    display: inline-block;
    margin-left: 5px;
}

#rankMapModal .rankMapModal-content-left-allChoose .gx-menu .gx-menu-in {
    background: rgba(63, 89, 155, 0.4);
    border-radius: 2px;
    border: 1px solid #3F599B;
    padding: 0px 22px 0px 8px;
    line-height: 20px;
    white-space: nowrap;
}

#rankMapModal .rankMapModal-content-left-allChoose .gx-menu .gx-menu-ul {
    width: 120px;
}

#rankMapModal .rankMapModal-content-left-allChoose .gx-menu .gx-menu-li {
    white-space: nowrap;
    line-height: 30px;
}

#rankMapModal .rankMapModal-content-left-allChoose .caret {
    border: none;
    width: auto;
    height: auto;
    top: -4px;
    right: 5px;
    transform: rotate(180deg);
}

#rankMapModal .rankMapModal-content-left-allChoose .caret svg {
    width: 10px;
    height: 10px;
    fill: #FFF;
}

#rankResultModal {
    width: 1220px;
    height: 660px;
    position: absolute;
    top: 60px;
    left: 0px;
}

#rankResultModal .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0px !important;
}

#rankResultModal .rankResultModal-content {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

#rankResultModal .rankResultModal-content .f30 {
    position: relative;
    z-index: 1;
}

#rankResultModal .rankResultModal-aftershow {
    position: relative;
    z-index: 1;
    opacity: 0;
    transition: all .3s linear 0s
}

#rankResultModal .rankResultModal-content .gx-img-btn-big {
    background: #3F599B;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

#rankResultModal .rankResultModal-title {
    width: 797px;
    height: 155px;
    margin: 0 auto;
    margin-top: 28px;
    margin-bottom: 361px;
    position: relative;
    z-index: 1;
}

#rankResultModal .rankResultModal-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#rankResultModal .rankResultModal-title_fail {
    width: 797px;
    height: 114px;
    background: url('../../../images/modal/settlement/fail-title.png') no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding-top: 15px;
    letter-spacing: 5px;
}

#rankResultModal .rankResultModal-title_fail .ft-white-tr {
    margin-top: 5px;
    letter-spacing: 15px;
}

#rankResultModal .rankResultModal-title_win {
    width: 797px;
    height: 155px;
    background: url('../../../images/modal/settlement/win-title.png') no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 55px;
    letter-spacing: 5px;
}

#rankResultModal .rankResultModal-title_win .ft-white-tr {
    margin-top: 5px;
    letter-spacing: 15px;
}

#rankResultModal .rankResultModal-ba-content {
    width: 622.8px;
    height: 514.8px;
    margin: 0 auto;
    margin-top: -48px;
    padding-top: 24px;
    overflow: hidden;
    display: none;
}

#rankResultModal .rankResultModal-ba-content-secondLevel {
    transition: all .3s linear 0s;
    position: absolute;
    width: 100%;
    bottom: 101px;
}

#rankResultModal .rankResultModal-ba-star-animate {
    transition: all .3s linear 0s;
}

#rankResultModal .rankResultModal-ba-content-animate {
    /* height: 514.8px;
    opacity: 0;
    transition: all .3s linear 0s; */
    display: none;
}

#rankResultModal .rankResultModal-badge-bg {
    width: 420px;
    height: 457px;
    margin: 0 auto;
    position: relative;
}


#rankResultModal .rankResultModal-level-star {
    width: 100%;
    position: absolute;
    bottom: 196px;
    left: 0px;
}

#rankResultModal .rank-level-star8 {
    position: relative;
    top: 1px;
}

#rankResultModal .rankResultModal-level-star img {
    transition: all .1s linear 0s;
    display: inline-block;
    position: relative;
}

#rankResultModal .rankResultModal-add {
    position: absolute;
    top: 40%;
    right: 3%;
    display: none;
    z-index: 1;
}

#rankResultModal .rankResultModal-level-star3 img:nth-child(2) {
    position: relative;
    top: -3px;
}

#rankResultModal .rankResultModal-level-star1 img:nth-child(1) {
    position: relative;
    top: -3px;
}

#rankResultModal .rankResultModal-level-star4 img:nth-child(2),
#rankResultModal .rankResultModal-level-star4 img:nth-child(3) {
    position: relative;
    top: -3px;
}

#rankResultModal .rankResultModal-level-star5 img:nth-child(2),
#rankResultModal .rankResultModal-level-star5 img:nth-child(4) {
    position: relative;
    top: -3px;
}

#rankResultModal .rankResultModal-level-star5 img:nth-child(3) {
    position: relative;
    top: -4px;
}

#rankResultModal .rankResultModal-level-star5 {
    bottom: 191px;
}

#rankResultModal .rankResultModal-level-star6 img:nth-child(2),
#rankResultModal .rankResultModal-level-star6 img:nth-child(5) {
    position: relative;
    top: -3px;
}

#rankResultModal .rankResultModal-level-star6 img:nth-child(3),
#rankResultModal .rankResultModal-level-star6 img:nth-child(4) {
    position: relative;
    top: -4px;
}

#rankResultModal .rankResultModal-level-star6 {
    bottom: 193px;
    letter-spacing: -4px;
}

.J_rank-chooseModal {
    min-width: 115px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.J_rankMapModal-countryName {
    min-width: 44px;
    display: inline-block;
    text-align: center;
    color: rgba(137, 154, 203, .6);
}