#UserAdminModal .gx-modal-content {
    height: 500px;

}

#UserAdminModal .modal-dialog {
    width: 440px;

}

#UserAdminModal .header-window .iconfont {
    color: #abb3c9;
}

#UserAdminModal .UserAdminModal-gender {
    width: 60px;
    height: 20px;
    background: rgba(28, 39, 68, 1);
    margin: 15px auto;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px;
}

#UserAdminModal .UserAdminModal-gender-item {
    display: inline-block;
    width: 50%;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    float: left;
    transition: .3s;
}

#UserAdminModal .UserAdminModal-gender-item.active {
    background-color: #33477c;
}

#UserAdminModal .UserAdminModal-gender-item:nth-child(1) svg {
    position: relative;
    top: 2px;
    left: 1px;
}

#UserAdminModal .UserAdminModal-gender-item:nth-child(2) svg {
    position: relative;
    top: 0px;
    left: -2px;
}

#UserAdminModal .UserAdminModal-nav {
    font-size: 14px;
    color: rgba(197, 208, 231, .6);
    line-height: 48px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-left: 6px;
    text-align: left;
}

#UserAdminModal .UserAdminModal-nav-item {
    display: inline-block;
    /* min-width: 99px; */
    text-align: center;
    cursor: pointer;
    margin-right: 15px;
    margin-left: 5px;
    transition: .3s;
}

#UserAdminModal .UserAdminModal-nav-active {
    color: #FFF;
    font-size: 14px;
    border-bottom: 2px solid #6B9EFF;
}

#UserAdminModal .gx-modal-header {
    -webkit-app-region: no-drag;
    background: #3F599B;
}

#UserAdminModal .UserAdminModal-swiper {
    overflow: hidden;
}

#UserAdminModal .UserAdminModal-swiper-content {
    width: 400px;
    border-radius: 5px;
    margin: 20px auto;
}

#UserAdminModal .UserAdminModal-swiper-content .col-xs-3 {
    width: 27%;
}

#UserAdminModal .UserAdminModal-swiper-content .col-xs-9 {
    width: 68%;
    padding-left: 0px;
    position: relative;
    top: -7px;
    padding-right: 0px;
}

#UserAdminModal .UserAdminModal-avatar {
    width: 80px;
    height: 80px;
    background: #151618;
    border-radius: 50%;
    position: relative;
}

#UserAdminModal .UserAdminModal-avatar img {
    border-radius: 50%;
}

#UserAdminModal .UserAdminModal-avatar-nav {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    background: #1C2744;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    font-size: 12px;
}

#UserAdminModal .UserAdminModal-avatar-nav-item {
    display: inline-block;
    min-width: 50px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

#UserAdminModal .UserAdminModal-avatar-nav-item.active {
    background: #33477C;
    border-radius: 4px;
}

#UserAdminModal .UserAdminModal-changeNamegolddiv {
    color: rgba(255, 255, 255, .6);
    margin-left: 5px;
    font-size: 12px;
}

#UserAdminModal .UserAdminModal-swiper-content .gx-input {
    width: 155px;
    height: 30px;
    background: rgba(63, 89, 155, 0.2);
    border-radius: 2px;
    border: none;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 8px;
    box-shadow: none;
}

#UserAdminModal .UserAdminModal-swiper-content .gx-check input[type="radio"]+label:before {
    background: url('../../../images/iconfont/checkbox-two.png') no-repeat;
    background-size: 100% 100%;
    width: 12px;
    height: 12px;
    margin-top: -5px;
}

#UserAdminModal .UserAdminModal-swiper-content .gx-check input[type="radio"]:checked+label:before {
    background: url('../../../images/iconfont/ischeckbox-two.png') no-repeat;
    background-size: 100% 100%;
}

#UserAdminModal .UserAdminModal-swiper-content .gx-check {
    font-size: 12px;
    margin-right: 20px;
}

#UserAdminModal .UserAdminModal-bottom-content {
    width: 400px;
    height: 157px;
    background: rgba(28, 39, 68, 1);
    border-radius: 4px 4px 0px 0px;
    margin: 0 auto;
    border: 1px solid #3F599B;
}

#UserAdminModal .UserAdminModal-bottom-content.frame {
    border-radius: 4px;
    height: 187px;
}

#UserAdminModal .UserAdminModal-bottom-content-file {
    width: 400px;
    height: 30px;
    background: #33477C;
    border-radius: 1px;
    margin: 0 auto;
    border-radius: 0px 0px 8px 8px;
}

#UserAdminModal .UserAdminModal-bottom-row {
    margin: 0 -16px;
    margin-top: 9px;
}

#UserAdminModal .UserAdminModal-bottom-row .col-xs-6 {
    padding-left: 7px;
    padding-right: 7px;
}

#UserAdminModal .UserAdminModal-bottom-avatarList {
    padding: 0px 14px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 121px;
}

.UserAdminModalframe .UserAdminModal-bottom-avatarList {
    height: 152px !important;
}

#UserAdminModal .UserAdminModal-bottom-avatarList .row {
    margin: 0 -12px;
}

#UserAdminModal .UserAdminModal-bottom-avatarList .row .col-xs-3 {
    width: 20%;
    padding: 0 -12px;
    text-align: center;
    color: #FFF;
}

#UserAdminModal #UserAdminModal-swiper-one-avatarlistframe .col-xs-3 {
    padding: 0px;
}

#UserAdminModal .UserAdminModal-bottom-avatarList .avatarlistframe-item {
    border-radius: 4px;
    width: 70px;
    height: 90px;
    margin-bottom: 8px;
    padding-top: 4px;
    cursor: pointer;
    position: relative;
}

#UserAdminModal .UserAdminModal-bottom-avatarList .avatarlistframe-item svg {
    display: none;
}

#UserAdminModal .UserAdminModal-bottom-avatarList .avatarlistframe-item img {
    width: 58px;
}

#UserAdminModal .UserAdminModal-bottom-avatarList .avatarlistframe-item.lock img {
    -webkit-filter: grayscale(100%);

    -moz-filter: grayscale(100%);

    -ms-filter: grayscale(100%);

    -o-filter: grayscale(100%);

    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);

    _filter: none;
}

#UserAdminModal .UserAdminModal-bottom-avatarList .avatarlistframe-item.lock svg {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -19px;
    margin-left: -5px;
}

#UserAdminModal .UserAdminModal-bottom-avatarList .avatarlistframe-item .avatarlistframe-item-default {
    width: 50px;
    height: 50px;
    border: 2px solid #979797;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 5px;
}

#UserAdminModal .UserAdminModal-bottom-avatarList .avatarlistframe-item:hover {
    background: rgba(63, 89, 155, 0.2);

}

#UserAdminModal .UserAdminModal-bottom-avatarList .avatarlistframe-item.active {
    background: rgba(63, 89, 155, 0.2);

}

#UserAdminModal .UserAdminModal-bottom-avatarList .avatarlistframe-item .f12 {
    position: absolute;
    width: 100%;
    bottom: 5px;
    left: 0px;
}

#UserAdminModal .UserAdminModal-bottom-avatarList-item {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 2px solid #979797;
    margin-bottom: 20px;
    cursor: pointer;
}

#UserAdminModal .UserAdminModal-bottom-avatarList-item .iconfont {
    display: none;
}

#UserAdminModal .UserAdminModal-bottom-avatarList-item img {
    border-radius: 50%;
}

#UserAdminModal .UserAdminModal-bottom-avatarList-item-active {
    border: 2px solid #A2FF33;
    position: relative;
}

#UserAdminModal .UserAdminModal-bottom-avatarList-item-active .iconfont {
    position: absolute;
    display: inline-block !important;
    width: 14px;
    height: 14px;
    background: url(../../../images/iconfont/right.png);
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#UserAdminModal .UserAdminModal-bottom-title {
    color: #56627B;
    font-size: 12px;
    padding-left: 14px;
    padding-top: 10px;
    margin-bottom: 6px;
}

#UserAdminModal .UserAdminModal-bottom-content-updateImg {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    line-height: 30px;
    font-weight: 500;
    transition: .3s;
}

#UserAdminModal .UserAdminModal-bottom-content-updateImg:hover {
    color: #FFF;
}

#UserAdminModal .UserAdminModal-footer-btn {
    min-width: 100px;
}

#UserAdminModal .UserAdminModal-input-error {
    position: absolute;
    bottom: -17px;
    font-size: 12px;
    left: 0px;
}

#UserAdminModal .UserAdminModal-swiper-psph-content {
    width: 400px;
    height: 332px;
    background: #222F4E;
    border-radius: 5px;
    margin: 25px auto;
}

#UserAdminModal .UserAdminModal-swiper-psph-margin {
    width: 300px;
    margin: 0 auto;
    position: relative;
    padding-top: 45px;
}

#UserAdminModal .UserAdminModal-swiper-ph-error,
#UserAdminModal .UserAdminModal-swiper-ps-error {
    position: absolute;
    top: 13px;
    left: 0px;
}

#UserAdminModal .UserAdminModal-swiper-psph-margin .UserAdminModal-gx-input {
    width: 300px;
    height: 30px;
    background: rgba(63, 89, 155, 0.2);
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: none;
    margin-bottom: 15px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.6)
}

.J_UserAdminModal-newPhone {
    padding-left: 68px;
}

#UserAdminModal .input-gx-menu {
    line-height: 30px;
    top: 5px;
    font-size: 14px;
}

#UserAdminModal .gx-menu-ul {
    width: 300px;
}

#UserAdminModal .login-gx-input .gx-input {
    background: rgba(63, 89, 155, 0.2);
    color: rgba(255, 255, 255, 0.6)
}

#UserAdminModal .login-gx-input .input-group-addon {
    background: rgba(63, 89, 155, 0.2) !important;
}

#UserAdminModal .login-gx-input .input-group-addon:nth-child(3) {
    border-radius: 0px 4px 4px 0px;
}

#UserAdminModal .UserAdminModal_ucShow_div {
    height: 0px;
    overflow: hidden;
    opacity: 0;
}

#UserAdminModal .UserAdminModal_ucShow_div-show {
    height: 40px;
    opacity: 1;
}






#cutImage .modal-dialog {
    width: 250px;
}

#cutImage .cutImage-content {
    width: 250px;
    height: 250px;
    border-radius: 1px;
    border: 2px solid #A1ADC8;
}

#cutImage .cutImage-content-befor {
    width: 246px;
    height: 246px;
    background: url('../../../images/hall/avatar-cut.png') no-repeat;
    background-size: 100% 100%;
    display: block !important;
    cursor: grab;
}

#cutImage .cutImage-turn {
    width: 25px;
    height: 25px;
    background: #313748 url('../../../images/hall/turn.svg') no-repeat center center;
    position: absolute;
    bottom: 58px;
    right: -37px;
    background-position-x: 2px;
    border-radius: 2px;
    cursor: pointer;
    display: none;
}

#cutImage .cutImage-zoomin {
    width: 25px;
    height: 25px;
    background: #313748;
    position: absolute;
    bottom: 96px;
    right: -37px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
}

#cutImage .cutImage-zoomin span,
#cutImage .cutImage-zoomout span {
    font-size: 16px;
}

#cutImage .cutImage-zoomout {
    width: 25px;
    height: 25px;
    background: #313748;
    position: absolute;
    bottom: 58px;
    right: -37px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
}