.veranda-content {
    height: 600px;
    max-width: 1480px;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 70px;
}

.veranda-content .veranda-title {
    line-height: 33px;
}

.veranda-content .veranda-content-left {
    width: 826px;
    display: inline-block;
    vertical-align: top;
    margin-right: 9px;
}

.veranda-content .veranda-content-right {
    width: 340px;
    display: inline-block;
    vertical-align: top;
}




.veranda-content .veranda-content-chatTitle {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: rgba(63, 89, 155, .6);
    border-radius: 4px 4px 0px 0px;
    padding-left: 20px;
    color: #FFF;
}

.veranda-content .veranda-content-chatTitle path {
    fill: #FFF
}

.veranda-content .veranda-content-chatTitle>svg:nth-child(1) {
    margin-right: 0px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    width: 14px;
    height: auto;
}

.veranda-content .veranda-content-chatTitle:nth-child(3)>svg:nth-child(1) {
    width: 16px;
    height: auto;
    top: 0px;
}

.veranda-content .veranda-content-chatContent {
    width: 100%;
    height: 521px;
    background: rgba(36, 41, 54, 0.4);
    border-radius: 0px 0px 4px 0px;
    border: 1px solid rgba(63, 89, 155, 0.2);
    padding-top: 16px;
    padding: 0px 0px 0px 18px;
    transition: height 0.2s linear;
}

.veranda-content-chatContent-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100%);
    padding-right: 20px;
}

.veranda-content-chatContent-item {
    word-wrap: break-word;
    word-break: normal;
    word-break: break-all;
    white-space: initial;
    margin: 16px 0px;
    cursor: pointer;
    white-space: nowrap;
    transition: all .2s linear;
    position: relative;
    left: 0px;
    opacity: 1;
}

.veranda-content-chatContent-item-animate {
    opacity: 0;
    left: 5px;
}

.veranda-content-chatContent .veranda-content-chatContent-item span {
    font-size: 12px;
    vertical-align: middle;
}

.veranda-content-chatContent .veranda-content-chatContent-item>div:nth-child(1) {
    width: 73px;
    display: inline-block;
    display: none;
}

.veranda-content-chatContent .veranda-content-chatContent-item>div:nth-child(1)>span:nth-child(1) {
    display: inline-block;
    max-width: 68px;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(255, 255, 255, 1);
    display: none;
}

.veranda-content-chatContent .veranda-content-chatContent-item>div:nth-child(1)>span:nth-child(2) {
    color: rgba(255, 255, 255, 1);
}

.veranda-content-chatContent .veranda-content-chatContent-item>div:nth-child(2) {
    display: inline;
    position: relative;
    margin-right: 2px;
}

.veranda-content-chatContent .veranda-content-chatContent-item>div:nth-child(2)>img {
    vertical-align: middle;
    margin-right: 5px;
}

.veranda-content-chatContent .veranda-content-chatContent-item>div:nth-child(2):after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background: rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgb(255 255 255 / 10%);
    position: absolute;
    right: 4px;
    top: 4px;
}

.veranda-content-chatContent .veranda-content-chatContent-item>div:nth-child(3) {
    display: inline;
    position: relative;
    margin-right: 7px;
    font-size: 12px;
    color: rgba(255, 255, 255, .6);
    min-width: 28px;
}

.veranda-content-chatContent .veranda-content-chatContent-item>div:nth-child(3):after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background: rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgb(255 255 255 / 10%);
    position: absolute;
    right: -2px;
    top: 2px;
}

.veranda-content-chatContent .veranda-content-chatContent-item>span:nth-child(4) {
    color: #6B9EFF;
    display: inline-block;
    max-width: 180px;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
}

.veranda-content-chatContent .veranda-content-chatContent-item>div:nth-child(5) {
    display: inline-block;
    width: 39px;
    height: 20px;
    line-height: 15px;
    background: rgba(63, 89, 155, 0.4);
    border-radius: 0px 4px 4px 0px;
    overflow: hidden;
    float: right;
    text-align: center;
    font-family: IndustryDemiBold;
}

.veranda-content-chatContent .veranda-content-chatContent-item>div:nth-child(5)>span:nth-child(1) {
    font-size: 12px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.6);
}

.veranda-content-chatContent .veranda-content-chatContent-item>div:nth-child(5)>span:nth-child(2) {
    display: none;
}

.veranda-content-chatContent-item:hover div:nth-child(5) {
    background: #3F599B;
}

.veranda-content-chatContent-item:hover div:nth-child(5)>span:nth-child(1) {
    display: none;
}

.veranda-content-chatContent-item:hover div:nth-child(5)>span:nth-child(2) {
    display: inline-block;
}

.veranda-content .room-screen-password {
    float: right;
    height: 30px;
}

.room-screen-password .form-group input {
    height: 30px;
}

.veranda-content .room-screen-password .suo-input {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 1px solid rgba(63, 89, 155, 0.6);
    width: 220px;
    height: 32px;
    border-radius: 4px;
    display: inline-block;
}

.veranda-content .room-screen-password .suo-input .form-control {
    padding-left: 33px;
    width: 200px;
    color: rgba(255, 255, 255, .6);
    height: 32px;
    line-height: 32px;
    background: transparent;
}

.veranda-content .room-screen-password .input-group-befor {
    fill: rgba(90, 101, 133, 1);
    position: absolute;
    top: 8px;
    left: 12px;
}

.veranda-content .room-screen-password .input-group-addon {
    display: none;
}

.veranda-content .room-screen-password-num .input-group-addon {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    width: auto !important;
    padding: 0px 6px;
    vertical-align: middle;
    font-size: 12px;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    position: relative;
    top: -1px;
    min-width: 60px;
}

.veranda-content .room-screen-password-num .form-control {
    width: 136px !important;
}

.veranda-content .room-screen-password .input-group-after {
    display: none;
    fill: rgba(90, 101, 133, 1);
    cursor: pointer;
    z-index: 1;
    margin-right: 8px;
    position: relative;
    top: 1px;
    line-height: 30px;
}

.veranda-content .room-screen-password .input-group-after:hover {
    fill: #899ACB;
}

.veranda-content .veranda-content-middle {
    height: 40px;
}

.veranda-content .veranda-content-middle-nav {
    height: 40px;
    line-height: 40px;
    background: rgba(36, 41, 54, .4);
    border-radius: 4px 4px 0px 0px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    position: relative;
    top: 0px;
    cursor: pointer;
    padding: 0px 14px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}

.veranda-content .veranda-content-middle-nav svg {
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 2px;
    fill: rgba(255, 255, 255, 0.6);
}

.veranda-content .veranda-content-middle-nav.active svg path {
    fill: #fff;
}

.veranda-content .veranda-content-middle-nav.active {
    background: rgba(63, 89, 155, .6);
    color: rgba(255, 255, 255, 1);
}

.veranda-content .veranda-content-bottom {
    width: 100%;
    height: 520px;
    background: rgba(36, 41, 54, 0.4);
    border: 1px solid rgba(63, 89, 155, 0.6);
    border-radius: 0px 4px 0px 0px;
}

.veranda-map {
    width: 100%;
    height: 85px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.veranda-map.active .veranda-map-btn {
    height: 24px;
    opacity: 1;
    top: 50%;
}

.veranda-map .veranda-map-img {
    object-fit: cover;
    height: 120%;
    width: 120%;
    border-radius: 4px;
    transition: all .3s ease-out 0s;
    position: relative;
    top: 0%;
    left: 0%;
    cursor: pointer;
}

.veranda-map:hover .veranda-map-img {
    /* height: 110%;
    width: 110%; */
    top: -10%;
    left: -10%;
}

.veranda-map .veranda-map-name {
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: rgba(63, 89, 155, .8);
    overflow: hidden;
    padding: 0px 10px;
    color: rgba(255, 255, 255, .8);
    font-size: 12px;
    line-height: 23px;
    border-radius: 0px 0px 4px 4px;
    display: inline-block;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: 0px 1px 1px #3B3B3B;
}

.veranda-map .veranda-map-btn {
    position: absolute;
    width: 100%;
    top: 45%;
    left: 0%;
    margin-top: -15px;
    text-align: center;
    /* height: 0px; */
    overflow: hidden;
    opacity: 0;
    transition: opacity .2s ease-out 0s, top .1s ease-out 0s;
    z-index: 1;
}



.veranda-map .veranda-map-btnToList {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 26px;
    height: 26px;
    background: #3F599B;
    border-radius: 3px;
    z-index: 1;
    line-height: 26px;
    text-align: center;
}

.veranda-map .veranda-map-hot {
    position: absolute;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 4px 0px 4px 0px;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 0px 10px;
    z-index: 1;
}

.veranda-map .veranda-map-hot path {
    fill: #FFF;
}

.veranda-Recommend-div {
    position: absolute;
    z-index: 1;
    top: -4px;
    left: 0px;
    height: 19px;
    line-height: 19px;
    padding-left: 6px;
    padding-right: 8px;
    background: linear-gradient(90deg, rgba(84, 141, 254, 1) 0%, rgba(103, 49, 239, 1) 100%);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3000);
    text-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3000);
    border-radius: 1px 1px 1px 0px;
    font-size: 12px;
    font-family: normal;
    letter-spacing: .8px
}

.veranda-Recommend-div:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 0;

    height: 0;

    border-top: 5px solid rgba(46, 65, 163);

    border-left: 5px solid transparent;
}

.veranda-Recommend-div svg path {
    fill: #FFF;
}

.veranda-Recommend-div svg {
    position: relative;
    top: 1px;
}

.veranda-map .veranda-map-btnToList svg {
    fill: #FFF;
    width: 16px;
    position: relative;
    top: 3px;
    left: 1px;
}

.veranda-map .veranda-map-btn a {
    padding: 0px 12px;
    background: #3F599B;
    border-radius: 14px;
    line-height: 24px;
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    height: 24px;
    min-width: 72px;
}

.veranda-map:hover .veranda-map-btn {
    height: 24px;
    opacity: 1;
    top: 50%;
}

.veranda-roomlist {
    height: inherit;
}

.veranda-roomlist .veranda-roomlist-thead {
    width: 100%;
    height: 40px;
    background: rgba(63, 89, 155, .6);
    border-radius: 0px 4px 0px 0px;
    padding-right: 10px;
    font-size: 12px;
}

.veranda-roomlist .veranda-roomlist-thead .veranda-gx-menu-li {
    line-height: 26px;
    font-size: 12px;
    cursor: pointer;
}

.veranda-roomlist .veranda-roomlist-thead .gx-menu-li {
    padding-left: 10px;
}

.veranda-roomlist .veranda-roomlist-thead .gx-menu .caret {
    position: unset;
}

.veranda-roomlist .veranda-roomlist-thead .gx-menu .gx-menu-ul {
    background: rgba(28, 39, 68, 1);
    color: #FFF;
}

.veranda-roomlist .veranda-roomlist-thead>div {
    display: inline-block;
    color: #FFF;
    line-height: 40px;
    margin: 0px -2px;
}

.veranda-roomlist-body::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
}

.veranda-roomlist-body-item {
    font-size: 12px;
}

.veranda-roomlist-body-item-roomType {
    width: 36px;
    height: 18px;
    background: rgba(63, 89, 155, 0.2000);
    border-radius: 4px;
    text-align: center;
    font-size: 10px;
    color: rgba(255, 255, 255, .6);
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
    margin-right: 16px;
    position: relative;
}

.veranda-roomlist-body-item-roomType:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background: rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgb(255 255 255 / 10%);
    position: absolute;
    top: 1px;
    right: -10px;
}

.veranda-roomlist-body-item:hover {
    background-color: #304370 !important;
}

.veranda-roomlist-body-item .numberfont {
    font-size: 18px;
    letter-spacing: 0px;
}

.veranda-roomlist-body-item>div {
    display: inline-block;
    width: 8%;
    margin: 0 -2px;
}

.veranda-roomlist-body-item .changeMapName {
    cursor: pointer;
}

.veranda-roomlist .veranda-roomlist-thead>div:nth-child(1) {
    padding-left: 20px;
    width: 12%;
}

.veranda-roomlist .veranda-roomlist-thead>div:nth-child(2) {
    width: 25.2%;
}

.veranda-roomlist-body-item>div:nth-child(2) {
    width: 22%;
}

.veranda-roomlist .veranda-roomlist-thead>div:nth-child(3) {
    width: 20%;
}

.veranda-roomlist-body-item>div:nth-child(3) {
    width: 23%;
}

.veranda-roomlist .veranda-roomlist-thead>div:nth-child(3) svg path {
    fill: #A1ADC8;
}

.veranda-roomlist .veranda-roomlist-thead>div:nth-child(4) {
    margin-left: 8px;
    width: 15%;
    width: 10.1%;
}

.veranda-roomlist-body-item>div:nth-child(4) {
    /* width: 19%; */
    width: 11.4%;
}

.veranda-roomlist .veranda-roomlist-thead>div:nth-child(5) {
    width: 9.7%;
}

.veranda-roomlist-body-item>div:nth-child(5) {
    width: 9%;
}

.veranda-roomlist .veranda-roomlist-thead>div:nth-child(6) {
    width: 11.1%;
}

.veranda-roomlist-body-item>div:nth-child(6) {
    width: 11.5%;
}

.veranda-roomlist-body-item>div:nth-child(1) {
    padding-left: 20px;
    width: 12%;
}

.veranda-roomlist-body {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 42px);
}

.veranda-content-left .changeplayersNum, .veranda-content-left .changeplayersMax {
    font-family: IndustryDemiBold;
    margin: 0 0px;
    font-size: 14px;
}

.veranda-roomlist-body .veranda-roomlist-body-item-show:nth-child(2n) {
    background: rgba(63, 89, 155, .1);
}

.veranda-roomlist-body-item {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.veranda-roomlist-body-item img[alt="version"] {
    width: 14px;
    margin-left: 0%;
    margin-right: 5px;
}

.veranda-roomlist-body-item .veranda-lock {
    font-size: 16px;
    position: absolute;
    left: 9%;
    top: 0%;
    color: #899acb;
}

.veranda-joinbtn {
    border: 1px solid #3F599B;
    background: transparent;
    border-radius: 12px;
    line-height: 24px;
    color: #FFF;
    font-size: 12px;
    display: inline-block;
    padding: 0 15px;
    min-width: 70px;
    height: 24px;
    overflow: hidden;
    position: relative;
    top: 8px;
}

.veranda-joinbtn:hover,
.veranda-joinbtn:active,
.veranda-joinbtn:focus {
    background: #4561a8;
    color: #FFF;
}

.veranda-maplist {
    height: inherit;
}

.veranda-maplist .veranda-map {
    margin-bottom: 14px;
}

.veranda-maplist .veranda-maplist-scroll {
    padding-top: 25px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 16px;
    padding-right: 11px;
    /* margin-right: 5px; */
    height: calc(100% - 2px);
    opacity: 0;
}

.veranda-maplist .veranda-maplist-scroll::-webkit-scrollbar-track-piece {
    background: #232a40;
}

.veranda-maplist .veranda-maplist-scroll>.row>.col-xs-2 {
    width: 20%;
}

.veranda-maplist .row {
    margin-right: -7px;
    margin-left: -7px;
}

.veranda-maplist .col-xs-2 {
    padding-right: 5px;
    padding-left: 5px;
}

.veranda-map-detail {
    position: absolute;
    width: 100%;
    height: calc(100% + 2px);
    top: 0px;
    left: 0px;
    background: #1e242f;
    border: 1px solid #262B38;
    z-index: 1;
    padding: 21px 16px;
}

.veranda-map-detail .veranda-map-detail-close {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #586382;
    font-size: 14px;
    cursor: pointer;
}

.veranda-map-detail-map {
    width: 25.3%;
    height: 100%;
}

.veranda-map-detail-map .veranda-map-detail-map-div {
    width: 100%;
    height: 55%;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
}

.veranda-map-detail-map .veranda-map-detail-map-div-hot {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, .7);
    border-radius: 2px 0px 6px 0px;
    padding: 0px 10px;
    font-size: 12px;
    line-height: 20px;
}

.veranda-map-detail-map .veranda-map-detail-map-div-hot .iconfont {
    display: inline-block;
    transform: scale(.8)
}

.veranda-map-detail-map .veranda-map-detail-map-div-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 2px;
}

.veranda-map-detail-map .veranda-map-detail-map-div-name {
    width: 100%;
    height: 28px;
    background: linear-gradient(154deg, rgba(32, 37, 47, 8) 0%, rgba(64, 71, 84, .8) 32%, rgba(32, 37, 47, .8) 100%);
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    line-height: 28px;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    padding: 0px 33px;
}

.veranda-map-detail-map .veranda-map-detail-map-div-name img[alt="version"] {
    width: 17px;
}

.veranda-map-detail-map .veranda-map-detail-map-div-introduce {
    height: 30%;
    margin-top: 13px;
    white-space: normal;
    line-height: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 12px;
}

.veranda-map-detail-list {
    position: absolute;
    top: 20px;
    right: 30px;
    height: calc(100% - 40px);
    width: 69%;
    background: #232935;
}

.veranda-map-detail-list-thead {
    width: 100%;
    height: 40px;
    background: #282D3B;
    border-radius: 0px 4px 0px 0px;
    padding-right: 12px;
}

.veranda-map-detail-list-thead>div {
    text-align: center;
    display: inline-block;
    line-height: 40px;
    font-size: 12px;
}

.veranda-map-detail-list-tbody {
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100% - 40px);
    margin-right: 6px;
}

.veranda-map-detail-list-item>div {
    text-align: center;
    display: inline-block;
    line-height: 46px;
    border-bottom: 1px solid rgba(90, 101, 133, .1)
}

.veranda-map-detail-list-thead>div:nth-child(1),
.veranda-map-detail-list-item>div:nth-child(1) {
    width: 26%;
}

.veranda-map-detail-list-thead>div:nth-child(2),
.veranda-map-detail-list-item>div:nth-child(2) {
    width: 18%
}

.veranda-map-detail-list-thead>div:nth-child(3),
.veranda-map-detail-list-item>div:nth-child(3) {
    width: 20%
}

.veranda-map-detail-list-thead>div:nth-child(4),
.veranda-map-detail-list-item>div:nth-child(4) {
    width: 16%
}

.veranda-map-detail-list-thead>div:nth-child(5),
.veranda-map-detail-list-item>div:nth-child(5) {
    width: 20%
}

.veranda-screen {
    font-size: 12px;
    margin-top: 14px;
    color: #899ACB;
    position: relative;
}

.veranda-screen svg {
    width: 18px;
    position: relative;
    top: 2px;
}

.veranda-screen svg path {
    fill: #899ACB
}

.veranda-screen>span {
    position: relative;
    top: -2px;
    margin-right: 10px;
}

.veranda-screen .veranda-list-check {
    height: 28px;
    border-radius: 4px;
    border: 1px solid rgba(63, 89, 155, 0.15);
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 28px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
}

.veranda-screen .veranda-list-check * {
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    -webkit-filter: grayscale(100%);
    transition: .3s;
}

.veranda-screen .veranda-list-check.veranda-list-check-active * {
    -webkit-filter: grayscale(0%);
}

.veranda-screen .veranda-list-check:hover * {
    color: #FFF;
    -webkit-filter: grayscale(0%);
}

.veranda-screen .veranda-list-check.veranda-list-check-active {
    border: 1px solid #25304E;
    color: rgba(255, 255, 255);
}

.veranda-screen .veranda-list-check img {
    width: 17px;
}

.veranda-screen .veranda-list-check .veranda-list-check-bot {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 14px;
    height: 14px;
    background: #25304E;
    border-radius: 4px 0px 4px 0px;
    text-align: center;
    opacity: 0;
}

.veranda-screen .veranda-list-check.veranda-list-check-active .veranda-list-check-bot {
    opacity: 1;
}

.veranda-screen .veranda-list-check .veranda-list-check-bot svg {
    width: 8px;
    height: auto;
    position: relative;
    top: -6px;
}

.J_veranda_create_btn {
    float: right
}

#veranda-room-body-hover {
    position: absolute;
    width: 100%;
    z-index: 2;
    padding-right: 10px;

}

#veranda-room-body-hover .veranda-roomlist-body-item {
    background: #21293d;
    box-shadow: 0px 0px 3px #A1ADC8;
    position: relative;
    right: -1px;
    top: 1px;
}

.J_veranda_fast_btn .gx-loading-show {
    z-index: 2;
}

.veranda-content-chatContent-scroll-loading {
    width: 100%;
    text-align: center;
    height: 100%;
    color: #3f599b;
    font-size: 16px;
    position: relative;
    padding-top: 135px;
}

.veranda-content-chatContent-scroll-loading:after {
    content: "";
    width: 30px;
    height: 30px;
    background: url('../../../images/iconfont/stop.svg') no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -40px;
}

.veranda-content-chatContent-scroll .verandaHideMessage {
    padding-top: 139px;
}

.veranda-roomlist-body-close {
    width: 100%;
    text-align: center;
    height: 100%;
    color: #3f599b;
    font-size: 16px;
    position: relative;
    padding-top: 260px;
}

.veranda-roomlist-body-close:after {
    content: "";
    width: 30px;
    height: 30px;
    background: url('../../../images/iconfont/stop.svg') no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -62px;
}

.veranda-roomlist-body-error {
    width: 100%;
    text-align: center;
    height: 100%;
    color: #3f599b;
    font-size: 16px;
    position: relative;
    padding-top: 208px;
    position: absolute;
    top: 40px;
    left: 0px;
    cursor: pointer;
}

.veranda-roomlist-body-loading {
    width: 100%;
    text-align: center;
    height: 100%;
    color: #3f599b;
    font-size: 16px;
    position: relative;
    padding-top: 260px;
    position: absolute;
    top: 40px;
    left: 0px;
}

.veranda-roomlist-body-loading:after {
    content: "";
    width: 30px;
    height: 30px;
    background: url('../../../images/iconfont/loading.svg') no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -62px;
    animation: 1.5s rotate1 linear infinite;
}

.veranda-content-right .J_veranda_fast_btn, .veranda-content-right .J_veranda_create_btn {
    margin-top: -4px;
}

.veranda-content-right .J_veranda_return_room {
    width: 340px;
    max-width: 340px;
    height: 48px;
    margin-top: -3px;
    background: url('../../../images/hall/return-room-btn.png') no-repeat center;
    background-size: 100% 100%;
}

.veranda-content-right .J_veranda_return_room:after {
    display: none;
}

.veranda-content-right.J_showhotmap .veranda-content-chatContent {
    height: 85px;
}


.hall-room-refresh {
    border-radius: 4px;
    line-height: 24px;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    padding: 0 14px 0px 10px;
    height: 24px;
    border-radius: 12px;
    border: 1px solid #3F599B;
    vertical-align: middle;
    min-width: 70px;
}

.hall-room-refresh svg {
    width: 14px;
    height: auto;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.hall-room-refresh svg path {
    fill: #FFF;
}

.hall-room-refresh>span:nth-child(2) {
    display: none;
}

.hall-room-refresh.hall-room-refresh-loading {
    padding: 0 10px 0px 10px;
}

.hall-room-refresh.hall-room-refresh-loading>span:nth-child(1) {
    display: none;
}

.hall-room-refresh.hall-room-refresh-loading>span:nth-child(2) {
    display: inline-block;
}

.hall-room-refresh.hall-room-refresh-loading {
    cursor: no-drop;
    opacity: .5;
}