﻿@import "./layouts/animate.css";
@import "./layouts/gx-map.css";
@import "./layouts/gx-dropdown.css";
@import "./layouts/gx-input.css";
@import "./layouts/gx-table.css";
@import "./layouts/gx-modal.css";
@import "./layouts/color.css";
@import "./layouts/distance.css";
@import "./layouts/contextmenu.css";

body {
    margin: 0;
    color: #FFF;
    overflow: hidden;
    font-size: 14px;
    background-color: transparent;
    position: relative;
    vertical-align: baseline;
    font-family: ChangGuiTi;
}

.popover-content {
    font-family: ChangGuiTi;
}

.numberfont {
    font-family: IndustryBlack;
}

.cpt-toast {
    left: 50%;
}

.text-nowrap {
    white-space: nowrap;
}

.main-container {
    overflow: hidden;
}

img {
    -webkit-user-drag: none;
}

* {
    box-sizing: border-box;
    -moz-user-select: none;
    /* 火狐 */
    -webkit-user-select: none;
    /* 谷歌 */
    -ms-user-select: none;
    /* IE */
    user-select: none;
}



@font-face {
    font-family: ChangGuiTi;
    src: url('../font/PingFang-SC-Semibold-2.ttf');
}

@font-face {
    /* 数字 */
    font-family: HeadlineA;
    src: url('../font/HeadlineA.ttf');
}

@font-face {
    font-family: RobotoBold;
    src: url('../font/Roboto-Bold.ttf');
}

@font-face {
    font-family: YouSheBiao;
    src: url('../font/YouSheBiaoTiHei-2.ttf');
}

@font-face {
    font-family: IndustryBlack;
    src: url('../font/Industry-Black.otf');
}

@font-face {
    font-family: IndustryDemiBold;
    src: url('../font/Industry-DemiBold.otf');
}

@font-face {
    font-family: MFLiHei;
    src: url('../font/MFLiHei.ttf');
}

@font-face {
    /* 斗鱼字体 */
    font-family: douyuFont;
    src: url('../font/douyuFont.otf');
}

@font-face {
    font-family: akrobatRegular;
    src: url('../font/akrobat-regular.ttf');
}



.user-select {
    user-select: text;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}


.relative {
    position: relative;
}

.hide {
    display: none;
}

.showOpacity {
    opacity: 1 !important;
}

.hide-img {
    width: 0px;
    height: 0px;
}

.opacity0 {
    opacity: 0;
}

.float-right {
    float: right;
}

.media-middle {
    vertical-align: middle;
}

.circular-avatar {
    border-radius: 50%;
}

a {
    color: rgba(255, 255, 255, .6);
}

a:focus,
a:hover {
    color: #FFF;
    outline: none;
    text-decoration: none;
}

.name-ellipsis {
    display: inline-block;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
}




/*滚动条样式*/

::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
    background: #232a40;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #5A6585;
    -webkit-border-radius: 4px;
    outline-offset: -2px;
    border: 0px solid #56627B;
}

::-webkit-scrollbar-thumb:hover {
    height: 30px;
    background-color: rgba(132, 144, 166, 0.36);
    -webkit-border-radius: 4px;
}



/* 导航 */
.gx-nav {
    border-bottom: 1px solid #282E37;
    position: relative;
    line-height: 0px;
}

.gx-nav-item {
    display: inline-block;
    min-width: 58px;
    text-align: center;
    line-height: 46px;
    height: 46px;
    cursor: pointer;
    overflow: hidden;
    font-size: 16px;
    position: relative;
    color: rgba(255, 255, 255, .5);
}

.gx-nav-item-active {
    font-size: 20px;
    color: #EFBB74;
}

.gx-nav-item-active .gx-nav-border {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #EFBB74;
}

.gx-switch-nav {
    background: #272D37;
    height: 20px;
    border-radius: 10px;
    display: inline-block;
    line-height: 20px;
    position: relative;
}

.gx-switch-nav-item {
    display: inline-block;
    font-size: 12px;
    min-width: 68px;
    text-align: center;
    position: relative;
    z-index: 1;
    color: rgba(255, 255, 255, .5);
}

.gx-switch-nav-item-active {
    color: #FFF;
}

.gx-switch-nav-active {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 68px;
    height: 20px;
    background: linear-gradient(90deg, #EFBB74 0%, #C98B36 75%, #C08028 100%);
    border-radius: 10px;
}

/* 页头 */

.header-window {
    position: absolute;
    top: 18px;
    right: 10px;
    z-index: 10;
    -webkit-app-region: no-drag;
}

.header-window .iconfont {
    margin: 0 8px;
    cursor: pointer;
    font-size: 14px;
}

.hall-header .header-window .iconfont:hover {
    color: rgba(255, 255, 255, 0.8) !important
}

.header-window span:hover {
    color: rgba(255, 255, 255, 0.8)
}

.gx-progress {
    width: 100%;
    height: 12px;
    border: 1px solid;
    border-color: rgba(151, 151, 151, .5);
    border-radius: 6px;
    padding: 2px 3px;
}

.gx-progress-bar {
    width: 100%;
    height: 6px;
    background: linear-gradient(90deg, #3F79EE 0%, #5EFAED 100%);
    border-radius: 3px;
    transition: width .2s ease;
}

/* 红点 */

.red-bot {
    display: inline-block;
    width: 7px;
    height: 7px;
    background: #B32A2A;
    border-radius: 50%;
}

/* 宽度根据内容撑开 */
.at-row {
    display: flex;
    width: 100%;
}

.at-col--auto {
    max-width: initial;
    word-break: keep-all;
}

.at-col {
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-flex: 1;
    width: 100%;
    display: block;
    /* white-space: nowrap; */
    box-sizing: border-box;
}

.at-col--wrap {
    word-wrap: break-word;
    word-break: break-all;
}

.spop--top-right .spop {
    border-radius: 6px;
    box-shadow: -1px 1px 15px #52586A;
}

.spop-body {
    background: url(../../../images/spop-bg.png) no-repeat;
    background-size: cover;
}

.gx-loading {
    transition: opacity .1s linear 0s;
    width: 100%;
    height: 70%;
    background: url(../../../images/loading.svg) no-repeat center;
    background-size: auto 100%;
    position: absolute;
    top: 15%;
    left: 0%;
    margin-left: 0%;
    margin-top: 0%;
    opacity: 0;
    display: inline-block;
}

.gx-loading-show {
    opacity: 1;
}

.gx-disabled {
    position: relative;
    pointer-events: none;
}

/* 错误提示 */

.alert-error {
    width: 100%;
    height: 24px;
    background: rgba(222, 51, 51, .2);
    border-radius: 4px;
    text-align: center;
    line-height: 24px;
    opacity: 0;
    color: #FF4444;
}

.alert-success {
    width: 100%;
    height: 24px;
    background: rgba(123, 183, 100, .2);
    border-radius: 4px;
    text-align: center;
    line-height: 24px;
    opacity: 0;
    color: #A2FF33;
}

.tooltip-inner {
    background: #3F599B;
    text-align: left;
    padding: 11px 12px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
}

.tooltip.right .tooltip-arrow {
    border-right-color: #3F599B !important;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #3F599B !important;
}

.tooltip.in {
    opacity: 1;
}

.pageAnimate {
    width: 10px;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
}

.swiper-button-disabled {
    display: none !important;
}

.pageAnimate-border {
    width: 1px;
    height: 0px;
    background: #303642;
    position: absolute;
    right: 0;
    top: 50%;
    box-shadow: -0px -2px 8px #4a515e;
    z-index: 999;
}

.pageAnimate-border-in {
    -webkit-animation: pageborder 1.6s 0s ease-in-out;
    animation: pageborder 1.6s .0s ease-in-out;
}

@-webkit-keyframes pageborder {
    0% {
        height: 1vh;
        margin-top: 0vh;
    }

    20% {
        height: 100vh;
        margin-top: -50vh;
    }

    80% {
        height: 100vh;
        margin-top: -50vh;
    }

    100% {
        height: 1vh;
        margin-top: 0vh;
    }
}

#gx-map-modal, #gx-map-modal-birth {
    display: flex;
    align-items: center;
    justify-content: center;
}

#gx-map-modal-birth .modal-dialog {
    margin: '0px' !important;
}

#gx-map-modal .modal-dialog {
    margin: '0px' !important;
    min-width: 550px;
    width: 50%;
    text-align: center;
}

#gx-map-modal .relative {
    width: 100%;
    /* width:100px;
    height:100px; */
}

#gx-map-modal .relative img {
    width: 100%;
    /* width:100px;
    height:100px; */
}

#gx-map-modal .gx-map-modal-name {
    background: rgba(49, 55, 72, .9);
    color: #FFFFFF;
    padding-left: 20px;
    line-height: 30px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.gx-gxmodal .gx-gxmodal-foot {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0px;
    text-align: center;
}

.gx-gxmodal .gx-gxmodal-foot a {
    margin: 0px 10px;
    vertical-align: middle;
}

.gx-frame {
    position: absolute;
    width: 135%;
    height: 135%;
    background-repeat: no-repeat;
    background-image: url(../images/iconfont/avatar-border.png);
    background-size: 100% 100%;
    top: -17.5%;
    left: -17.5%;
}

.gx-avatar-hover .popover {
    border-radius: 0px;
}

.hall-content-friend .popover {
    max-width: 300px !important;
}

.gx-avatar-content {
    width: 320px;
    height: 201px;
    padding: 12px 19px;
    background-size: cover;
    font-size: 12px;
    color: #FFFFFF;
}

.gx-avatar-content .gx-avatar-avatar img {
    width: 64px !important;
    height: 64px !important;
}

.gx-avatar-content-friend {
    position: absolute;
    top: 21px;
    right: -201px;
    z-index: 1;
    width: 72px;
    height: 26px;
    color: white;
    border: 1px solid #4B65A7;
    line-height: 24px;
    text-align: center;
    border-radius: 12px;
}

.gx-avatar-black-friend {
    color: rgba(137, 154, 203, .6);
    position: absolute;
    bottom: -114px;
    right: -200px;
    font-size: 12px;
}

.gx-avatar-black-friend span {
    text-decoration: underline;
}

.gx-avatar-black-friend svg {
    position: absolute;
    top: 3px;
    left: -16px;
    width: 12px;
    height: auto;
}

.gx-avatar-black-friend:hover {
    color: rgba(137, 154, 203, .6);
}

.gx-avatar-content-friend[data-blcak="addblack"] {
    top: 51px !important;
}

.gx-avatar-content-friend[data-blcak="removeblack"] {
    top: 51px !important;
}

.gx-avatar-content-friend:hover {
    border: 2px solid #6B9EFF;
    line-height: 22px;
    height: 26px;
}

.gx-avatar-content-row-border {
    position: absolute;
    height: 36px;
    width: 1px;
    top: 21px;
}

.gx-avatar-content-row .gx-avatar-content-row-border {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 1px rgb(255 255 255 / 10%);
}

.gx-avatar-content-row .gx-avatar-content-row-border:nth-child(1) {
    left: 25%;
}

.gx-avatar-content-row .gx-avatar-content-row-border:nth-child(2) {
    left: 50%;
}

.gx-avatar-content-row .gx-avatar-content-row-border:nth-child(3) {
    left: 75%;
}

.gx-avatar-content-row .col-xs-3 {
    padding: 0px;
    text-align: center;
    line-height: 30px;
    padding-top: 10px;
}

.gx-avatar-content-gameAge {
    position: absolute;
    top: 60px;
    left: 109px;
    margin-top: 0px;
}

.gx-avatar-content-top>.media-body {
    position: relative;
    top: -5px;
    overflow: unset;
}

.gx-avatar-content-friend .iconfont {
    position: relative;
    top: -3px;
}

.gx-avatar-content-row {
    position: absolute;
    width: 280px;
    height: 80px;
    bottom: 25px;
    left: 20px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.gx-avatar-content-level-div {
    width: 70px;
    height: 20px;
    border-radius: 10px;
    position: relative;
    padding-left: 25px;
}

.gx-avatar-content-level-div img {
    position: absolute;
    top: -10px;
    left: 0px;
    width: 30px !important;
    height: 35px !important;
}

.gx-avatar-content-level-shak {
    width: 10px;
    height: 18px;
    background: rgba(255, 255, 255, .1);
    position: absolute;
    top: 0px;
    transform: skewX(-25deg)
}

.gx-avatar-content-level-name {
    line-height: 18px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .6);
}

.gx-avatar-content-level-div .gx-avatar-content-level-shak:nth-child(1) {
    right: 15px;
}

.gx-avatar-content-level-div .gx-avatar-content-level-shak:nth-child(2) {
    width: 2px;
    right: 27px;
}

.gx-avatar-content-level-div .gx-avatar-content-level-shak:nth-child(3) {
    right: 33px;
    width: 4px;
}

.gx-avatar-content-level-div .gx-avatar-content-level-shak:nth-child(4) {
    right: 40px;
    opacity: 0;
}

.gx-avatar-content-level-div1 img, .gx-avatar-content-level-div0 img, .gx-avatar-content-level-div-1 img {
    top: -8px;
    left: -6px;
}

.gx-avatar-content-level-div2 img {
    top: -7px;
    left: -7px;
}

.gx-avatar-content-level-div3 img {
    top: -7px;
    left: -6px;
}

.gx-avatar-content-level-div4 img {
    top: -7px;
    left: -6px;
}

.gx-avatar-content-level-div5 img {
    top: -6px;
    left: -6px;
}

.gx-avatar-content-level-div6 img {
    top: -6px;
    left: -6px;
}

.gx-avatar-content-level-div7 img {
    top: -6px;
    left: -6px;
}

.gx-avatar-content-level-div8 .gx-avatar-content-level-name {
    text-shadow: 0px 1px 0px #704F1A;
}

.gx-avatar-content-level-div8 img,
.gx-avatar-content-level-div7 img {
    display: none;
    top: -6px;
    left: -6px;
}

.gx-avatar-content-level-div8 .gx-avatar-content-level-shak,
.gx-avatar-content-level-div7 .gx-avatar-content-level-shak {
    display: none;
}

.gx-avatar-content-level-div1, .gx-avatar-content-level-div0, .gx-avatar-content-level-div-1 {
    background: linear-gradient(174deg, #E4E4E5 0%, #939394 100%);
    border: 1px solid #CDC0C0;
}



.gx-avatar-content-level-div2 {
    background: linear-gradient(171deg, #FFD0D8 0%, #9E5761 100%);
    border: 1px solid #DE7683;
}


.gx-avatar-content-level-div3 {
    background: linear-gradient(167deg, #DAE5F9 0%, #8192B8 100%);
    border: 1px solid #8CB0FF;
}

.gx-avatar-content-level-div4 {
    background: linear-gradient(172deg, #FFCAB2 0%, #CA7A63 100%);
    border: 1px solid #FF9474;
}

.gx-avatar-content-level-div5 {
    background: linear-gradient(143deg, #74DCFF 0%, #448BBD 100%);
    border: 1px solid #3DB4FF;
}

.gx-avatar-content-level-div6 {
    background: linear-gradient(162deg, #B7D3FF 0%, #525CB1 100%);
    border: 1px solid #7782F0;
}

.gx-avatar-content-level-div7 {
    background: url(../images/rank/careseven.png) no-repeat;
    background-size: 100%;
    width: 86px;
    height: 35px;
    margin-top: -7px;
    margin-left: -2px;
    padding-top: 10px;
    padding-left: 14px;
    text-align: center;
}

.gx-avatar-content-level-div8 {
    background: url(../images/rank/careeight.png) no-repeat;
    background-size: 100%;
    width: 86px;
    height: 35px;
    margin-top: -7px;
    margin-left: -2px;
    padding-top: 10px;
    padding-left: 14px;
    text-align: center;
}

.gx-avatar-content .gx-avatar-level {
    width: 100px;
    height: 30px;
    position: absolute;
    top: 45px;
    left: 72px;
    background-size: 26px auto;
    background-position: left;
}

.gx-avatar-content .gx-avatar-level span {
    padding: 2px 3px 2px 5px;
}

.gx-avatar-content .gx-avatar-level div {
    text-align: center;
    position: absolute;
    bottom: 1px;
    width: 100%;
    left: 5px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
}

.gx-avatar-level-1 {
    background: url(../images/rank/badge-min/ribbon/-1.png) no-repeat top center;
    background-size: 90% auto;
}

.gx-avatar-level0 {
    background: url(../images/rank/badge-min/ribbon/0.png) no-repeat top center;
    background-size: 90% auto;
}

.gx-avatar-level1 {
    background: url(../images/rank/badge-min/ribbon/1.png) no-repeat top center;
    background-size: 90% auto;
}

.gx-avatar-level2 {
    background: url(../images/rank/badge-min/ribbon/2.png) no-repeat top center;
    background-size: 90% auto;
}

.gx-avatar-level3 {
    background: url(../images/rank/badge-min/ribbon/3.png) no-repeat top center;
    background-size: 90% auto;
}

.gx-avatar-level4 {
    background: url(../images/rank/badge-min/ribbon/4.png) no-repeat top center;
    background-size: 90% auto;
}

.gx-avatar-level5 {
    background: url(../images/rank/badge-min/ribbon/5.png) no-repeat top center;
    background-size: 90% auto;
}

.gx-avatar-level6 {
    background: url(../images/rank/badge-min/ribbon/6.png) no-repeat top center;
    background-size: 90% auto;
}

.gx-avatar-level7 {
    background: url(../images/rank/badge-min/ribbon/7.png) no-repeat top center;
    background-size: 90% auto;
}

.gx-avatar-level8 {
    background: url(../images/rank/badge-min/ribbon/8.png) no-repeat top center;
    background-size: 90% auto;
}

.gx-avatar-levelrating {
    background: url(../images/rank/badge-min/ribbon/rating.png) no-repeat top center;
    background-size: 90% auto;
}

.gx-avatar-level1 div, .gx-avatar-level0 div, .gx-avatar-level-1 div {
    background-image: -webkit-linear-gradient(325deg, #E4E4E5, #939394);
}

.gx-avatar-level2 div {
    background-image: -webkit-linear-gradient(325deg, #FFD0D8, #9E5761);
}

.gx-avatar-level3 div {
    background-image: -webkit-linear-gradient(325deg, #DAE5F9, #8192B8);
}

.gx-avatar-level4 div {
    background-image: -webkit-linear-gradient(325deg, #FFCAB2, #CA7A63);
}

.gx-avatar-level5 div {
    background-image: -webkit-linear-gradient(325deg, #74DCFF, #448BBD);
}

.gx-avatar-level6 div {
    background-image: -webkit-linear-gradient(325deg, #B7D3FF, #525CB1);
}

.gx-avatar-level7 div {
    background-image: -webkit-linear-gradient(325deg, #FFE274, #BD8C44);
}

.gx-avatar-level8 div {
    background-image: -webkit-linear-gradient(325deg, #FFECA2, #F6C765);
}

.gx-avatar-level-name {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gx-avatar-level-name1, .gx-avatar-level-name0, .gx-avatar-level-name-1 {
    background-image: -webkit-linear-gradient(325deg, #E4E4E5, #939394);
}

.gx-avatar-level-name2 {
    background-image: -webkit-linear-gradient(325deg, #FFD0D8, #9E5761);
}

.gx-avatar-level-name3 {
    background-image: -webkit-linear-gradient(325deg, #DAE5F9, #8192B8);
}

.gx-avatar-level-name4 {
    background-image: -webkit-linear-gradient(325deg, #FFCAB2, #CA7A63);
}

.gx-avatar-level-name5 {
    background-image: -webkit-linear-gradient(325deg, #74DCFF, #448BBD);
}

.gx-avatar-level-name6 {
    background-image: -webkit-linear-gradient(325deg, #B7D3FF, #525CB1);
}

.gx-avatar-level-name7 {
    background-image: -webkit-linear-gradient(325deg, #FFE274, #BD8C44);
}

.gx-avatar-level-name8 {
    background-image: -webkit-linear-gradient(325deg, #FFECA2, #F6C765);
}

.gx-avatar-level-namediv1, .gx-avatar-level-namediv0, .gx-avatar-level-namediv-1 {
    background: linear-gradient(135deg, #bebebf 0%, #b2b2b2 30%, #939394 100%);
}

.gx-avatar-level-namediv2 {
    background: linear-gradient(135deg, #FFD0D8 0%, #a75c66 66%, #9E5761 100%);
}

.gx-avatar-level-namediv3 {
    background: linear-gradient(135deg, #DAE5F9 0%, #899bc3 48%, #8192B8 100%);
}

.gx-avatar-level-namediv4 {
    background: linear-gradient(135deg, #FFCAB2 0%, #CA7A63 71%, #CA7A63 100%);
}

.gx-avatar-level-namediv5 {
    background: linear-gradient(135deg, #74DCFF 0%, #4994c9 76%, #448BBD 100%);
}

.gx-avatar-level-namediv6 {
    background: linear-gradient(135deg, #B7D3FF 0%, #5863be 68%, #525CB1 100%);
}

.gx-avatar-level-namediv7 {
    background: linear-gradient(135deg, #F1D055 0%, #c89549 77%, #BD8C44 100%);
}

.gx-avatar-level-namediv8 {
    background: linear-gradient(135deg, #F1D055 0%, #ca984e 65%, #BD8C44 100%);
}

.gx-avatar-level span {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: inherit;
    font-weight: 500;
}

.popover.right>.arrow:after {
    border-right-color: rgba(44, 51, 65, 1)
}

.popover.left>.arrow:after {
    border-left-color: rgba(44, 51, 65, 1)
}

.popover {
    background-color: rgba(44, 51, 65, 1);
}

.popover-content {
    /* background-color: rgba(44, 51, 65, 1); */
    width: 320px;
    height: 201px;
    background: url(../images/gx-user.webp) no-repeat center center;
    background-size: 100% auto;
    border: none;
    padding: 0px;
    margin-left: -1px;
}

.gx-avatar-avatar {
    width: 64px;
    height: 64px;
    /* padding: 2px; */
    text-align: center;
    border-radius: 50%;
    /* background-image: linear-gradient(180deg, rgba(218, 229, 249, 1), rgba(129, 146, 184, 1)); */
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
}

.gx-avatar-avatar img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.gx-avatar-avatar .gx-avatar-avatar-bot {
    width: 6px;
    height: 6px;
    background: #A2FF33;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
}

.popover {
    padding: 0px;

}

.gx-avatar-iconfont {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    top: -6px;
    right: -3px;
}

.gx-avatar-content .name-ellipsis {
    color: #FFFFFF !important;
    font-size: 14px;
    text-shadow: 0px 1px 4px #18191D, 0px 1px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    vertical-align: middle;
}

.gx-avatar-content .gx-avatar-type-icon {
    vertical-align: middle;
    margin-top: 15px;
    margin-left: 8px;
}

.gx-avatar-content-top {
    padding-bottom: 10px;
    margin-bottom: 10px;
    overflow: unset;
}

.gx-avatar-content .row {
    margin: 0px;
}

.gx-avatar-content .col-xs-4 {
    padding: 0px;
    text-align: center;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 15px;
}

.triangle-up {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #FFF;
}

.triangle-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #FFF;
}

.spop--top-center {
    top: 50%;
    margin-top: -28px;
}

.spop--top-center .spop-body {
    background: none;
}

.spop--top-center .spop-close {
    opacity: 0;
}

.spop--top-center .spop-icon {
    display: none;
}

.spop--top-center .spop-body {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}

.spop--top-center .spop {
    width: auto
}

.gx-updataDiv {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    border: 1px dashed #5A6585;
    display: inline-block;
    cursor: pointer;
    color: #5A6585;
    text-align: center;
    line-height: 38px;
    font-size: 29px;
    vertical-align: middle;
    font-weight: 500;
    margin-bottom: 0px;
}

pre {
    display: inline;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    line-height: normal;
    color: #FFF;
    word-wrap: break-word;
    word-break: break-all;
    background-color: transparent;
    border: none;
    border-radius: unset;
    vertical-align: middle;
    font-family: sans-serif;
    white-space: normal;
}

#chatBtn {
    display: none !important;
}

.moveGold {
    position: relative;
    top: -2px;
}

.Invite-gxmodal {
    pointer-events: none;
}

.Invite-gxmodal .btn-middle {
    vertical-align: middle;
    overflow: hidden;
}

.Invite-gxmodal .modal-dialog {
    pointer-events: auto;
}

.friendInvite-content .Invite-gxmodal:nth-child(1) .modal-dialog {
    position: relative;
    top: 0px;
    left: 0px;
}

.friendInvite-content .Invite-gxmodal:nth-child(2) .modal-dialog {
    position: relative;
    top: -10px;
    left: -10px;
}

.friendInvite-content .Invite-gxmodal:nth-child(3) .modal-dialog {
    position: relative;
    top: -20px;
    left: -20px;
}

.header-close.iconfont.ft-ash {
    color: #5a6585
}

.gx-avatar-26-level-1 {
    background: url(../images/rank/badge-min/ribbon26/-1.png) no-repeat;
}

.gx-avatar-26-level0 {
    background: url(../images/rank/badge-min/ribbon26/0.png) no-repeat;
}

.gx-avatar-26-level1 {
    background: url(../images/rank/badge-min/ribbon26/1.png) no-repeat;
}

.gx-avatar-26-level2 {
    background: url(../images/rank/badge-min/ribbon26/2.png) no-repeat;
}

.gx-avatar-26-level3 {
    background: url(../images/rank/badge-min/ribbon26/3.png) no-repeat;
}

.gx-avatar-26-level4 {
    background: url(../images/rank/badge-min/ribbon26/4.png) no-repeat;
}

.gx-avatar-26-level5 {
    background: url(../images/rank/badge-min/ribbon26/5.png) no-repeat;
}

.gx-avatar-26-level6 {
    background: url(../images/rank/badge-min/ribbon26/6.png) no-repeat;
}

.gx-avatar-26-level7 {
    background: url(../images/rank/badge-min/ribbon26/7.png) no-repeat;
}

.gx-avatar-26-level8 {
    background: url(../images/rank/badge-min/ribbon26/8.png) no-repeat;
}

.gx-avatar-26-level1 span, .gx-avatar-26-level0 span, .gx-avatar-26-level-1 span {
    background-image: -webkit-linear-gradient(325deg, #E4E4E5, #939394);
    border-color: -webkit-linear-gradient(325deg, #E4E4E5, #939394);
}

.gx-avatar-26-level2 span {
    background-image: -webkit-linear-gradient(325deg, #FFD0D8, #a59597);
}

.gx-avatar-26-level3 span {
    background-image: -webkit-linear-gradient(325deg, #DAE5F9, #8192B8);
}

.gx-avatar-26-level4 span {
    background-image: -webkit-linear-gradient(325deg, #FFCAB2, #CA7A63);
}

.gx-avatar-26-level5 span {
    background-image: -webkit-linear-gradient(325deg, #74DCFF, #448BBD);
}

.gx-avatar-26-level6 span {
    background-image: -webkit-linear-gradient(325deg, #B7D3FF, #525CB1);
}

.gx-avatar-26-level7 span {
    background-image: -webkit-linear-gradient(325deg, #FFE274, #BD8C44);
}

.gx-avatar-26-level8 span {
    background-image: -webkit-linear-gradient(325deg, #FFECA2, #F6C765);
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #3F599B;
}

/* 中文报错 */
#zherrorModal .modal-dialog {
    width: 400px;
    height: 224px;
    background: #222F4E;
    border-radius: 4px;
    box-shadow: 0px 0px 3px #000;
    text-align: center;
    color: rgba(255, 255, 255, .6);
}

#zherrorModal .zherrorModal-header {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 24px;
}

#zherrorModal .zherrorModal-header .iconfont {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    cursor: pointer;
}

#zherrorModal .f16 {
    margin-bottom: 8px;
    margin-top: 8px;
    color: #FFF;
}

#zherrorModal .f12 {
    width: 272px;
    margin: 0 auto;
}

#zherrorModal .btn-middle:nth-child(1) {
    border: 1px solid #3F599B;
    background: transparent;
}

#zherrorModal .btn-middle {
    min-width: 140px;
    margin: 0px 7px;
    margin-top: 19px;
}