
.container{
font: 14px,sans-serif;
color: #333;
width: 1226px;
margin-right: auto;
margin-left: auto;
position: relative;
}
/* .container:after, .container:before { 
    content: " ";
    display: table;
}
 */
.Search-Model, .container {
    position: relative;
}

.BuyBuyBuylogo {
    float: left;
    width: 100px;
    margin-top: 22px;
    background-color: royalblue
}
.logo {
    position: relative;
    display: block;
    width: 56px;
    height: 56px;
    overflow: hidden;
}
.Search-nav {
    float: left;
    width: 850px;
}
 .nav-list {
    position: relative;
    z-index: 10;
    float: left;
    width: 1100px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    list-style-type: none;
    font-size: 16px;
}
.Search-Model .nav-category .link-category {
    display: block;
    padding: 26px 0 38px;
    text-align: right;
    color: #333;
}
.Snav-list {
    position: relative;
    z-index: 10;
    float: left;
    width: 1100px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    list-style-type: none;
    font-size: 16px;
}
.nav-category {
    position: relative;
    float: left;
    width: 127px;
    padding-right: 15px;
}
.nav-category .link-category {
    display: block;
    padding: 26px 0 38px;
    text-align: right;
    color: #333;
    visibility: hidden;
}
.nav-item {
    float: left;
    display: block;
    padding: 26px 10px 38px;
}

.header-search {
    float: right;
    width: 296px;
    margin-top: 25px;
}
 .search-form {
    position: relative;
    width: 296px;
    height: 50px;
    z-index: 20;
}
.hide {
    display: none!important;
}
 .no-style-msq {
    color: #333;
}

.search-text {
    right: 51px;
    z-index: 1;
    width: 223px;
    height: 48px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 48px;
}

.search-btn, .search-text {
    position: absolute;
    top: 0;
    border: 1px solid #e0e0e0;
    outline: 0;
    transition: all .2s;
}
.search-btn {
    right: 0;
    z-index: 2;
    width: 52px;
    height: 50px;
    font-size: 24px;
    line-height: 24px;
    background-color: rebeccapurple;
    color: #616161;
    cursor: pointer;
}

/* .search-hot-words { 
    position: absolute;
    top: 14px;
    right: 62px;
    z-index: 2;
    text-align: right;
    transition: opacity .2s;
}
*/