:root {
    --main-color: #e74c3c;
    /* margin:0;
            padding:0; */
}

body {
    background-image: linear-gradient(to top right, rgba(208, 249, 242, 0.4), rgba(212, 209, 251, 0.5));
    height: 100vh;
}

.container {
    margin: 9%;
    /* 声明一个容器 */
    display: grid;
    /*  声明列的宽度  */
    grid-template-columns: repeat(3, 33%);
    /*  声明行间距和列间距  */
    grid-gap: 10px;
    /*  声明行的高度  */
    grid-template-rows: 320px 0px;
}

.mark {
    margin: 4%;
    /* 声明一个容器 */
    display: grid;
    /*  声明列的宽度  */
    grid-template-columns: repeat(2, 49%);
    /*  声明行间距和列间距  */
    grid-gap: 2px;
    /*  声明行的高度  */
    grid-template-rows: 144px;
}

.product-grid {
    font-family: 'Roboto', sans-serif;
    width: 360px;
    height: 360px;
}

.product-grid .product-image {
    overflow: hidden;
}


.product-grid:hover .product-image:before {
    opacity: 1;
}

.product-grid .product-image img {
    width: 256px;
    height: 256px;
    border-radius: 24px;

    box-shadow: 12px 4px 4px rgba(101, 101, 101, 0.5);
}

.txt-1 {
    width: 256px;
    height: 256px;
    border-radius: 24px;
    box-shadow: 12px 4px 4px rgba(86, 86, 87, 0.5);

}

.product-image .pic-1 {
    opacity: 1;
    backface-visibility: hidden;
    transition: all 0.4s ease-out 0s;
}

.product-grid:hover .product-image .pic-1 {
    opacity: 0;
}

.product-image .txt-1 {
    opacity: 0;
    position: absolute;
    top: 135px;
    backface-visibility: hidden;
    transform: scale(1);
    transition: all 0.4s ease-out 0s;
    background-image: linear-gradient(to top right, rgba(185, 224, 218, 0.4), rgba(192, 189, 231, 0.5));
}

.product-grid:hover .product-image .txt-1 {
    opacity: 1;
    transform: scale(1);
}

.mark h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: rgba(24, 37, 53, 0.5);
    text-shadow: 1px 3px 3px rgba(32, 58, 93, 0.5);
}

.mark p {
    color: rgba(24, 37, 53, 0.5);
    
}

.detail p {
    text-align: right;
    padding-top: 1.55em;
}

.product-grid .title {
padding-left: 12px;
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 auto;
}
.price{
    padding-left: 12px;
}
.product-grid .title a {
    color: #959595;
    text-decoration: none;
}

.product-grid .title a:hover {
    color: var(--main-color);
}

@media only screen and (max-width:990px) {
    .product-grid {
        margin-bottom: 36px;
    }
}