/* 颜色 */
.ft-ash {
    color: #5a6585;
}

.ft-white {
    color: #FFF;
}

.ft-white-tr {
    color: rgba(255, 255, 255, .5);
}


.ft-green {
    color: #7BB764;
}

.ft-green-light {
    color: #A2FF33;
}

.ft-red {
    color: #B32A2A;
}

.ft-red-light {
    color: #FF4444;
}

.ft-icon {
    color: #5A6585;
}

.ft-5A {
    color: #5A6585;
}

.ft-icon:hover,
.ft-icon:focus,
.ft-icon:active {
    color: #7584B1;
}

.ft-indigo {
    color: #8192B8;
}

.ft-orange {
    color: #EFBB74;
}
.ft-gold {
    color: #FFC438;
}
.ft-indigo-light {
    color: #C5D0E7;
}

.ft-A1 {
    color: #A1ADC8;
}

.option6 {
    opacity: .6;
}

.ft-6B {
    color: #6B9EFF;
}