/* 距离 */
.mr5 {
    margin-right: 5px;
}

.ml5 {
    margin-left: 5px;
}

.mt5 {
    margin-top: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.pb5 {
    padding-bottom: 5px;
}

.pt5 {
    padding-top: 5px;
}

.pr35 {
    padding-right: 35px;
}

.f12 {
    font-size: 12px;
}

.mr10 {
    margin-right: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.pb10 {
    padding-bottom: 10px;
}

.pt10 {
    padding-top: 10px;
}

.f14 {
    font-size: 14px;
}

.mr15 {
    margin-right: 15px;
}

.ml15 {
    margin-left: 15px;
}

.mt15 {
    margin-top: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.pb15 {
    padding-bottom: 15px;
}

.pt15 {
    padding-top: 15px;
}

.f16 {
    font-size: 16px;
}

.mr20 {
    margin-right: 20px;
}

.ml20 {
    margin-left: 20px;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.pb20 {
    padding-bottom: 20px;
}

.pt20 {
    padding-top: 20px;
}

.f18 {
    font-size: 18px;
}

.f15 {
    font-size: 15px;
}

.mr25 {
    margin-right: 25px;
}

.ml25 {
    margin-left: 25px;
}

.mt25 {
    margin-top: 25px;
}

.mb25 {
    margin-bottom: 25px;
}

.pb25 {
    padding-bottom: 25px;
}

.pt25 {
    padding-top: 25px;
}

.f20 {
    font-size: 20px;
}

.mr30 {
    margin-right: 30px;
}

.ml30 {
    margin-left: 30px;
}

.mt30 {
    margin-top: 30px;
}

.mb30 {
    margin-bottom: 30px;
}

.pb30 {
    padding-bottom: 30px;
}

.pt30 {
    padding-top: 30px;
}

.f22 {
    font-size: 22px;
}

.mr35 {
    margin-right: 35px;
}

.ml35 {
    margin-left: 35px;
}

.mt35 {
    margin-top: 35px;
}

.mb35 {
    margin-bottom: 35px;
}

.pb35 {
    padding-bottom: 35px;
}

.pt35 {
    padding-top: 35px;
}

.f24 {
    font-size: 24px;
}

.mr40 {
    margin-right: 40px;
}

.ml40 {
    margin-left: 40px;
}

.mt40 {
    margin-top: 40px;
}

.mb40 {
    margin-bottom: 40px;
}

.pb40 {
    padding-bottom: 40px;
}

.pt40 {
    padding-top: 40px;
}

.f26 {
    font-size: 26px;
}

.mr45 {
    margin-right: 45px;
}

.ml45 {
    margin-left: 45px;
}

.mt45 {
    margin-top: 45px;
}

.mb45 {
    margin-bottom: 45px;
}

.pb45 {
    padding-bottom: 45px;
}

.pt45 {
    padding-top: 45px;
}

.f28 {
    font-size: 28px;
}

.mr50 {
    margin-right: 50px;
}

.ml50 {
    margin-left: 50px;
}

.mt50 {
    margin-top: 50px;
}

.mb50 {
    margin-bottom: 50px;
}

.pb50 {
    padding-bottom: 50px;
}

.pt50 {
    padding-top: 50px;
}

.f30 {
    font-size: 30px;
}

.mr55 {
    margin-right: 55px;
}

.ml55 {
    margin-left: 55px;
}

.mt55 {
    margin-top: 55px;
}

.mb55 {
    margin-bottom: 55px;
}

.pb55 {
    padding-bottom: 55px;
}

.pt55 {
    padding-top: 55px;
}

.f32 {
    font-size: 32px;
}

.mr60 {
    margin-right: 60px;
}

.ml60 {
    margin-left: 60px;
}

.mt60 {
    margin-top: 60px;
}

.mb60 {
    margin-bottom: 60px;
}

.pb60 {
    padding-bottom: 60px;
}

.pt60 {
    padding-top: 60px;
}

.f34 {
    font-size: 34px;
}

.mr65 {
    margin-right: 65px;
}

.ml65 {
    margin-left: 65px;
}

.mt65 {
    margin-top: 65px;
}

.mb65 {
    margin-bottom: 65px;
}

.pb65 {
    padding-bottom: 65px;
}

.pt65 {
    padding-top: 65px;
}

.f36 {
    font-size: 36px;
}

.f40 {
    font-size: 40px;
}

.f44 {
    font-size: 44px;
}

.f46 {
    font-size: 46px;
}

.mr70 {
    margin-right: 70px;
}

.ml70 {
    margin-left: 70px;
}

.mt70 {
    margin-top: 70px;
}

.mb70 {
    margin-bottom: 70px;
}

.pb70 {
    padding-bottom: 70px;
}

.pt70 {
    padding-top: 70px;
}

.f38 {
    font-size: 38px;
}

.mr75 {
    margin-right: 75px;
}

.ml75 {
    margin-left: 75px;
}

.mt75 {
    margin-top: 75px;
}

.mb75 {
    margin-bottom: 75px;
}

.pb75 {
    padding-bottom: 75px;
}

.pt75 {
    padding-top: 75px;
}

.f40 {
    font-size: 40px;
}

.pl0 {
    padding-left: 0px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl20 {
    padding-left: 20px;
}

.pr0 {
    padding-right: 0px;
}