/* 下拉菜单 */
.gx-dropdown {}

.gx-dropdown .dropdown-toggle {
    width: 181px;
    height: 24px;
    background: #12151A;
    border-radius: 1px;
    cursor: pointer;
    line-height: 24px;
    padding-left: 13px;
}

.gx-dropdown .caret {
    position: absolute;
    top: 11px;
    right: 10px;
    line-height: 24px;
    border-top: 4px dashed;
    border-top: 4px solid #56627B;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.gx-dropdown .dropdown-menu {
    background: #1F232A;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    min-width: 100%;
}

.gx-dropdown .dropdown-menu>li>a {
    color: rgba(255, 255, 255, .4);
}

.gx-dropdown .dropdown-menu>li>a:focus,
.gx-dropdown .dropdown-menu>li>a:hover {
    background: #292e3a;
    color: #FFF;
}

/* 特殊下拉菜单 */
.gx-menu {
    position: relative;
}

.gx-menu .gx-menu-in {
    cursor: pointer;
}

.gx-menu-active .gx-menu-ul {
    border: 1px solid #3F599B;
}

.gx-menu .gx-menu-ul {
    height: 0px;
    overflow: hidden;
    background: #1C2744;
    transition: height .1s linear, width .1s linear, left .1s linear;
    color: #FFF;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    max-height: 200px;
    z-index: 4;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.gx-menu-ul a {
    color: #FFF;
}

.gx-menu-ul a:hover {
    color: #FFF;
}

.gx-menu-li {
    text-align: left;
    animation-duration: .1s;
    padding-left: 20px;
}

.gx-menu-li a {
    width: 100%;
}

.gx-menu-li:hover {
    background: rgba(63, 89, 155, .5);
    color: #FFF;
}

.gx-menu .caret {
    position: absolute;
    top: 9px;
    right: 10px;
    line-height: 24px;
    border-top: 4px dashed;
    border-top: 4px solid rgba(255, 255, 255, 1);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.gx-menu .gx-menu-in-div {
    width: 100%;
    height: 24px;
    background: #2D333D;
    padding-left: 18px;
    line-height: 24px;
}