/* 输入框 */
.gx-input {
    background: rgba(63, 89, 155, 0.2);
    border-radius: 4px;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    line-height: 26px;
    height: 26px;
    padding-left: 10px;
    font-size: 12px;
    outline: none;
}

.gx-input-bg {
    background: #1C2744;
}

.gx-input::placeholder {
    color: rgba(255, 255, 255, .3);
}

.gx-input:focus {
    outline: none;
    border-color: #66afe9;
}

.gx-input-two {
    background: rgba(63, 89, 155, 0.2);
    border-radius: 4px;
    border: 1px solid rgba(86, 98, 123, 0.6);
    color: rgba(255, 255, 255, .6);
    line-height: 32px;
    height: 32px;
    padding-left: 20px;
}

.gx-input-two::placeholder {
    color: rgba(255, 255, 255, .3);
}

.gx-input-two:focus {
    outline: none;
}

/* 搜索框 */
.suo-input {
    max-width: 300px;
    border: 1px solid rgba(86, 98, 123, 0.6);
}

.suo-input input {
    background: rgba(41, 45, 54, 0.36);
    border-radius: 1px;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 18px;
    font-size: 12px;
}

.suo-input input::placeholder {
    color: #5A6585;
    opacity: 1;
}

.suo-input input:active {
    box-shadow: none;
    border-color: rgba(86, 98, 123, 0.6)
}

.suo-input input:focus {
    box-shadow: none;
    border-color: rgba(86, 98, 123, 0.6)
}


.suo-input .input-group-addon {
    background: #3F599B;
    border-radius: 0px 4px 4px 0px;
    color: #FFF;
    border: none;
    width: 50px !important;
    border-radius: 0px;
    border-left: none;
    padding-left: 0px;
    padding-right: 4px;
    padding: 0px;
}

.suo-input .input-group-addon svg {
    position: relative;
    top: 1px;
}

.suo-input .input-group-addon:hover {
    background: #4561a8;
}

.suo-input .input-group-addon .iconfont {
    color: #FFF;
}

.suo-input .input-group-addon button {
    background: none;
    border: none;
}

.suo-input .input-group-addon button:focus {
    outline: none;
}

/*单选+复选框样式*/
.form-inline {
    display: inline-block;
}

.gx-check {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 2px;
}

.gx-check.must {
    pointer-events: none;
}

.gx-check input[type="checkbox"],
.gx-check input[type="radio"] {
    position: static;
    margin-left: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    margin-right: 5px;
}

.gx-check input[type="checkbox"]+label:before {
    background: url('../../images/iconfont/checkbox.png') no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
}

.gx-check input[type="checkbox"]:checked+label:before {
    background: url('../../images/iconfont/ischeckbox.png') no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
}

.gx-check input[class="disabled-check"]+label:before {
    background: url('../../images/iconfont/disabledcheckbox.png') no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
}

.gx-check input[class="disabled-checked"]:checked+label:before {
    background: url('../../images/iconfont/mustischeckbox.png') no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
}

.gx-check.must input[type="checkbox"]:checked+label:before {
    background: url('../../images/iconfont/mustischeckbox.png') no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
}

.gx-check.must input[type="checkbox"]+label:before {
    background: url('../../images/iconfont/disabledcheckbox.png') no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
}

/* .gx-check input[type="checkbox"]+label:hover:before {
    background: url('../../images/iconfont/checkbox-hover.png') no-repeat !important;
} */

.gx-check input[type="checkbox"]:disabled+label:before {
    background: url('../../images/iconfont/disabledcheckbox.png') no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
    cursor: default;
}

.gx-check input[type="radio"]+label:before {
    background: url('../../images/iconfont/checkbox.png') no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
}

.gx-check input[type="radio"]:checked+label:before {
    background: url('../../images/iconfont/ischeckboxRadio.png') no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
}

.gx-check input[type="radio"]:disabled+label:before {
    background: url('../../images/iconfont/nocheckbox.png') no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
}

.gx-check label {
    position: relative;
    font-weight: 400;
    display: inline;
    vertical-align: top;
    cursor: pointer;
    font-size: 12px;
}

.gx-check label:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    margin-top: -8px;
    left: -24px;
}

.gx-check-20 label:before {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    left: -25px
}

.gx-input-noborder {
    border: none;
}

/* 按钮 */
.btn-small {
    border-radius: 1px;
    min-width: 70px;
    height: 25px;
    line-height: 25px;
    padding: 0px 10px;
    border: none;
}

.btn-blue {
    color: #FFF;
    background: linear-gradient(180deg, rgba(183, 196, 221, .6) 0%, rgba(129, 146, 184, .6) 100%);
    transition: .3s;
}

.btn-green {
    min-width: 94px;
    height: 28px;
    background: linear-gradient(180deg, #3be643 0%, #049110 100%);
    border-radius: 16px;
    text-align: center;
    line-height: 28px;
    /* text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25); */
    cursor: pointer;
}

.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    filter: brightness(1.1)
}

.btn-black {
    color: #FFF;
    background: #252A36;
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    color: #FFF;
    filter: brightness(1.1)
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    color: #FFF;
    background: #515b74;
}

.btn-style {
    display: inline-block;
    min-width: 120px;
    height: 30px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    padding: 0px 10px;
    overflow: hidden;
    transition: .3s;
}

.btn-style-ash {
    background: #A8A8A8;
    color: #fff;
    text-shadow: none;
}

.btn-style-cyan {
    background: #3F599B;
    color: #fff;
    text-shadow: 0px 1px 1px #64461D;
}

.btn-style-cyan:hover,
.btn-style-cyan:active,
.btn-style-cyan:focus {
    color: #fff;
    background: linear-gradient(90deg, #4783f2 0%, #5ff3f3 100%);
}

.btn-style-ash:hover,
.btn-style-ash:active,
.btn-style-ash:focus {
    background: #A8A8A8;
    color: #fff;
    text-shadow: 0px 1px 1px #64461D;
}

.btn-middle {
    display: inline-block;
    color: #FFF;
    min-width: 80px;
    height: 26px;
    line-height: 26px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    padding: 0px 10px;
    font-size: 12px;
}

.btn-middle-cyan {
    background: linear-gradient(90deg, #3F79EE 0%, #5EFAED 100%);
}

.btn-middle-cyan:hover,
.btn-middle-cyan:active,
.btn-middle-cyan:focus {
    color: #FFF;
    background: linear-gradient(90deg, #4783f2 0%, #5ff3f3 100%);
}

.btn-middle-blue {
    color: #FFF;
    background: #3F599B;
    font-size: 12px;
    transition: .3s;
}

.btn-middle-blue:hover,
.btn-middle-blue:active,
.btn-middle-blue:focus {
    color: #FFF;
    filter: brightness(1.1)
}

.btn-air-blue {
    height: 28px;
    line-height: 28px;
    border: 1px solid #3F599B;
    border-radius: 14px;
    font-size: 14px;
    min-width: 94px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: rgba(255, 255, 255, .6);
    text-align: center;
}

.btn-air-blue:hover,
.btn-air-blue:active,
.btn-air-blue:focus {
    background: #6B9EFF;
    color: #FFF;
}

.gx-animate-btn {
    display: inline-block;
    text-align: center;
    max-width: 165px;
    width: 165px;
    height: 48px;
    line-height: 48px;
    position: relative;
    letter-spacing: 2px;
    color: #FFF;
}

.gx-animate-btn span {
    position: relative;
    z-index: 2;
}

.gx-animate-btn-red {
    /* background-image: url(../../../images/hall/animate-btn-red-bg.png); */
    background-repeat: no-repeat;
}

.gx-animate-btn-red:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 48px;
    background-image: url(../../../images/hall/animate-btn-red.webp);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: .8;
    z-index: 1;
    transition: .3s;
}

.gx-animate-btn-blue {
    /* background-image: url(../../../images/hall/animate-btn-blue-bg.png); */
    background-repeat: no-repeat;
}

.gx-animate-btn-blue:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 48px;
    background-image: url(../../../images/hall/animate-btn-blue.webp);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: .8;
    z-index: 1;
    transition: .3s;
}

.gx-animate-btn:active span,
.gx-animate-btn:focus span,
.gx-animate-btn:hover span {
    color: #fff;
}

.gx-animate-btn:active span,
.gx-animate-btn:focus span {
    position: relative;
    /* top: 1px;
    left: 2px; */
}

.gx-animate-btn:focus:after {
    opacity: .9;
    /* top: 3px;
    left: 2px; */
}

.gx-animate-btn:active:after {
    opacity: 1;
    /* top: 3px;
    left: 2px; */
}

.gx-animate-btn:hover:after {
    opacity: 1;
}

.gx-img-btn {
    display: inline-block;
    width: 193px;
    height: 72px;
    line-height: 72px;
    background-size: 100% 100%;
    margin: 0 auto;
    cursor: pointer;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 14px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.gx-img-btn:hover,
.gx-img-btn:active,
.gx-img-btn:focus {
    /* background: url(../../../images/gx-btn-hover.png); */
    background-size: 100% 100%;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.gx-img-btn-big {
    display: inline-block;
    width: 21.5%;
    height: 80px;
    line-height: 80px;
    /* background: url(../../../images/gx-big-btn.png); */
    background-size: 100% 100%;
    margin: 0 auto;
    cursor: pointer;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 20px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.gx-img-btn-big:hover,
.gx-img-btn-big:active,
.gx-img-btn-big:focus {
    /* background: url(../../../images/gx-big-btn-hover.png); */
    background-size: 100% 100%;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.gx-img-btn-big.disabled {
    background: url(../../../images/gx-big-btn-disabled.png);
    background-size: 100% 100%;
}

.gx-img-btn-big.disabledtwo {
    background: url(../../../images/gx-big-btn-disabled.png);
    background-size: 100% 100%;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    background: #A8A8A8 !important;
}

.gx-btn-befor-img {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    top: 0px;
    right: 0px;
}

.gx-img-btn-big.disabled:hover,
.gx-img-btn-big.disabled:active,
.gx-img-btn-big.disabled:focus,
.gx-img-btn-big.disabledtwo:hover,
.gx-img-btn-big.disabledtwo:active,
.gx-img-btn-big.disabledtwo:focus {
    background: url(../../../images/gx-big-btn-disabled.png);
    background-size: 100% 100%;
    cursor: no-drop;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.btn-inblack {
    min-width: 118px;
    height: 32px;
    line-height: 32px;
    padding: 0px;
    background: linear-gradient(90deg, #313748 0%, #313747 4%, #272C3A 100%);
    font-size: 14px;
    color: #A1ADC8;
    border-radius: 0px;
    border: none;
}

.btn-inblack:hover,
.btn-inblack:active,
.btn-inblack:focus {
    background: linear-gradient(90deg, #363c4f 0%, #2c3141 100%);
    color: #A1ADC8;
}


.login-gx-input .input-group-addon {
    background: #1A1C22;
    border-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    border: none !important;
    border-left: none;
    cursor: pointer;
    position: relative;
    min-width: 85px;
    font-size: 12px;
}

.login-gx-input .gx-input {
    border-right: none;
    border: none;
    background: #262C37;
}

.login-gx-input .gx-input:focus {
    border: none;
    box-shadow: none;
}

.login-gx-input .input-group-addon-border {
    width: 1px;
    height: 20px;
    background: #A1ADC8;
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -10px;
    opacity: 0.2;
}

.input-group {
    border-radius: 4px;
    border: none;
}

.login-gx-input-focus {
    /* border: 1px solid #66afe9 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6); */
}

.gx-img-btn-blue {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 46px;
    line-height: 46px;
    border-radius: 6px;
    background: #3F599B;
    background-size: 100% 100%;
    text-align: center;
    color: #FFF;
    font-size: 22px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 12px;
    transition: .3s;
}

.gx-img-middle-btn-blue {
    overflow: hidden;
    display: inline-block;
    min-width: 120px;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    background: #3F599B;
    background-size: 100% 100%;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

.gx-img-middle-btn-blue:hover,
.gx-img-middle-btn-blue:active,
.gx-img-middle-btn-blue:focus,
.gx-img-btn-blue:hover,
.gx-img-btn-blue:active,
.gx-img-btn-blue:focus {
    color: #FFF;
    background: #4561a8;
    background-size: 100% 100%;
}

.gx-addbtn {
    min-width: 100px;
    color: #FFF;
    background: #3F599B;
    border: none;
    cursor: pointer;
    border-top-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
    font-size: 12px;
}

.gx-addbtn:hover,
.gx-addbtn:active {
    color: #FFF;
    background: #4561a8
}

.gx-addbtn-input {
    border: none !important;
}

.gx-textarea {
    width: 100%;
    height: 190px;
    resize: none;
    background: rgba(63, 89, 155, 0.2);
    border-radius: 4px;
    border: none;
    outline: none;
    color: #FFF;
    padding: 5px 5px;
    font-size: 12px;
}

.gx-textarea::placeholder {
    color: #56627B;
}

.gx-textarea:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: none;
}

.input-gx-menu {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 40px;
    min-width: 67px;
    text-align: center;
    color: #FFF;
    font-size: 12px;
}

.input-gx-menu .triangle-down {
    border-top: 4px solid #FFF;
    position: relative;
    top: -2px;
}

.input-gx-menu .gx-menu-ul {
    width: 310px;
    font-size: 12px;
}

.input-gx-menu .gx-menu-ul a {
    display: block;
}

.input-gx-menu .gx-menu-ul .gx-menu-li:first-child a {
    margin-top: 40px;
}

.chooseCountryInput {
    padding: 10px 20px;
    background: rgba(63, 89, 155, 0.2);
    width: 100%;
}

.chooseCountryInput input {
    width: 100%;
}

.gx-search {
    vertical-align: middle;
    display: inline-block;
    width: 381px;
    height: 34px;
    background: transparent;
    border-radius: 4px;
    /* border: 1px solid rgba(161, 173, 200, 0.2); */
    position: relative;
}

.gx-search input {
    width: 100%;
    height: 34px;
    line-height: 34px;
    background: rgba(63, 89, 155, 0.2);
    outline: none;
    border: 1px solid #3F599B;
    color: white;
    padding-left: 45px;
    padding-right: 30px;
    border-radius: 4px;
}

.gx-search input::placeholder {
    color: white;
    opacity: .6;
}

.gx-search .iconfont {
    color: #A1ADC8;
    font-size: 16px;
    opacity: .6;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 15px;
}

.gx-search .gx-search-clear {
    left: unset;
    right: 15px;
    font-size: 14px;
    cursor: pointer;
}

.gx-onlive {
    width: 14px;
    height: 14px;
    background: linear-gradient(137deg, #FFECA2 0%, #F6C765 100%);
    border-radius: 50%;
    text-align: center;
}

.gx-onlive .gx-onlive-border {
    width: 1px;
    height: 6px;
    display: inline-block;
    background: #2A2A2A;
    border-radius: 2px;
    margin: 0px -1.6px;
    position: relative;
    top: -10px;
    vertical-align: bottom;
}

.gx-onlive .gx-onlive-border:nth-child(1) {
    height: 5px;
    animation: gxonlive 1s linear infinite;
}

.gx-onlive .gx-onlive-border:nth-child(2) {
    height: 6px;
    animation: gxonlive .5s linear infinite;
}

.gx-onlive .gx-onlive-border:nth-child(3) {
    height: 4px;
    animation: gxonlive .2s linear infinite;
}

@keyframes gxonlive {
    from {
        height: 6px;
    }

    to {
        height: 3px;
    }
}

.gx-check input[class="J_gameVersion disabled-check"]+label:before {
    background: url('../../images/iconfont/disabledcheckbox.png') no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
}

.gx-pass-num-glass {
    background: rgba(63, 89, 155, 0.2);
    width: 238px;
    position: relative;
    display: inline-block;
}

.gx-pass-num-glass .gx-input {
    background: none;
}

.gx-pass-num-glass .gx-input-two {
    background: none;
    border: none;
    border-radius: 4px;
}

.gx-pass-num-glass .gx-pass-num-glass-add {
    position: absolute;
    right: 10px;
    top: 9px;
    cursor: pointer;
}

.gx-pass-num-glass .gx-pass-num-glass-add svg:nth-child(2) {
    display: none;
}

.gx-pass-num-glass .gx-pass-num-glass-add svg {
    width: 16px;
}

.gx-pass-num-glass .gx-pass-num-glass-add.show svg:nth-child(2) {
    display: inline-block;
}

.gx-pass-num-glass .gx-pass-num-glass-add.show svg:nth-child(1) {
    display: none;
}

.gx-switch {
    position: relative;
    display: inline-block;
    background: #1C2744;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    white-space: nowrap;
}

.gx-switch.disabled {
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    -webkit-filter: grayscale(100%);
}

.gx-switch input[type='checkbox'] {
    width: 60px;
    height: 20px;
    border-radius: 10px;
    --active: #5628EE;
    --active-inner: #fff;
    --input-border: #424850;
    --input-border-hover: #23C4F8;
    --disabled: #F5F9FF;
    --background: transparent;
    --disabled-inner: #E4ECFA;
    --shadow-inner: rgba(18, 22, 33, .1);
    height: 21px;
    outline: none;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
    border: 1px solid var(--input-border);
    background: var(--background);
    transition: background .3s ease, border-color .3s ease;
    position: relative;
    z-index: 2;
    vertical-align: middle;
}

.gx-switch input[type='checkbox']:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: opacity .2s ease, -webkit-transform .3s ease, -webkit-filter .3s ease;
    transition: transform .3s ease, opacity .2s ease, filter .3s ease;
    transition: transform .3s ease, opacity .2s ease, filter .3s ease, -webkit-transform .3s ease, -webkit-filter .3s ease;
    left: -1px;
    top: -0px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #5A6585;
    z-index: 2;
}

.gx-switch input[type='checkbox']:checked {
    --input-border: rgba(63, 89, 155, 0.4);
}

.gx-switch input[type='checkbox']:checked:after {
    background: #6B9EFF;
    -webkit-transform: translateX(38px);
    transform: translateX(38px);
}

.gx-switch .gx-switch-open {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: -7px;
    line-height: 22px;
    color: #6B9EFF;
    font-size: 12px;
    width: inherit;
    text-align: center;
    /* font-weight: 700; */
}

.gx-switch .gx-switch-close {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0px;
    right: -5px;
    line-height: 22px;
    color: rgba(255, 255, 255, .3);
    font-size: 12px;
    width: inherit;
    text-align: center;
    font-weight: 700;
}

.gx-switch.open .gx-switch-open {
    display: block;
}

.gx-switch.open .gx-switch-close {
    display: none;
}

.gx-range {
    -webkit-appearance: none;
    width: 300px;
    border-radius: 10px;
    background-color: #1C2744;
    /*这个属性设置使填充进度条时的图形为圆角*/
}

.gx-range::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.gx-range::-webkit-slider-runnable-track {
    height: 8px;
    border-radius: 10px;
    /*将轨道设为圆角的*/
    box-shadow: none;
    /*轨道内置阴影效果*/
}

.gx-range:focus {
    outline: none;
}

.gx-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    margin-top: -4px;
    /*使滑块超出轨道部分的偏移量相等*/
    background: #ffffff;
    border-radius: 50%;
    /*外观设置为圆形*/
    border: 1px solid #6B9EFF;
    /*设置边框*/
    cursor: pointer;
}





.gx-btn-Attention {
    box-shadow: 0px 0px 12px #FFF;
    animation: Attention 1500ms linear infinite forwards;
}

@keyframes Attention {
    0% {
        box-shadow: 0px 0px 4px #FFF;
    }

    50% {
        box-shadow: 0px 0px 12px #FFF;
    }

    100% {
        box-shadow: 0px 0px 4px #FFF;
    }
}