.gx-modal-header {
    width: 100%;
    height: 50px;
    background: #1D2944;
    -webkit-app-region: drag;
    padding-top: 13px;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
}


.gx-modal-content {
    height: 100vh;
    background: #1D2944;
    border-radius: 4px 4px 4px 4px;
}



.gx-modal-content .modal-content {
    padding: 15px 30px 30px 30px;
    background: none;
    box-shadow: none;
    border: none;
}

.gx-modal-header .header-window {
    top: 17px;
    right: 12px;
}

.gx-modal-header .header-window span:hover {
    color: rgba(255, 255, 255, 0.8)
}

.gx-modal-smell-dialog {
    width: 400px;
}

.gx-modal-smell {
    width: 400px;
    min-height: 160px;
    background: #222F4E;
    border-radius: 4px;
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.5);
    padding-bottom: 25px;
}

.gx-modal-smell .header-window {
    top: 8px;
}

.gx-modal-smell-header {
    width: 100%;
    height: 20px;
    -webkit-app-region: drag;
}

.gx-modal-smell-header .window-operation {
    transform: scale(.8);
    display: inline-block;
}

.gx-modal-wraper {
    width: 100%;
    height: 100%;
    padding: 40px 55px 0px 55px;
}

.gx-modal-header-return {
    position: absolute;
    top: 0px;
    left: 20px;
    line-height: 50px;
    -webkit-app-region: no-drag;
    cursor: pointer;
    color: #5A6585;
}

.gx-modal-header-nav {
    font-size: 14px;
    color: rgba(197, 208, 231, .6);
    line-height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-left: 6px;
}

.gx-modal-header-nav-item {
    display: inline-block;
    width: 99px;
    text-align: center;
    cursor: pointer;
}

.gx-modal-header-nav-item svg {
    opacity: 0.6;
}

.gx-modal-header-nav-active svg {
    opacity: 1;
}

.gx-modal-header-nav-active {
    color: white;
    font-size: 14px;
    border-bottom: 2px solid #6B9EFF;
}

.gx-modal-header-nav-icon {
    position: absolute;
    bottom: 0;
    left: 8%;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #C5D0E7;
}