/* 地图样式 */
.gx-map {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.gx-map-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(81, 81, 81, .2);
    display: none;
}

.gx-map-mask-circle {
    width: 100%;
    height: 20px;
    background: rgba(26, 28, 34, .8);
    position: absolute;
    bottom: 20px;
    padding: 8px 0px;
}

.gx-map-mask-progress {
    width: 85%;
    height: 4px;
    border-radius: 2px;
    background-color: #5A6585;
    margin: 0 auto;
}

.gx-map-mask-progress-br {
    width: 0%;
    background-color: #6B9EFF;
    height: 4px;
    border-radius: 2px;
    transition: width .1s ease;
}

.gx-map .gx-map-img {
    height: 100%;
    text-align: center;
}

.gx-map .gx-map-name {
    width: 100%;
    height: 34px;
    line-height: 34px;
    background: rgba(63, 89, 155, .8);
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: rgba(255, 255, 255, .8);
    text-align: center;
    text-shadow: 0px 1px 1px #3B3B3B;
    font-size: 12px;
}

.gx-map .gx-map-marker {
    position: absolute;
    top: 0px;
    left: 0px
}

.gx-map .gx-map-marker {
    height: 18px;
    line-height: 18px;
    background: rgba(0, 0, 0, .7);
    border-radius: 2px 0px 8px 0px;
    padding: 0px 8px;
    transform-origin: 0% 0%;
}

.gx-map-marker-border {
    width: 1px;
    height: 10px;
    background: rgba(216, 216, 216, .1);
    vertical-align: middle;
    margin: 0 5px;
    display: inline-block;
}