/* table */
.gx-teble {
    width: 100%;
}

.gx-teble tbody {
    background: rgba(36, 41, 54, 0.4);
    border: 1px solid rgba(63, 89, 155, 0.6);
}

.gx-teble-thead {
    height: 40px;
    line-height: 40px;
    background: rgba(63, 89, 155, .6);
    border-radius: 4px 4px 0px 0px;
    padding-right: 20px;
    font-size: 12px;
}

.gx-teble-thead th {
    color: #FFF;
}

.gx-teble-thead-th {
    float: left;
    font-size: 16px;
    height: 40px;
}

.gx-teble-tbody {
    background: rgba(32, 36, 44, .6);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    padding-right: 6px;
}

.gx-teble-tbody-body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.gx-teble-tbody-table {
    width: 100%;
}

.gx-teble-tbody-table td {
    border-bottom: 1px solid rgba(63, 89, 155, 0.15);
}

.no-border {
    border: none !important;
}

.gx-teble-tbody-body tr:nth-child(2n-1) {
    background: rgba(63, 89, 155, 0.1);
}