@font-face {
  font-family: 'iconfont';  /* Project id 1792542 */
  src: url('//at.alicdn.com/t/font_1792542_oth2a01ngk.woff2?t=1647913319669') format('woff2'),
       url('//at.alicdn.com/t/font_1792542_oth2a01ngk.woff?t=1647913319669') format('woff'),
       url('//at.alicdn.com/t/font_1792542_oth2a01ngk.ttf?t=1647913319669') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}