#settlement {
    padding: 0px !important;
    padding-left: 6px;
    top: 60px;
    right: 61px;
    outline: none;
    z-index: 1000;
}

#settlement .modal-dialog {
    width: 100%;
    height: calc(100VH - 60px);
    background: url('../../images/details/details-bg.jpg') no-repeat bottom left;
    background-size: 1280px 720px;
    padding: 0px;
    overflow: hidden;
    margin: 0px !important;
    outline: none;
}

#settlement .settlement-top {
    padding: 0px 10px;
}

#settlement .settlement-swiper-container .settlement-slide {
    padding: 0px 20px;
}

#settlement .settlement_title_win {
    width: 478px;
    height: 93px;
    background: url('../../images/modal/settlement/win-title.png') no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: -3px;
    padding-top: 30px;
    letter-spacing: 5px;
}

#settlement .settlement_title_win .ft-white-tr {
    margin-top: 0px;
    letter-spacing: 15px;
    transform: scale(.6);
}

#settlement .settlement_title_fail {
    width: 478px;
    height: 68px;
    background: url('../../images/modal/settlement/fail-title.png') no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 21px;
    padding-top: 10px;
    letter-spacing: 5px;
}

#settlement .settlement_title_fail .ft-white-tr {
    margin-top: -4px;
    letter-spacing: 15px;
    transform: scale(.6);
}

#settlement .settlement_nav {
    margin: 40px 0px -3px 0px;
    position: relative;
}

#settlement .settlement_nav .settlement_nav_item {
    min-width: 150px;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    margin: 0 15px;
    background: rgba(36, 41, 54, .4);
    border-radius: 4px;
    color: rgba(255, 255, 255, .6);
    cursor: pointer;
    position: relative;
    top: -25px;
    transition: .3s;
}

#settlement .settlement_nav .settlement_nav-left {
    position: absolute;
    bottom: 0px;
    left: 9px;
    color: #FFFFFF;
    font-size: 12px;
}

#settlement .settlement_nav .settlement_nav-right {
    position: absolute;
    top: 7px;
    right: 22px;
    line-height: 38px;
    color: #FFF;
}

#settlement .settlement_nav .settlement_nav_item.active,
#settlement .settlement_nav .settlement_nav_item:hover {
    color: #FFFFFF;
    text-shadow: 0px 1px 1px #242932;
    background: #3F599B;
    background-size: 100% 100%;
}

#settlement .settlement-row {
    margin: 0 -10px;
    /* background: rgba(63, 89, 155, 0.2); */
    border-radius: 2px;
    padding: 20px 9px;
}

#settlement .settlement-row .settlement-row-left {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 23px;
    width: 21%;
    background: rgba(63, 89, 155, 0.2);
}

#settlement .settlement-row .settlement-row-right {
    padding-right: 10px;
    padding-left: 10px;
    width: 79%;
    min-height: 400px;
}

#settlement .settlement-map {
    height: 128.25px;
    position: relative;
    background-size: cover;
    background-position: center center;
}

#settlement .settlement-map .settlement-map-title {
    position: absolute;
    width: 100%;
    line-height: 35px;
    height: 35px;
    bottom: 0px;
    left: 0px;
    background: rgba(63, 89, 155, .8);
    border-radius: 4px 4px 0px 0px;
    background-size: 100% 100%;
    color: rgba(255, 255, 255, .8);
}

#settlement .settlement-map .settlement-map-title-type {
    display: inline-block;
    max-width: 17%;
    overflow: hidden;
}

#settlement .settlement-map .settlement-map-title span {
    vertical-align: middle;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

#settlement .settlement-map .settlement-map-name {
    width: 80%;
    line-height: 14px;
    padding: 0px 8px;
}

#settlement .settlement_gameOption {
    margin-top: 20px;
    font-size: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 178px;
}

#settlement .settlement_gameOption .settlement_gameOption_item {
    display: inline-block;
    min-width: 49%;
    margin-bottom: 10px;
}

#settlement .settlement-table th {
    text-align: center;
    font-weight: 500;
}

#settlement .settlement-table .settlement-table_tr {
    height: 5.5vh;
    line-height: 5.5vh;
    font-size: 12px;
    white-space: nowrap;
    color: rgba(255, 255, 255, .6);
    transition: .3s;
}

#settlement .settlement-table .settlement-table_tr:nth-child(2n-1) {
    background: rgba(63, 89, 155, 0.1);
}

#settlement .settlement-table .settlement-table_tr:hover {
    background: rgba(107, 158, 255, .6);
}

#settlement .settlement-table .settlement-table_tr td {
    /* border-bottom: 1px solid #2e374a; */
}

#settlement .settlement-table .settlement-table_tr_empty {
    height: 20px;
}

#settlement .settlement-details {
    margin-right: -10px;
    margin-left: -10px;
    text-align: center;
    background: rgba(63, 89, 155, 0.2);
    border-radius: 2px;
    padding: 25px 30px 25px 30px;
    margin-top: 20px;
}

#settlement .settlement-details>.col-xs-3 {
    padding: 0px 10px;
    float: none;
    display: inline-block;
}

#settlement .settlement-details .settlement-details-div {
    background: rgba(63, 89, 155, 0.4);
    background-size: 100% auto;
    border-radius: 4px;
    height: 52vh;
    padding: 20px 0px 0px 15px;
}

#settlement .settlement-details-select {
    display: inline-block;
    height: 30px;
    line-height: 28px;
}

#settlement .settlement-details-select .gx-menu-in {
    padding-right: 28px;
}

#settlement .settlement-details-select .gx-menu-ul {
    /* background-color: #313748; */
}

#settlement .settlement-details-select .gx-menu-li {
    padding-left: 5px;
}

#settlement .settlement-details-select .gx-menu-li:hover {
    /* background-color: #3f475d; */
}

#settlement .settlement-details-select .gx-menu-in .caret {
    border-top: 4px solid #FFF;
    top: 13px;
}

#settlement .J_settlement-details-name {
    cursor: pointer;
    border-bottom: 1px solid rgba(161, 173, 200, .1);
}

#settlement .settlement-details-div-scroll {
    height: 41vh;
    border-radius: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 2px;
    margin-top: 20px;
    opacity: 1;
    transition: opacity .3s linear 0s;
    padding-bottom: 20px;
}

#settlement .settlement-details-div-scroll-hide {
    opacity: 0;
}

#settlement .settlement-details-list {
    margin-right: -4px;
    margin-left: -4px;
}

#settlement .settlement-details-list .col-xs-1 {
    padding-right: 4px;
    padding-left: 4px;
    width: 25%;
}

#settlement .settlement-details-item {
    width: 100%;
    height: 43px;
    position: relative;
    background-size: cover;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    margin-top: 8px;
}

#settlement .settlement-details-item-num {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    line-height: 14px;
    background-color: rgba(36, 41, 50, .9)
}

#settlement .settlement-officon {
    color: #5A6585;
    font-size: 18px;
    position: absolute;
    top: 0px;
    right: -12px;
}

#settlement .settlement-complaint-show {
    position: absolute;
    top: 0px;
    right: -2px;
}

#settlement-complaint .modal-dialog {
    width: 369px;
    height: 454px;
}

#settlement-complaint .settlement-complaint-content {
    background: #222F4E;
}

#settlement-complaint .gx-modal-header {
    -webkit-app-region: no-drag;
    height: 40px;
    padding-left: 19px;
    padding-top: 8px;
}

#settlement-complaint .gx-modal-header .header-window {
    top: 10px;
}

#settlement-complaint .settlement-complaint-content-div {
    width: 329px;
    height: 318px;
    margin: 0 auto;
    background: #222F4E;
    border-radius: 1px;
    margin-top: 22px;
    padding-top: 20px;
}

#settlement-complaint .settlement-complaint-content-avatar {
    width: 40px;
    height: 40px;
    border-radius: 1px;
    border: 1px solid rgba(161, 173, 200, 0.5);
    text-align: center;
    background-color: rgb(21, 22, 28);
    margin: 0px auto 7px auto;
}

#settlement-complaint .name-ellipsis {
    display: block;
    margin: 0 auto;
    width: 135px;
}

#settlement-complaint .settlement-complaint-gx-menu {
    width: 299px;
    margin: 0 auto;
    line-height: 30px;
    margin-top: 20px;
    font-size: 12px;
}

#settlement-complaint .settlement-complaint-gx-menu .gx-menu-in-div {
    width: 299px;
    height: 30px;
    background: rgba(63, 89, 155, 0.2);
    border: 1px solid rgba(90, 101, 133, 0.4);
    line-height: 28px;
    color: rgba(90, 101, 133, 1);
    padding-left: 12px;
}

#settlement-complaint .settlement-complaint-gx-menu.gx-menu .caret {
    top: 13px;
}

#settlement-complaint .settlement-complaint-area {
    width: 299px;
    height: 153px;
    background: rgba(63, 89, 155, 0.2);
    border-radius: 1px;
    border: 1px solid rgba(90, 101, 133, 0.4);
    margin: 0 auto;
    margin-top: 14px;
    position: relative;
}

#settlement-complaint .settlement-complaint-textarea {
    width: 100%;
    height: 76px;
    background-color: transparent;
    color: rgba(161, 173, 200, 1);
    border: none;
    overflow-y: scroll;
    overflow-x: hidden;
    resize: none;
    padding: 10px;
    font-size: 12px;
}

#settlement-complaint .settlement-complaint-textarea:focus {
    outline: none;
}

#settlement-complaint .settlement-complaint-textarea::placeholder {
    color: #5A6585;
    font-size: 12px;
}

#settlement-complaint .settlement-complaint-updataDiv {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    position: relative;
    margin: 0px 5px;
}

#settlement-complaint .settlement-complaint-updataDivlist {
    display: inline-block;
    vertical-align: middle;
}

#settlement-complaint .J_settlement-complaint-updataDiv-close {
    position: absolute;
    top: -12px;
    right: -8px;
    color: rgba(255, 255, 255, .5);
}

#settlement-complaint .settlement-complaint-minfont {
    font-size: 12px;
    display: inline-block;
    transform: scale(.8);
    position: absolute;
    bottom: 4px;
    left: -33px;
    color: rgba(161, 173, 200, 1);
    width: 120%;
}

#settlement-complaint .settlement-complaint-areanum {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: rgba(90, 101, 133, 1)
}

#settlement-complaint .settlement-complaint-foot {
    padding: 28px 23px;
}

#settlement-complaint .J_settlement-complaint-btn {
    height: 30px;
    line-height: 28px;
    padding: 0px 21px;
    float: right;
    position: relative;
    top: -6px;
}

#settlement-complaint .J_settlement-reportCode {
    cursor: pointer;
}

#settlement .settlement_nav-invalid {
    position: absolute;
    bottom: 0px;
    left: 269px;
    color: rgba(255, 196, 56, 1);
}

#settlement .settlement_nav-invalid svg {
    fill: rgba(255, 196, 56, 1);
    position: relative;
    top: 1px;
    left: 2px;
}

#settlement .settlement_nav-invalid .tooltip-inner {
    width: 185px;
}

#settlement .settlement-invalid-bg {
    position: absolute;
    z-index: -1;
    bottom: -359px;
    left: 56%;
    margin-left: -166px;
    width: 322px;
}