.menus-content {
    width: 100%;
    height: 100Vh;
    background-color: #313748;
    color: #FFF;
    text-align: center;
}

.menus-item {
    height: 24.7vh;
    line-height: 24.7vh;
    cursor: pointer;
    font-size: 12px;
    border-radius: 4px;
    user-select: none;
}

.menus-item:hover {
    background-color: #3f5691;
}

.menus-item-border {
    width: 100%;
    height: 1px;
    background-color: #424756;
}