body {
    height: 100vh;
    /* background: rgba(26, 28, 34, 0.94); */
    opacity: 0;
    transform: scale(.7);
    transition: all .3s linear 0s;
}

.login-bg {
    width: 100%;
}

.loginChangeTwo {
    position: relative;
}

.loginChangeTwo .container {
    padding: 0px;
    text-align: center;
    width: 289px;
    height: 343px;
    margin: 0 auto;
    background: #3F599B;
    border-radius: 10px;
    /* -webkit-app-region: drag; */
    padding-top: 0px;
    color: #FFFFFF;
    position: relative;
}

.loginChangeTwo .container * {
    transform: scale(.7);
}

.loginChangeTwo .container img[alt="logo"] {
    margin-bottom: -33px;
}

.loginChangeTwo .container img[alt="text"] {
    margin-bottom: 10px;
}

.loginChangeTwo .container img[alt="en"] {
    margin-bottom: 20px;
}

.loginChangeTwo .pre {
    display: inline-block;
    width: 202px;
    height: 20px;
    background: #1A1C22;
    border-radius: 10px;
    vertical-align: middle;
    position: relative;
    text-align: center;
}

.loginChangeTwo .pre-div {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 20px;
    background: linear-gradient(90deg, #548DFE 0%, #6731EF 100%);
    border-radius: 10px;
}

.loginChangeTwo .pre-num {
    margin-left: 10px;
}

.loginChangeTwo .pre-text {
    position: relative;
    z-index: 1;
    font-size: 12px;
}

.loginChangeTwo .upload {
    position: absolute;
    bottom: 34px;
    width: 93%;
}

.loginChangeTwo .updown {
    transform: scale(1);
    white-space: nowrap;
}

.loginChangeTwo .updown * {
    transform: scale(1);
}

.loginChangeOne {
    height: 100vh;
    /* background: black; */
}

.login-content {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.login-header {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 30px;
    -webkit-app-region: drag;
}

.header-version {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: rgba(255, 255, 255, .6);
    font-size: 10px;
}

#loginDiv {
    width: 377px;
    height: 460px;
    background: rgba(26, 28, 34, 0.94);
    border-radius: 4px;
    position: absolute;
    top: 136px;
    right: 63px;
    /* right: 0px; */
    transition: left .8s linear 0s;
    overflow: hidden;
}

#loginDiv .gx-img-btn-blue {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-image: linear-gradient(90deg, #548DFE 0%, #6731EF 33%, #75aaea 66%, #7f51df 100%);
    background-size: 300% 100%;
    border-radius: 25px;
    font-size: 20px;
    transition: all .4s linear 0s;
}

#loginDiv .gx-img-btn-blue:hover {
    background-position: 100% 0;
    /* background-image: linear-gradient(90deg, #7db8ff 0%, #8f59ff 100%); */
}

.login-drag {
    position: absolute;
    height: 20px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.loginDiv-swiper {
    width: 377px;
    height: 460px;
    margin: 0 auto;
    overflow: hidden;
}

.loginDiv-login {
    position: relative;
    padding: 58px 35px 0px 35px;
}

.loginDiv-register {
    position: relative;
    padding: 52px 32px 0px 32px;
}

.loginDiv-forget {
    position: relative;
    padding: 52px 32px 0px 32px;

}

.loginDiv-login .loginDiv-Repair-content {
    position: relative;
    top: 40px;
    color: rgba(255, 255, 255, 0.6);
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: 0.4; */
    font-size: 12px;
}

.loginDiv-login .loginDiv-Repair-content a {
    cursor: pointer;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.6)
}

.loginDiv-login .loginDiv-Repair-content a:hover {
    color: white;
    opacity: 0.7;
    transition: 0.3s;
}

.loginDiv-return {
    position: absolute;
    top: 22px;
    left: 35px;
    color: #A8A8A8;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.loginDiv-return span {
    vertical-align: middle;
    cursor: pointer;
}

.loginDiv-return:hover {
    color: #B5B2B2;
}

.loginDiv-login-content .J_form_register .gx-menu-ul {
    background: #26282E;
}

.loginDiv-login-content {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 35px;
    position: relative;
}

.loginDiv-login-content .gx-input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #1A1C22 !important;
    color: #FFF;
    outline: none;
    font-size: 14px;
}

.login-gx-input .input-group-addon {
    font-size: 14px;
}

.loginDiv-login .gx-input {
    font-size: 16px;
}

.loginDiv-login-content .gx-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

#register-phone,
#forget-phone {
    padding-left: 68px;
}



.loginDiv-login-error {}


.loginDiv-login-content .loginDiv-login-error {
    position: absolute;
    top: -3px;
    left: 0px;
}

.loginDiv-login-content .remember-check label {
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
}

.loginDiv-login-content .remember-check input[type="checkbox"]+label:before {
    background: url('../../../images/iconfont/checkbox.png') no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
}

.loginDiv-login-content .remember-check input[type="checkbox"]:checked+label:before {
    background: url('../../../images/iconfont/ischeckbox.png') no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
}

.loginDiv-login-content .remember-check label:before {
    margin-top: -8px;
}


.login-a {
    color: rgba(255, 255, 255, 0.3);
}

.login-a a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: underline;
}

.login-nc {
    width: 100%;
    height: 0px;
    transition: all .3s ease-in-out 0s;
    opacity: 0;
}

.login-nc.login-nc-show {
    height: 55px;
}

.login-nc.login-nc-show-option {
    opacity: 1;
}

.login-nc .nc-container .nc_wrapper {
    width: 100% !important;
    height: 40px;
}

.login-nc .nc_scale {
    height: 40px;
}

.login-nc .nc-container .nc_scale .btn_slide {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

.login-nc .nc-container .nc_scale span.nc-lang-cnt {
    line-height: 40px
}

.login-nc .nc-container .nc_scale .btn_ok {
    height: 40px;
    line-height: 40px;
    color: #1DCA4E;
}

.login-nc .nc-container .nc_scale .nc_ok,
.nc-container .nc_scale .nc_bg {
    background: #11792f !important;
}

.login-phone-icon {
    position: absolute;
    top: 13px;
    right: 10px;
    cursor: pointer;
    font-size: 10px;
    color: #666666;
}

.login-phone-icon:hover {
    color: #444c63;
}

#login-password::selection {
    background: transparent !important;
}

.loginDiv-language {
    display: inline-block;
    font-size: 12px;
    position: relative;
    top: -2px;
}

.loginDiv-language .gx-menu-in {
    display: inline-block;
    padding-right: 20px;
}

.loginDiv-language.gx-menu .caret {
    top: 7px;
    right: 7px;
    border-top: 3px solid rgba(255, 255, 255, 0.6);
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    transform: rotate(180deg);
}

.loginDiv-border {
    display: inline-block;
    width: 1px;
    height: 12px;
    background: rgba(216, 216, 216, 0.2);
    border-radius: 1px;
    margin: 0 12px 0px 12px;
    float: right;
    vertical-align: middle;
    position: relative;
    top: 3px;
}

.loginDiv-language .gx-menu-li {
    text-align: center;
    padding-left: 0px;
}

.loginDiv-language .gx-menu-li a {
    color: #FFF;
    line-height: 30px;
}

.loginDiv-language .gx-menu-ul {
    overflow-y: unset !important;
}

.login-pre {
    overflow: hidden;
    width: 1189px;
    height: 12px;
    background: #1A1C22;
    position: absolute;
    bottom: 34px;
    left: 28px;
    box-shadow: 0px 0px 3px #548DFE;
    border-radius: 6px;
}

.login-pre-div {
    width: 0%;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 12px;
    background: linear-gradient(90deg, #548DFE 0%, #6731EF 100%);
    border-radius: 10px;
    transition: width .1s linear 0s;
}

.login-pre-num {
    position: absolute;
    right: 10px;
    color: #FFF;
    line-height: 12px;
    font-size: 12px;
}

.J_register_ucShow_div.login-nc.login-nc-show {
    height: 42px !important;
}

.J_forget_ucShow_div.login-nc.login-nc-show {
    height: 42px !important;
}

.login-notice {
    position: absolute;
    top: 25px;
    right: 170px;
    z-index: 3;
}

.login-notice-icon {
    width: 20px;
}

.login-notice-content {
    width: 147px;
    min-height: 168px;
    background: url(../../../images/login/tipsnoticebg-middle.png) no-repeat 100% 100%;
    background-size: 100% 100%;
    position: absolute;
    top: 33px;
    left: -65px;
    padding: 10px 5px;
    word-wrap: break-word;
    font-size: 12px;
}

.login-notice-content.warning {
    background: url(../../../images/login/warningnoticebg-middle.png) no-repeat 100% 100%;
    background-size: 100% 100%;
}

.login-notice-content.serious {
    background: url(../../../images/login/seriousnoticebg-middle.png) no-repeat 100% 100%;
    background-size: 100% 100%;
}

.login-notice-content::after {
    content: "";
    position: absolute;
    top: -8px;
    left: 0px;
    width: 100%;
    height: 8px;
    background: url(../../../images/login/tipsnoticebg-top.png) no-repeat 100% 100%;
    background-size: 100% 100%;
}

.login-notice-content::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: url(../../../images/login/tipsnoticebg-bottom.png) no-repeat 100% 100%;
    background-size: 100% 100%;
}

.login-notice-content.serious::after {
    content: "";
    position: absolute;
    top: -8px;
    left: 0px;
    width: 100%;
    height: 8px;
    background: url(../../../images/login/seriousnoticebg-top.png) no-repeat 100% 100%;
    background-size: 100% 100%;
}

.login-notice-content.serious::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: url(../../../images/login/seriousnoticebg-bottom.png) no-repeat 100% 100%;
    background-size: 100% 100%;
}

.login-notice-content.warning::after {
    background: url(../../../images/login/warningnoticebg-top.png) no-repeat 100% 100%;
    background-size: 100% 100%;
}

.login-notice-content.warning::before {
    background: url(../../../images/login/warningnoticebg-bottom.png) no-repeat 100% 100%;
    background-size: 100% 100%;
}

.login-notice-close {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 32px;
    right: -62px;
    background: linear-gradient(90deg, #28ED30 0%, #16B523 100%);
    line-height: 11px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    z-index: 1;
}

.login-notice-close.warning {
    background: linear-gradient(90deg, #EA950C 0%, #FFC45E 100%);
}

.login-notice-close.serious {
    display: none;
}

.volume-mute-div {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 28px;
    right: 60px;
    cursor: pointer;
    z-index: 15;
    -webkit-app-region: no-drag !important;
}

.login-header .header-window {
    top: 26px;
}

.login-header .header-window span {
    font-size: 16px;
}

.volume-mute-div img {
    position: absolute;
    opacity: 0.6;
}

.volume-mute-div .volume-mute-svg {
    display: none;
}

.volume-mute .volume-mute-svg {
    display: block;
}

.volume-mute .volume-sound-svg {
    display: none;
}

.header-close.iconfont.ft-ash {
    color: rgba(160, 160, 160, 1)
}

.login-mark {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

/* 更新公告 */
#updataMessageModal {
    overflow: hidden;
}

#updataMessageModal .modal-dialog {
    width: 500px;
    height: 358px;
    background: #222F4E;
    border-radius: 4px;
    padding: 20px;
}

#updataMessageModal .updataMessageModal-header {}

#updataMessageModal .updataMessageModal-date {
    font-size: 12px;
    color: rgba(255, 255, 255, .6);
}

#updataMessageModal .updataMessageModal-header .updataMessageModal-header-close {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#updataMessageModal .updataMessageModal-header .updataMessageModal-header-close:hover path {
    fill: #5f6b8d;
}

#updataMessageModal .updataMessageModal-header .updataMessageModal-header-close path {
    fill: #596484;
}

#updataMessageModal .updataMessageModal-content {
    width: 460px;
    height: 250px;
    background: rgba(63, 89, 155, 0.2);
    border-radius: 4px;
    padding: 14px;
    word-break: break-all;
    word-wrap: break-word;
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 13px;
}

#updataMessageModal .updataMessageModal-content>div {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: 30px;
}

#updataMessageModal .updataMessageModal-btn {
    margin-top: 15px;
}

#envelopeModal {
    overflow: hidden;
}

#envelopeModal .modal-dialog {
    width: 645px;
    height: 528px;
    background: url('../../../images/login/envelopeModalbg.png') no-repeat center center;
    background-size: 100% 100%;
    border-radius: 4px;
    padding: 20px;
    position: relative;
    right: 80px;
}

#envelopeModal .envelopeModal-content {
    width: 437px;
    height: 500px;
    /* border: 1px solid blue; */
    position: relative;
    top: -4px;
    left: 173px;
    color: #705625;
}

#envelopeModal .envelopeModal-content-title {
    font-size: 20px;
    text-align: center;
    margin-top: 23px;
    font-weight: 700;
}

#envelopeModal .envelopeModal-content-text {
    width: 437px;
    height: 366px;
    /* border: 1px solid blue; */
    margin-top: 20px;
    word-break: break-all;
    word-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px 17px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}

#envelopeModal .envelopeModal-content-text::-webkit-scrollbar-thumb {
    background-color: transparent
}

#envelopeModal .envelopeModal-content-text p {
    text-indent: 2em;
    color: #755a27;
    opacity: .7;
    line-height: 20px;
}

#envelopeModal .envelopeModal-content-text p:nth-child(1),
#envelopeModal .envelopeModal-content-text p:nth-child(2) {
    font-weight: 700;
    text-indent: 0em;
}

#envelopeModal .envelopeModal-btn {
    display: inline-block;
    position: relative;
    right: -80px;
    opacity: 0;
}

#envelopeModal .envelopeModal-btn img {
    width: 268px;
}

.loginDiv-login-error-operation-span {
    color: #75aaea;
    cursor: pointer;
}