* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.container {
    text-align: center;
    width: 289px;
    height: 343px;
    margin: 0 auto;
    background: #3F599B;
    border-radius: 10px;
    /* -webkit-app-region: drag; */
    padding-top: 47px;
    color: #FFFFFF;
    position: relative;
}

.container * {
    transform: scale(.7);
}

.container img[alt="logo"] {
    margin-bottom: 5px;
}

.container img[alt="text"] {
    margin-bottom: 20px;
}

.container img[alt="en"] {
    margin-bottom: 20px;
}

.pre {
    display: inline-block;
    width: 319px;
    height: 20px;
    background: #1A1C22;
    border-radius: 10px;
    vertical-align: middle;
    position: relative;
    text-align: center;
}

.pre-div {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 20px;
    background: linear-gradient(90deg, #548DFE 0%, #6731EF 100%);
    border-radius: 10px;
}

.pre-num {
    margin-left: 10px;
}

.pre-text {
    position: relative;
    z-index: 1;
    font-size: 12px;
}

.hide {
    display: none;
}

.upload {
    position: absolute;
    bottom: 60px;
    width: 100%;
}