/*header style parts*/
.header{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
    color: #b0b0b0;
    font-size: 12px;
}
.wrap{
    width:1226px ;
    margin:0 auto;
}
.header-left{
    float: left;
}
.header-right{
    float: right;
}
.header li{
    position: relative;
    float: left;
}
.header a{
    color: #b0b0b0;
}
.header a:hover{
    color: #fff;
}
.header span{
    color: #424242;
    margin: 0 3.6px;
}
.cart{
    position: relative;
    margin-left: 25px;
    width: 120px;
    height: 40px;
    background-color: #424242;
    cursor: pointer;
    transition: all .2s;
}
.cart i{
    margin-right: 4px;
    font-weight: 900;
}
.cart:hover{
    background-color: #fff;
}
.cart:hover a{
    color: #ff6700;
}
/* Cart */
 .cart-list{
    z-index: 850;
    position: absolute;
    top: 40px;
    right: 0;
    width: 316px;
    height: 0;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
    color: #424242;
    transition: all .3s;
    /* height is set to 0 text overflow */
    overflow: hidden;
}


.cart:hover>.cart-list{
    height: 100px;
    line-height: 100px;
}
/*cell phone*/
.download{
    /* z-index: 900; */
    position: absolute;
    /* top: 40px; */
    /* left: 50%; */
    margin-left: -62px;
    /* width: 124px; */
    /* height: 0; */
    /* background-color: #fff; */
    /* box-shadow: 0 1px 5px #ccc; */
    /* overflow: hidden; */
    /* transition: all .3s; */
}

/* .download img{
    width: 90px;
    margin: 18px 0 12px;
} */
/* .download p{
    color: rgb(77, 77, 77);
    font-size: 14px;
    line-height: 14px;
} */
.header-left>li:hover>.download{
    height: 148px;
}
 /* triangle */
 /* .triangle{
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}  */
/* .header-left>li:hover>.triangle{
    display: block;
} */
/*header end*/







/*footer style parts */
.site-footer{
    width: 100%;
    height: 332px;
    background-color: #fff;
}
.site-info{
    width: 100%;
    height: 206px;
    padding: 30px 0;
    background-color: #fafafa;
}
.footer-service{
    width: 100%;
    height: 25px;
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.footer-service li{
    float: left;
    width: 19.8%;
    height: 25px;
    line-height: 25px;
    border-right: 1px solid #e0e0e0;
}
.footer-service li:last-child{
    border-right: none;
}
.footer-service a{
    color: #616161;
    transition: all .2s;
}
.footer-service a:hover{
    color: #ff6700;
}
.footer-service i{
    font-size: 24px;
    margin-right: 6px;
}
.footer-links{
    width: 100%;
    height: 172px;
    padding: 40px 0;
    font-size: 14px;
    color: #424242;
}
.footer-links>ul{
    float: left;
    width: 160px;
    text-align: left;
}
.footer-links a{
    color: #757575;
    font-size: 12px;
}
.footer-links a:hover{
    color: #ff6700;
}
.footer-links li{
    height: 18px;
    line-height: 18px;
    margin-top: 10px;
}
.footer-links li:first-child{
    height: 17px;
    line-height: 17.5px;
    margin: -1px 0 26px;
}
.contact{
    float: right;
    width: 251px;
    height: 111px;
    border-left: 1px solid #e0e0e0;
}
.tel{
    color: #ff6700;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 5px;
}
.time{
    color: #616161;
    font-size: 12px;
    margin-bottom: 5px;
}
.contact .kefu{
    margin: 0 auto;
    width: 118px;
    height: 28px;
    border: 1px solid #ff6700;
    display: block;
    color: #ff6700;
    line-height: 28px;
    font-size: 12px;
    transition: all .4s;
}
.contact .kefu:hover{
    background-color: #ff6700;
    color: #fff;
}
.follow{
    position: relative;
    margin-top: 10px;
    font-size: 12px;
    color: #616161;
}
.follow>span{
    position: relative;
    top: 7px;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: 100%;

}
.wb{
    background-image: url("../images/wb.png");
}
.wb:hover{
    background-image: url("../images/wb@2x.png");
}
.wx{
    background-image: url("../images/wx.png");
}
.wx:hover{
    background-image: url("../images/wx@2x.png");
}
.wx-img{
    display: none;
    width: 126px;
    position: absolute;
    top: 35px;
    left: 100px;
}
.wx:hover+.wx-img{
    display: block;
}
.footer-logo{
    width: 56px;
    height: 56px;
    margin-right: 10px;
    float: left;
}
.footer-logo>img{
    width: 100%;
}
.sites{
    float: left;
    width: 1160px;
    font-size: 12px;
    text-align: left;
    line-height: 18px;
}
.sites>p:first-child>a{
    color: #757575;
}
.sites>p{
    color: #b0b0b0;
}
.sites>p:nth-child(2)>a{
    color: #b0b0b0;
}
.sites>p>a:hover{
    color: #ff6700;
}
.sites img{
    height: 28px;
}
.slogan{
    margin-top: 30px;
}
/*footer end*/
