.logo {
    background:url(../img/logo.png) no-repeat; 
    background-size: 100px;

    opacity: 1;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100px;
    height: 56px;
    content: "";
    transform-origin: 50% 50%;
}

.container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}

body {
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}