:root {
    --main-color: #e74c3c;
    /* margin:0;
            padding:0; */
}

body {
    margin: 0;
    background-color: rgba(201, 232, 251, 0.3);
    height: 100vh;
}

.container {
    margin: 9%;
    /* 声明一个容器 */
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    /* display: grid; */
    /*  声明列的宽度  */
    /* grid-template-columns: repeat(auto-fit, 32%); */
    /*  声明行间距和列间距  */
    /* grid-gap: 10px; */
    /*  声明行的高度  */
    /* grid-template-rows: repeat(auto-fit, 0px); */
}

.mark {
    margin: 4%;
    /* 声明一个容器 */
    display: grid;
    /*  声明列的宽度  */
    grid-template-columns: repeat(2, 49%);
    /*  声明行间距和列间距  */
    grid-gap: 2px;
    /*  声明行的高度  */
    grid-template-rows: 144px;
}

.product-grid {
    font-family: 'Roboto', sans-serif;
    width: 360px;
    height: 360px;
}

.product-grid .product-image {
    overflow: hidden;
}


.product-grid:hover .product-image:before {
    opacity: 1;
}

.product-grid .product-image img {
    width: 256px;
    height: 256px;
    border-radius: 24px;

    box-shadow: 12px 4px 4px rgba(101, 101, 101, 0.5);
}

.txt-1 {
    width: 256px;
    height: 256px;
    border-radius: 24px;
    box-shadow: 12px 4px 4px rgba(86, 86, 87, 0.5);

}

.product-image .pic-1 {
    opacity: 1;
    backface-visibility: hidden;
    transition: all 0.4s ease-out 0s;
}

.product-grid:hover .product-image .pic-1 {
    opacity: 0;
}

.product-image .txt-1 {
    opacity: 0;
    position: absolute;
    top: 135px;
    backface-visibility: hidden;
    transform: scale(1);
    transition: all 0.4s ease-out 0s;
    background-image: linear-gradient(to top right, rgba(185, 224, 218, 0.4), rgba(192, 189, 231, 0.5));
}

.product-grid:hover .product-image .txt-1 {
    opacity: 1;
    transform: scale(1);
}

.mark h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: rgba(24, 37, 53, 0.5);
    text-shadow: 1px 3px 3px rgba(32, 58, 93, 0.5);
}

.mark p {
    color: rgba(24, 37, 53, 0.5);

}

.detail p {
    text-align: right;
    padding-top: 1.55em;
}

.product-grid .title {
    padding-left: 12px;
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 auto;
}

.price {
    padding-left: 12px;
}

.product-grid .title a {
    color: #959595;
    text-decoration: none;
}

.product-grid .title a:hover {
    color: var(--main-color);
}

@media only screen and (max-width:990px) {
    .product-grid {
        margin-bottom: 36px;
    }
}

.search button,
input {
    /* "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 */
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    /* 默认有灰色边框需要手动去掉 */
    border: 0;
    outline: none;

}

.search {
    /* 把所有标签的内外边距清零 */
    margin: auto;
    padding: 0;
    /* css3盒子模型 */
    box-sizing: border-box;
    top: 24px;
    width: 50%;
    height: 38px;
    border: 2px solid rgb(56, 134, 250);
    border-radius: 24px;
}

.search input {
    float: left;
    width: 80%;
    height: 33px;
    padding-left: 10px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;}

.search button {
    float: left;
    width: 20%;
    height: 33px;
    background-color: rgb(56, 134, 250);
    font-size: 16px;
    color: rgb(250, 250, 250);
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}


/* guilding column  */
.top-nav {
    overflow: hidden;
    background-color: rgb(143, 175, 200);
}

.top-nav,
ul {
    list-style-type: none;
    margin: 1;
    padding: 1;
    overflow: hidden;
    background-color: rgb(92, 143, 253);

}

.top-nav,
li {
    float: left;
    border-right: 1px solid rgb(249, 177, 220);

}

.top-nav,
li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px 50px;
    text-decoration: none;
}

.active {
    background-color: rgb(68, 117, 254);
    float: left;
}



/*Move the mouse over the option to change the background color  */
.top-nav,
li a:hover {
    background-color: rgba(149, 255, 237, 0.4);
}