body {
    opacity: 1 !important;
}

.hall-header {
    /* background: pink !important; */
    background: url(../../../images/skin/Springfestival/header-bg.jpg) no-repeat center !important;
    background-size: 100% 100% !important;
}

.hall-header .hall-header-left-swiper-item.active {
    border-bottom: 2px solid rgba(255, 68, 68, .4) !important;
}

.hall-header .hall-header-refresh svg path,
.hall-header .hall-header-return svg path {
    fill: rgba(255, 68, 68, .4) !important;
}

.hall-header .hall-header-fun-item_icon svg path {
    fill: rgba(255, 68, 68, .4) !important;
}

.hall-header .header-window .iconfont {
    color: rgba(255, 68, 68, .4) !important;
}

.header-window .iconfont {
    color: #e1aeae !important;
}

.hall-content {
    background: #3a4348 url(../../../images/skin/Springfestival/details-bg.png) no-repeat center bottom !important;
    background-size: 100% 100% !important;
}

.hall-content:after {
    content: "";
    width: 1230px;
    height: 113px;
    position: absolute;
    top: 61px;
    left: 0px;
    background: url(../../../images/skin/Springfestival/deng.png) no-repeat;
    background-size: 100% 100%;
    z-index: 1;
    pointer-events: none;
}

.information-content .information-right-top .information-right-top-swiper-nav {
    background: rgba(255, 68, 68, .4) !important;
}

.information-content .information-left-scroll .information-left-item {
    background: rgba(77, 34, 34, 0.3) !important;
    border: 1px solid rgba(255, 68, 68, 0.14);
}

.hall-notice {
    background: rgba(255, 68, 68, .1) !important;
}

.match-rank-nav .match-rank-nav-item.active {
    background: rgba(255, 68, 68, .2) !important;
}

.rank-bg-padding .match-rank-nav .match-rank-nav-item.active:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -4px;
    right: -29px;
    width: 29px;
    height: 43px;
    background: url(../../../images/skin/Springfestival/active-btn.png) no-repeat;
    background-size: 100% 100%;
    transform: rotate(-4deg);
}

.Match-bg-padding .match-rank-nav .match-rank-nav-item.active:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -4px;
    right: -24px;
    width: 29px;
    height: 43px;
    background: url(../../../images/skin/Springfestival/active-btn.png) no-repeat;
    background-size: 100% 100%;
    transform: skew(-15deg) rotate(-4deg);
}

.match-rank-nav .match-rank-nav-item:nth-child(1).active::after {
    border-bottom: 38px solid rgba(255, 68, 68, .2) !important;
}

.match-rank-nav .match-rank-nav-item {
    background: rgba(255, 68, 68, 0.1) !important;
}

.match-rank-nav .match-rank-nav-item:nth-child(1)::after {
    border-bottom: 38px solid rgba(255, 68, 68, .1) !important;
}

.match-rank-title .border {
    background: linear-gradient(90deg, #df584a 0%, rgba(223, 88, 74, 0) 100%) !important
}

.rank-map-list .gx-map,
.Match-map-list .gx-map {
    border: 1px solid #b98b64;
}

.rank-map-list .gx-map .gx-map-name {
    border-top: 1px solid #b98b64;
}

.gx-map {
    border-radius: 4px !important;
}

::-webkit-scrollbar-thumb {
    background-color: #8c2e2e !important;
}

.gx-map .gx-map-name {
    background: #933128 !important;
    color: #FFF !important;
    /* border-top: 1px solid #b98b64; */
    border-radius: 0px 0px 4px 4px !important;
}

.rank-bg .ft-A1,
.Match-bg .ft-A1 {
    color: #FFF;
}

.hall-rank .rank-bg,
.Match-bg {
    background: url(../../../images/skin/Springfestival/match-bg.png) no-repeat center top !important;
    background-size: 100% auto !important;
    margin-left: 8px !important;
    width: 1201px !important;
    top: -1px !important;
}

.rank-left,
.Match-left {
    padding-left: 56px !important;
}

.Match-map-list,
.rank-map-list {
    height: 276px !important;
}

.hall-content-friend .hall-content-friend-fix {
    background: rgba(255, 68, 68, .2);
}

.hall-content-friend-fix-narrow .hall-content-friend-top {
    border-bottom: 1px solid rgba(255, 68, 68, .2);
}

.hall-content-friend-fix-narrow .hall-content-friend-top svg path {
    fill: transparent;
}

.hall-content-friend-fix-narrow .hall-content-friend-top:after {
    content: "";
    width: 30px;
    height: 30px;
    background: url(../../../images/skin/Springfestival/friend.png) no-repeat center top;
    background-size: 100% 100%;
    position: absolute;
    display: block
}

.information-right-top-swiper-nav .information-right-top-swiper-nav-item.active {
    background: #c93a3a !important;
    border-bottom: 1px solid #fa4343 !important;
}

.information-content .information-right-bottom-right-div {
    background-color: rgba(255, 68, 68, .1) !important;
}

#career .career-content-bottom-teble .gx-teble-thead {
    background: rgba(255, 68, 68, .4) !important;
}

.gx-teble-thead {
    background: rgba(255, 68, 68, .4) !important;
}

.gx-teble tbody {
    border: 1px solid rgba(255, 68, 68, 0.4) !important;
}

.career-content-center div {
    background: rgba(255, 68, 68, .1) !important;
}

.career-content-center>div:hover {
    background: rgba(255, 68, 68, .4) !important;
}

.career-content-center div.career-content-div-active {
    background: rgba(255, 68, 68, .4) !important;
}

#career .career-content-bottom-teble .gx-teble-tbody {
    border: none !important;
}

.hall-content-friend .hall-content-friend-fix.active {
    background: #4d2222 !important;
}

#career .career-content-top {
    background: url(../../../images/skin/Springfestival/top-bg.png) no-repeat !important;
    background-size: 100% auto !important;
}

.career-content-probability-border-after {
    background-image: url(../../../images/skin/Springfestival/top-bg.png) !important;
}

.career-content-top-nav .career-content-top-nav-item {
    background: #3B1E1F !important;
    height: 34px !important;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, transparent, transparent) 30 30;
}

.career-content-top-nav .career-content-top-nav-item.active {
    background: #933128 !important;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, #E0B475, #926F39) 30 30;
}

.career-content-top-nav .career-content-top-nav-item.active:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: -8px;
    right: -25px;
    width: 29px;
    height: 43px;
    background: url(../../../images/skin/Springfestival/active-btn.png) no-repeat;
    background-size: 100% 100%;
    transform: skew(-22deg) rotate(-10deg);
}

.gx-teble-tbody-body tr:nth-child(2n-1) {
    background: rgba(255, 68, 68, 0.1);
}

.gx-teble tbody {
    background: rgba(255, 68, 68, 0.1);
}

.gx-teble-tbody-table td {
    border-bottom: 1px solid rgba(255, 68, 68, 0.15);
}

#career .career-content-bottom-teble .gx-teble-tbody {
    background: transparent !important;
}

#career-content-bottom-scroll::-webkit-scrollbar-track-piece {
    background: #5e2626 !important;
}

.detail-container-right-chat-list::-webkit-scrollbar-track-piece {
    background: #5e2626 !important;
}

.hall-content-friend .hall-content-friend-pull {
    background: url(../../../images/skin/Springfestival/friend-bot.png) no-repeat;
    background-size: 100% 100%;
}

.hall-content-friend {
    color: #FFF;
}

.hall-content-friend .hall-content-friend-pull .ft-A1 {
    color: #f2d181 !important;
}

.veranda-map .veranda-map-name {
    background: #933128 !important;
}

.veranda-content-hot-next,
.veranda-content-hot-pre {
    background: rgba(255, 68, 68, .6) !important;
}

.veranda-content-hot-next:hover,
.veranda-content-hot-pre:hover {
    background: #FF4444 !important;
}

.veranda-content .veranda-content-left .veranda-content-hot-title span {
    background: linear-gradient(216deg, #E0B475 0%, #926F39 100%) !important;
}

.veranda-content .veranda-content-chatTitle {
    background: rgba(255, 68, 68, .6) !important;
}

.suo-input .input-group-addon {
    background: #a53231 !important;
}

.suo-input .input-group-addon:hover {
    background: #FF4444 !important;
}

.veranda-content .room-screen-password .suo-input {
    border: 1px solid rgba(255, 68, 68, 0.4) !important;
}

.veranda-content .veranda-content-middle-nav {
    background: rgba(255, 68, 68, .1) !important;
}

.veranda-content .veranda-content-middle-nav.active {
    background: rgba(255, 68, 68, .4) !important;
}

.veranda-content .veranda-content-middle-nav.active:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0px;
    right: -24px;
    width: 29px;
    height: 43px;
    background: url(../../../images/skin/Springfestival/active-btn.png) no-repeat;
    background-size: 100% 100%;
    transform: rotate(11deg);
}

.veranda-roomlist .veranda-roomlist-thead {
    background: rgba(255, 68, 68, .4) !important;
}

.veranda-content .veranda-content-bottom {
    background: rgba(255, 68, 68, .1) !important;
    border: 1px solid rgba(255, 68, 68, 0.4) !important;
}

.veranda-roomlist .veranda-roomlist-thead>div:nth-child(3) svg path {
    fill: #FFF !important;
}

.veranda-content .veranda-content-left .veranda-content-hot {
    background: rgba(255, 68, 68, 0.1) !important;
}

.veranda-content .veranda-content-chatContent {
    background: rgba(255, 68, 68, 0.1) !important;
    border: 1px solid rgba(255, 68, 68, 0.2) !important;
}

.suo-input input::placeholder {
    color: #582E2E !important;
    opacity: 1;
}

.suo-input input {
    background: rgba(0, 0, 0, 0.2);
}

.veranda-roomlist-body::-webkit-scrollbar-track-piece {
    background: #5e2626 !important;
}

.gx-modal-smell,
.Invite-content {
    background: #461E20 !important;
}

.Invite-body-Recently-btn,
.Invite-body-MyFriends-btn {
    color: #FFF !important;
}

.btn-middle-blue {
    background: #FF4444;
}

.btn-middle-blue:hover {
    background: #fd6363;
}

.header-close.iconfont.ft-ash {
    color: rgba(255, 255, 255, .5);
}

.header-close.iconfont.ft-ash:hover {
    color: rgba(255, 255, 255, .8);
}

.veranda-content-chatContent .veranda-content-chatContent-item span:nth-child(5) {
    color: rgba(255, 68, 68, 1) !important;
}

.veranda-roomlist-body .veranda-roomlist-body-item-show:nth-child(2n) {
    background: rgba(255, 68, 68, .1) !important;
}

.veranda-screen {
    color: #933128 !important;
}

.veranda-screen svg path {
    fill: #933128 !important;
}

.veranda-joinbtn {
    border: 1px solid #933128 !important;
}

/* .veranda-joinbtn:hover,
.veranda-joinbtn:active,
.veranda-joinbtn:focus {
    background: #933128 !important;
    color: #FFF;
} */

#veranda-room-body-hover .veranda-roomlist-body-item {
    background: #7c2222 !important;
    box-shadow: unset !important;
    border: 1px solid #f2d181;
    padding-right: 12px;
}

#veranda-room-body-hover .veranda-joinbtn {
    border: 1px solid #FF4444 !important;
}

#veranda-room-body-hover .veranda-joinbtn:hover,
#veranda-room-body-hover .veranda-joinbtn:active,
#veranda-room-body-hover .veranda-joinbtn:focus {
    background: #FF4444 !important;
    color: #FFF;
}

.career-content-num-item svg path {
    fill: #FFF !important;
}



.gx-check input[type="checkbox"]+label:before {
    background: url(../../../images/skin/Springfestival/unchoose.png) no-repeat !important;
    background-size: 100% 100% !important;
}

.gx-check input[type="radio"]+label:before {
    background: url(../../../images/skin/Springfestival/unchoose.png) no-repeat !important;
    background-size: 100% 100% !important;
}

.gx-check input[type="radio"]:checked+label:before {
    background: url(../../../images/skin/Springfestival/choose.png) no-repeat !important;
    background-size: 100% 100% !important;
}

.gx-check input[type="checkbox"]:checked+label:before {
    background: url(../../../images/skin/Springfestival/choose.png) no-repeat !important;
    background-size: 100% 100% !important;
}

.gx-check input[class="disabled-check"]+label:before {
    background: url(../../../images/iconfont/disabledcheckbox.png) no-repeat !important;
    background-size: 100% 100%;
}

.gx-check input[class="disabled-checked"]:checked+label:before {
    background: url('../../../images/iconfont/mustischeckbox.png') no-repeat !important;
    background-size: 100% 100%;
}

#snow {
    height: 660px;
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    pointer-events: none;
    overflow: hidden !important;
}

.inhall .modal-dialog {
    background: #3a4348 url(../../../images/skin/Springfestival/details-bg.png) no-repeat bottom left !important;
    background-size: 1280px 720px !important;
}

#informationtextModal .informationtext-content {
    background: rgba(255, 68, 68, .4) !important;
}

.veranda-maplist .veranda-maplist-scroll::-webkit-scrollbar-track-piece {
    background: #5e2626 !important;
}

.veranda-maplist .veranda-map {
    border-radius: 4px;
}

.gx-menu-ul {
    background: #3B1E1F !important;
    border-color: rgba(255, 68, 68, 0.2) !important;
}

.gx-menu-li:hover {
    background: rgba(255, 68, 68, .6);
}

.veranda-map .veranda-map-btn a {
    background: #933128 !important;
}

.Match-start-btn:after,
.hall-rank .rank-startBtn-btn:after {
    content: "";
    display: inline-block;
    width: 43px;
    height: 53px;
    background: red;
    position: absolute;
    top: -2px;
    left: -25px;
    background: url(../../../images/skin/Springfestival/btnadd.png) no-repeat;
    background-size: 100% 100%;
    transform: rotateY(180deg)
}

.Match-start-btn:before,
.hall-rank .rank-startBtn-btn:before {
    content: "";
    display: inline-block;
    width: 43px;
    height: 53px;
    background: red;
    position: absolute;
    top: -2px;
    right: -25px;
    background: url(../../../images/skin/Springfestival/btnadd.png) no-repeat;
    background-size: 100% 100%;
}

.Match-start-btn-in:before,
.Match-start-btn-in:after {
    display: none;
}

.gx-modal-header,
.gx-detail-header {
    background: rgba(255, 68, 68, .5) !important;
}

.gx-modal-content {
    background: #461E20 !important;
}

.setting-connector .setting-connector-bg {
    background: #461E20 !important;
}

.gx-input {
    background: rgba(255, 68, 68, 0.2) !important;
    color: #FFF !important;
}

.setting-select {
    background: rgba(255, 68, 68, 0.2) !important;
}

.setting-file {
    background: rgba(255, 68, 68, 0.2) !important;
}

.setting-file .gx-input {
    background: transparent !important;
}

.setting-file .input-group-addon {
    background: none !important;
}

.J_setting-autoUrl,
.J_setting-downGame {
    color: #FFF !important;
}

#UserAdminModal .UserAdminModal-nav {
    background: rgba(255, 68, 68, .5) !important;
}

#UserAdminModal .UserAdminModal-gender-item.active {
    background: #6B2627 !important;
}

#UserAdminModal .UserAdminModal-gender {
    background: #3A1A1B !important;
}

#UserAdminModal .UserAdminModal-avatar-nav-item.active {
    background: #6B2627 !important;
}

#UserAdminModal .UserAdminModal-avatar-nav {
    background: #3A1A1B !important;
}

#UserAdminModal .UserAdminModal-bottom-content {
    background: #6B2627 !important;
    border: 1px solid #FF4444 !important;
    border-bottom-width: 0px !important;
}

#UserAdminModal .UserAdminModal-bottom-title {
    color: rgba(255, 255, 255, .6);
}

#UserAdminModal .UserAdminModal-bottom-content-file {
    background: rgba(70, 30, 32, .6);
    border: 1px solid #FF4444 !important;
    border-top-width: 0px !important;
    border-radius: 0px 0px 8px 8px;
}

#UserAdminModal .ft-A1 {
    color: #FFF;
}

.rank-right-add {
    top: 114px !important;
}

.rank-right-add a {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 63px;
    min-width: 60px;
    margin-top: 20px;
}

.rank-right-add a img {
    opacity: 0;
}

.rank-right-add a:after {
    content: "";
    display: inline-block;
    width: 60px;
    height: 63px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.rank-right-add .rank-session-icon:after {
    background: url(../../../images/skin/Springfestival/rule.png) no-repeat;
    background-size: 100% 100%;
}

.rank-right-add .J_rank-tolist:after {
    background: url(../../../images/skin/Springfestival/rank-list.png) no-repeat;
    background-size: 100% 100%;
}

.rank-right-add .J_rank-chooseModal:after {
    background: url(../../../images/skin/Springfestival/chooseCountry.png) no-repeat;
    background-size: 100% 100%;
}

#UserAdminModal .UserAdminModal-nav-active,
.Invite-content-header-focus {
    border-bottom: 2px solid #f2d181 !important;
}

#UserAdminModal .UserAdminModal-nav {
    color: rgba(255, 255, 255, .6);
}

#UserAdminModal .UserAdminModal-swiper-psph-content {
    background: #461E20 !important;
}

#UserAdminModal .login-gx-input .input-group-addon {
    background-color: #933128 !important;
}

.setting-modal-header-nav-item-active {
    border-bottom: 2px solid #f2d181 !important;
}

.hall-content-friend .hall-content-friend-search .hall-content-friend-search-input {
    background: #381819;
}

.hall-content-friend .hall-content-friend-search.active .hall-content-friend-search-input::placeholder {
    color: rgba(255, 255, 255, .3) !important;
}

.hall-content-friend .hall-content-friend-search.active .hall-content-friend-search-icon {
    color: rgba(255, 255, 255, .3) !important;
}

#addfriendModal .J_findId {
    background-color: #FF4444;
}

.gx-search input {
    border: 1px solid rgba(255, 68, 68, 0.4);
    background: #6b2526;
}

.gx-search .gx-search-clear {
    color: #FFF;
}

.gx-search .iconfont {
    color: #FFF;
}

#addfriendModal .addfriendModal-content-scroll {
    background: rgba(255, 68, 68, .4) !important;
}

#addfriendModal .addfriendModal-content-scroll-item .iconfont {
    color: #f2d181 !important;
}

#addfriendModal .addfriendModal-content-scroll-title {
    color: #FFF;
}

#UserGoldModal .UserGoldModal-thead {
    background: rgba(255, 68, 68, .4) !important;
}

#UserGoldModal .UserGoldModal-div {
    background: rgba(255, 68, 68, .1) !important;
}

#UserGoldModal .UserGoldModal-btn {
    background: #FF4444;
}

.gx-modal-header-nav-active {
    border-bottom: 2px solid #f2d181;
}

.contextMenuPlugin {
    background-color: #331616;
    border: 1px solid #7c2b29 !important;
}

.contextMenuPlugin>li>a {
    border-bottom: 1px solid rgba(242, 209, 129, .2);
}

.career-content-level-all {
    background: #7c2b29 !important;
    box-shadow: 0px 0px 3px #331616;
}

#rankMapModal .rankMapModal-content-map-name {
    background: #933128 !important;
}

#rankMapModal .rankMapModal-content-right-th,
#MapAuthorModal .MapAuthorModal-modal-thead {
    background: rgba(255, 68, 68, .4) !important;
}

#rankMapModal .rankMapModal-content-right,
#MapAuthorModal .MapAuthorModal-modal-scroll,
.gx-textarea,
#MapAuthorModal .MapAuthorModal-add-div {
    background: rgba(255, 68, 68, .1) !important;
}

#rankMapModal .rankMapModal-content-item.active,
#MapAuthorModal .MapAuthorModal-modal-scroll table tr.active,
#MapAuthorModal .MapAuthorModal-modal-scroll table tr:hover {
    background: #7c2b29 !important;
}

#rankMapModal .rankMapModal-content-item:hover {
    background: #7c2b29 !important;
}

#settlement .modal-dialog {
    background: #3a4348 url(../../../images/skin/Springfestival/details-bg.png) no-repeat bottom left !important;
    background-size: 1280px 720px !important;
}

#settlement .settlement-row .settlement-row-left {
    background: rgba(255, 68, 68, .1) !important;
}

#settlement .settlement-map .settlement-map-title {
    background: #933128 !important;
}

#settlement .settlement-details {
    background: rgba(255, 68, 68, .1) !important;
}

#settlement .settlement-details .settlement-details-div {
    background: rgba(255, 68, 68, .4) !important;
}

#settlement .settlement_nav .settlement_nav_item {
    background: rgba(99, 40, 38, .3) !important;
}

#settlement .settlement_nav .settlement_nav_item.active,
#settlement .settlement_nav .settlement_nav_item:hover {
    background: #632826 !important;
}

#MapAuthorModal .MapAuthorModal-modal-nav:hover,
#MapAuthorModal .MapAuthorModal-modal-nav.active {
    background: #FF4444 !important;
}

#MapAuthorModal .MapAuthorModal-modal-nav {
    background: rgba(255, 68, 68, .2) !important;
}

.J_showMapAuthorModal_updata {
    color: #f2d181 !important;
}

#MapAuthorModal .MapAuthorModal-modal-navdiva a.active,
#MapAuthorModal .MapAuthorModal-modal-navdiva a:hover {
    color: #f2d181 !important;
}

#MapAuthorModal .MapAuthorModal-add-div {
    border: 1px solid #7c2b29 !important;
}

.gx-addbtn {
    background: #FF4444;
}

.gx-img-middle-btn-blue {
    background: #FF4444;
}

#MapAuthorModal .ft-A1 {
    color: #FFF
}

#MapAuthorModal .ft-indigo-light,
.gx-detail-header .ft-indigo-light,
.Invite-header,
.Invite-content span {
    color: #FFF !important;
}

.hall-header-right {
    position: relative;
}

.hall-header-right:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 112.5px;
    height: 58px;
    top: 1px;
    left: 33px;
    background: url(../../images/skin/Springfestival/top-animate.png);
    background-size: 100% 100%;
}

.information-right-bottom-right-item-bot {
    background: #632826 !important
}

.hall-content-friend .hall-content-friend-status-2 .hall-content-friend-ul-state {
    color: #FF5959;
}

.hall-content-friend .hall-content-friend-ul .hall-content-friend-ul-title>.iconfont {
    color: #FF5959;
}

.hall-content-friend .hall-content-friend-ul-title>span {
    color: #FF5959;
}

.J_addfriendModal-friendAdd {
    color: #f2d181;
}

.J_friendApply-accept {
    color: #f2d181;
}

#settlement .settlement-table .settlement-table_tr td:nth-child(5) {
    color: #FF5959 !important;
}

#settlement .settlement-table .settlement-table_tr:nth-child(2n-1) {
    background: rgba(255, 68, 68, .1) !important;
}

#settlement .settlement-table .settlement-table_tr:hover {
    background: rgba(255, 68, 68, .2) !important;
}

.red-bot {
    background: #FF4444;
}

.hall-content-friend .hall-content-friend-ul-li:hover {
    background: rgba(255, 68, 68, .1) !important;
}

#volumeModal .volume-option-item .gx-swich-content .rangeslider {
    background: rgba(255, 68, 68, .2);
}

#volumeModal .volume-option-item .gx-swich-content .rangeslider__handle {
    background: #FFFFFF;
    border: 1px solid rgba(255, 68, 68);
}

#volumeModal .volume-option-item .gx-swich-content .rangeslider__fill {
    background: rgba(255, 68, 68);
}

#volumeModal .volume-header {
    background: #461E20 !important;
}

.hall-content-friend .hall-content-friend-accept,
.hall-content-friend .hall-content-friend-accept:hover,
.hall-content-friend .hall-content-friend-refuse,
.hall-content-friend .hall-content-friend-refuse:hover {
    color: #f2d181;
}

.tooltip-inner {
    background: #6e2623 !important;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
}

.hall-header .hall-header-ping-hover {
    background: #3c201e !important;
    color: #fff !important;
}

.gx-img-btn-blue,
.detail-container-right-chat .btn-black,
.detail-swich-option-item .gx-swich .gx-swich-num,
.detail-swich-option-item .gx-swich .gx-swich-num-input input,
.Invite-content-check-content,
.Invite-button,
#GamebeforModal .btn-style {
    background: rgba(255, 68, 68) !important;
}

.gx-img-middle-btn-blue:hover,
.gx-img-middle-btn-blue:active,
.gx-img-middle-btn-blue:focus,
.gx-img-btn-blue:hover,
.gx-img-btn-blue:active,
.gx-img-btn-blue:focus,
.detail-container-right-chat .btn-black:hover,
.detail-container-right-chat .btn-black:active,
.detail-container-right-chat .btn-black:focus,
.Invite-content-check-content:hover,
.Invite-content-check-content:active,
.Invite-content-check-content:focus,
.Invite-button:hover,
.Invite-button:active,
.Invite-button:focus,
#GamebeforModal .btn-style:hover,
#GamebeforModal .btn-style:active,
#GamebeforModal .btn-style:focus {
    background: #fd6666 !important;
}

.createRoom-modal-mapdiv {
    background: rgba(255, 68, 68, .2) !important;

}

.createRoomlist-modal .ft-A1 {
    color: #FFF;
}

.createRoomlist-modal.gx-modal-content .modal-content {
    background: #461E20 !important;
}

.createRoomlist-modal-nav {
    background: rgba(255, 68, 68, .5) !important;
}

.createRoomlist-modal-nav:hover {
    background: rgba(255, 68, 68) !important;
}

.createRoomlist-modal-nav.active {
    background: rgba(255, 68, 68) !important;
}

.createRoomlist-modal-typelist {
    background: rgba(255, 68, 68, .2) !important;
}

.createRoomlist-modal-typelist-item {
    background: rgba(255, 68, 68, .2) !important;
}

.createRoomlist-modal-tablelist-thead {
    background: rgba(255, 68, 68, .4) !important
}

.createRoomlist-modal-tablelist-scroll {
    background: rgba(255, 68, 68, .2) !important;
}

.createRoomlist-modal-tablelist-scroll table tr {
    background: #6b2628 !important
}

.createRoomlist-modal-tablelist-scroll table tr:hover {
    background: rgba(255, 68, 68, .2) !important
}

.createRoomlist-modal-tablelist-scroll table tr.active {
    background: rgba(255, 68, 68, .2) !important
}

.createRoomlist-details .text-center .name-ellipsis {
    color: #f2d181 !important;
}

.createRoomlist-modal-textbtn {
    color: rgba(255, 68, 68) !important;
}

.createRoomlist-modal-textbtn:hover {
    color: #fd6666 !important;
}

.createRoomlist-modal-typelist-item.active {
    background: rgba(255, 68, 68) !important;
}

.createRoomlist-modal-content .suo-input {
    border: 1px solid rgba(255, 68, 68, 0.4) !important;
}

.gx-modal-header .ft-white-tr {
    color: #FFF;
}

.details-header {
    /* background: rgba(255, 68, 68, .2) !important; */
}

.details-content {
    background: #3a4348 url(../../../images/skin/Springfestival/details-bg.png) no-repeat left bottom !important;
    background-size: 1280px 720px !important;
}

.detail-map-img-name {
    background: #933128 !important;
}

.detail-div-header {
    background: rgba(255, 68, 68, .4) !important;
}

.detail-option .detail-div-header {
    background: none !important;
}

.detail-container-right-chat,
.Invite-MyFriends,
.Invite-Recently {
    background: rgba(255, 68, 68, .1) !important;
}

.detail-container-right-chat-bottom,
.detail-swich-option-item .rangeslider {
    border: 1px solid rgba(255, 68, 68, .2) !important;
}

.detail-option-content,
.detail-option-version-content {
    background: rgba(255, 68, 68, .1) !important;
    border: 1px solid #752e25 !important;
    border-top: 0px !important;
}

.detail-user-list-item .gx-menu-in .iconfont {
    color: rgba(255, 255, 255, .2);
}

.detail-option-btn-game,
.detail-option-btn-version {
    border: 1px solid #752e25 !important;
    background: rgba(255, 68, 68, .1) !important;
    border-bottom: 0px !important;
}

.detail-option-btn-focus {
    background: rgba(255, 68, 68, .4) !important;
}

.detail-swich-option-item .rangeslider .rangeslider__handle {
    background: linear-gradient(180deg, #FF7979 0%, #FF4444 100%) !important;
}

.detail-chathall-content-pop {
    background: linear-gradient(167deg, #E0B475 0%, #926F39 100%) !important;
}

.detail-chathall-content-pop:hover {
    opacity: 1 !important;
    background: linear-gradient(167deg, #E0B475 0%, #926F39 100%) !important;
}

.detail-map-img-name {
    opacity: 1 !important;
}

.detail-option-version div {
    border: 1px solid rgba(255, 68, 68, 0.4) !important;
}

.detail-option-version i {
    color: rgba(255, 68, 68, 0.4) !important;
}

.MapAuthorModal-details .text-center .name-ellipsis {
    color: #f2d181 !important;
}

.hall-content-friend .hall-content-friend-ul-ignore {
    background: rgba(255, 68, 68) !important;
}

.hall-content-friend .hall-content-friend-ul-ignore svg path {
    fill: #FFF !important;
}

.Match-map-item {
    background: rgba(255, 68, 68, 0.4) !important;
}

.detail-container-col .gx-teble-tbody {
    background: rgba(255, 68, 68, .1) !important;
}

.Match-container .detail-option-btn-game {
    background: none !important;
    border: none !important;
}

.Match-container .detail-div-header {
    background: #933128 !important;
}

#GamebeforModal .modal-dialog {
    background: #222f4e url(../../../images/skin/Springfestival/game-bg.png) no-repeat bottom right !important;
    background-size: 100% 100% !important;
}

.spop-body {
    background: url(../../../images/skin/Springfestival/spop-bg.png) no-repeat !important;
    background-size: cover !important;
}

.spop--top-right .spop {
    box-shadow: -1px 1px 15px #933128 !important;
}

.skeleton {
    background: rgba(255, 68, 68, 0.4) !important;
}

.mytrstyle {
    background: rgba(255, 68, 68, 0.4) !important;
}