/* 观战页面样式 */
#app {
    [v-cloak] {
        display: none;
    }
}

.battle-container {
    height: 100vh;
    position: relative;
    scrollbar-width: none;

    ::-webkit-scrollbar {
        display: none;
        /* Chrome Safari */
    }

    // 头部样式
    .nav {
        width: 62.5rem;
        height: 7rem;
        margin: 0 auto;
        // background-image: url('/images/Battle/nav.png');
        background-size: 100% 100%;
        display: grid;
        grid-template-columns: 5.625rem 7.75rem 8rem 1fr 8.25rem 7.625rem 5.625rem;
        position: relative;
        overflow: hidden;

        &::before {
            display: none;
        }

        .left-background {
            position: absolute;
            left: 0;
            top: 0;
            width: 51%;
            transform: rotate(180deg);
            transform: rotateY(180deg);
        }

        .right-background {
            position: absolute;
            right: 0;
            top: 0;
            width: 51%;
        }

        .score-logo-left {
            position: absolute;
            left: -4px;
            top: 1.8125rem;
            width: 4.4375rem;
        }

        .score-logo-right {
            position: absolute;
            right: -1.1875rem;
            top: 1.85rem;
            width: 4.4375rem;
            z-index: 1;
        }

        >div {
            height: 5rem;
            position: relative;
            overflow: hidden;
            z-index: 5;

            &::after {
                content: "";
                height: 2.25rem;
                border-right: 1px solid rgba(255, 255, 255, 0.2);
                border-radius: 1px;
                position: absolute;
                right: 0;
                top: 1.5rem;
            }

            &:last-child::after {
                display: none;
            }
        }

        .score {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.75rem;
            font-family: Industry-Black, Industry;
            font-weight: 900;
            color: #FFFFFF;
        }

        .teamName {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.875rem;
            font-family: Industry-Black, Industry;
            font-weight: 900;
            color: #FFFFFF;
        }

        .country {
            display: flex;
            align-items: center;
            justify-content: center;

            .portrait {
                width: 3.125rem;
                height: 3.125rem;
                padding: .125rem;
                box-sizing: border-box;
                border: 1px solid;
                border-image: linear-gradient(90deg, rgba(84, 141, 254, 1), rgba(103, 49, 239, 1)) 1 1;
            }

            .content {
                display: flex;
                flex-direction: column;
                height: 3.125rem;
                justify-content: space-between;
                margin-left: .625rem;

                .flag {
                    height: auto;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                >div {
                    width: 1.875rem;
                    height: 1.25rem;
                }
            }
        }

        .country-right {
            .portrait {
                border-image: linear-gradient(270deg, rgba(252, 133, 92, 1), rgba(238, 95, 81, 1)) 1 1;
            }
        }

        .nav-center {
            height: 100%;

            .nav-center-header {
                height: 5rem;
                padding: .625rem 1.375rem;
                box-sizing: border-box;
                align-items: center;
                display: grid;
                // grid-template-columns: 1fr 2fr 1fr;
                grid-template-columns: 5rem auto 5rem;
            }

            .nav-center-bottom {
                display: flex;
                justify-content: center;
                align-items: center;

                svg path {
                    fill: #fff;
                }

                span {
                    font-size: 1.4375rem;
                    font-family: Akrobat-SemiBold, Akrobat;
                    font-weight: 600;
                    color: #FFFFFF;
                    margin-left: .5rem;
                }
            }

            .nav-center-left {

                .damage,
                .money {
                    margin-right: .4375rem;
                }

                svg path {
                    fill: #4E63C3
                }
            }

            .nav-center-right {

                .nav-center-left-top,
                .nav-center-left-bottom {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }

                .damage,
                .money {
                    margin-left: .4375rem;
                }

                svg path {
                    fill: #F94F4A
                }
            }

            .nav-center-left,
            .nav-center-right {

                >div {
                    display: flex;
                    // justify-content: space-between;
                    align-items: center;
                    color: #fff;

                    span {
                        font-size: 1rem;
                    }
                }

                .nav-center-left-top {
                    margin-bottom: .5rem;
                }

                .nav-center-left-bottom {
                    display: flex;
                }
            }

            .nav-center-center {
                margin: .625rem;
                text-align: center;

                img {
                    height: 3.3125rem;
                }
            }
        }
    }

    // 页面左侧
    .body-left-list {
        position: fixed;
        left: .9375rem;
        top: 5rem;

        .title {
            display: flex;
            align-items: center;
            margin-bottom: .9375rem;

            span {
                font-size: 1.25rem;
                font-family: DOUYUFont;
                color: #FFFFFF;
                line-height: 1.6875rem;
                text-shadow: 0px .1875rem .0625rem rgba(0, 0, 0, 0.5);
                margin-right: .625rem;
            }

            .icon {
                transition: all .3s;
                transform: rotate(180deg);

                &:hover {
                    opacity: .7;
                    cursor: pointer;
                }
            }
        }

        .lists {

            .ranks {
                display: flex;
                margin-bottom: 1.25rem;

                .sign {
                    width: .75rem;
                    height: 5.5rem;
                    margin-right: .625rem;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        width: .3125rem;
                        background-color: rgba(255, 255, 255, 0.4);
                    }
                }

                ul {
                    display: flex;
                    padding: 0;
                    margin: 0;

                    li {
                        padding: .1875rem .125rem;
                        position: relative;
                        margin-right: .625rem;

                        .image {
                            height: 5rem;
                        }

                        .name {
                            position: absolute;
                            left: .125rem;
                            right: .125rem;
                            bottom: .1875rem;
                            padding: .1875rem;
                            background: rgba(0, 0, 0, 0.5);
                            color: #fff;
                            font-size: .75rem;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .ranks-blue {

            .sign {
                background-color: #ECB533;
            }

            li {
                background-color: #ECB533;
            }
        }

        .ranks-red {
            .sign {
                background-color: #71BF14;
            }

            li {
                background-color: #71BF14;
            }
        }
    }

    // 页面右侧

    .map {
        position: fixed;
        right: 0;
        top: 0;

        .header {
            width: 11.825rem;
            height: 2.0625rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(to right, #538CFD, #6745E5);

            img {
                height: 1.9375rem;
            }
        }
    }

    .body-right-list {
        position: fixed;
        z-index: 3;
        top: 13.5rem;
        right: 0;
        bottom: 0;
        width: 11.825rem;
        background-color: #14161B;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: .25rem;

        ul {
            max-height: 100%;
            overflow-y: auto;


            li {
                position: relative;
                border: .125rem solid #FFC438;
                height: 3.9375rem;
                overflow: hidden;
                margin-bottom: .375rem;

                .image {
                    width: 100%;
                }

                .name {
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    padding: .1875rem;
                    background: rgba(0, 0, 0, 0.5);
                    color: #fff;
                    font-size: .75rem;
                    text-align: center;
                }
            }
        }
    }

    // 底部样式
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 10.5rem;
        // height: 40%;

        .panel {
            width: 20rem;
            height: 3.125rem;
            background: rgba(24, 24, 24, 0.45);
            border-radius: 1px;
            margin: 0;
            transform: skew(40deg);
            margin-left: -1.25rem;

            .content {
                width: 100%;
                height: 100%;
                transform: skew(-40deg);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1rem;
                font-weight: 500;
                color: #FFFFFF;

                .icon {
                    width: 1.25rem;
                    height: 1.25rem;
                    margin-left: .625rem;
                    transition: all .5s;
                    transform: rotate(180deg);

                    &:hover {
                        cursor: pointer;
                        opacity: 0.8;
                    }
                }
            }
        }

        .footer-echarts-content {
            flex: auto;
            width: 80%;

            // .super-weapon {
            //     width: 20%;
            //     height: 100%;
            // }

            .value {
                display: flex;
                
                .player-name {
                    width: 7.75rem;
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 2.5rem;

                    >div {
                        flex: 1;
                        font-size: 1.125rem;
                        font-family: Industry-Black, Industry;
                        font-weight: 900;
                        color: #ECB533;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        padding-right: 0.925rem;
                    }
                }

                .player-content {
                    flex: auto;
                    display: flex;
                    flex-direction: column;

                    .Chart {
                        flex: auto;
                        background-color: #262222;

                        ul {
                            display: flex;
                            height: 100%;
                            position: relative;
                            padding-right: 20px;

                            li {
                                height: 100%;
                                background: rebeccapurple;
                                width: 1px;
                                position: absolute;
                                padding-top: 1.25rem;
                                padding-bottom: .625rem;
                                transition: all .5s;

                                .machine {
                                    width: 1.9375rem;
                                    border-radius: .0625rem;
                                    border: 1px solid red;
                                    transform:translate(-50%,0px);
                                    margin: .3125rem 0;
                                    position: relative;
                                    z-index: 1;

                                    img {
                                        width: 100%;
                                    }
                                }
                            }

                            .player_2 {
                                display: flex;
                                align-items: flex-end;
                                justify-content: flex-end;
                                flex-direction: column;

                                .machine {
                                    transform:translate(50%,0px);
                                    
                                }
                            }
                        }
                    }

                    .booten {
                        height: 30px;
                        position: relative;
                        padding-right: 20px;

                        ul {

                            li {
                                position: absolute;
                                display: inline-block;
                                height: 2.375rem;
                                line-height: 2.375rem;
                                font-size: 1.125rem;
                                font-family: Industry-Black, Industry;
                                font-weight: 900;
                                color: #A2A2A2;
                                transform:translateX(-50%);
                            }
                        }
                    }
                }
            }
        }

        

        &-echarts {
            // height: 79%;
            height: 0;
            display: flex;
            flex-direction: column;
            transition: all .5s;
            overflow: hidden;

            &-tabs {

                ul {
                    margin: 0;
                    padding: 0;
                    display: flex;

                    li {
                        height: 3.125rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 10%;
                        background: rgba(24, 24, 24, 0.45);
                        margin-right: 2px;
                        color: rgba(255, 255, 255, 0.7);
                        font-size: 1rem;

                        &:hover {
                            opacity: 0.8;
                            cursor: pointer;
                        }
                    }

                    .active {
                        background-color: #181818;
                        color: #FFFFFF;
                    }
                }
            }

            &-content {
                flex: auto;
                background-color: #181818;
            }
        }

        &-tips {
            display: flex;
            align-items: center;
            justify-content: center;
            // height: 8%;
            height: 1.875rem;
            background-color: #2F2F2F;

            img {
                width: 1.125rem;
                height: .875rem;
            }

            span {
                font-size: .75rem;
                font-weight: 400;
                color: #FFFFFF;
                margin-left: .375rem;

                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                }
            }
        }
    }
}