/* 观战页面样式 */
body {
  width: 100%;
  height: 100vh;
}

main {
  overflow: hidden;
}

#app [v-cloak] {
  display: none;
}

#app {
  position: relative;
  height: 100vh;
}

.battle-container {
  height: 100%;
  position: relative;
  scrollbar-width: none;
}

.battle-container ::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}

.battle-container .nav {
  width: 62.5rem;
  min-width: 600px;
  height: 7rem;
  margin: 0 auto;
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: 5.625rem 7.75rem 8rem 1fr 8.25rem 7.625rem 5.625rem;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  transform-origin: 50% 0%;
  transform-origin: 0% 0px;
}

.battle-container .nav.isconfusion {}

.battle-container .nav::before {
  display: none;
}

.battle-container .nav .left-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 51%;
  transform: rotate(180deg);
  transform: rotateY(180deg);
}

.battle-container .nav .right-background {
  position: absolute;
  right: 0;
  top: 0;
  width: 51%;
}

.battle-container .nav .score-logo-left {
  position: absolute;
  left: -23px;
  bottom: 17px;
  width: 4.4375rem;
  transform: rotateY(180deg);
}

.battle-container .nav .score-logo-right {
  position: absolute;
  right: -1.1875rem;
  top: 1.85rem;
  width: 4.4375rem;
  z-index: 1;
}

.battle-container .nav>div {
  height: 5rem;
  position: relative;
  overflow: hidden;
  z-index: 5;
}

.battle-container .nav>div::after {
  content: "";
  height: 2.25rem;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1px;
  position: absolute;
  right: 0;
  top: 1.5rem;
}

.battle-container .nav>div:last-child::after {
  display: none;
}

.battle-container .nav .score {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.75rem;
  font-family: 'IndustryBlack';
  font-weight: 900;
  color: #FFFFFF;
}

.battle-container .nav .teamName {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  font-size: 1.8rem;
  font-family: 'IndustryBlack';
  font-weight: 900;
  color: #FFFFFF;
  width: 100%;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 22%;
  padding-left: 3px;
  text-align: center;
}

.battle-container .nav .country {
  display: flex;
  align-items: center;
  justify-content: center;
}

.battle-container .nav .country .portrait {
  width: 50px;
  height: 50px;
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 50%;
}

.battle-container .nav .country .portrait img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.portrait.color0 {
  border-color: #e7b133 !important;
}

.portrait.color1 {
  border-color: #c2320a !important;
}

.portrait.color2 {
  border-color: #5456f5 !important;
}

.portrait.color3 {
  border-color: #69af14 !important;
}

.portrait.color4 {
  border-color: #c26b2f !important;
}

.portrait.color5 {
  border-color: #30a6b5 !important;
}

.portrait.color6 {
  border-color: #7526be !important;
}

.portrait.color7 {
  border-color: #bb265b !important;
}

.nav-center-left svg,
.nav-center-right svg {
  height: 100%;
  width: auto;
}

.nav-center-left.color0 svg path,
.nav-center-right.color0 svg path {
  fill: #e7b133 !important
}

.nav-center-left.color1 svg path,
.nav-center-right.color1 svg path {
  fill: #c2320a !important
}

.nav-center-left.color2 svg path,
.nav-center-right.color2 svg path {
  fill: #5456f5 !important
}

.nav-center-left.color3 svg path,
.nav-center-right.color3 svg path {
  fill: #69af14 !important
}

.nav-center-left.color4 svg path,
.nav-center-right.color4 svg path {
  fill: #c26b2f !important
}

.nav-center-left.color5 svg path,
.nav-center-right.color5 svg path {
  fill: #30a6b5 !important
}

.nav-center-left.color6 svg path,
.nav-center-right.color6 svg path {
  fill: #7526be !important
}

.nav-center-left.color7 svg path,
.nav-center-right.color7 svg path {
  fill: #bb265b !important
}

.battle-container .nav .country .content {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-between;
  margin-left: 0.625rem;
}

.battle-container .nav .country .content .flag {
  height: auto;
  position: relative;
}

.battle-container .nav .country .content .flag .powercut {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.battle-container .nav .country .content .flag .powercut img {
  width: 100%;
  height: 100%;
}

.battle-container .nav .country .content .flag img {
  width: 100%;
  height: 100%;
}

.battle-container .nav .country .content>div {
  width: 30px;
  height: 20px;
}

.battle-container .nav .nav-center {
  height: 100%;
}

.battle-container .nav .nav-center .nav-center-header {
  height: 72%;
  padding: 2% 5%;
  box-sizing: border-box;
  align-items: center;
  display: grid;
  grid-template-columns: 5rem auto 5rem;
  font-family: 'akrobatRegular';
}

.battle-container .nav .nav-center .nav-center-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

.battle-container .nav .nav-center .nav-center-bottom svg path {
  fill: #fff;
}

.battle-container .nav .nav-center .nav-center-bottom span {
  font-size: 26px;
  font-family: 'akrobatRegular';
  color: #FFFFFF;
  margin-left: 0.5rem;
}

.battle-container .nav .nav-center .nav-center-bottom span.nav-center-bottom-bo {
  font-size: 16px;
  font-weight: 700;
  color: #FFC438;
  vertical-align: middle;
  margin-right: 15px;
}

.nav-center-left,
.nav-center-right {
  position: relative;
  top: -5px;
}

.battle-container .nav .nav-center .damage {
  width: 24px;
  height: auto;
}

.battle-container .nav .nav-center .money {
  width: 23px;
  height: auto;
}

.battle-container .nav .nav-center .nav-center-left .damage,
.battle-container .nav .nav-center .nav-center-left .money {
  margin-right: 3px;
  position: relative;
  top: 1px;

}

.battle-container .nav .nav-center .nav-center-left svg path {
  fill: #4E63C3;
}

.battle-container .nav .nav-center .nav-center-right .damage,
.battle-container .nav .nav-center .nav-center-right .money {
  margin-right: 3px;
  position: relative;
  top: 1px;
}

.battle-container .nav .nav-center .nav-center-right svg path {
  fill: #F94F4A;
}

.battle-container .nav .nav-center .nav-center-left>div span,
.battle-container .nav .nav-center .nav-center-right>div span {
  font-size: 1rem;
}

.nav-center-right .nav-center-left-bottom,
.nav-center-right .nav-center-left-top {
  text-align: right;
}

.nav-center-left-bottom *,
.nav-center-left-top * {
  vertical-align: middle;
}

.nav-center-left-top {
  margin-bottom: 8px;
}

.battle-container .nav .nav-center .nav-center-center {
  margin: 0.625rem;
  text-align: center;
}

.battle-container .nav .nav-center .nav-center-center img {
  height: 3.3125rem;
}

.battle-container .body-left-list {
  position: fixed;
  left: 0.9375rem;
  top: 5rem;
}

.battle-container .body-left-list.body-left-list-right {
  position: fixed;
  right: 200px;
  left: auto;
  top: 5rem;
}

.battle-container .body-left-list:nth-child(2) {
  position: absolute;
  left: 0.9375rem;
  top: 5rem;
}

.battle-container .body-left-list .title {
  display: flex;
  align-items: center;
  margin-bottom: 0.9375rem;
}

.battle-container .body-left-list.body-left-list-right .title {
  justify-content: flex-end;
}

.battle-container .body-left-list .title span {
  font-size: 1.25rem;
  font-family: DOUYUFont;
  color: #FFFFFF;
  line-height: 1.6875rem;
  text-shadow: 0px 0.1875rem 0.0625rem rgba(0, 0, 0, 0.5);
  margin-right: 0.625rem;
}

.battle-container .body-left-list .title .icon {
  transition: all 0.3s;
  transform: rotate(180deg);
}

.battle-container .body-left-list .title .icon:hover {
  opacity: 0.7;
  cursor: pointer;
}

.battle-container .body-left-list .lists .ranks {
  display: flex;
  margin-bottom: 1.25rem;
}

.battle-container .body-left-list.body-left-list-right .lists .ranks {
  justify-content: flex-end;
}

.battle-container .body-left-list .lists .ranks .sign {
  width: 0.75rem;
  /* height: 5.5rem; */
  margin-right: 0.625rem;
  position: relative;
}

.battle-container .body-left-list.body-left-list-right .lists .ranks .sign {}

.battle-container .body-left-list .lists .ranks .sign::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0.3125rem;
  background-color: rgba(255, 255, 255, 0.4);
}

.battle-container .body-left-list .lists .ranks ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.battle-container .body-left-list .lists .ranks ul li {
  padding: 0.1875rem 0.125rem;
  position: relative;
  margin-right: 0.625rem;
}

.battle-container .body-left-list .lists .ranks ul li .pre {
  width: 90%;
  height: 4px;
  background: #1D2027;
  border-radius: 2px;
  margin: 0 auto;
  margin-top: 7px;
  margin-bottom: 3px;
}

.battle-container .body-left-list .lists .ranks ul li .pre .pre-border {
  background: #FFFFFF;
  height: 4px;
  border-radius: 2px;
  transition: width .2s linear 0s;
}

.battle-container .body-left-list .lists .ranks ul li .name {
  /* position: absolute;
  left: 0.125rem;
  right: 0.125rem;
  bottom: 0.1875rem;
  padding: 0.1875rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 0.75rem; */
  text-align: center;
  line-height: 14px;
  font-size: 12px;
}

.battle-container .body-left-list .ranks-blue .sign {
  background-color: #ECB533;
}

.battle-container .body-left-list .ranks-blue li {
  background-color: #ECB533;
}

.battle-container .body-left-list .ranks-red .sign {
  background-color: #71BF14;
}

.battle-container .body-left-list .ranks-red li {
  background-color: #71BF14;
}

.battle-container .body-left-list .lists-img-div {
  width: 45px;
  height: 54px;
  overflow: hidden;
}

.battle-container .body-left-list .lists-img-div img {
  overflow: hidden;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.battle-container .map {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 171px;
  height: 48px;
}

.battle-container .map .hair {
  width: 14px;
  height: 112px;
  position: absolute;
  top: 48px;
  right: 0px;
  background: #6346E4;
}

.battle-container .map .hair:nth-child(2) {
  top: 48px;
  left: 0px;
  right: auto;
  background-color: #548AFD;
}

.battle-container .map .header {
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: linear-gradient(to right, #538CFD, #6745E5);
  padding: 3%;
  position: relative;
}

.battle-container .map .header:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url('../../../images/Battle/topbg.png') no-repeat;
  z-index: -1;
  background-size: 100% 100%;
}

.battle-container .map .header img {
  height: 90%
}

.battle-container .body-right-list {
  position: fixed;
  top: 159px;
  right: 0px;
  z-index: 3;
  width: 171px;
  background: linear-gradient(to right, #548AFD, #6346E4);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3px;
  font-family: 'IndustryBlack';
  min-height: 130vh;
  padding: 7px 13px;
}

.battle-container .body-right-list .bgcolor {
  width: 100%;
  height: 14px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: .9;
}

.battle-container .body-right-list .item-empty {
  width: 100%;
  height: 57.19px;
  text-align: center;
  padding-top: 13px;
  background: rgba(20, 22, 27, 0.3);
}

.battle-container .body-right-list .item-empty img {
  line-height: 60px;
}

.battle-container .body-right-list ul {
  max-height: 100%;
  overflow-y: auto;
}

.battle-container .body-right-list ul li {
  position: relative;
  border: 1px solid #FFC438;
  border-width: 1px;
  overflow: hidden;
  margin-bottom: 4px;
  border-radius: 10px;
  line-height: 0px;
}

.battle-container .body-right-list ul li .image {
  width: 100%;
  position: relative;
  z-index: -2;
}

.map-right {
  transform-origin: 100% 0%;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  pointer-events: none;
  /* overflow: hidden; */
}

.battle-container .body-right-list ul li .name {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  line-height: 14px;
}

.battle-container .footer {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 171px;
  transform-origin: 0% 100%;
}

.battle-container .footer .panel {
  width: 20rem;
  height: 3.125rem;
  background: rgba(24, 24, 24, 0.6);
  border-radius: 1px;
  margin: 0;
  transform: skew(40deg);
  margin-left: -1.25rem;
}

.battle-container .footer .panel .content {
  width: 100%;
  height: 100%;
  transform: skew(-40deg);
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1rem;
  font-weight: 500;
  color: #FFFFFF;
  padding-left: 48px;
}

.battle-container .footer .panel .content span {
  display: inline-block;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
  overflow: hidden;
  width: 83%;
}

.battle-container .footer .panel .content .icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.625rem;
  transition: all 0.5s;
  transform: rotate(180deg);
  position: absolute;
  top: 16px;
  right: 19px;
}

.battle-container .footer .panel .content .icon:hover {
  cursor: pointer;
  opacity: 0.8;
}

.footer-echarts {
  height: 0px;
}

.battle-container .footer .footer-echarts-content {
  flex: auto;
  width: 80%;
}

.battle-container .footer .footer-echarts-content .value {
  display: flex;
}

.battle-container .footer .footer-echarts-content .value .player-name {
  width: 7.75rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5rem;
}

.battle-container .footer .footer-echarts-content .value .player-name>div {
  flex: 1;
  font-size: 1.125rem;
  font-family: Industry-Black, Industry;
  font-weight: 900;
  color: #ECB533;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.925rem;
}

.battle-container .footer .footer-echarts-content .value .player-content {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.battle-container .footer .footer-echarts-content .value .player-content .Chart {
  flex: auto;
  background-color: #262222;
}

.battle-container .footer .footer-echarts-content .value .player-content .Chart ul {
  display: flex;
  height: 100%;
  position: relative;
  padding-right: 20px;
}

.battle-container .footer .footer-echarts-content .value .player-content .Chart ul li {
  height: 100%;
  background: rebeccapurple;
  width: 1px;
  position: absolute;
  padding-top: 1.25rem;
  padding-bottom: 0.625rem;
  transition: all 0.5s;
}

.battle-container .footer .footer-echarts-content .value .player-content .Chart ul li .machine {
  width: 1.9375rem;
  border-radius: 0.0625rem;
  border: 1px solid red;
  transform: translate(-50%, 0px);
  margin: 0.3125rem 0;
  position: relative;
  z-index: 1;
}

.battle-container .footer .footer-echarts-content .value .player-content .Chart ul li .machine img {
  width: 100%;
}

.battle-container .footer .footer-echarts-content .value .player-content .Chart ul .player_2 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.battle-container .footer .footer-echarts-content .value .player-content .Chart ul .player_2 .machine {
  transform: translate(50%, 0px);
}

.battle-container .footer .footer-echarts-content .value .player-content .booten {
  height: 30px;
  position: relative;
  padding-right: 20px;
}

.battle-container .footer .footer-echarts-content .value .player-content .booten ul li {
  position: absolute;
  display: inline-block;
  height: 2.375rem;
  line-height: 2.375rem;
  font-size: 1.125rem;
  font-family: Industry-Black, Industry;
  font-weight: 900;
  color: #A2A2A2;
  transform: translateX(-50%);
}

.battle-container .footer-echarts {
  height: 0;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  overflow: hidden;
}

.battle-container .footer-echarts-tabs ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.battle-container .footer-echarts-tabs ul li {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  background: rgba(24, 24, 24, 0.45);
  margin-right: 2px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  letter-spacing: 1px;
}

.battle-container .footer-echarts-tabs ul li:hover {
  opacity: 0.8;
  cursor: pointer;
}

.battle-container .footer-echarts-tabs ul .active {
  background-color: #181818;
  color: #FFFFFF;
}

.battle-container .footer-echarts-content {
  flex: auto;
  background-color: #181818;
}

.battle-container .footer-tips {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1.875rem;
  text-align: center;
  line-height: 1.875rem;
  background-color: #2F2F2F;
  display: none;
}

.battle-container .footer-tips img {
  width: 1.125rem;
  height: 0.875rem;
}

.battle-container .footer-tips span {
  font-size: 0.75rem;
  font-weight: 400;
  color: #FFFFFF;
  margin-left: 0.375rem;
}

.battle-container .footer-tips span:hover {
  cursor: pointer;
  opacity: 0.8;
}

.more-nav {
  width: 1149px;
  height: 132px;
  overflow: hidden;
  margin: 0 auto;
  transform-origin: 50% 0%;
}

.more-nav .more-nav-left {
  width: 50%;
  height: 132px;
  float: left;
  position: relative;
}

.more-nav .more-nav-left::before {
  content: "";
  width: 72px;
  height: 69px;
  background: red;
  position: absolute;
  background: url('../../../images/Battle/score-logo.png') no-repeat;
  background-size: 100%;
  bottom: 23px;
  left: -20px;
  z-index: -1;
  transform: rotateY(180deg);
}

.more-nav .more-nav-right::before {
  content: "";
  width: 72px;
  height: 69px;
  position: absolute;
  background: url('../../../images/Battle/score-logo.png') no-repeat;
  background-size: 100%;
  bottom: 22px;
  right: -20px;
  z-index: 1;
}

.more-nav .more-nav-right .more-nav-userList {
  position: relative;
  z-index: 2;
}

.more-nav .more-nav-right .more-nav-num {
  position: relative;
  z-index: 2;
}


.more-nav .more-nav-left:after {
  content: "";
  width: 100%;
  height: 132px;
  background: url('../../../images/Battle/score-Teal.png') no-repeat;
  background-size: 100%;
  background-position-x: 1px;
  position: absolute;
  top: 0px;
  left: 2px;
  transform: rotateY(180deg);
  z-index: -2;
}

.more-nav .more-nav-right {
  width: 50%;
  height: 132px;
  background: url('../../../images/Battle/score-Red.png') no-repeat;
  background-size: 100%;
  background-position-x: -1px;
  float: left;
  text-align: right;
  position: relative;
}

.more-nav.isconfusion .more-nav-left:after {
  background: url('../../../images/Battle/score-Red.png') no-repeat;
  background-size: 100%;
}

.more-nav .more-nav-num {
  font-size: 50px;
  font-family: 'IndustryBlack';
  line-height: 90px;
  width: 84px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.more-nav .more-nav-userList {
  width: 357px;
  height: 90px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 15px;
  position: relative;
}

.more-nav.more-nav-three .more-nav-userList {
  padding-top: 6px;
}

.more-nav .more-nav-left .more-nav-userList:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 36px;
  background-color: #D8D8D8;
  opacity: .2;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  left: 0px;
}

.more-nav .more-nav-right .more-nav-userList:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 36px;
  background-color: #D8D8D8;
  opacity: .2;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  right: 0px;
}

.more-nav .more-nav-userList .more-nav-userList-item {
  padding-top: 0px;
  height: 35px;
  width: 100%;
  white-space: nowrap;
  padding-left: 18px;
}

.more-nav.more-nav-three .more-nav-userList .more-nav-userList-item {
  height: 28px;
}

.more-nav .more-nav-userList .more-nav-userList-item svg path {
  fill: #5456f5;
}

.more-nav .more-nav-userList .more-nav-userList-item svg {
  width: 20px;
  height: auto;
  vertical-align: middle;
  fill: #5456f5;
  position: relative;
  top: -1px;
  margin-right: 5px;
}

.more-nav .more-nav-userList .more-nav-userList-item span {
  display: inline-block;
  font-size: 18px;
  width: 50px;
  font-family: 'akrobatRegular';
  /* border: 1px solid blue; */
}

.more-nav-userList-itemname {
  vertical-align: middle;
  position: relative;
  top: -2;
  font-size: 16px !important;
  display: inline-block;
  width: 80px !important;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
  overflow: hidden;
  text-align: center !important;
  font-family: 'IndustryBlack', 'ChangGuiTi' !important;
}

.more-nav-userList-itemcountrydiv {
  display: inline-block;
  position: relative;
}

.more-nav-userList-itemcountry {
  width: 30px;
  height: 20px;
  vertical-align: middle;
  margin-right: 22px;
}

.more-nav-userList-itemcountrydiv .powercut {
  top: 0px;
  left: 0px;
  position: absolute;
}

.more-nav-userList-itemcountrydiv .powercut img {
  width: 30px;
  height: 20px;
}

.more-nav-right .more-nav-userList-itemcountrydiv .powercut {
  top: 0px;
  left: auto;
  right: 0px;
  height: 100%;
}

.more-nav-right .more-nav-userList-itemcountrydiv .powercut img {
  height: 100%;
  width: auto;
}

.more-nav-userList-itemcolor {
  width: 30px;
  height: 20px;
  background: red;
  display: inline-block;
  vertical-align: middle;
}

.more-nav-center {
  position: absolute;
  top: 12px;
  right: -71px;
  text-align: center;
  padding-top: 0px;
  z-index: 2;
  min-width: 140px;
}

.more-nav-center .more-nav-center-logo img {
  width: 71px;
}

.more-nav-center .more-nav-center-bottom svg {
  width: 20px;
  height: auto;
  vertical-align: middle;
  position: relative;
  top: 0px;
  margin-right: 3px;
}

.more-nav-center .more-nav-center-bottom svg path {
  fill: #FFF;
}

.more-nav-center .more-nav-center-bottom {
  margin-top: 16px;
  font-size: 24px;
  font-family: 'akrobatRegular';
}

.more-nav-center .more-nav-center-bottom span {
  vertical-align: middle;
}

.more-nav-center-bottom-bo {
  font-size: 16px;
  font-weight: 700;
  color: #FFC438;
  vertical-align: middle;
  margin-right: 3px;
  position: relative;
  top: 2px;
}

.more-nav-right .more-nav-userList-item {
  padding-left: 0px !important;
  padding-right: 18px;
}

.more-nav-right .more-nav-userList-itemcountry {
  margin-right: 0px;
  margin-left: 23px;
}

.more-nav-right .more-nav-userList .more-nav-userList-item span {
  text-align: left;
}

.more-nav-right svg {
  fill: #c2320a !important;
}

.more-nav-right svg path {
  fill: #c2320a !important;
}

.flip-list-move {
  transition: transform 1s;
}

.chat {
  width: 100%;
  height: 100vh;
  /* border: 1px solid blue; */
  padding-top: 18px;
  padding-right: 160px;
  position: absolute;
  font-family: ChangGuiTi;
}

.chat .dumu-div {
  width: 100%;
  height: 200px;
  /* background: red; */
  position: relative;
  overflow: hidden;
}

.chat .dumu-div .list {
  position: absolute;
  left: 100%;
  white-space: nowrap;
  height: 38px;
  line-height: 38px;
  font-size: 22px;
  color: #fff;
  text-shadow: 0 0 3px #000;
  -webkit-transition: -webkit-transform 25s linear;
  -moz-transition: -moz-transform 25s linear;
  -o-transition: -o-transform 25s linear;
  transition: transform 25s linear;
  z-index: 999;
}

.chat .list.animate {
  -webkit-transform: translateX(-3420px);
  -moz-transform: translateX(-3420px);
  -ms-transform: translateX(-3420px);
  -o-transform: translateX(-3420px);
  transform: translateX(-3420px);
}

.chat .chat-down-div {
  width: 665px;
  max-height: 160px;
  background: rgba(1, 1, 1, .4);
  position: absolute;
  bottom: 3.125rem;
  left: 0px;
  overflow: hidden;
}

.chat .chat-top-div {
  width: 665px;
  max-height: 160px;
  top: 54px;
  position: absolute;
  padding-left: 30px;
  left: 0px;
  z-index: 2;
  background: rgba(1, 1, 1, .4);
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
}

.chat .chat-down-div.down {
  bottom: 30px;
  padding-left: 30px;
}

.chat .chat-item {
  display: block;
  line-height: 32px;
  font-size: 16px;
  width: 100%;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  position: relative;
  top: 0px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 1);
  font-size: 18px;
}