:root{
    --gradient : linear-gradient(90deg, #e05aa8 0%, #6d69ad 100%);
}

 body,html{
    margin:0px;
    padding:0px;
    background: var(--gradient); 
    font-family: 'Lora', serif;
    display: grid;
    justify-content: center;
    align-content: center;
}

img{
    width: 240px;
    height: 200px;
    position: relative;
    overflow: hidden;
    backface-visibility:inherit;
    transition: .5s ease .3s;

}

#main{
width:240px;
height:336px;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}



#card{
position:absolute;
height:100%;
width:100%;
background-color:white;
transform-style: preserve-3d;
transition: .5s ease;
backface-visibility:hidden;
display: grid;
grid-template-rows: auto 100px;
box-shadow: 0 20px 30px #00000080;


}
.cart{
   height:20%;
   width: 300%;

}
.cartt{
    height: 30px;
    width: 30px;
}
.changee{
    height: 30px;
    width: 30px;   
}

.starr{
    height: 15px;
    width: 15px;
}

.front{
position:absolute;
height:100%;
width:100%;
background-color:white;
backface-visibility:hidden;
color:black;

}
    
.front h2{
margin-bottom:5px;
 }
#back{
position:absolute;
height:100%;
width:100%;
background-color:#062d50;
backface-visibility:hidden;
transform:rotateY(180deg);
z-index:999;
box-shadow:2px 3px 3px rgb(56, 54, 54) , -1px 2px 3px rgb(31, 29, 29);
color:rgb(236, 215, 215);
line-height:1.4;
font-size:18px;

}
#back h2{
margin:5px;
line-height:1.3;
text-decoration:underline;
}

#back p{
 padding:0px 1em;
}

    
.details{
width:100%;
height:auto;
display:grid;
grid-template-columns:1fr 2fr;
box-sizing:border-box;
padding:.3em;
}

.type{
text-align:center;
}
.property span{
padding-left:10px;
margin:0px;

}


button{
margin:15px;
padding:10px;
font-size:18px;
font-weight:600;
border:2px solid grey;	
border-radius:10px;
box-shadow:0 14px 28px rgba(0,0,0,0.25);
cursor:pointer;
}


   
 #card:hover 
{
transform:scale(1.1,1.1);
box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
#card:hover  img{

transform:scale(1.3,1.3);

}

label i{
color:grey;
margin-left:30px;
}
    
label[for="change"]{
cursor:pointer;

}
i{
color:yellow;
}


.button{
width:50%;
height:auto;
padding:10px;
background-color:#91DABF;
float:left;
display:inline;
box-sizing:border-box;
}



.button:hover{
box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 
}

.star{
    height: 10px;
    width: 10px;
    position: relative;
}

input{
display:none;
}
    
input[id="change"]:checked ~ #card{
transform:rotateY(-180deg);

}