@import "../modal/createroom.css";
@import "mapmodal.css";
@import "../../layouts/settlement.css";

body {
  opacity: 0;
}

.gx-detail-header {
  width: 100%;
  height: 50px;
  background: #222F4E;
  border-radius: 4px 4px 0px 0px;
  opacity: 1;
  padding-left: 30px;
  padding-top: 13px;
  text-align: center;
}

.details-header {
  width: 100%;
  height: 28px;
  position: relative;
  /* -webkit-app-region: drag; */
  /* background: linear-gradient(90deg, rgba(84, 141, 254, 0.2), rgba(103, 49, 239, 0.2)); */
}

.details-header .header-window {
  top: 11px;
  right: 32px;
}

.details-content {
  width: 100%;
  height: 100vh;
  background: url(../../../images/details/details-bg.jpg) no-repeat left bottom;
  background-size: 1280px 720px;
  opacity: 0;
}

.detail-container {
  width: 1230px;
  margin: 10px 0 0 20px;
}

.detail-container .detail-container-row {
  margin-right: -7px;
  margin-left: 0;
}

.detail-container .detail-container-row .detail-container-row-header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
}

.detail-container .detail-container-col {
  padding: 0;
}

.detail-container-col.col-xs-9 {
  width: 800px;
  margin-right: 14px;
}

.detail-container-col.col-xs-3 {
  width: 362px;
}

.detail-div-header {
  height: 30px;
  line-height: 30px;
  padding: 0px 20px;
  border-radius: 4px 4px 0px 0px;
  color: white;
  background: rgba(63, 89, 155, 0.6);
}

.detail-container-col-right .gx-img-btn-big {
  width: 100%;
  height: 60px;
  line-height: 60px;
  /* background-image: url(../../../images/hall/animate-btn-red-bg.png); */
  background-size: 100% 100%;
}

.detail-container-col-right .gx-img-btn-big span {
  position: relative;
  z-index: 2;
}

.detail-container-col-right .gx-img-btn-big:focus:after {
  opacity: 0.9;
}

.detail-container-col-right .gx-img-btn-big:active:after {
  opacity: 1;
}

.detail-container-col-right .gx-img-btn-big:hover:after {
  opacity: 1;
}

.detail-container-col-right .gx-img-btn-big::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 60px;
  background-image: url(../../../images/btn-long-bg.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.8;
  z-index: 1;
}

.detail-container-col-right .gx-img-btn-big.disabled::after {
  background-image: url(../../../images/gx-big-btn-disabled.png);
}

.detail-map-changeMap-btn {
  position: absolute;
  width: 80px;
  height: 30px;
  top: 10px;
  left: 100px;
  cursor: pointer;
  z-index: 1;
  background: linear-gradient(90deg, #313748 0%, #272C3A 100%);
  opacity: 0.8;
  border: 1px solid;
  border-image: linear-gradient(154deg, #20252f, #404754, #20252f) 1 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5px;
}

.detail-map-header-a {
  color: white;
  float: right;
  display: inline-flex;
}

.detail-map-content {
  height: 272px;
  margin-top: 13px;
  width: 100%;
  background: linear-gradient(154deg, rgba(32, 37, 47, 0.3) 0%, rgba(64, 71, 84, 0.3) 32%, rgba(32, 37, 47, 0.3) 100%);
  overflow: hidden;
  border-radius: 4px;
}

.detail-map-img {
  text-align: center;
  height: 272px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.detail-map-img-bot {
  position: absolute;
}

.detail-map-img-bot-circle {
  width: 30px;
  height: 30px;
  background: linear-gradient(180deg, #DAE5F9 0%, #8192B8 100%);
  box-shadow: 0px 1px 2px 0px #1F1F1F;
  border-radius: 50%;
  position: relative;
  top: -10px;
  left: -10px;
}

.detail-map-img-bot-red {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #1F1F1F;
  position: relative;
  top: 3px;
  left: 3px;
  font-size: 18px;
  line-height: 24px;
  color: #FF4444;
  text-align: center;
}

.detail-map-img-relative {
  display: inline-block;
}

.detail-map-content .detail-map-img-relative {
  transition: 0s;
  cursor: grab;
}

.detail-map-scale-btn {
  position: absolute;
  width: 70px;
  height: 30px;
  top: 10px;
  left: 20px;
  cursor: pointer;
  z-index: 1;
  background: linear-gradient(90deg, #313748 0%, #272C3A 100%);
  opacity: 0.8;
  border: 1px solid;
  border-image: linear-gradient(154deg, #20252f, #404754, #20252f) 1 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5px;
  font-size: 12px;
}

.detail-map-scale-btn svg {
  width: 14px;
  height: 14px;
}

.detail-map-img-img {
  /* max-width: 100%;
    max-height: 100%;
    min-height: 35vh; */
  width: 100%;
  height: auto;
}

.detail-map-desc {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0px;
  word-wrap: break-word;
  word-break: normal;
  text-align: left;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
  opacity: 0;
  transition: all 0.3s linear;
}

.detail-map-img:hover .detail-map-desc {
  bottom: 40px;
  opacity: 1;
}

.detail-map-room {
  top: 0px;
  left: 0px;
  height: 40px;
  padding: 0;
  z-index: 2;
  color: white;
  border-radius: 1px;
  display: flex;
  font-size: 12px;
  line-height: 40px;
  align-items: center;
}

.detail-chathall-content-pop:hover {
  opacity: 0.8;
}

#roomNo-copy-btn {
  margin: 0;
  display: flex;
  cursor: pointer;
  -webkit-app-region: no-drag;
  align-items: center;
}

#roomNo-copy-btn:hover {
  opacity: 0.8;
}

.room-header-No {
  cursor: pointer;
}

.room-header-No #roomNo {
  display: none;
  user-select: none;
}

.room-header-No svg {
  width: 14px;
}

.room-header-No svg:nth-child(2) {
  display: none;
}

.room-header-No span:nth-child(2) {
  display: inline-block;
  width: 43.2px;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
  top: 1px;
}

.room-header-No svg path {
  fill: #FFF;
}

.room-header-No.show #roomNo {
  display: inline-block;
}

.room-header-No.show span:nth-child(2) {
  display: none;
}

.room-header-No.show svg:nth-child(1) {
  display: none;
}

.room-header-No.show svg:nth-child(2) {
  display: inline-block;
}

.J_room-header-No {
  position: relative;
  right: -5px;
}

.detail-container-row-header-line {
  width: 1px;
  height: 14px;
  background: rgba(216, 216, 216, 0.2);
  border-radius: 1px;
  margin: 0 15px;
}

#roomName {
  margin: 0px 3px;
}

.detail-map-img-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background: #3F599B;
  opacity: 0.8;
  height: 40px;
  line-height: 40px;
  color: #FFF;
  text-align: left;
  padding-left: 15px;
  z-index: 1;
  border-radius: 0 0 4px 4px;
  font-size: 16px;
}

.detail-map-img-name .gx-menu {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.detail-map-img-name .gx-menu .caret {
  position: relative;
  top: 0px;
  right: 0px;
  border-top: 4px solid #FFF;
  transform: rotate(180deg);
}

.detail-map-img-name .gx-menu .gx-menu-ul {
  top: unset !important;
  width: 98px;
  bottom: 40px;
  left: -22px;
  line-height: 30px;
  background: #1C2744;
}

.J_detailChoosemapType {
  cursor: pointer;
}

.detail-map-img-name .gx-menu .gx-menu-ul .gx-menu-li {
  padding-left: 0px;
  text-align: center;
  font-size: 12px;
}

.detail-option {
  margin-top: 11px;
}

.detail-option-content,
.detail-option-version-content {
  width: 100%;
  background: rgba(36, 41, 54, 0.4);
  height: 179px;
  position: relative;
  border: 1px solid rgba(63, 89, 155, 0.2);
  border-top: 0;
  display: none;
}

.detail-option-version-content {
  flex-wrap: nowrap;
  /* justify-content: space-around; */
  align-items: center;
  padding: 44px 21px;
  flex-flow: wrap;
}

.detail-option-content span {
  color: rgba(255, 255, 255, 0.8);
}

.detail-option-version {
  display: flex;
  align-items: center;
  min-width: 50%;
  padding-left: 20px;
}

.pointer-events-none .detail-option-version.prohibit div {
  background: url(../../../images/iconfont/disabledcheckbox.png) no-repeat;
  background-size: 100% 100%;
  border: none;
}

.detail-option-version i {
  color: rgba(63, 89, 155, 0.8);
  font-size: 10px;
  display: none;
}

.detail-option-version div {
  width: 16px;
  height: 16px;
  background: rgba(21, 24, 30, 0.4);
  border-radius: 1px;
  border: 1px solid rgba(63, 89, 155, 0.4);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-option-version img {
  width: 17px;
  height: 17px;
  margin-left: 15px;
  margin-right: 7px;
}

.detail-option-version p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.detail-start-mark {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  background: transparent;
  z-index: 20;
}

.detail-select-option {
  padding: 10px 10px 0px 10px;
  max-height: 110px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
}

.detail-select-option-item {
  margin-bottom: 4px;
  display: inline-block;
  -webkit-writing-mode: horizontal-tb;
  writing-mode: horizontal-tb;
  vertical-align: bottom;
  margin-right: 5px;
  height: 16px;
}

.detail-select-option-item label span {
  display: inline-block;
  position: relative;
}

.detail-swich-option-item {
  margin-bottom: 10px;
  padding-left: 10px;
}

.Credits-swich {
  display: inline-block;
  transform-origin: 0px 0px;
  width: 75%;
}

.Credits-swich .f12 {
  min-width: 41px;
  display: inline-block;
}

.detail-container-btn {
  position: relative;
  left: 0px;
}

.detail-container-right-chat {
  width: 100%;
  background: rgba(36, 41, 54, 0.4);
  border-radius: 4px;
}

.detail-container-right-chat-bottom {
  padding: 7px 10px;
  border: 1px solid rgba(63, 89, 155, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.detail-container-right-notice {
  background-color: rgba(63, 89, 155, 0.2);
  color: rgba(255, 255, 255, 0.6);
  word-break: break-all;
  padding: 4px 10px;
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
  width: 354px;
  left: -10px;
  top: -9px;
}

.detail-container-right-notice .J_noticeText {
  width: 94%;
}

.detail-container-right-notice-btn {
  position: absolute;
  bottom: 3px;
  right: 13px;
  cursor: pointer;
}

.detail-container-right-notice-btn .iconfont {
  display: inline-block;
  transform: scale(0.5) rotate(90deg);
}

.detail-container-right-notice-btn.open .iconfont {
  display: inline-block;
  transform: scale(0.5) rotate(270deg);
}

.detail-container-right-chat-list {
  width: 100%;
  height: 245px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid rgba(216, 216, 216, 0.1);
  font-size: 12px;
  opacity: 0.8;
  margin-bottom: 8px;
}

.detail-container-right-chat-list>div {
  margin-bottom: 15px;
}

.detail-container-right-chat-list::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 0;
  background: #232a40;
}

.detail-container-right-chat-list::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.detail-container-right-chat-list::-webkit-scrollbar-thumb {
  height: 30px;
  background-color: rgba(41, 45, 54, 0.36);
  -webkit-border-radius: 4px;
  outline-offset: -2px;
  border: 2px solid rgba(41, 45, 54, 0.36);
}

.detail-container-right-chat-list::-webkit-scrollbar-thumb:hover {
  height: 30px;
  background-color: rgba(132, 144, 166, 0.36);
  border: 2px solid rgba(132, 144, 166, 0.36);
  -webkit-border-radius: 4px;
}

.detail-container-right-chat .gx-input {
  width: 248px;
  height: 29px;
  border: none;
  line-height: 30px;
  border-radius: 4px;
  background: rgba(21, 24, 30, 0.4);
  padding: 0 6px 0 10px;
  color: rgba(255, 255, 255, 0.6);
}

.detail-container-right-chat .btn-black {
  width: 80px;
  margin-left: 0;
  height: 29px;
  line-height: 29px;
  padding: 0px;
  background: #3F599B;
  border-radius: 4px;
}

.detail-container-avatar {
  margin-left: 40px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  padding: 1px;
  display: inline-block;
  vertical-align: middle;
  line-height: 0px;
  z-index: 21;
  position: relative;
}

.detail-container-avatar>.gx-frame {
  position: absolute;
  width: 150%;
  height: 150%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: -22.5%;
  left: -20.5%;
}

.detail-container-avatar-master {
  /* background-image: linear-gradient(180deg, rgba(218, 229, 249, 1), rgba(129, 146, 184, 1)); */
  position: relative;
}

.detail-container-avatar img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.detail-container-avatar-master-img {
  display: inline-block;
  width: 12px !important;
  height: auto !important;
  border-radius: 0% !important;
  position: absolute;
  bottom: -4px;
  left: 6px;
}

.detail-container-avatar-master img {
  width: 20px;
  height: 20px;
}

.detail-container-ready-img {
  position: absolute;
  top: 10px;
  left: 6px;
  z-index: 9;
  color: #a2ff33;
  font-size: 16px;
}

.detail-container-addrobot-img {
  position: absolute;
  top: 13px;
  right: 40px;
  cursor: pointer;
}

.detail-user-list-item {
  height: 34px;
  z-index: 1;
  line-height: 34px;
}

.detail-user-list-item .tooltip-inner {
  min-width: 150px !important;
  word-break: break-all;
}

.detail-user-list-item .gx-menu-in .iconfont {
  position: absolute;
  top: 0px;
  right: 22px;
  display: none;
}

.detail-user-list-item.iconfontReady .gx-menu-in .iconfont {
  display: block !important;
}

.detail-user-list-item .gx-menu-in .countrylook {
  position: absolute;
  top: 1px;
  left: -26px;
  display: inline-block !important;
}

.detail-user-list-item.canChange .gx-menu-in .iconfont {
  display: inline;
}

.color-select .gx-menu-in .iconfont {
  right: 49px;
}

.detail-user-list-item .gx-menu-ul {
  line-height: 30px;
}

.details-tbody {
  height: 280px;
  padding: 0;
}

.detail-container-col-left .gx-teble-thead {
  padding-right: 0px;
  height: 30px;
  line-height: 30px;
  background: rgba(63, 89, 155, 0.6);
  border-radius: 4px 4px 0px 0px;
  opacity: 1;
}

.detail-container-col-left .gx-teble-thead .gx-teble-thead-th {
  height: 30px;
}

.details-tbody {
  padding-right: 0px;
  font-size: 12px;
}

.details-tbody .gx-teble-tbody-body {
  overflow: unset !important;
}

.country-select .gx-menu-ul,
.team-select .gx-menu-ul {
  width: 95px;
  left: 18px;
  overflow-y: hidden !important;
}

.country-select .gx-menu-li,
.team-select .gx-menu-li,
.birth-select .gx-menu-li {
  padding-left: 0px;
}

.country-select .gx-menu-ul {
  width: 151px !important;
  overflow-y: hidden !important;
  left: -5px !important;
  text-align: left !important;
}

.color-select .gx-menu-ul {
  width: 151px !important;
  overflow-y: hidden !important;
  left: 14px !important;
  text-align: left !important;
}

.country-select .gx-menu-li,
.color-select .gx-menu-li {
  display: inline-block;
  width: 48%;
}

.color-select .gx-menu-li:first-child {
  width: 100%;
}

.color-select .color-select-in {
  width: 33px;
  height: 14px;
  display: block;
  border-radius: 4px;
  margin: 7px auto;
}

.color-select .color-select-div {
  width: 33px;
  height: 14px;
  display: block;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.color-select .gx-menu-li {
  padding-left: 0px;
  height: 28px;
  overflow: hidden;
}

.detail-user-list .gx-menu-li a {
  display: block;
}

.detail-user-list tr:last-child td {
  border-bottom: 0px;
}

.details-ping {
  position: absolute;
  top: 0px;
  right: 35px;
  color: #A2FF33;
}

.details-ping-iconfont svg {
  margin-top: 8px;
}

.details-userlabel {
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 1;
}

.details-userlabel img {
  width: 20px;
}

.details-isHost-bot {
  position: absolute;
  top: 10px;
  left: 7px;
  font-size: 14px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(173deg, #B7D3FF 0%, #525CB1 100%);
  color: transparent;
}

.detail-robot-menu {
  width: 42%;
  font-size: 12px;
  display: inline-block;
  transform-origin: 0px 50%;
  /* z-index: 1; */
}

.detail-robot-menu .gx-menu-in-div {
  height: 20px;
  line-height: 20px;
  padding-left: 11px;
  background: none;
}

.detail-swich-option {
  margin-top: 0px;
}

.gx-menu-active {
  z-index: 3;
}

.mytrstyle {
  background: rgba(49, 55, 72, 0.8);
}

.mytrstyle .name-ellipsis {
  color: #f2ca87;
}

.J_chooseColor {
  overflow: hidden;
}

.J_signOut .iconfont {
  transform: scale(0.8);
  display: inline-block;
  line-height: 12px;
}

.detail-map-border {
  width: 1px;
  height: 15px;
  background: #FFFFFF;
  opacity: 0.4;
  display: inline-block;
  margin: 0 7px;
  position: relative;
  top: 4px;
}

#gx-map-modal-birth .detail-map-img-img {
  width: 100%;
}

#gx-map-modal-birth .modal-dialog {
  min-width: 550px;
  width: 100%;
  text-align: center;
}

#gx-map-modal-birth .detail-map-img-relative {
  width: 100%;
  /* width: auto; */
  /* width:100px;
    height:100px; */
  transform: scale(0.8);
  transition: all 0.3s ease-in;
  opacity: 0;
}

.inlook .inlook-mock {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.inlook .color-select .gx-menu-in .iconfont,
.inlook .team-select .gx-menu-in .iconfont,
.inlook .birth-select .gx-menu-in .iconfont {
  display: none;
}

.detail-map {
  position: relative;
}

.detail-chathall {
  position: absolute;
  bottom: 0;
  right: 0;
  /* width: 150px; */
  height: 40px;
  font-size: 12px;
  text-align: center;
  z-index: 3;
}

.detail-chathall-content {
  width: 114px;
  height: 40px;
  background: #5A6585;
  opacity: 0.9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
  color: white;
}

.detail-chathall span {
  font-size: 14px;
}

.detail-chathall-content svg {
  width: 16px;
  height: 16px;
}

.detail-chathall-content svg:nth-child(3) {
  width: 10px;
  height: 6px;
}

.J_hallInvitation {
  cursor: pointer;
}

.detail-chathall-content-pop {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: auto !important;
  bottom: 40px !important;
  font-size: 12px;
  -webkit-app-region: no-drag;
  padding: 0 10px;
}

.detail-chathall-content-pop .detail-chathall-content-pop-coin-border {
  width: 1px;
  height: 16px;
  background: rgba(0, 0, 0, .2);
  box-shadow: 1px 1px 1px rgb(255 255 255 / 10%);
  display: inline-block;
  margin: 0 5px 0px 8px;
  position: relative;
  top: 2px;
}

.detail-chathall-content-pop .detail-chathall-content-pop-coin-free {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  color: #FFF;
}

.detail-chathall-content-pop .detail-chathall-content-pop-coin-num {
  display: inline-block;
  font-family: IndustryBlack;
  color: #FFF;
  font-size: 14px;
}

.detail-chathall-content-pop img[alt="coin"] {
  display: inline-block;
  position: relative;
  top: -2px;
  margin-right: -7px;
}

.detail-chathall .gx-menu-ul {
  /* overflow: hidden !important; */
  background: rgba(34, 47, 78, 0.6);
}

.detail-chathall .gx-menu-li {
  text-align: center;
  padding: 0px;
}

.detail-chathall .gx-menu-li:hover {
  background: #222f4e;
}

.detail-chathall-a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.detail-chathall-a {
  color: #ffffff;
}

.skeleton {
  background: rgba(86, 98, 123, 0.5);
}

.skeleton-roomno {
  width: 57.5px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

.skeleton-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin: 7px 0px;
}

.skeleton-listname {
  width: 100px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.skeleton-nametd {
  text-align: left;
  padding-left: 34px;
}

.skeleton-listtd {
  width: 60px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.skeleton-map {
  width: 90%;
  margin: 10px auto;
  height: 80%;
}

.skeleton-optionone {
  width: 18px;
  height: 18px;
  display: inline-block;
}

.skeleton-option {
  display: inline-block;
}

.skeleton-optionname {
  width: 50px;
  height: 18px;
  margin-left: 5px;
  display: inline-block;
  margin-right: 5px;
}

.skeleton-startbtn {
  width: 100%;
  height: 45px;
  position: absolute;
  top: 183px;
  left: 0%;
}

.Invite-content {
  position: absolute;
  top: 125px;
  left: 405px;
  color: #C5D0E7;
  width: 400px;
  height: 430px;
  background: #222F4E;
  border-radius: 4px;
}

.Invite-MyFriends-title {
  display: flex;
  height: 33px;
  align-items: center;
}

.Invite-content-left div {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-left: 21px;
  margin-top: 21px;
  z-index: 2;
}

.Invite-content-line {
  width: 100%;
  height: 1px;
  background: #5A6585;
  border-radius: 1px;
  opacity: 0.2;
}

.Invite-content .Invite-header {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  display: flex;
}

.Invite-content .Invite-header p {
  position: relative;
  margin: auto;
  font-size: 16px;
  line-height: 22px;
}

.Invite-content span {
  position: absolute;
  color: #586383;
  top: 16px;
  right: 17px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.Invite-body {
  position: absolute;
  top: 55px;
  width: 100%;
  height: 352px;
  padding: 0 25px;
}

.Invite-body-header {
  display: flex;
  align-items: center;
  height: 33px;
  border-bottom: 1px solid rgba(90, 101, 133, 0.15);
  margin-bottom: 10px;
}

.Invite-body-header div {
  margin-top: 1px;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.Invite-body-header p {
  padding: 0;
  margin: 0 0 0 8px;
}

.Invite-MyFriends,
.Invite-Recently {
  padding-top: 14px;
  width: 350px;
  height: 260px;
  background: rgba(63, 89, 155, 0.2);
  border-radius: 4px;
  overflow-y: scroll;
  display: none;
}

.Invite-content-header-focus {
  border-bottom: 2px solid #6b9eff;
  color: white;
}

.Invite-content-focus {
  display: block;
}

.Invite-user-list-item {
  position: relative;
  display: flex;
  height: 26px;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 20px;
  justify-content: space-between;
}

.Invite-content-left {
  display: flex;
  align-items: center;
}

.Invite-content-left p {
  padding: 0;
  margin: 0 0 0 12px;
}

.Invite-content-left img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.Invite-content-center {
  width: 90px;
  margin-left: 9px;
}

.Invite-content-name {
  max-width: 80px;
  height: 12px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 12px;
}

.Invite-content-status {
  font-size: 10px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #5A6585;
  line-height: 10px;
}

.Invite-content-right {
  height: 100%;
  display: flex;
  align-items: center;
}

.Invite-content-right p {
  padding: 0;
  margin: 0;
}

.Invite-content-check-content {
  color: white;
  width: 60px;
  height: 20px;
  background: #3F599B;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
}

.Invite-content-check {
  display: none;
}

.Invite-button {
  position: absolute;
  bottom: 20px;
  width: 80px;
  height: 29px;
  background: #3F599B;
  border-radius: 4px;
  align-items: center;
  display: flex;
  justify-content: center;
  left: 160px;
  color: white;
  cursor: pointer;
}

.Invite-content-AddFriends {
  position: absolute;
  cursor: pointer;
  left: 137px;
  color: #6b9eff;
  font-size: 16px;
}

.Invite-content-Added {
  position: absolute;
  left: 137px;
  color: #4d4d4d;
  font-size: 16px;
}

#RoomNoticeModal .gx-modal-content {
  height: 223px;
  width: 400px;
  background: #222F4E;
  border-radius: 4px;
}

#RoomNoticeModal .gx-modal-header {
  -webkit-app-region: no-drag;
  padding-left: 0px;
  background: none;
}

.RoomNoticeModal-textarea {
  padding: 10px 28px;
  padding-bottom: 20px;
  margin: 14px auto;
  display: block;
  outline: none;
  box-shadow: none !important;
  border: none !important;
  line-height: 22px;
  color: #A1ADC8;
  width: 350px;
  height: 90px;
  background: rgba(63, 89, 155, 0.2);
  border-radius: 4px;
}

.detail-option-btn-game,
.detail-option-btn-version {
  width: 100px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(63, 89, 155, 0.2);
  text-align: center;
  border-radius: 4px 4px 0px 0px;
  background: rgba(36, 41, 54, 0.4);
  border-bottom: 0;
}

.detail-option-btn-focus {
  background: #3f599b;
  opacity: 0.6;
}

.detail-option-header-line {
  border-bottom: 1px solid rgba(63, 89, 155, 0.2);
}

/* .detail-option-btn-version {
    width: 100px;
    height: 30px;
} */
.RoomNoticeModal-textarea-num {
  position: absolute;
  right: 39px;
  bottom: 8px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 12px;
}

.detail-swich-option-item .rangeslider {
  height: 24px;
  background: rgba(21, 24, 30, 0.4);
  border-radius: 1px;
  border: 1px solid rgba(63, 89, 155, 0.4);
  border-right: 0;
}

.detail-swich-option-item .rangeslider .rangeslider__handle {
  width: 6px;
  height: 22px;
  background: #899ACB;
}

.detail-swich-option-item .gx-swich-content {
  width: 188px;
}

.detail-swich-option-item .gx-swich .gx-swich-num {
  width: 70px;
  height: 24px;
  background: #3F599B;
  border-radius: 1px;
}

.detail-swich-option-item .gx-swich .gx-swich-num-input input {
  width: 70px;
  height: 24px;
  background: #3F599B;
  border-radius: 1px;
}

.detail-ping-hover {
  position: absolute;
  width: 130px;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.detail-ping-hover div {
  height: 25px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.detail-container-leave {
  position: absolute;
  width: 48px;
  top: 7px;
  right: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #3F599B;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.6;
  display: none;
}

.detail-container-leave:hover {
  opacity: 1;
}

.detail-container-leave i {
  width: 100%;
  font-size: 18px;
  text-align: center;
}

.detail-container-leave span {
  font-size: 12px;
}

.details-header .header-window span:hover {
  color: rgba(255, 255, 255, 0.8);
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-none-version {
  background: url('../../../images/iconfont/disabledcheckbox.png') no-repeat !important;
  background-size: 100% 100% !important;
  width: 16px !important;
  height: 16px !important;
  border: none !important;
}

.details-all-close-sure {
  color: #FFF !important;
  cursor: pointer;
}

.details-all-close-sure * {
  vertical-align: middle;
}

.details-all-close-sure span {
  text-shadow: none !important;
  font-size: 12px;
}

.details-all-close-sure:hover svg {
  opacity: 0.8;
}

.details-all-close-sure svg {
  fill: #FFF;
}

.detail-container-ingame-img {
  /* display: inline-block !important; */
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 10;
  left: 6px;
  top: 10px;
  background: #2c2f38 url('../../../images/details/ingame.png') no-repeat center;
  background-size: 14px 14px;
}

.detail-user-list-item:nth-child(2n-1) .detail-container-ingame-img {
  background: #2b313e url('../../../images/details/ingame.png') no-repeat center;
  background-size: 14px 14px;
}

/* 观战 */
#BatterModal .modal-dialog {
  width: 398px;
  height: 445px;
  background: #222F4E;
  border-radius: 4px;
  padding: 0px 22px;
}

#BatterModal .BatterModal-header {
  height: 55px;
  text-align: center;
  color: rgba(255, 255, 255, .6);
  line-height: 52px;
  font-size: 16px;
  border-bottom: 1px solid rgba(63, 89, 155, 0.2);
}

#BatterModal .BatterModal-header .iconfont {
  position: absolute;
  top: 0px;
  right: 17px;
  color: #5a6585;
  font-size: 14px;
  cursor: pointer;
}

#BatterModal .BatterModal-p {
  margin-top: 22px;
}

#BatterModal .BatterModal-title {
  color: #FFF !important;
}

#BatterModal .BatterModal-p:nth-child(2) svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  position: relative;
  top: 1px;
  margin-left: 10px;
  fill: #33477a;
}

#BatterModal .BatterModal-p:nth-child(3) {
  color: #2385F0;
}

#BatterModal .BatterModal-gxmenu {
  display: inline-block;
  vertical-align: middle;
  min-width: 88px;
}

#BatterModal .BatterModal-gxmenu-click {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
}

#BatterModal .gx-menu-active .BatterModal-gxmenu-click {
  display: none;
}

#BatterModal .BatterModal-gxmenu .gx-menu-in-div {
  width: 100%;
  height: 20px;
  background: #28375d;
  padding-left: 18px;
  padding-right: 22px;
  line-height: 20px;
  font-size: 12px;
  border-radius: 4px;
  color: rgba(255, 255, 255, .6);
}

#BatterModal .gx-menu .gx-menu-ul {
  width: 170px;
}

#BatterModal .gx-menu .gx-menu-li {
  padding-left: 10px;
  font-size: 12px;
  line-height: 30px;
}

#BatterModal .gx-menu .gx-menu-li a {
  display: block;
}

#BatterModal .BatterModal-numinput {
  width: 100px;
  height: 20px;
  background: rgba(63, 89, 155, 0.2);
  border-radius: 4px;
  outline: none;
  border: none;
  vertical-align: middle;
  margin-left: 5px;
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, .6);
}

#BatterModal .BatterModal-numinput::placeholder {
  color: rgba(255, 255, 255, .6);
}

#BatterModal .BatterModal-font {
  font-family: 'douyuFont';
  font-size: 14px;
  margin: 8px 0px;
  display: block;
  color: rgba(35, 133, 240, 1);
  margin-top: 20px;
}

#BatterModal .BatterModal-font:nth-child(1) {
  color: rgba(255, 68, 68, 1);
}

#BatterModal .BatterModal-add svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-left: 10px;
  fill: #33477a;
  vertical-align: middle;
  margin-right: 10px;
}

#BatterModal .BatterModal-add {
  margin-top: 18px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}

#BatterModal .BatterModal-foot {
  margin-top: 10px;
  padding-top: 20px;
  text-align: center;
  border-top: 1px solid rgba(63, 89, 155, 0.2);
}

#BatterModal .BatterModal-foot .btn-middle {
  margin-right: 10px;
}

#hallChatInvitaneedalert .gx-modal-smell {
  height: 190px;
}

#hallChatInvitaneedalert.gx-gxmodal .gx-gxmodal-foot {
  bottom: 46px;
}

#hallChatInvitaneedalert .hallChatInvitaneedalert-div {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0px;
  text-align: center;
  color: #5A6585;
}