#modalChangeMap .gx-modal-content {
    width: 765px;
    height: 610px;
}

/* 
#modalChangeMap .modal-dialog {
    width: 723px;
}

#modalChangeMap .header-window {
    top: 14px;
    right: 14px;
}

.modalChangeMap-content {
    width: 100%;
    padding: 40px 65px;
}

.modalChangeMap-choosemap-scroll {
    width: 100%;
    height: 290px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 25px;
    padding-right: 6px;
}



.modalChangeMap-choosemap-scroll .row {
    margin: 0px -8px;
}

.modalChangeMap-choosemap-scroll .col-xs-4 {
    padding: 0px 8px;
}

.modalChangeMap-choosemap-scroll-item {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    background-size: cover;
    cursor: pointer;
}

.modalChangeMap-choosemap-scroll-item .gx-map-name {
    height: 24px;
    line-height: 24px;
    background: rgba(59, 62, 70, .8);
}

.modalChangeMap-choosemap-scroll-item .gx-map {
    border: 2px solid #3B3E46;
}

.modalChangeMap-choosemap-scroll-item.active .gx-map {
    border: 2px solid #EFBB74;
}

.modalChangeMap-choosemap-scroll-item.active .gx-map-name {
    background: rgba(207, 147, 64, .8);
}

.modalChangeMap-choosemap-scroll-item .gx-map-marker {
    color: #FFF;
} */