/* match */
.match-title {
    width: 100%;
    height: 68px;
    background: url(../../../images/rank/session-bg/6.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    line-height: normal;
    padding-top: 1px;
    margin-top: 3px;
}

.match-title .iconfont {
    position: relative;
    top: -1px;
}

.match-title-s {
    position: relative;
    top: -2px;
}

.match-title .f22 {
    margin-top: 1px;
}

/* index */
.gx-detail-header {
    width: 100%;
    height: 50px;
    background: #222F4E;
    border-radius: 4px 4px 0px 0px;
    opacity: 1;
    padding-left: 30px;
    padding-top: 13px;
    text-align: center;
}

.detail-start-mark {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background: transparent;
    z-index: 20;
}

.details-header {
    width: 100%;
    height: 28px;
    position: relative;
    /* -webkit-app-region: drag; */
    /* background: linear-gradient(90deg, rgba(84, 141, 254, 0.2), rgba(103, 49, 239, 0.2)); */
}

.details-header .header-window {
    top: 11px;
    right: 32px;
}

.details-content {
    width: 100%;
    height: 100vh;
    background: url(../../../images/details/details-bg.jpg) no-repeat left bottom;
    background-size: 1280px 720px;
}

.detail-container {
    width: 1230px;
    margin: 10px 0 0 20px;
}

.detail-container .detail-container-row {
    margin-right: -7px;
    margin-left: 0px;
}

.detail-container .detail-container-col {
    padding: 0px;
}

.detail-container-col.col-xs-9 {
    width: 800px;
    margin-right: 14px;
}

.detail-container-col.col-xs-3 {
    width: 362px;
}

.detail-div-header {
    height: 30px;
    line-height: 30px;
    padding: 0px 20px;
    border-radius: 4px 4px 0px 0px;
    color: white;
    background: rgba(63, 89, 155, 0.6);
}

.detail-container-col-right {}

.detail-container-col-right .gx-img-btn-big {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-image: url(../../../images/hall/animate-btn-red-bg.png);
    background-size: 100% 100%;
}

.rank-btn-countTime {
    position: absolute;
    top: 28px;
    right: 74px;
    z-index: 1;
}

.rank-btn-countTime svg {
    position: relative;
    top: 1px;
}

.rank-btn-countTime span {
    color: #D8D8D8;
    position: relative;
    top: -3px;
}

.detail-container-col-right .gx-img-btn-big span {
    position: relative;
    z-index: 2;
}

.detail-container-col-right .gx-img-btn-big:focus:after {
    opacity: .9;
}

.detail-container-col-right .gx-img-btn-big:active:after {
    opacity: 1;
}

.detail-container-col-right .gx-img-btn-big:hover:after {
    opacity: 1;
}

.detail-container-col-right .gx-img-btn-big::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 60px;
    background-image: url(../../../images/hall/animate-btn-red.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: .8;
    z-index: 1;
}

.detail-container-col-right .gx-img-btn-big.disabled::after {
    background-image: url(../../../images/gx-big-btn-disabled.png);
}

.detail-map-header-a {
    color: white;
    float: right;
}

.detail-map-content {
    height: 272px;
    margin-top: 13px;
    width: 100%;
    background: linear-gradient(154deg, rgba(32, 37, 47, .3) 0%, rgba(64, 71, 84, .3) 32%, rgba(32, 37, 47, .3) 100%);
    overflow: hidden;
    border-radius: 4px;
}

.detail-map-img {
    text-align: center;
    height: 272px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.detail-map-img-bot {
    position: absolute;
}

.detail-map-img-bot-circle {
    width: 30px;
    height: 30px;
    background: linear-gradient(180deg, #DAE5F9 0%, #8192B8 100%);
    box-shadow: 0px 1px 2px 0px #1F1F1F;
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: -10px;
}

.detail-map-img-bot-red {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #1F1F1F;
    position: relative;
    top: 3px;
    left: 3px;
    font-size: 18px;
    line-height: 24px;
    color: #FF4444;
    text-align: center;
}

.detail-container .detail-map-img-relative {
    display: inline-block;
    transition: 2s;
    cursor: grab;
}

.detail-map-scale-btn {
    position: absolute;
    width: 70px;
    height: 30px;
    top: 10px;
    left: 20px;
    cursor: pointer;
    z-index: 3;
    background: linear-gradient(90deg, #313748 0%, #272C3A 100%);
    opacity: 0.8;
    border: 1px solid;
    border-image: linear-gradient(154deg, rgba(32, 37, 47, 1), rgba(64, 71, 84, 1), rgba(32, 37, 47, 1)) 1 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px;
    font-size: 12px;
}

.detail-map-scale-btn svg {
    width: 14px;
    height: 14px;
}

.detail-map-img-img {
    width: 100%;
    height: auto;
}

.detail-map-desc {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0px;
    word-wrap: break-word;
    word-break: normal;
    text-align: left;
    padding: 10px;
    background: rgba(0, 0, 0, .8);
    z-index: 1;
    opacity: 0;
    transition: all .3s linear;
}

.detail-map-img:hover .detail-map-desc {
    bottom: 40px;
    opacity: 1;
}

.detail-map-room {
    top: 0px;
    left: 0px;
    height: 40px;
    padding: 0;
    z-index: 2;
    color: white;
    border-radius: 1px;
    display: flex;
    font-size: 12px;
    line-height: 40px;
    align-items: center;
}

.detail-map-img-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background: #3F599B;
    opacity: 0.8;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    text-align: left;
    padding-left: 15px;
    z-index: 2;
    border-radius: 0 0 4px 4px;
    font-size: 16px;
}

.detail-option {
    margin-top: 11px;
}

.detail-option-content,
.detail-option-version-content {
    width: 100%;
    background: rgba(36, 41, 54, 0.4);
    height: 179px;
    position: relative;
    border: 1px solid rgba(63, 89, 155, 0.2);
    border-top: 0;
    display: none;
}

.detail-option-content span {
    color: rgba(255, 255, 255, 0.8);
}

.detail-option-version {
    display: flex;
    align-items: center;
}

.detail-option-version i {
    color: rgba(63, 89, 155, 0.8);
    font-size: 10px;
    display: none;
}

.detail-option-version div {
    width: 16px;
    height: 16px;
    background: rgba(21, 24, 30, 0.4);
    border-radius: 1px;
    border: 1px solid rgba(63, 89, 155, 0.4);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-option-version img {
    width: 24px;
    height: 24px;
    margin-left: 15px;
    margin-right: 7px;
}

.detail-option-version p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 24px;
    padding: 0;
    margin: 0;
}

.detail-select-option {
    padding: 10px 10px 0px 10px;
    max-height: 110px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
}

.detail-select-option-item {
    margin-bottom: 4px;
    display: inline-block;
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
    vertical-align: bottom;
    margin-right: 5px;
    height: 16px;
}

.detail-select-option-item label span {
    display: inline-block;
    position: relative;
}

.detail-swich-option-item {
    padding-left: 10px;
    line-height: 15px;
    margin-right: 15px;
}

.detail-swich-option-item .Credits-swich {
    width: 100%;
}

.detail-swich-option {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 3px;
}

.Credits-swich {
    display: inline-block;
    transform-origin: 0px 0px;
    width: 75%;
}

.detail-container-col-left {}

.detail-container-right-chat {
    width: 100%;
    background: rgba(36, 41, 54, 0.4);
    border-radius: 4px;
}

.detail-container-right-chat-bottom {
    padding: 9px 10px;
    border: 1px solid rgba(63, 89, 155, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.detail-container-right-chat-list {
    width: 100%;
    height: 225px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 1px solid rgba(216, 216, 216, .1);
    font-size: 12px;
    opacity: .8;
    margin-bottom: 8px;
}

.detail-container-right-chat-list>div {
    margin-bottom: 15px;
}

.detail-container-right-chat-list::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
    background: #232a40;
}

.detail-container-right-chat-list::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.detail-container-right-chat-list::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: rgba(41, 45, 54, 0.36);
    -webkit-border-radius: 4px;
    outline-offset: -2px;
    border: 2px solid rgba(41, 45, 54, 0.36);
}

.detail-container-right-chat-list::-webkit-scrollbar-thumb:hover {
    height: 30px;
    background-color: rgba(132, 144, 166, 0.36);
    border: 2px solid rgba(132, 144, 166, 0.36);
    -webkit-border-radius: 4px;
}

.detail-container-right-chat .gx-input {
    width: 248px;
    height: 29px;
    border: none;
    line-height: 30px;
    border-radius: 4px;
    background: rgba(21, 24, 30, 0.4);
    padding: 0 6px 0 10px;
    color: rgba(255, 255, 255, 0.6)
}

.detail-container-right-chat .btn-black {
    width: 80px;
    margin-left: 0;
    height: 29px;
    line-height: 29px;
    padding: 0px;
    background: #3F599B;
    border-radius: 4px;
}

.detail-container-avatar {
    margin-left: 30px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    padding: 1px;
    display: inline-block;
    vertical-align: middle;
    line-height: 0px;
    z-index: 21;
    position: relative;
}

.detail-container-avatar-master {
    /* background-image: linear-gradient(180deg, rgba(218, 229, 249, 1), rgba(129, 146, 184, 1)); */
    position: relative;
}

.detail-container-avatar img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.detail-container-avatar-master img {
    width: 20px;
    height: 20px;
}


.detail-container-ready-img {
    position: absolute;
    top: 9px;
    left: 6px;
    z-index: 9;
    color: rgb(162, 255, 51);
    font-size: 16px;
}

.detail-container-addrobot-img {
    position: absolute;
    top: 13px;
    right: 40px;
    cursor: pointer;
}

.detail-user-list tr:last-child td {
    border-bottom: 0px;
}

.detail-user-list-item {
    height: 34px;
    z-index: 1;
    line-height: 34px;
}

.detail-user-list-item .gx-menu-in .iconfont {
    position: absolute;
    top: 0px;
    right: 22px;
    display: none;
}

.detail-user-list-item.canChange .gx-menu-in .iconfont {
    display: inline;
}

.color-select .gx-menu-in .iconfont {
    right: 49px;
}

.details-tbody {
    height: 280px;
    padding: 0;
}

.detail-container-col-left .gx-teble-thead {
    padding-right: 0px;
    height: 30px;
    line-height: 30px;
    background: rgba(63, 89, 155, 0.6);
    border-radius: 4px 4px 0px 0px;
    opacity: 1;
}

.detail-container-col-left .gx-teble-thead .gx-teble-thead-th {
    height: 30px;
}

.details-tbody {
    padding-right: 0px;
    font-size: 12px;
}

.details-tbody .gx-teble-tbody-body {
    overflow: unset !important;
}


.detail-user-list-item .gx-menu-ul {
    line-height: 30px;
}

.country-select .gx-menu-ul,
.team-select .gx-menu-ul {
    width: 95px;
    left: 18px;
    overflow-y: hidden !important;
}

.color-select .gx-menu-ul {
    width: 95px;
    left: 43px;
}

.country-select .gx-menu-li,
.team-select .gx-menu-li {
    padding-left: 0px;
}

.country-select .gx-menu-ul {
    width: 151px !important;
    overflow-y: hidden !important;
    /* left: -5px !important; */
    left: -48px !important;
    text-align: left !important;
}


.color-select .gx-menu-ul {
    width: 151px !important;
    overflow-y: hidden !important;
    /* left: 14px !important; */
    left: -48px !important;
    text-align: left !important;
}

.country-select .gx-menu-li,
.color-select .gx-menu-li {
    display: inline-block;
    width: 48%;
}

.color-select .gx-menu-li:first-child {
    width: 100%
}

.color-select .color-select-in {
    width: 33px;
    height: 14px;
    display: block;
    border-radius: 4px;
    margin: 7px auto;
}

.color-select .color-select-div {
    width: 33px;
    height: 14px;
    display: block;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}

.color-select .gx-menu-li {
    padding-left: 0px;
    height: 28px;
    overflow: hidden;
}

.detail-user-list .gx-menu-li a {
    display: block;
}

.details-ping {
    position: absolute;
    top: 0px;
    right: 35px;
    color: #A2FF33;
}

.details-ping-iconfont svg {
    margin-top: 8px;
}

.J_signOut {
    display: block;
    transform: scale(.7);
    transform-origin: 0px 50%;
}


.detail-robot-menu {
    width: 42%;
    font-size: 12px;
    display: inline-block;
    transform-origin: 0px 50%;
    z-index: 1;
}

.detail-robot-menu .gx-menu-in-div {
    height: 20px;
    line-height: 20px;
    padding-left: 11px;
    background: none;
}

.mytrstyle {
    /* background: rgba(49, 55, 72, 0.8); */
}

/* .mytrstyle .name-ellipsis {
    color: #f2ca87
} */

.J_chooseColor {
    overflow: hidden;
}

.detail-map-border {
    width: 1px;
    height: 15px;
    background: #FFFFFF;
    opacity: 0.4;
    display: inline-block;
    margin: 0 7px;
    position: relative;
    top: 4px;
}

#gx-map-modal-birth .detail-map-img-img {
    width: 100%;
}

#gx-map-modal-birth .modal-dialog {
    min-width: 550px;
    width: 100%;
    text-align: center;
}

#gx-map-modal-birth .detail-map-img-relative {
    width: 100%;
    /* width: auto; */
    /* width:100px;
    height:100px; */
    transform: scale(.8);
    transition: all .3s ease-in;
    opacity: 0;
}

.detail-container.detail-rank {
    /* margin-top: -35px; */
}

.detail-container>.match-title {
    display: none;
}

.detail-container.detail-rank>.match-title {
    /* display: block; */
}

/* .detail-container.detail-rank .detail-map-content {
    height: 35vh;
} */

/* .detail-container.detail-rank .detail-option-content {
    height: 20vh;
} */

.rank-btn {
    /* display: none; */
}

.detail-container.detail-rank .detail-container-col-right .match-title {
    /* display: none !important; */
}

.detail-container-btn {
    position: relative;
    left: 0px;
    top: 8px;
}

/* .detail-container.detail-rank .detail-select-option {
    max-height: 11.2vh;
} */

/* .detail-container.detail-rank .detail-map-img-name {
    bottom: 0vh;
} */
/* .detail-container.detail-rank .detail-map-img {
    text-align: center;
    height: 30vh;
    position: relative;
    overflow: hidden;
} */

.detail-ping-hover {
    position: absolute;
    width: 130px;
    height: 50px;
    background: rgba(0, 0, 0, .5);
    z-index: 50;
}

.detail-ping-hover div {
    height: 25px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 12px;
}

.details-header .header-window span:hover {
    color: rgba(255, 255, 255, 0.8)
}

.details-all-close,
.details-all-close-sure {
    color: #FFF !important;
    cursor: pointer;
}

.details-all-close *,
.details-all-close-sure * {
    vertical-align: middle;
}

.details-all-close span,
.details-all-close-sure span {
    text-shadow: none !important;
    font-size: 12px;
}

.details-all-close:hover svg,
.details-all-close-sure:hover svg {
    opacity: .8;
}

.details-all-close svg,
.details-all-close-sure svg {
    fill: #FFF;
}

.detail-user-infor-content {
    height: 310px;
    display: flex;
    justify-content: space-between;
}

.detail-user-infor-content.nochoose .country-select {
    pointer-events: none;
}

.detail-user-infor-content.nochoose .detail-user-list-item .gx-menu-in .iconfont {
    display: none;
}

.detail-user-infor-content .user-infor-bg {
    position: relative;
    /* width: 375px; */
    width: 410px;
    height: 310px;
}

.detail-user-infor-content .user-infor-bg-in {
    position: relative;
    width: 356px;
    height: 291px;
    /* background: transparent; */
    margin-top: 9px;
}

.detail-user-infor-content .detail-user-infor-left-bg-in {
    margin-left: 11px;
}

.detail-user-infor-content .detail-user-infor-right-bg-in {
    margin-left: 8px;
}

.detail-user-infor-content .detail-user-infor-box {
    width: 258px;
    height: 202px;
    background: rgba(63, 89, 155, .7) url(../../../images/details/item-bg.png) no-repeat center;
    background-size: 100% auto;
    border-radius: 4px;
    border: 1px solid rgba(107, 158, 255, 0.15);
    margin-left: 65px;
    margin-top: 45px;
    position: absolute;
}

.detail-user-infor-content .detail-user-list-match {
    background: transparent;
    height: 202px;
    overflow: hidden;
}

.detail-user-infor-content .detail-user-choose-box {
    width: 242px;
    height: 80px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 1px solid rgba(63, 89, 155, 0.4);
    position: absolute;
    bottom: 9px;
    left: 8px;
    font-size: 12px;
}

.detail-user-infor-content .detail-user-avatar-box {
    position: absolute;
    width: 100%;
    height: 113px;
    overflow: hidden;
}

.detail-user-infor-content .detail-user-avatar-box .detail-container-avatar {
    width: 61px;
    height: 61px;
    margin-left: 87px;
    margin-top: 18px;
}

.detail-user-infor-content .detail-user-avatar-box .detail-container-avatar img {
    width: 61px;
    height: 61px;
}

.detail-user-infor-content .detail-user-avatar-box .name-ellipsis {
    position: absolute;
    top: 80px;
    left: 76px;
    text-align: center;
}

.detail-user-infor-content .details-ping-iconfont {
    display: flex;
    align-items: center;
}

.detail-user-infor-content .details-ping {
    position: absolute;
    top: 0px;
    right: 12px;
    color: #A2FF33;
    z-index: 50;
}

.detail-user-infor-content .details-ping-iconfont svg {
    margin-top: 0px;
    margin-right: 5px;
}

.detail-user-infor-content .detail-user-choose-box-header {
    display: flex;
    margin-top: 6px;
}

.detail-user-infor-content .detail-user-choose-box-header div {
    text-align: center;
}

.detail-user-infor-content .detail-user-choose-box-select {
    display: flex;
    padding-top: 7px;
}

.detail-user-infor-content .detail-user-choose-box-select div {
    text-align: center;
}

.detail-user-infor-content .detail-container-ready-img {
    width: 13px;
    height: 13px;
    top: 90px;
    left: 168px;
}

.detail-user-infor-content .detail-box-ready-text {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    background: url(../../../images/details/ready-top.png) no-repeat center;
    background-size: 100% auto;
}

.detail-user-infor-content .detail-user-list-item .gx-menu-in .iconfont {
    top: 1px;
    right: 2px;
}

.detail-user-infor-content .color-select .gx-menu-in .iconfont {
    right: 0;
}

.detail-user-infor-content .gx-avatar-content-row-border {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 1px rgb(255 255 255 / 10%);
}

.detail-user-infor-content .gx-avatar-content-row-border:nth-child(1) {
    left: 22%;
}

.detail-user-infor-content .gx-avatar-content-row-border:nth-child(2) {
    left: 48%;
}

.detail-user-infor-content .gx-avatar-content-row-border:nth-child(3) {
    left: 71%;
}

.detail-user-infor-content .detail-vs-img {
    position: absolute;
    top: 131px;
    left: 368px;
    width: 64px;
    height: 63px;
    z-index: 51;
}

.pointer-events-none {
    pointer-events: none;
}

.detail-ping-hover-tunnelPing-span {
    font-size: 10px;
}

.J_chooseCountry {
    display: block;
}