@import "../modal/createroom.css";
@import "mapmodal.css";

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #0b1118 url('../../../images/details/bg.jpg') no-repeat center;
    background-size: 100% 100%;
}

.gx-detail-header {
    width: 100%;
    height: 50px;
    background: #222F4E;
    border-radius: 4px 4px 0px 0px;
    opacity: 1;
    padding-left: 30px;
    padding-top: 13px;
    text-align: center;
}

.details-header .header-close {
    display: none !important;
}

.p-border {
    display: inline-block;
    width: 1px;
    height: 14px;
    background: rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgb(255 255 255 / 10%);
}

.newdetail {
    padding: 0px 20px 0px 28px;
}

.newdetail-header {
    height: 50px;
    line-height: 50px;
    -webkit-app-region: drag;
    padding-right: 5px;
}

.newdetail-header .newdetail-chatDiv-header-invitation {
    vertical-align: middle;
    position: relative;
    top: -3px;
    font-size: 12px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.newdetail-header .newdetail-chatDiv-header-invitation svg path {
    fill: #A1ADC8;
    width: 14px;
    height: auto;
}

.newdetail-header .newdetail-chatDiv-header-invitation svg {
    width: 14px;
    height: auto;
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.newdetail-header .newdetail-chatDiv-header-invitation:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background: rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgb(255 255 255 / 10%);
    position: absolute;
    left: -11px;
    top: 17px;
}

.newdetail-header .newdetail-chatDiv-header-invitation:hover {
    color: #FFF;
}

.newdetail-header .newdetail-chatDiv-header-invitation:hover svg path {
    fill: #FFF;
}

.newdetail-header-roomtype {
    font-size: 16px;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    color: rgba(255, 255, 255, .8);
}

.newdetail-header-roomtype span {
    position: relative;
    z-index: 1;
}

.gx-menu-newdetail-roomtype-cd {
    position: absolute;
    z-index: 1;
    background: #1C2744;
    border: 1px solid rgb(63, 89, 155);
    line-height: 20px;
    top: 40px;
    left: 0px;
    text-align: center;
    font-size: 14px;
    padding: 2px 12px;
    display: none;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s linear;
    min-width: 87px;
}

.newdetail-header-roomNum {
    display: inline-block;
    font-size: 12px;
    color: #A1ADC8;
    margin-left: 10px;
}

.newdetail-header-roomNum>div {
    display: inline-block;
}

.newdetail-header-roomNum-numgalss svg {
    width: 16px;
    height: auto;
    cursor: pointer;
    position: relative;
    top: 0px;
}

.newdetail-header-roomNum-numgalss svg path {
    fill: #A1ADC8;
}

.newdetail-header-roomNum-numgalss svg:hover path {
    fill: #FFF;
}

.newdetail-header-roomNum .newdetail-header-roomNum-num, .newdetail-header-roomNum .newdetail-header-roomNum-numhide {
    display: inline-block;
    width: 56px;
    text-align: center;
    margin-left: -2px
}

.newdetail-header-roomNum .newdetail-header-roomNum-numhide {
    position: relative;
    top: 1px;
}

.newdetail-header-roomNum .newdetail-header-roomNum-num {
    display: none;
}

.newdetail-header-roomNum .newdetail-header-roomNum-numgalss svg:nth-child(2) {
    display: none;
}

.newdetail-header-roomNum.active .newdetail-header-roomNum-numhide {
    display: none;
}

.newdetail-header-roomNum.active .newdetail-header-roomNum-num {
    display: inline-block;
}

.newdetail-header-roomNum.active .newdetail-header-roomNum-numgalss svg:nth-child(2) {
    display: inline-block;
}

.newdetail-header-roomNum.active .newdetail-header-roomNum-numgalss svg:nth-child(1) {
    display: none;
}

.newdetail-header-roomNum-copy {
    cursor: pointer;
}

.newdetail-header-roomNum-copy svg {
    fill: #A1ADC8;
    cursor: pointer;
    margin-left: 7px;
    margin-top: 13px;
    margin-right: 8px;
    position: relative;
    top: 1px;
}

.newdetail-header-roomNum-copy svg:hover {
    fill: #FFF;
}

.newdetail-header-roomSet {
    display: inline-block;
    font-size: 12px;
    color: #A1ADC8;
    position: relative;
    top: -2px;
    margin-right: 6px;
    cursor: pointer;
}

.newdetail-header-roomSet:hover {
    color: #FFF;
}

.newdetail-header-roomSet:hover path {
    fill: #FFF;
}

.newdetail-header-roomSet svg {
    width: 15px;
    height: auto;
    margin-left: 8px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 1px;

}

.newdetail-header-roomSet svg path {
    fill: #A1ADC8;
}

.newdetail-header-autoopen {
    display: inline-block;
    line-height: normal;
    font-size: 12px;
    color: #A1ADC8;
    margin-left: 8px;
    position: relative;
    top: -2px;
    margin-left: 2px;
}

.newdetail-header-autoopen:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background: rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgb(255 255 255 / 10%);
    position: absolute;
    left: -6px;
    top: 2px;
}

.newdetail-header-autoopen .gx-switch {
    margin-left: 5px;
    position: relative;
    top: -1px;
    width: 85px;
    background: #282f3b;
}

.newdetail-header-autoopen .gx-switch.open {
    background: #1c2744;
}

.newdetail-header-autoopen .gx-switch input[type='checkbox']:after {
    background: #525963;
}

.newdetail-header-autoopen .gx-switch input:after {
    top: -1px;
}

.newdetail-header-autoopen .gx-switch input {
    width: 85px;
}

.newdetail-header-autoopen .gx-switch .gx-switch-close {
    right: -8px;
    color: rgba(255, 255, 255, .4);
}


.newdetail-header-autoopen .gx-switch input[type='checkbox']:checked:after {
    background: rgba(107, 158, 255, .8);
    -webkit-transform: translateX(64px);
    transform: translateX(64px);
}

.newdetail-header-outroom {
    float: right;
    color: #A1ADC8;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    border-radius: 4px;
    padding: 0px 13px;
    margin-top: 13px;
    cursor: pointer;
    padding-right: 0px;
}

.newdetail-header-outroom svg {
    width: 14px;
    height: auto;
    vertical-align: middle;
    margin-right: 2px;
    position: relative;
    top: -1px;
}

.newdetail-header-outroom svg path {
    fill: #A1ADC8;
}

.newdetail-header-outroom:hover {
    color: #FFF;
}

.newdetail-header-outroom:hover svg path {
    fill: #FFF;
}

#newdetail-header-share {
    float: right;
    color: #A1ADC8;
    font-size: 12px;
    margin-right: 11px;
    position: relative;
    top: 1px;
    cursor: pointer;
}

#newdetail-header-share svg {
    width: 14px;
    height: auto;
    vertical-align: middle;
    margin-right: 2px;
    fill: #A1ADC8;
}

#newdetail-header-share:hover {
    color: #FFF;
}

#newdetail-header-share:hover path {
    fill: #FFF;
}

.p-border.float-right {
    position: relative;
    top: 19px;
}

#newdetail-header-share svg path {
    fill: #A1ADC8;
}

.newdetail-row {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

.newdetail-row>.col-xs-8 {
    padding-left: 0px;
    padding-right: 5px;
    width: 58.74%;
}

.newdetail-row>.col-xs-4 {
    padding-right: 0px;
    padding-left: 5px;
    width: 40.93%;
}

.newdetail-row-right {
    width: 100%;
    min-height: 527px;
    border-radius: 4px;
}

.newdetail-userList {
    width: 100%;
    min-height: 100px;
    border-radius: 4px;
    border: 1px solid rgba(63, 89, 155, 0.4);
    min-height: 402px;
}

.newdetail-userList.roomType1 .newdetail-userList-item-menu {
    pointer-events: none;
}

.newdetail-userList.roomType1 .newdetail-userList-item-menu .caret {
    display: none !important;
}

.newdetail-userList.roomType1 .newdetail-userList-item-menu .gx-menu-in-div {
    border: 1px solid transparent;
    color: rgba(255, 255, 255, .5);
}

.newdetail-userList-item {
    background: #202336;
    height: 50px;
    padding: 9px 0px;
    padding-left: 60px;
    font-size: 12px;
    position: relative;
}

.newdetail-userList-item:nth-child(2n) {
    background: #1d1e2b;
}

.newdetail-userList-item-roombot {
    display: inline;
    position: absolute;
    top: 15px;
    left: 20px;
}

.newdetail-userList-item-roombot img {
    width: 14px;
}

.newdetail-userList-item-roombot.battle {}


.newdetail-userList-item-roombot.ready img {
    width: 16px;
}

.newdetail-userList-item-avatar {
    position: relative;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
}

.newdetail-userList-item-avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.newdetail-userList-item-name {
    display: inline-block;
    max-width: 90px;
    vertical-align: middle;
    margin-right: 5px;
}

.newdetail-userList-item-name.name-ellipsis {
    color: rgba(255, 255, 255, .8);
}

.newdetail-userList-item-userbot {
    width: 20px;
}

.newdetail-userList-item-blackbot {
    width: 16px;
    margin-left: 6px;
}

.newdetail-userList-item-blackbot-border {
    display: inline-block;
    width: 1px;
    height: 14px;
    background: rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgb(255 255 255 / 10%);
    position: relative;
    top: 3px;
    margin-left: 5px;
}

.newdetail-userList-item-name-div {
    display: inline-block;
    width: 197px;
    white-space: nowrap;
}

.newdetail-userList-item-ping {
    display: inline-block;
    position: relative;
    top: 5px;
    margin-right: 8px;
}

.newdetail-userList-item-ping-div {
    position: absolute;
    z-index: 1;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.5);
    width: 130px;
    height: 50px;
    line-height: 25px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    color: #A2FF33;
    display: none;
}

.newdetail-userList-item-ping:hover .newdetail-userList-item-ping-div {
    display: block;
}

.newdetail-userList-item-ping-div>div>span:nth-child(1) {
    margin-right: 10px;
}

.newdetail-userList-item-ping svg {
    width: 16px;
    height: auto;
    fill: #A2FF33;
}

.newdetail-userList-item-menu {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.gx-menu-newdetail-ai {
    display: inline-block;
}

.gx-menu-newdetail-ai .gx-menu-in-text {
    color: rgba(255, 255, 255, .8)
}

.gx-menu-newdetail-ai .caret {
    border: none;
    width: 8px;
    height: auto;

    fill: rgba(255, 255, 255, .6);
    top: 8px;
    right: 8px;
    transform: rotate(180deg);
    display: none;
}

.gx-menu-newdetail-roomtype {
    display: inline-block;
    padding-right: 10px;
    position: relative;
}

.gx-menu-newdetail-roomtype .gx-menu-ul a {
    font-size: 12px;
    color: rgba(255, 255, 255, .8);
}

.gx-menu-newdetail-roomtype.eventsnone.gx-menu-active .gx-menu-ul {
    /* pointer-events: none; */
    display: none;
}

.gx-menu-newdetail-roomtype.eventsnone.gx-menu-active .gx-menu-newdetail-roomtype-cd {
    /* pointer-events: none; */
    display: inline-block;
    opacity: 1;
}

.gx-menu-newdetail-ai .gx-menu-in {
    display: inline-block;
    position: relative;
    padding-right: 20px;
}

.newdetail-userList-item-menu .gx-menu-in-div {
    width: 68px;
    height: 26px;
    border-radius: 4px;
    border: 1px solid rgba(63, 89, 155, 0.6);
    background-color: transparent;
    padding-left: 9px;
}

.newdetail-userList-item-menu .caret, .gx-menu-newdetail-roomtype .caret {
    border: none;
    width: 8px;
    height: auto;
    fill: rgba(255, 255, 255, .6);
    top: 8px;
    right: 8px;
    transform: rotate(180deg);
    display: none;
}

.gx-menu-newdetail-roomtype .caret {
    fill: rgba(255, 255, 255, .6);
}

.gx-menu-newdetail-roomtype .gx-menu-ul {
    min-width: 50px
}

.gx-menu-newdetail-roomtype .gx-menu-li {
    line-height: 30px;
    padding-left: 0px;
    text-align: left;
    text-align: center;
}

.gx-menu-newdetail-roomtype .gx-menu-li a {
    display: block;
}

.gx-menu-newdetail-roomtype.canChange .caret {
    display: inline-block;
    top: 20px;
    right: -3px;
}

.canChange .gx-menu-newdetail-ai .caret {
    display: inline-block;
    top: 4px;
}

.newdetail-userList-item-menu-color .gx-menu-ul .gx-menu-li a {
    padding-left: 15px !important;
}

.newdetail-userList-item-menu-colorDiv {
    /* padding-left: 20px; */
}

.newdetail-userList-item-menu-colorDiv-div {
    width: 11px;
    height: 11px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    top: 1px;
}

.newdetail-userList-item-menu-colorDiv.read {}

.newdetail-userList-item .newdetail-userList-item-menu .caret {
    display: none;
}

.newdetail-userList-item.canChange .newdetail-userList-item-menu .caret {
    display: inline-block;
}

.newdetail-userList-item .gx-menu-in-div {
    border: 1px solid transparent;
    color: rgba(255, 255, 255, .6);
    cursor: auto;
}

.newdetail-userList-item.canChange .gx-menu-in-div {
    border: 1px solid rgba(63, 89, 155, 0.6000);
    cursor: pointer;
    color: rgba(255, 255, 255, .6);
}



.newdetail-userList-item .newdetail-userList-item-closeDiv svg {
    width: 11px;
    height: auto;
    position: relative;
    top: 2px;
    fill: #5a6484;
    cursor: pointer;
}

.newdetail-userList-item .newdetail-userList-item-closeDiv svg:hover {
    fill: #FFF;
}

.newdetail-userList-item-closeDiv {
    display: none;
    position: absolute;
    top: 16px;
    right: 13px;
}

.newdetail-userList-item-closeDiv::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background: rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgb(255 255 255 / 10%);
    position: absolute;
    top: 1px;
    left: -12px;
}

.newdetail-userList-item:hover .newdetail-userList-item-closeDiv {
    display: inline-block;
}

.newdetail-userList-item-empty .newdetail-userList-item-avatar {
    vertical-align: middle;
}

.newdetail-userList-item-empty .newdetail-userList-item-avatar svg {
    fill: rgba(107, 158, 255, .8);
    width: 20px;
    height: auto;
}

.newdetail-userList-item-empty .newdetail-userList-item-name-div {
    position: relative;
    color: rgba(255, 255, 255, .6);
}

.newdetail-userList-item-close .newdetail-userList-item-name-div {
    color: rgba(255, 255, 255, .4);
}

.newdetail-userList-item-empty-operation {
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 39px;
    opacity: 0;
    background-color: inherit;
    transition: all .1s linear;

}

.newdetail-userList-item-empty:hover .newdetail-userList-item-empty-operation {
    opacity: 1;
}

.newdetail-userList-item-empty-operation .newdetail-userList-item-empty-operation-item:nth-child(2),
.newdetail-userList-item-empty-operation .newdetail-userList-item-empty-operation-item:nth-child(3) {
    position: relative;
}

.newdetail-userList-item-empty-operation .newdetail-userList-item-empty-operation-item:nth-child(2):after,
.newdetail-userList-item-empty-operation .newdetail-userList-item-empty-operation-item:nth-child(3):after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background: rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgb(255 255 255 / 10%);
    position: absolute;
    top: 8px;
    left: -9px;
}

.newdetail-userList-item-empty-operation-item {
    display: inline-block;
    color: rgba(255, 255, 255, .6);
    margin-right: 10px;
    margin-left: 3px;
    cursor: pointer;
}

.newdetail-userList-item-empty-operation-item-bot {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

.newdetail-userList-item-empty-operation-item-bot svg {
    fill: #5983d3;
    width: 20px;
    height: auto;
}

.newdetail-userList-item-empty-operation-item-bot svg path {
    fill: #5983d3;
}


.J_addRobot svg {
    width: 18px;
}

.J_closeToEmpty .newdetail-userList-item-empty-operation-item-bot {
    /* padding: 6px 0px 0px 5px; */
    position: relative;
    left: -1px;
    top: 1px;
}

.J_closeToEmpty span {
    position: relative;
    top: 1px;
    left: 4px;
}

.J_closeEmpty span {
    position: relative;
    top: 1px;
}

.J_addwatch .newdetail-userList-item-empty-operation-item-bot {
    position: relative;
    top: 1px;
    left: 0px
}

.newdetail-userList-item-empty-operation .newdetail-userList-item-empty-operation-item .p-border {
    display: none;
}

.newdetail-userList-item-close {
    /* background: #292B39 !important; */
}

.newdetail-userList-item-close .newdetail-userList-item-avatar {
    /* background: rgba(136, 136, 136, .2); */
    /* padding: 6px 1px 2px 5px; */
}

.newdetail-userList-item-close .newdetail-userList-item-avatar svg {
    fill: #8c97ae;
    /* width: 18px; */
    height: auto;
}

.newdetail-chatDiv {
    margin-top: 15px;
    width: 100%;
    height: 171px;
    background: #1a1b23;
    border: 1px solid rgba(63, 89, 155, 0.2000);
    border-radius: 4px;
}

.newdetail-chatDiv.emptyMessage .newdetail-chatDiv-header {
    height: 0px;
    position: absolute;
}

.newdetail-chatDiv.emptyMessage .newdetail-chatDiv-scroll {
    height: 68.8%;
}

.newdetail-chatDiv-header {
    width: 100%;
    height: 28px;
    background: #283454;
    line-height: 28px;
    padding: 0px 0px 0px 0px;
}

.newdetail-chatDiv-header-notice {
    display: inline-block;
}

.newdetail-chatDiv-header-notice .newdetail-chatDiv-header-notice-title {
    /* width: 64px; */
    height: 28px;
    background: #3F599B;
    border-radius: 3px 0px 0px 0px;
    display: inline-block;
    font-size: 12px;
    padding: 0 10px;
    position: relative;
    top: -1px;
}

.newdetail-chatDiv-header-notice .newdetail-chatDiv-header-notice-title svg path {
    fill: #FFF;
}

.newdetail-chatDiv-header-notice .newdetail-chatDiv-header-notice-title svg {
    position: relative;
    top: 2px;
    width: 14px;
    height: auto;
}

.newdetail-chatDiv-header-notice .name-ellipsis {
    /* max-width: 307px; */
    vertical-align: middle;
    font-size: 12px;
    margin-left: 5px;
}

.newdetail-chatDiv-header-notice span:nth-child(3) {
    position: relative;
    top: -1px;
    left: -3px;
    font-size: 12px;
    display: none;
}



.newdetail-chatDiv-scroll {
    width: 654px;
    height: 88px;
    /* background-color: red; */
    /* margin: 0 auto; */
    margin-left: 20px;
    margin-top: 5px;
    border-bottom: 1px solid rgba(90, 101, 133, .1);
    /* overflow-y: scroll; */
    overflow-x: hidden;
    padding-right: 10px;
}

.newdetail-chatDiv-item {
    color: rgba(255, 255, 255, .6);
    font-size: 12px;
    line-height: 18px;
}

.newdetail-chatDiv-item.host .media-left {
    color: #FFC438;
}

.newdetail-chatDiv-item .media-body {
    word-break: break-all;
}

.newdetail-chatDiv-bottom {
    padding: 0px 19px;
    padding-top: 10px;
    white-space: nowrap;
}


.newdetail-chatDiv-bottom .input-group {
    width: 655px;
    display: inline-flex;
}

.newdetail-chatDiv-bottom .gx-input {
    height: 30px;
    line-height: 30px;
    background: #15171e;
    box-shadow: none;
}

.newdetail-chatDiv-bottom .input-group-addon {
    min-width: 60px;
    padding: 9px 12px;
    border-radius: 4px !important;
}

.newdetail-chatDiv-bottom .gx-input::placeholder {
    color: rgba(255, 255, 255, .3)
}

.newdetail-map {
    width: 100%;
    height: 310px;
    border-radius: 4px;
    position: relative;
    /* background: rgba(63, 89, 155, 1); */
    background: rgba(0, 0, 0, 1);
    text-align: center;
    /* display: flex; */
    overflow: hidden;
}

.newdetail-map-bottom {
    min-height: 169px;
}

.newdetail-map-bottom.isHost {
    min-height: 157px;
}

.newdetail-map .gx-map-mask-circle {
    bottom: 36px;
}

.newdetail-map .newdetail-map-imgdiv {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
    /* display: flex; */
    /* align-items: center;
    justify-content: center;
    margin: 0 auto; */
}

.newdetail-map .newdetail-map-img {
    overflow: hidden;
    /* object-fit: contain; */
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.newdetail-map .newdetail-map-title {
    /* width: 100%; */
    height: 36px;
    line-height: 36px;
    background: rgba(63, 89, 155, .7);
    border-radius: 0px 0px 0px 4px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    z-index: 2;
    /* padding: 0 16px; */
    padding-right: 10px;
    text-shadow: 0px 2px 1px #313748;
    /* border: 1px solid #3F599B;
    border-right: none; */
}

.newdetail-map .newdetail-map-title>span {
    margin-left: 8px;
    opacity: .8;
    font-size: 12px;
}

.newdetail-map .newdetail-map-title:after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 36px solid rgba(63, 89, 155, .7);
    border-right: 15px solid transparent;
    position: absolute;
    right: -15px;
    top: 0px;
}

.newdetail-map .newdetail-map-title .newdetail-map-title-des {
    opacity: 0;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    bottom: 0px;
    left: -1px;
    transition: all .1s linear 0s;
    width: 480px;
    text-align: left;
    padding: 10px 10px;
    font-size: 12px;
    line-height: 16px;
    height: 36px;
    z-index: 1;
    pointer-events: none;
}

.newdetail-map .newdetail-map-title:hover .newdetail-map-title-des {
    display: block;
    bottom: 35px;
    opacity: 1;
    height: auto;
}

.newdetail-mapchoose-mapchoose {
    display: inline-block;
    position: relative;
    padding: 0px 11px 0px 8px;
}

.newdetail-map .newdetail-map-bot {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 100%;
    padding-right: 10px;
    z-index: 3;
    text-align: left;
}

.newdetail-map .newdetail-map-bot .newdetail-map-bot-item {
    font-size: 12px;
    height: 30px;
    background: rgba(33, 38, 50, .8);
    border-radius: 4px;
    line-height: 30px;
    text-align: center;
    padding: 0px 7px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}

.newdetail-map .newdetail-map-bot .newdetail-map-bot-item.float-right {
    margin-right: 9px;
}

.newdetail-map .newdetail-map-bot .newdetail-map-bot-item.newdetail-map-bot-item-collection svg path {
    fill: rgba(255, 196, 56, 1);
}

.newdetail-map .newdetail-map-bot .newdetail-map-bot-item svg {
    width: 14px;
    height: auto;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 3px;
    fill: #FFF;
}

.newdetail-map .newdetail-map-bot .newdetail-map-bot-item svg path {
    fill: #FFF;
}

.newdetail-map-imgdiv-borth-test {
    width: 1px;
    height: 1px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
}

.newdetail-map-imgdiv-borth {
    position: absolute;
    /* top: calc(50% - 12px);
    left: calc(50% - 12px); */
}

.newdetail-map.borthhide .newdetail-map-imgdiv-borth {
    display: none;
}

.newdetail-map-imgdiv-borth-circle {
    width: 24px;
    height: 24px;
    background: linear-gradient(180deg, #DAE5F9 0%, #8192B8 100%);
    box-shadow: 0px 1px 2px 0px #1F1F1F;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    font-family: IndustryDemiBold;
    font-size: 16px;
    color: #FF4444;
    position: relative;
    z-index: 2;
    transition: all .1s linear;
}

.newdetail-map-imgdiv-borth span {
    position: relative;
    z-index: 3;
}

.newdetail-map-imgdiv-borth-circle:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #1F1F1F;
    box-shadow: inset 0px 0px 3px 0px #1D1D1D;
}

.newdetail-map-imgdiv-borth:before {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    z-index: 1;
    width: 10px;
    height: 10px;
    background: rgba(63, 89, 155, .4);
    border-radius: 50%;
}




.newdetail-map-imgdiv-borth.active .newdetail-map-imgdiv-borth-circle {
    transform: scale(1.2)
}

.newdetail-map-imgdiv-borth:hover .newdetail-map-imgdiv-borth-circle {
    transform: scale(1.2)
}

.newdetail-map-imgdiv-borth.active:before {
    animation: newdetailborth 2000ms linear infinite;
}

.newdetail-map-imgdiv-borth:hover:before {
    animation: newdetailborth 2000ms linear infinite;
}

@keyframes newdetailborth {
    0% {
        transform: scale(1);
        opacity: 1
    }

    50% {
        opacity: 1
    }

    80% {
        opacity: .8
    }

    100% {
        transform: scale(5);
        opacity: 0
    }

}

.newdetail-map-imgdiv-borth-name {
    position: absolute;
    top: 20px;
    left: calc(50% - 50px);
    width: 100px;
    background-color: rgba(33, 38, 50, .8);
    font-size: 12px;
    text-align: center;
    line-height: 26px;
    height: 26px;
    padding: 0px 10px;
    opacity: 0;
    transition: all .2s linear;
    border-radius: 2px;
}

.newdetail-map-imgdiv-borth.active {
    z-index: 3;
}

.newdetail-map-imgdiv-borth.active .newdetail-map-imgdiv-borth-name {
    opacity: 1;
    top: 32px;
}

.newdetail-map-imgdiv-borth:hover .newdetail-map-imgdiv-borth-name {
    opacity: 1;
    top: 32px;
}

.newdetail-map-imgdiv-borth-name span {
    max-width: 100%;
    color: #FFF;
}

.newdetail-map-imgdiv-borth-name-border {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 4px;
    height: 26px;
    background: #FFF;
}

.newdetail-map-imgdiv-borth-name:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(33, 38, 50, .8);
    position: absolute;
    top: -4px;
    left: calc(50% - 4px);
}

.newdetail-map-imgdiv-borth-top .newdetail-map-imgdiv-borth-name {
    top: -21px;

}

.newdetail-map-imgdiv-borth-top.active .newdetail-map-imgdiv-borth-name {
    top: -32px;
}

.newdetail-map-imgdiv-borth-top:hover .newdetail-map-imgdiv-borth-name {
    top: -32px;
}

.newdetail-map-imgdiv-borth-top .newdetail-map-imgdiv-borth-name:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(33, 38, 50, .8);
    border-bottom: none;
    top: 26px;
}

.newdetail-mapchoose {
    width: 100%;
    height: 36px;
    background: rgba(63, 89, 155, .2);
    border-radius: 4px;
    border: 1px solid rgba(107, 158, 255, .1);
    margin: 0;
    padding-left: 33px;
    line-height: 36px;
    margin-top: 12px;
}

.newdetail-map-title .newdetail-mapchoose-hoststyle {
    display: inline-block;
    position: relative;
    padding: 0px !important;
}

.newdetail-map-title .newdetail-mapchoose-mapchoose:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background: rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgb(255 255 255 / 10%);
    position: absolute;
    top: 12px;
    right: 0px;
}

.newdetail-mapchoose-menu .caret {
    transform: rotate(0deg) !important;
    top: 10px !important;
}

.newdetail-mapchoose>div {
    display: inline-block;
}

.newdetail-mapchoose-menu {
    display: inline-block;
    /* width: 140px; */
    /* margin-right: 5px; */
}

.newdetail-mapchoose-menu .gx-menu-in {
    cursor: auto;
}

.newdetail-mapchoose-menu.gx-menu .gx-menu-ul {
    border-radius: 4px 4px 0px 0px;
}

.newdetail-mapchoose-menu.canchange .gx-menu-in {
    cursor: pointer;
}

.newdetail-mapchoose-menu .caret {
    display: none;
}

.newdetail-mapchoose-menu.canchange .caret {
    border: none;
    width: 8px;
    height: auto;
    fill: #FFF;
    opacity: .8;
    top: 8px;
    right: 8px;
    transform: rotate(180deg);
    display: inline-block;
}




.newdetail-mapchoose-menu .gx-menu-in-div {
    background: none;
    border-radius: 4px;
    border: 1px solid transparent;
    font-size: 12px;
    line-height: 24px;
    height: 26px;
    text-align: center;
    padding: 0px;
    padding-right: 0px;
    color: rgba(255, 255, 255, .6);
}

.newdetail-mapchoose-menu.canchange .gx-menu-in-div {
    padding-right: 20px;
    color: rgba(255, 255, 255, .8);
}

.newdetail-setting-content .newdetail-mapchoose-menu.canchange .gx-menu-in-div {
    border: 1px solid rgba(63, 89, 155, 0.6000);
    color: rgba(255, 255, 255, .6);
}

.newdetail-setting-content .newdetail-mapchoose-menu.canchange .gx-menu-in-div .caret {
    fill: rgba(255, 255, 255, .6);
}

.newdetail-mapchoose-menu.canchange .gx-menu-in-div .gx-menu-in-text {
    display: inline-block;
    text-align: center;
    padding-left: 13px;
}

.newdetail-map-title .newdetail-mapchoose-mapchoose:nth-child(2) .gx-menu-ul {
    left: -5px;
    width: 72px;
}

.newdetail-map-title .newdetail-mapchoose-mapchoose:nth-child(2) .newdetail-mapchoose-menu.canchange .gx-menu-in-div .gx-menu-in-text {
    padding-left: 2px;
}

.newdetail-mapchoose-menu .gx-menu-li {
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    padding-left: 0px;
    text-align: left;
    cursor: pointer;
}

.newdetail-map-title .newdetail-mapchoose-mapchoose:nth-child(1) .newdetail-mapchoose-menu .gx-menu-li {
    text-align: center !important;
}

.newdetail-map-title .newdetail-mapchoose-mapchoose:nth-child(2) .newdetail-mapchoose-menu .gx-menu-li {
    padding-left: 5px;
}

.newdetail-setting-game .newdetail-mapchoose-menu .gx-menu-li {
    padding-left: 5px;
}

.newdetail-setting-game .newdetail-mapchoose-menu .gx-menu-li div {
    /* display: inline-block; */
    color: rgba(255, 255, 255, .6);
    text-align: left;
}

.newdetail-setting-game .newdetail-mapchoose-menu .gx-menu-li:hover {
    background: rgba(63, 89, 155, .5);
}

.newdetail-setting-game .newdetail-mapchoose-menu .gx-menu-li:hover div {
    color: #FFF;
}

.newdetail-mapchoose-menu img {}

.newdetail-setting {
    margin-top: 10px;
}

.newdetail-setting-nav {
    height: 30px;
    white-space: nowrap;
    position: relative;
    z-index: 1;
}

.newdetail-setting-nav .newdetail-setting-nav-item:nth-child(4) {
    left: 1px;
}

.newdetail-setting-nav-item {
    display: inline-block;
    width: 18%;
    text-align: center;
    line-height: 30px;
    background-color: #1a1a25;
    color: rgba(255, 255, 255, .6);
    position: relative;
    top: -1px;
    transform: skewX(20deg);
    margin-right: 7.2px;
    position: relative;
    cursor: pointer;
}

.newdetail-setting-nav-item span {
    display: inline-block;
    transform: skewX(-20deg)
}

.newdetail-setting-nav-item:nth-child(1) {
    transform: skewX(0deg);
    border-radius: 4px 0px 0px 0px;
    width: 19%;
    margin-right: 12px;
    padding-left: 10px;
}

.newdetail-setting-nav-item:nth-child(1) span {
    transform: skewX(0deg)
}

.newdetail-setting-nav-item:nth-child(1):after {
    content: "";
    width: 18px;
    height: 30px;
    background-color: #1a1a25;
    position: absolute;
    top: 0px;
    right: -7px;
    transform: skewX(20deg);
}

.newdetail-setting-nav-item.active {
    background: #171c2e;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(107, 158, 255, 0.1);
    border-bottom: none;
    top: 0px;
}

.newdetail-setting-nav-item.active:after {
    background-color: #171c2e;
    border-right: 1px solid rgba(107, 158, 255, 0.1);
}

.newdetail-setting-content {
    width: 100%;
    height: 177px;
    background: #171c2e;
    border: 1px solid rgba(107, 158, 255, 0.1);
    border-radius: 0px 4px 4px 4px;
    position: relative;
}

.newdetail-setting-basics {
    padding: 22px 0px 0px 0px;
}

.newdetail-setting-special {
    padding: 22px 0px 0px 0px;
}

.newdetail-setting-game {
    padding: 22px 0px 0px 0px;
}

.newdetail-setting-content .col-xs-3 {
    margin-bottom: 15px;
    width: 33%;
    color: rgba(255, 255, 255, .8);
}

.newdetail-setting-basics .media-right {
    padding: 0px;
    font-size: 12px;
}

.newdetail-setting-basics .col-xs-6 {
    padding-right: 10px;
    padding-left: 10px;
}

.newdetail-setting-basics .row:nth-child(2) {
    margin-right: -5px;
    margin-left: 6px;
    margin-top: 15px;
}

.newdetail-setting-content .newdetail-setting-introduce {
    position: absolute;
    top: 8px;
    right: 12px;
}

.newdetail-setting-content .newdetail-setting-introduce .tooltip-inner {
    width: 1000px;
    left: -24px;
    position: relative;
}

.newdetail-setting-content .newdetail-setting-introduce svg {
    width: 14px;
    height: auto;
    fill: rgba(255, 255, 255, .6);
}

.newdetail-setting-basics>.row, .newdetail-setting-game>.row, .newdetail-setting-special>.row {
    margin: 0px;
    margin-top: 0px;
    white-space: nowrap;
}

.newdetail-setting-special>.row {
    margin-top: -0px;
}

.newdetail-setting-special .newdetail-mapchoose-menu {
    width: 140px !important;
}

.setting-range {
    border-radius: 0px !important;
    border: 1px solid rgba(63, 89, 155, 0.4);
    background: #1b2233;
    width: 90px !important;
    margin-left: 7px;
    vertical-align: middle;
    display: inline-block !important;
    height: 24px;
}

.setting-range::-webkit-slider-runnable-track {
    height: 24px;
    border-radius: 0px !important;
    /*将轨道设为圆角的*/
    box-shadow: none;
    /*轨道内置阴影效果*/
}

.setting-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 8px;
    height: 24px;
    background: #3F599B;
    opacity: .6;
    margin-top: 0px;
    /*使滑块超出轨道部分的偏移量相等*/
    border-radius: 0;
    /*外观设置为圆形*/
    border: none;
    /*设置边框*/
    cursor: pointer;
}

.setting-range-text {
    display: inline-block;
    width: 60px;
    height: 24px;
    background: #3F599B;
    border-radius: 1px;
    text-align: center;
    line-height: 26px;
    position: relative;
    left: -5px;
    top: 1px;
    font-size: 12px;
}

.setting-range-prohibit {
    pointer-events: none;
}

.setting-range-prohibit .setting-range-text {
    background: #404347;
    color: rgba(255, 255, 255, .3)
}

.setting-range-prohibit .setting-range::-webkit-slider-thumb {
    background: #404347;
}

.setting-range-prohibit .setting-range {
    border: 1px solid rgba(64, 67, 71, 0.4);
}

.newdetail-setting-content .newdetail-mapchoose-menu {
    width: 100px;
    margin-left: 5px;
}

.newdetail-start {
    width: 275px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 14px;
}

.newdetail-Invite {
    width: 194px;
    height: 50px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-top: 14px;
    margin-right: 5px;
}

.newdetail-Invite-btn-hover-div {
    opacity: 0;
    position: absolute;
    bottom: 30px;
    z-index: -1;
    transition: all .1s linear;
    background: black;
}

.newdetail-Invite-btn-hover {
    width: 194px;
    height: 50px;
    background-image: radial-gradient(#0F284C 0%, #011026 100%);
    line-height: 48px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 2px;
}

.newdetail-Invite:hover .newdetail-Invite-btn-hover-div {
    display: inline-block;
    opacity: 1;
    z-index: 1;
    bottom: 50px;
}

/* .newdetail-Invite-btn-hover:nth-child(2) {
    bottom: 79px;
} */

/* .newdetail-Invite:hover .newdetail-Invite-btn-hover {
    z-index: auto;
    bottom: 51px;
    opacity: 1;
    pointer-events: auto;
}

.newdetail-Invite:hover .newdetail-Invite-btn-hover:nth-child(2) {
    z-index: auto;
    bottom: 101px;
    opacity: 1;
    pointer-events: auto;
} */

.newdetail-hall-Invite-coin {
    font-family: IndustryBlack;
}

.newdetail-hall-Invite-coin img {
    position: relative;
    top: -1px;
    left: -4px;
    margin-right: -6px;
}

.newdetail-Invite-btn {
    width: 194px;
    height: 50px;
    background: url(../../../images/details/start-btn-invite.png) no-repeat;
    line-height: 48px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.newdetail-Invite-btn span {
    position: relative;
}

.newdetail-Invite-btn svg {
    width: 10px;
    height: 10px;
    fill: #FFF;
    position: absolute;
    top: 7px;
    right: -20px;
}

.newdetail-start-btn {
    width: 100%;
    height: 50px;
    background: url(../../../images/details/start-btn.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}

.newdetail-start-btn.prohibit {
    background: url(../../../images/details/start-btn-prohibit.png) no-repeat;
    background-size: 100% 100%;
    cursor: no-drop;
}

.newdetail-showjoinUserSet.row {
    margin-left: -5px;
    margin-right: -5px;
}

.newdetail-showjoinUserSet.row .col-xs-6 {
    padding-left: 5px;
    padding-right: 5px;
}

.newdetail-showjoinUserSetItem {
    width: 100%;
    height: 207px;
    background: rgba(63, 89, 155, 0.2);
    border-radius: 4px;
    border: 1px solid rgba(107, 158, 255, 0.1);
    margin-top: 10px;
    padding: 0px 9px 0px 15px;
}

.newdetail-showjoinUserSetItem-header {
    line-height: 26px;
    border-bottom: 1px solid rgba(63, 89, 155, .1);
    margin-bottom: 5px;
    font-size: 14px;
}

.newdetail-showjoinUserSetItem-header svg {
    width: 15px;
    height: auto;
    vertical-align: middle;
    fill: #FFF;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

.newdetail-showjoinUserSetItem-header.special {
    color: #FFC438;
}

.newdetail-showjoinUserSetItem-header.special svg {
    fill: #FFC438;
    width: 17px;
}

.newdetail-showjoinUserSetItem-header svg:nth-child(2) {
    width: 12px;
    height: auto;
    vertical-align: middle;
    fill: rgba(255, 255, 255, .6);
    margin-left: 5px;
}

.newdetail-showjoinUserSetItem-header .tooltip {
    width: 500px;
}

.newdetail-showjoinUserSetItem-header .tooltip-inner {
    max-width: 1000px;
}

.newdetail-showjoinUserSetItem-content {
    font-size: 12px;
    color: rgba(255, 255, 255, .6);
    white-space: nowrap;
    overflow-y: scroll;
    height: 172px;
}

.newdetail-showjoinUserSetItem-content .ft-red-light {
    opacity: .6;
}

.newdetail-showjoinUserSetItem-content .ft-red-light svg {
    opacity: .6;
}

.newdetail-showjoinUserSetItem-content-left {
    overflow: hidden;
    margin-right: -7%;
}

.newdetail-showjoinUserSetItem-content .media-left {
    padding: 0px;
}

.newdetail-showjoinUserSetItem-content svg {
    width: 12px;
    height: auto;
}

.newdetail-showjoinUserSetItem-content .media {
    margin: 0px;
    line-height: 24px;
    width: 100%;
    float: left;
    padding-right: 7%;
    /* font-size: 10px; */
}

.newdetail-showjoinUserSet .col-xs-6:nth-child(2) .newdetail-showjoinUserSetItem {
    padding-right: 0px;
    /* padding-right: 0px;
    padding-left: 10px; */
}

.newdetail-showjoinUserSet .col-xs-6:nth-child(2) .newdetail-showjoinUserSetItem .media {
    width: 50%;

}

.newdetail-userList-item .gx-menu-active.gx-menu .gx-menu-ul {
    width: 200%;
    left: -50%;
    min-height: 36px;
}

.newdetail-userList-item .gx-menu .gx-menu-ul .gx-menu-li {
    width: 48%;
    display: inline-block;
    padding: 0px;
    text-align: center;
    line-height: 33px;
}

.newdetail-userList-item .gx-menu .gx-menu-ul .gx-menu-li a {
    display: inline-block;
    color: rgba(255, 255, 255, .6);
    text-align: left;
    padding-left: 20px;
}

.newdetail-userList-item .gx-menu .gx-menu-ul .gx-menu-li:hover {
    background: rgba(63, 89, 155, .5);
}

.newdetail-userList-item .gx-menu .gx-menu-ul .gx-menu-li:hover a {
    color: #FFF;
}

.newdetail-userList-item-menu-birth.gx-menu .gx-menu-li {
    width: 50% !important;
    text-align: center;
    float: left;
}

/* .newdetail-userList-item-menu-team.gx-menu .gx-menu-ul, .newdetail-userList-item-menu-birth.gx-menu .gx-menu-ul {
    width: 100%;
    left: 0%;
} */

.gx-menu-newdetail-ai.gx-menu .gx-menu-li {
    width: 120%;
    left: -10%;
}

/* .newdetail-userList-item-menu-team.gx-menu .gx-menu-ul .gx-menu-li, 
.newdetail-userList-item-menu-birth.gx-menu .gx-menu-ul .gx-menu-li, */
.gx-menu-newdetail-ai.gx-menu .gx-menu-ul .gx-menu-li {
    display: block;
    width: 100%;
}

.newdetail-userList-item-my .newdetail-userList-item-name {
    color: #FFC438;
}

.newdetail-userList-item .J_chooseColor .newdetail-userList-item-menu-colorDiv {
    display: inline-block;
}

.newdetail-userList-item.inlook .newdetail-userList-item-menu-color,
.newdetail-userList-item.inlook .newdetail-userList-item-menu-team,
.newdetail-userList-item.inlook .newdetail-userList-item-menu-birth {
    pointer-events: none;
}

.newdetail-userList-item.inlook .newdetail-userList-item-menu-color .gx-menu-in-div,
.newdetail-userList-item.inlook .newdetail-userList-item-menu-team .gx-menu-in-div,
.newdetail-userList-item.inlook .newdetail-userList-item-menu-birth .gx-menu-in-div {
    border: none;
    color: rgba(255, 255, 255, .6);
}

.newdetail-userList-item.inlook .newdetail-userList-item-menu-color .caret,
.newdetail-userList-item.inlook .newdetail-userList-item-menu-team .caret,
.newdetail-userList-item.inlook .newdetail-userList-item-menu-birth .caret {
    display: none
}

#RoomNoticeModal .modal-dialog {
    width: 400px;
}

#RoomNoticeModal .gx-modal-content {
    height: 223px;
    width: 400px;
    background: #222F4E;
    border-radius: 4px;
}

#RoomNoticeModal .gx-modal-header {
    -webkit-app-region: no-drag;
    padding-left: 0px;
    background: none;
}

.RoomNoticeModal-textarea {
    padding: 10px 28px;
    padding-bottom: 20px;
    margin: 14px auto;
    display: block;
    outline: none;
    box-shadow: none !important;
    border: none !important;
    line-height: 22px;
    color: #A1ADC8;
    width: 350px;
    height: 90px;
    background: rgba(63, 89, 155, 0.2);
    border-radius: 4px;
}

#RoomNoticeModal .RoomNoticeModal-textarea-num {
    position: absolute;
    right: 39px;
    bottom: 8px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    line-height: 12px;
}

.Invite-content {
    position: absolute;
    top: 125px;
    left: 405px;
    color: #C5D0E7;
    width: 400px;
    height: 430px;
    background: #222F4E;
    border-radius: 4px;
}

.Invite-MyFriends-title {
    display: flex;
    height: 33px;
    align-items: center;
}

.Invite-content-left div {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: 21px;
    margin-top: 21px;
    z-index: 2;
}

.Invite-content-line {
    width: 100%;
    height: 1px;
    background: #5A6585;
    border-radius: 1px;
    opacity: 0.2;
}

.Invite-content .Invite-header {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    display: flex;
}

.Invite-content .Invite-header p {
    position: relative;
    margin: auto;
    font-size: 16px;
    line-height: 22px;
}

.Invite-content span {
    position: absolute;
    color: #586383;
    top: 16px;
    right: 17px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}

.Invite-body {
    position: absolute;
    top: 55px;
    width: 100%;
    height: 352px;
    padding: 0 25px;
}

.Invite-body-header {
    display: flex;
    align-items: center;
    height: 33px;
    border-bottom: 1px solid rgba(90, 101, 133, 0.15);
    margin-bottom: 10px;
}

.Invite-body-header div {
    margin-top: 1px;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
}

.Invite-body-header p {
    padding: 0;
    margin: 0 0 0 8px;
}

.Invite-MyFriends,
.Invite-Recently {
    padding-top: 14px;
    width: 350px;
    height: 260px;
    background: rgba(63, 89, 155, 0.2);
    border-radius: 4px;
    overflow-y: scroll;
    display: none;
}

.Invite-content-header-focus {
    border-bottom: 2px solid rgba(107, 158, 255, .8);
    color: white;
}

.Invite-content-focus {
    display: block;
}

.Invite-user-list-item {
    position: relative;
    display: flex;
    height: 26px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 20px;
    justify-content: space-between;
}

.Invite-content-left {
    display: flex;
    align-items: center;
}

.Invite-content-left p {
    padding: 0;
    margin: 0 0 0 12px;
}

.Invite-content-left img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.Invite-content-center {
    width: 90px;
    margin-left: 9px;
}

.Invite-content-name {
    max-width: 80px;
    height: 12px;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 12px;
}

.Invite-content-status {
    font-size: 10px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #5A6585;
    line-height: 10px;
}

.Invite-content-right {
    height: 100%;
    display: flex;
    align-items: center;
}

.Invite-content-right p {
    padding: 0;
    margin: 0;
}

.Invite-content-check-content {
    color: white;
    width: 60px;
    height: 20px;
    background: #3F599B;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
}

.Invite-content-check {
    display: none;
}

.Invite-button {
    position: absolute;
    bottom: 20px;
    width: 80px;
    height: 29px;
    background: #3F599B;
    border-radius: 4px;
    align-items: center;
    display: flex;
    justify-content: center;
    left: 160px;
    color: white;
    cursor: pointer;
}

.Invite-content-AddFriends {
    position: absolute;
    cursor: pointer;
    left: 137px;
    color: rgba(107, 158, 255, .8);
    font-size: 16px;
}

.Invite-content-Added {
    position: absolute;
    left: 137px;
    color: #4d4d4d;
    font-size: 16px;
}

.newdetail-hall-Invite-loading {
    white-space: nowrap;
}

.J_newdetail-hall-Invite.loading {
    opacity: .8;
}

.J_newdetail-hall-Invite .newdetail-hall-Invite-loading, .J_newdetail-hall-Invite.loading .newdetail-hall-Invite {
    display: none;
}

.J_newdetail-hall-Invite.loading .newdetail-hall-Invite-loading, .J_newdetail-hall-Invite .newdetail-hall-Invite {
    display: inline-block;
}

.newdetail-map-bot-item-collection .in_collectStatus, .newdetail-map-bot-item-collection.incollectStatus .no_collectStatus {
    display: none;
}

.newdetail-map-bot-item-collection.incollectStatus .in_collectStatus, .newdetail-map-bot-item-collection .no_collectStatus {
    display: inline-block;
}

#bigmap .bigmap-content {
    position: relative;
    display: inline-block;
}

#bigmap .bigmap-content .newdetail-map-img.width {
    margin-top: 0px !important;
    width: 800px !important;
    margin-left: -100px;
}

#bigmap .bigmap-content .newdetail-map-img.height {
    margin-top: 0px !important;
    height: 500px !important;
}

#bigmap .modal-dialog {
    text-align: center;
}

/* 观战 */
#BatterModal .modal-dialog {
    width: 398px;
    height: 445px;
    background: #222F4E;
    border-radius: 4px;
    padding: 0px 22px;
}

#BatterModal .BatterModal-header {
    height: 55px;
    text-align: center;
    color: rgba(255, 255, 255, .6);
    line-height: 52px;
    font-size: 16px;
    border-bottom: 1px solid rgba(63, 89, 155, 0.2);
}

#BatterModal .BatterModal-header .iconfont {
    position: absolute;
    top: 0px;
    right: 17px;
    color: #5a6585;
    font-size: 14px;
    cursor: pointer;
}

#BatterModal .BatterModal-p {
    margin-top: 22px;
}

#BatterModal .BatterModal-title {
    color: #FFF !important;
}

#BatterModal .BatterModal-p:nth-child(2) svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    position: relative;
    top: 1px;
    margin-left: 10px;
    fill: #33477a;
}

#BatterModal .BatterModal-p:nth-child(3) {
    color: #2385F0;
}

#BatterModal .BatterModal-gxmenu {
    display: inline-block;
    vertical-align: middle;
    min-width: 88px;
}

#BatterModal .BatterModal-gxmenu-click {
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
}

#BatterModal .gx-menu-active .BatterModal-gxmenu-click {
    display: none;
}

#BatterModal .BatterModal-gxmenu .gx-menu-in-div {
    width: 100%;
    height: 20px;
    background: #28375d;
    padding-left: 18px;
    padding-right: 22px;
    line-height: 20px;
    font-size: 12px;
    border-radius: 4px;
    color: rgba(255, 255, 255, .6);
}

#BatterModal .gx-menu .gx-menu-ul {
    width: 170px;
}

#BatterModal .gx-menu .gx-menu-li {
    padding-left: 10px;
    font-size: 12px;
    line-height: 30px;
}

#BatterModal .gx-menu .gx-menu-li a {
    display: block;
}

#BatterModal .BatterModal-numinput {
    width: 100px;
    height: 20px;
    background: rgba(63, 89, 155, 0.2);
    border-radius: 4px;
    outline: none;
    border: none;
    vertical-align: middle;
    margin-left: 5px;
    text-align: center;
    font-size: 12px;
    color: rgba(255, 255, 255, .6);
}

#BatterModal .BatterModal-numinput::placeholder {
    color: rgba(255, 255, 255, .6);
}

#BatterModal .BatterModal-font {
    font-family: 'douyuFont';
    font-size: 14px;
    margin: 8px 0px;
    display: block;
    color: rgba(35, 133, 240, 1);
    margin-top: 20px;
}

#BatterModal .BatterModal-font:nth-child(1) {
    color: rgba(255, 68, 68, 1);
}

#BatterModal .BatterModal-add svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    position: relative;
    top: 8px;
    margin-left: 10px;
    fill: #33477a;
    vertical-align: middle;
    margin-right: 10px;
}

#BatterModal .BatterModal-add {
    margin-top: 18px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
}

#BatterModal .BatterModal-add span span {
    padding-left: 0px;
}

#BatterModal .BatterModal-add span span:nth-child(2) {
    padding-left: 40px;
}

#BatterModal .BatterModal-foot {
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid rgba(63, 89, 155, 0.2);
}

#BatterModal .BatterModal-foot .btn-middle {
    margin-right: 10px;
}

#BatterModal.BatterModalMust .BatterModal-gxmenu-must {
    pointer-events: none;
}

#BatterModal.BatterModalMust .BatterModal-gxmenu-must .caret {
    display: none;
}

#BatterModal.BatterModalMust .BatterModal-gxmenu-text-empty {
    display: none;
}

#BatterModal.BatterModal4 .BatterModal-gxmenu-must-BatterModal4 {
    pointer-events: none;
}

#BatterModal.BatterModal4 .BatterModal-gxmenu-must-BatterModal4 .caret {
    display: none;
}

#BatterModal.BatterModal4 .BatterModal-gxmenu-must-BatterModal4:nth-child(5) .BatterModal-gxmenu-text {
    display: none;
}

#BatterModal.BatterModal4 .BatterModal-gxmenu-must-BatterModal4 .J_BatterModal-playnum {
    display: none;
}

.J_chooseGameVersion {
    cursor: pointer;
}

.J_BanBigSuperWeapon {
    cursor: pointer;
    display: block;
}

#hallChatInvitaneedalert .gx-modal-smell {
    height: 190px;
}

#hallChatInvitaneedalert.gx-gxmodal .gx-gxmodal-foot {
    bottom: 46px;
}

#hallChatInvitaneedalert .hallChatInvitaneedalert-div {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0px;
    text-align: center;
    color: #5A6585;
}

#changeAlertModal .changeAlertModal-content-avatar {
    width: 48px;
    height: 48px;
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
}

#changeAlertModal .changeAlertModal-content-avatar img {
    width: 48px;
    height: 48px;
}

.changeAlertModal-content-name {
    color: rgba(255, 255, 255, .6);
    font-size: 12px;
    margin-top: 10px;
}

.changeAlertModal-content-message {
    width: 320px;
    height: 34px;
    background: rgba(26, 28, 34, 0.2000);
    border-radius: 4px;
    border: 1px solid rgba(63, 89, 155, 0.6000);
    margin: 0 auto;
    margin-top: 10px;
}

.changeAlertModal-content-message>div {
    display: inline-block;
    text-align: center;
    width: 25%;
    float: left;
    line-height: 32px;
    position: relative;
}

.changeAlertModal-content-message>div:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background: rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgb(255 255 255 / 10%);
    position: absolute;
    right: 0px;
    top: 8px;
}

.changeAlertModal-content-message-color {
    width: 11px;
    height: 11px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    top: 1px;
    background: red;
}


.changeAlertModal-content-watch {
    margin-top: 10px;
    /* width: 38px; */
    display: inline-block;
    font-size: 12px;
    padding: 0 10px;
    height: 14px;
    background: linear-gradient(360deg, rgba(141, 31, 31, 0) 0%, rgba(191, 48, 48, .9) 100%);
    border-radius: 8px;
}

.changeAlertModal-content-test {
    margin: 20px 0px;
    margin-bottom: 30px;
}

.changeAlertModal-content-test span {
    color: #FFC438;
    font-size: 16px;
    margin-left: 10px;
}

.roomTypemoreLoadingJoin {
    display: none;
    color: #fff;
    opacity: .6;
}

#detailsShareModal .gx-modal-smell-dialog {
    width: 398px !important;
    width: 220px;
}

#detailsShareModal .gx-modal-smell {
    width: 398px !important;
    width: 220px;
    background-color: #1d222e;
    padding-bottom: 0px;
    border: 1px solid rgba(161, 173, 200, .2);
}

#detailsShareModal .detailsShareModal-content {
    height: 140px;
}

#detailsShareModal .gx-gxmodal-foot {
    height: 60px;
    background-color: #1a1c22;
    position: relative;
    bottom: 0px;
    padding-top: 17px;
    border-radius: 0px 0px 4px 4px;
}

#detailsShareModal .detailsShareModal-content-textarea {
    width: 240px;
    height: 109px;
    background: #313748;
    border: 1px solid rgba(63, 89, 155, 0.2000);
    resize: none;
    position: absolute;
    top: 35px;
    left: 25px;
    padding: 23px 17px 0px 21px;
    font-size: 12px;
    outline: none;
    letter-spacing: 0px;
    line-height: 20px;

}

#detailsShareModal .detailsShareModal-content-img {
    position: absolute;
    width: 213px;
    top: 34px;
    left: 211px;
}

#detailsShareModal .header-close.iconfont.ft-ash {
    color: #3f599b;
}

#J_detailsShareModal_copy-input {
    opacity: 0;
    position: absolute;
}

#J_detailsShareModal_copy-loading {
    opacity: .6;
}




.newdetail-en .newdetail-userList-item-menu-colorDiv span {
    /* display: none; */
}

.newdetail-en .newdetail-userList-item .gx-menu .gx-menu-ul .gx-menu-li a {
    padding-left: 10px;
    white-space: nowrap;
}

.newdetail-en .newdetail-userList-item-menu .gx-menu-in-div {
    width: 74px;
}

.newdetail-en .newdetail-header-autoopen .gx-switch, .newdetail-en .newdetail-header-autoopen .gx-switch input {
    width: 100px;
}

.newdetail-en .newdetail-header-autoopen .gx-switch input[type='checkbox']:checked:after {
    transform: translateX(80px);
}

.newdetail-en .newdetail-mapchoose-menu .gx-menu-li {
    white-space: nowrap;
}

.newdetail-en .newdetail-map-title .newdetail-mapchoose-mapchoose:nth-child(2) .gx-menu-ul {
    width: auto;
}

.newdetail-en .newdetail-userList-item-name-div {
    width: 158px;
}

.newdetail-en .roomType2 .newdetail-userList-item-name-div,
.newdetail-en .roomType3 .newdetail-userList-item-name-div,
.newdetail-en .roomType4 .newdetail-userList-item-name-div,
.newdetail-en .roomType5 .newdetail-userList-item-name-div {
    width: 230px;
}

.newdetail-en .newdetail-userList-item-menu.newdetail-userList-item-menu-color .gx-menu-in-div {
    width: 85px;
}

.newdetail-en .newdetail-userList-item-menu.newdetail-userList-item-menu-country .gx-menu-in-div {
    width: 85px;
}