.newdetail-userList-item-empty-operation {
    /* opacity: .5 !important; */
}

.newdetail-userList-item-roomtype-operation {
    display: none;
}

/*
    ---------------------------------1V1-----------------------------
*/
.roomType2 {
    border: none !important;
    min-height: 285px;
}

.roomType2 .newdetail-userList-item:nth-child(1), .roomType2 .newdetail-userList-item:nth-child(2) {
    margin-top: 25px;
    position: relative;
    border: 1px solid #2E3D6B;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
}

.roomType2 .newdetail-userList-item:nth-child(1):after, .roomType2 .newdetail-userList-item:nth-child(2):after, .roomType2 .newdetail-userList-item:nth-child(3):after {
    content: attr(data-content-after);
    height: 25px;
    background: #28375c;
    position: absolute;
    top: -25px;
    left: 0px;
    padding-left: 14px;
    line-height: 25px;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #2E3D6B;
    width: 689px;
    left: -1px;
    pointer-events: none;
}

.roomType2 .newdetail-userList-item:nth-child(2) {
    margin-top: 35px;
}

.roomType2 .newdetail-userList-item:nth-child(2):after {
    content: attr(data-content-after);
}

.roomType2 .newdetail-userList-item-menu-team {
    display: none;
}

.roomType2 .newdetail-userList-item-name-div {
    width: 270px;
    vertical-align: middle;
}

.roomType2 .newdetail-userList-item-name {
    max-width: 180px;
}

.roomType2 .newdetail-userList-item:nth-child(3) {
    margin-top: 35px;
}

.roomType2 .newdetail-userList-item:nth-child(3):after {
    content: attr(data-content-after);
}

.roomType2 .newdetail-userList-item:nth-child(4) {
    margin-top: 35px;
}

.roomType2 .newdetail-userList-item:nth-child(7) {
    border-radius: 0px 0px 0px 4px;
}

.roomType2 .newdetail-userList-item:nth-child(8) {
    border-radius: 0px 0px 4px 0px;
}

.roomType2 .newdetail-userList-item:nth-child(3),
.roomType2 .newdetail-userList-item:nth-child(4),
.roomType2 .newdetail-userList-item:nth-child(5),
.roomType2 .newdetail-userList-item:nth-child(6),
.roomType2 .newdetail-userList-item:nth-child(7),
.roomType2 .newdetail-userList-item:nth-child(8) {
    width: 50%;
    display: inline-block;
    float: left;
    height: 40px;
    background: #181a26;
    border-bottom: 1px solid #27304c;
    border-left: 1px solid #27304c;
    padding: 8px 0px;
    padding-left: 100px;
}

.roomType2 .newdetail-userList-item:nth-child(3) .J_letUserOut,
.roomType2 .newdetail-userList-item:nth-child(4) .J_letUserOut,
.roomType2 .newdetail-userList-item:nth-child(5) .J_letUserOut,
.roomType2 .newdetail-userList-item:nth-child(6) .J_letUserOut,
.roomType2 .newdetail-userList-item:nth-child(7) .J_letUserOut,
.roomType2 .newdetail-userList-item:nth-child(8) .J_letUserOut {
    display: none;
}

.roomType2 .newdetail-userList-item:nth-child(3) .newdetail-userList-item-roombot,
.roomType2 .newdetail-userList-item:nth-child(4) .newdetail-userList-item-roombot,
.roomType2 .newdetail-userList-item:nth-child(5) .newdetail-userList-item-roombot,
.roomType2 .newdetail-userList-item:nth-child(6) .newdetail-userList-item-roombot,
.roomType2 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-roombot,
.roomType2 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-roombot {
    display: none;
}

.roomType2 .newdetail-userList-item:nth-child(3) .newdetail-userList-item-menu,
.roomType2 .newdetail-userList-item:nth-child(4) .newdetail-userList-item-menu,
.roomType2 .newdetail-userList-item:nth-child(5) .newdetail-userList-item-menu,
.roomType2 .newdetail-userList-item:nth-child(6) .newdetail-userList-item-menu,
.roomType2 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-menu,
.roomType2 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-menu {
    display: none;
}

.roomType2 .newdetail-userList-item:nth-child(3).newdetail-userList-item-empty .newdetail-userList-item-name,
.roomType2 .newdetail-userList-item:nth-child(4).newdetail-userList-item-empty .newdetail-userList-item-name,
.roomType2 .newdetail-userList-item:nth-child(5).newdetail-userList-item-empty .newdetail-userList-item-name,
.roomType2 .newdetail-userList-item:nth-child(6).newdetail-userList-item-empty .newdetail-userList-item-name,
.roomType2 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty .newdetail-userList-item-name,
.roomType2 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty .newdetail-userList-item-name {
    display: none;
}

.roomType2 .newdetail-userList-item:nth-child(3).newdetail-userList-item-empty.newdetail-userList-item-close .newdetail-userList-item-name,
.roomType2 .newdetail-userList-item:nth-child(4).newdetail-userList-item-empty.newdetail-userList-item-close .newdetail-userList-item-name,
.roomType2 .newdetail-userList-item:nth-child(5).newdetail-userList-item-empty.newdetail-userList-item-close .newdetail-userList-item-name,
.roomType2 .newdetail-userList-item:nth-child(6).newdetail-userList-item-empty.newdetail-userList-item-close .newdetail-userList-item-name,
.roomType2 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty.newdetail-userList-item-close .newdetail-userList-item-name,
.roomType2 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty.newdetail-userList-item-close .newdetail-userList-item-name {
    display: inline-block;
}

.roomType2 .newdetail-userList-item:nth-child(3).newdetail-userList-item-empty.newdetail-userList-item-close .roomTypemoreLoadingJoin,
.roomType2 .newdetail-userList-item:nth-child(4).newdetail-userList-item-empty.newdetail-userList-item-close .roomTypemoreLoadingJoin,
.roomType2 .newdetail-userList-item:nth-child(5).newdetail-userList-item-empty.newdetail-userList-item-close .roomTypemoreLoadingJoin,
.roomType2 .newdetail-userList-item:nth-child(6).newdetail-userList-item-empty.newdetail-userList-item-close .roomTypemoreLoadingJoin,
.roomType2 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty.newdetail-userList-item-close .roomTypemoreLoadingJoin,
.roomType2 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty.newdetail-userList-item-close .roomTypemoreLoadingJoin {
    display: none;
}

.roomType2 .newdetail-userList-item:nth-child(3).newdetail-userList-item-empty .roomTypemoreLoadingJoin,
.roomType2 .newdetail-userList-item:nth-child(4).newdetail-userList-item-empty .roomTypemoreLoadingJoin,
.roomType2 .newdetail-userList-item:nth-child(5).newdetail-userList-item-empty .roomTypemoreLoadingJoin,
.roomType2 .newdetail-userList-item:nth-child(6).newdetail-userList-item-empty .roomTypemoreLoadingJoin,
.roomType2 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty .roomTypemoreLoadingJoin,
.roomType2 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty .roomTypemoreLoadingJoin {
    display: inline-block;
}

.roomType2 .newdetail-userList-item:nth-child(3).newdetail-userList-item-empty,
.roomType2 .newdetail-userList-item:nth-child(4).newdetail-userList-item-empty,
.roomType2 .newdetail-userList-item:nth-child(5).newdetail-userList-item-empty,
.roomType2 .newdetail-userList-item:nth-child(6).newdetail-userList-item-empty,
.roomType2 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty,
.roomType2 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty {
    padding-left: 98px;
}

.roomType2 .newdetail-userList-item:nth-child(4),
.roomType2 .newdetail-userList-item:nth-child(6),
.roomType2 .newdetail-userList-item:nth-child(8) {
    border-right: 1px solid #27304c;
}

.roomType2 .newdetail-userList-item:nth-child(3).newdetail-userList-item-empty.newdetail-userList-item-close,
.roomType2 .newdetail-userList-item:nth-child(4).newdetail-userList-item-empty.newdetail-userList-item-close,
.roomType2 .newdetail-userList-item:nth-child(5).newdetail-userList-item-empty.newdetail-userList-item-close,
.roomType2 .newdetail-userList-item:nth-child(6).newdetail-userList-item-empty.newdetail-userList-item-close,
.roomType2 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty.newdetail-userList-item-close,
.roomType2 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty.newdetail-userList-item-close {
    padding-left: 122px;
}

.roomType2 .newdetail-userList-item:nth-child(3) .newdetail-userList-item-name-div,
.roomType2 .newdetail-userList-item:nth-child(4) .newdetail-userList-item-name-div,
.roomType2 .newdetail-userList-item:nth-child(5) .newdetail-userList-item-name-div,
.roomType2 .newdetail-userList-item:nth-child(6) .newdetail-userList-item-name-div,
.roomType2 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-name-div,
.roomType2 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-name-div {
    width: auto;
}

.roomType2 .newdetail-userList-item:nth-child(3) .newdetail-userList-item-avatar,
.roomType2 .newdetail-userList-item:nth-child(3) .newdetail-userList-item-avatar img,
.roomType2 .newdetail-userList-item:nth-child(4) .newdetail-userList-item-avatar,
.roomType2 .newdetail-userList-item:nth-child(4) .newdetail-userList-item-avatar img,
.roomType2 .newdetail-userList-item:nth-child(5) .newdetail-userList-item-avatar,
.roomType2 .newdetail-userList-item:nth-child(5) .newdetail-userList-item-avatar img,
.roomType2 .newdetail-userList-item:nth-child(6) .newdetail-userList-item-avatar,
.roomType2 .newdetail-userList-item:nth-child(6) .newdetail-userList-item-avatar img,
.roomType2 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-avatar,
.roomType2 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-avatar img,
.roomType2 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-avatar,
.roomType2 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-avatar img {
    width: 24px;
    height: 24px;
}

.roomType2 .newdetail-userList-item:nth-child(3) .newdetail-userList-item-name,
.roomType2 .newdetail-userList-item:nth-child(4) .newdetail-userList-item-name,
.roomType2 .newdetail-userList-item:nth-child(5) .newdetail-userList-item-name,
.roomType2 .newdetail-userList-item:nth-child(6) .newdetail-userList-item-name,
.roomType2 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-name,
.roomType2 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-name {
    max-width: 100px;
}

.roomType2 .newdetail-userList-item:hover .newdetail-userList-item-empty-operation {
    opacity: 1;
}

.roomType2 .newdetail-userList-item:nth-child(3) .newdetail-userList-item-empty-operation,
.roomType2 .newdetail-userList-item:nth-child(4) .newdetail-userList-item-empty-operation,
.roomType2 .newdetail-userList-item:nth-child(5) .newdetail-userList-item-empty-operation,
.roomType2 .newdetail-userList-item:nth-child(6) .newdetail-userList-item-empty-operation,
.roomType2 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-empty-operation,
.roomType2 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-empty-operation {
    left: 25px;
    top: 4px;
    width: 291px;
    height: 35px;
    text-align: center;
}

.roomType2 .newdetail-userList-item:nth-child(3).newdetail-userList-item-empty .newdetail-userList-item-avatar,
.roomType2 .newdetail-userList-item:nth-child(4).newdetail-userList-item-empty .newdetail-userList-item-avatar,
.roomType2 .newdetail-userList-item:nth-child(5).newdetail-userList-item-empty .newdetail-userList-item-avatar,
.roomType2 .newdetail-userList-item:nth-child(6).newdetail-userList-item-empty .newdetail-userList-item-avatar,
.roomType2 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty .newdetail-userList-item-avatar,
.roomType2 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty .newdetail-userList-item-avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    right: 1px;
    top: -3px;
}

.roomType2 .newdetail-userList-item:nth-child(3).newdetail-userList-item-empty .newdetail-userList-item-avatar img,
.roomType2 .newdetail-userList-item:nth-child(4).newdetail-userList-item-empty .newdetail-userList-item-avatar img,
.roomType2 .newdetail-userList-item:nth-child(5).newdetail-userList-item-empty .newdetail-userList-item-avatar img,
.roomType2 .newdetail-userList-item:nth-child(6).newdetail-userList-item-empty .newdetail-userList-item-avatar img,
.roomType2 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty .newdetail-userList-item-avatar img,
.roomType2 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty .newdetail-userList-item-avatar img {
    width: 30px;
    height: 30px;

}

.roomType2 .newdetail-userList-item:nth-child(3).newdetail-userList-item-empty .newdetail-userList-item-name-div,
.roomType2 .newdetail-userList-item:nth-child(4).newdetail-userList-item-empty .newdetail-userList-item-name-div,
.roomType2 .newdetail-userList-item:nth-child(5).newdetail-userList-item-empty .newdetail-userList-item-name-div,
.roomType2 .newdetail-userList-item:nth-child(6).newdetail-userList-item-empty .newdetail-userList-item-name-div,
.roomType2 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty .newdetail-userList-item-name-div,
.roomType2 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty .newdetail-userList-item-name-div {
    display: inline-block;
    position: relative;
    right: 1px;
    top: -5px;
}


.roomType2 .newdetail-userList-item:nth-child(3) .newdetail-userList-item-roombot,
.roomType2 .newdetail-userList-item:nth-child(4) .newdetail-userList-item-roombot,
.roomType2 .newdetail-userList-item:nth-child(5) .newdetail-userList-item-roombot,
.roomType2 .newdetail-userList-item:nth-child(6) .newdetail-userList-item-roombot,
.roomType2 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-roombot,
.roomType2 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-roombot {
    top: 12px;
    left: 70px;
}

.newdetail-row-left.roomType-left2 .newdetail-chatDiv {
    height: 263px;
}

.newdetail-row-left.roomType-left2 .newdetail-chatDiv .newdetail-chatDiv-scroll {
    height: 69%;
}

.newdetail-row-left.roomType-left2 .newdetail-chatDiv.emptyMessage .newdetail-chatDiv-scroll {
    height: 79.8%;
}

/*
    ---------------------------------2V2-----------------------------
*/
.roomType3 {
    border: none !important;
    min-height: 347px;
}

.roomType3 .newdetail-userList-item:nth-child(1), .roomType3 .newdetail-userList-item:nth-child(3) {
    margin-top: 25px;
    position: relative;
    /* border: 1px solid #2E3D6B; */
    border-top: none;
}

.roomType3 .newdetail-userList-item:nth-child(2),
.roomType3 .newdetail-userList-item:nth-child(4) {
    border-radius: 0px 0px 4px 4px;
}

.roomType3 .newdetail-userList-item:nth-child(7) {
    border-radius: 0px 0px 0px 4px;
}

.roomType3 .newdetail-userList-item:nth-child(8) {
    border-radius: 0px 0px 4px 0px;
}


.roomType3 .newdetail-userList-item:nth-child(1),
.roomType3 .newdetail-userList-item:nth-child(2),
.roomType3 .newdetail-userList-item:nth-child(3),
.roomType3 .newdetail-userList-item:nth-child(4) {
    border-left: 1px solid #2E3D6B;
    border-right: 1px solid #2E3D6B;
}

.roomType3 .newdetail-userList-item:nth-child(2),
.roomType3 .newdetail-userList-item:nth-child(4) {
    border-bottom: 1px solid #2E3D6B;
}

.roomType3 .newdetail-userList-item:nth-child(1):after, .roomType3 .newdetail-userList-item:nth-child(3):after, .roomType3 .newdetail-userList-item:nth-child(5):after {
    content: attr(data-content-after);
    height: 25px;
    background: #28375c;
    position: absolute;
    top: -25px;
    left: 0px;
    padding-left: 14px;
    line-height: 25px;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #2E3D6B;
    width: 689px;
    left: -1px;
    pointer-events: none;
}

.roomType3 .newdetail-userList-item:nth-child(3) {
    margin-top: 35px;
}

.roomType3 .newdetail-userList-item:nth-child(3):after {
    content: attr(data-content-after);
}

.roomType3 .newdetail-userList-item-menu-team {
    display: none;
}

.roomType3 .newdetail-userList-item-name-div {
    width: 275px;
}

.roomType3 .newdetail-userList-item-name {
    max-width: 180px;
}

.roomType3 .newdetail-userList-item:nth-child(5) {
    margin-top: 35px;
}

.roomType3 .newdetail-userList-item:nth-child(5):after {
    content: attr(data-content-after);
}

.roomType3 .newdetail-userList-item:nth-child(6) {
    margin-top: 35px;
}

.roomType3 .newdetail-userList-item:nth-child(5),
.roomType3 .newdetail-userList-item:nth-child(6),
.roomType3 .newdetail-userList-item:nth-child(7),
.roomType3 .newdetail-userList-item:nth-child(8) {
    width: 50%;
    display: inline-block;
    float: left;
    height: 40px;
    background: #181a26;
    border-bottom: 1px solid #27304c;
    border-left: 1px solid #27304c;
    padding: 8px 0px;
    padding-left: 100px;
}

.roomType3 .newdetail-userList-item:nth-child(5) .newdetail-userList-item-roombot,
.roomType3 .newdetail-userList-item:nth-child(6) .newdetail-userList-item-roombot,
.roomType3 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-roombot,
.roomType3 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-roombot {
    display: none;
}

.roomType3 .newdetail-userList-item:nth-child(5) .J_letUserOut,
.roomType3 .newdetail-userList-item:nth-child(6) .J_letUserOut,
.roomType3 .newdetail-userList-item:nth-child(7) .J_letUserOut,
.roomType3 .newdetail-userList-item:nth-child(8) .J_letUserOut {
    display: none;
}

.roomType3 .newdetail-userList-item:nth-child(5) .newdetail-userList-item-menu,
.roomType3 .newdetail-userList-item:nth-child(6) .newdetail-userList-item-menu,
.roomType3 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-menu,
.roomType3 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-menu {
    display: none;
}

.roomType3 .newdetail-userList-item:nth-child(5).newdetail-userList-item-empty .newdetail-userList-item-name,
.roomType3 .newdetail-userList-item:nth-child(6).newdetail-userList-item-empty .newdetail-userList-item-name,
.roomType3 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty .newdetail-userList-item-name,
.roomType3 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty .newdetail-userList-item-name {
    display: none;
}

.roomType3 .newdetail-userList-item:nth-child(5).newdetail-userList-item-empty.newdetail-userList-item-close .newdetail-userList-item-name,
.roomType3 .newdetail-userList-item:nth-child(6).newdetail-userList-item-empty.newdetail-userList-item-close .newdetail-userList-item-name,
.roomType3 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty.newdetail-userList-item-close .newdetail-userList-item-name,
.roomType3 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty.newdetail-userList-item-close .newdetail-userList-item-name {
    display: inline-block;
}

.roomType3 .newdetail-userList-item:nth-child(5).newdetail-userList-item-empty.newdetail-userList-item-close .roomTypemoreLoadingJoin,
.roomType3 .newdetail-userList-item:nth-child(6).newdetail-userList-item-empty.newdetail-userList-item-close .roomTypemoreLoadingJoin,
.roomType3 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty.newdetail-userList-item-close .roomTypemoreLoadingJoin,
.roomType3 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty.newdetail-userList-item-close .roomTypemoreLoadingJoin {
    display: none;
}

.roomType3 .newdetail-userList-item:nth-child(5).newdetail-userList-item-empty .roomTypemoreLoadingJoin,
.roomType3 .newdetail-userList-item:nth-child(6).newdetail-userList-item-empty .roomTypemoreLoadingJoin,
.roomType3 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty .roomTypemoreLoadingJoin,
.roomType3 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty .roomTypemoreLoadingJoin {
    display: inline-block;
}

.roomType3 .newdetail-userList-item:nth-child(5).newdetail-userList-item-empty,
.roomType3 .newdetail-userList-item:nth-child(6).newdetail-userList-item-empty,
.roomType3 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty,
.roomType3 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty {
    padding-left: 98px;
}

.roomType3 .newdetail-userList-item:nth-child(6),
.roomType3 .newdetail-userList-item:nth-child(8) {
    border-right: 1px solid #27304c;
}

.roomType3 .newdetail-userList-item:nth-child(5).newdetail-userList-item-empty.newdetail-userList-item-close,
.roomType3 .newdetail-userList-item:nth-child(6).newdetail-userList-item-empty.newdetail-userList-item-close,
.roomType3 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty.newdetail-userList-item-close,
.roomType3 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty.newdetail-userList-item-close {
    padding-left: 122px;
}

.roomType3 .newdetail-userList-item:nth-child(5) .newdetail-userList-item-name-div,
.roomType3 .newdetail-userList-item:nth-child(6) .newdetail-userList-item-name-div,
.roomType3 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-name-div,
.roomType3 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-name-div {
    width: auto;
}

.roomType3 .newdetail-userList-item:nth-child(5) .newdetail-userList-item-avatar,
.roomType3 .newdetail-userList-item:nth-child(5) .newdetail-userList-item-avatar img,
.roomType3 .newdetail-userList-item:nth-child(6) .newdetail-userList-item-avatar,
.roomType3 .newdetail-userList-item:nth-child(6) .newdetail-userList-item-avatar img,
.roomType3 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-avatar,
.roomType3 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-avatar img,
.roomType3 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-avatar,
.roomType3 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-avatar img {
    width: 24px;
    height: 24px;
}

.roomType3 .newdetail-userList-item:nth-child(5) .newdetail-userList-item-name,
.roomType3 .newdetail-userList-item:nth-child(6) .newdetail-userList-item-name,
.roomType3 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-name,
.roomType3 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-name {
    max-width: 100px;
}

.roomType3 .newdetail-userList-item:hover .newdetail-userList-item-empty-operation {
    opacity: 1;
}

.roomType3 .newdetail-userList-item:nth-child(5) .newdetail-userList-item-empty-operation,
.roomType3 .newdetail-userList-item:nth-child(6) .newdetail-userList-item-empty-operation,
.roomType3 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-empty-operation,
.roomType3 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-empty-operation {
    left: 25px;
    top: 4px;
    width: 291px;
    height: 35px;
    text-align: center;
}

.roomType3 .newdetail-userList-item:nth-child(5).newdetail-userList-item-empty .newdetail-userList-item-avatar,
.roomType3 .newdetail-userList-item:nth-child(6).newdetail-userList-item-empty .newdetail-userList-item-avatar,
.roomType3 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty .newdetail-userList-item-avatar,
.roomType3 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty .newdetail-userList-item-avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    right: 1px;
    top: -3px;
}

.roomType3 .newdetail-userList-item:nth-child(5).newdetail-userList-item-empty .newdetail-userList-item-avatar img,
.roomType3 .newdetail-userList-item:nth-child(6).newdetail-userList-item-empty .newdetail-userList-item-avatar img,
.roomType3 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty .newdetail-userList-item-avatar img,
.roomType3 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty .newdetail-userList-item-avatar img {
    width: 30px;
    height: 30px;

}

.roomType3 .newdetail-userList-item:nth-child(5).newdetail-userList-item-empty .newdetail-userList-item-name-div,
.roomType3 .newdetail-userList-item:nth-child(6).newdetail-userList-item-empty .newdetail-userList-item-name-div,
.roomType3 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty .newdetail-userList-item-name-div,
.roomType3 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty .newdetail-userList-item-name-div {
    display: inline-block;
    position: relative;
    right: 1px;
    top: -5px;
}



.roomType3 .newdetail-userList-item:nth-child(5) .newdetail-userList-item-roombot,
.roomType3 .newdetail-userList-item:nth-child(6) .newdetail-userList-item-roombot,
.roomType3 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-roombot,
.roomType3 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-roombot {
    top: 12px;
    left: 70px;
}

.newdetail-row-left.roomType-left3 .newdetail-chatDiv {
    height: 200px;
}

.newdetail-row-left.roomType-left3 .newdetail-chatDiv .newdetail-chatDiv-scroll {
    height: 59.8%;
}

.newdetail-row-left.roomType-left3 .newdetail-chatDiv.emptyMessage .newdetail-chatDiv-scroll {
    height: 73.5%;
}

/*
    ---------------------------------3V3-----------------------------
*/

.roomType4 {
    border: none !important;
    min-height: 405px;
}

.roomType4 .newdetail-userList-item:nth-child(1), .roomType4 .newdetail-userList-item:nth-child(4) {
    margin-top: 25px;
    position: relative;
    /* border: 1px solid #2E3D6B; */
    border-top: none;
}

.roomType4 .newdetail-userList-item:nth-child(3),
.roomType4 .newdetail-userList-item:nth-child(6) {
    border-radius: 0px 0px 4px 4px;
}

.roomType4 .newdetail-userList-item:nth-child(7) {
    border-radius: 0px 0px 0px 4px;
}

.roomType4 .newdetail-userList-item:nth-child(8) {
    border-radius: 0px 0px 4px 0px;
}

.roomType4 .newdetail-userList-item:nth-child(1),
.roomType4 .newdetail-userList-item:nth-child(2),
.roomType4 .newdetail-userList-item:nth-child(3),
.roomType4 .newdetail-userList-item:nth-child(4),
.roomType4 .newdetail-userList-item:nth-child(5),
.roomType4 .newdetail-userList-item:nth-child(6) {
    border-left: 1px solid #2E3D6B;
    border-right: 1px solid #2E3D6B;
}

.roomType4 .newdetail-userList-item:nth-child(3),
.roomType4 .newdetail-userList-item:nth-child(6) {
    border-bottom: 1px solid #2E3D6B;
}

.roomType4 .newdetail-userList-item:nth-child(1):after, .roomType4 .newdetail-userList-item:nth-child(4):after, .roomType4 .newdetail-userList-item:nth-child(7):after {
    content: attr(data-content-after);
    height: 25px;
    background: #28375c;
    position: absolute;
    top: -25px;
    left: 0px;
    padding-left: 14px;
    line-height: 25px;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #2E3D6B;
    width: 689px;
    left: -1px;
    pointer-events: none;
}

.roomType4 .newdetail-userList-item:nth-child(4) {
    margin-top: 35px;
}

.roomType4 .newdetail-userList-item:nth-child(4):after {
    content: attr(data-content-after);
}

.roomType4 .newdetail-userList-item-menu-team {
    display: none;
}

.roomType4 .newdetail-userList-item-name-div {
    width: 275px;
}

.roomType4 .newdetail-userList-item-name {
    max-width: 180px;
}

.roomType4 .newdetail-userList-item:nth-child(7) {
    margin-top: 35px;
}

.roomType4 .newdetail-userList-item:nth-child(7):after {
    content: attr(data-content-after);
}

.roomType4 .newdetail-userList-item:nth-child(8) {
    margin-top: 35px;
}

.roomType4 .newdetail-userList-item:nth-child(7),
.roomType4 .newdetail-userList-item:nth-child(8) {
    width: 50%;
    display: inline-block;
    float: left;
    height: 40px;
    background: #181a26;
    /* border-bottom: 1px solid #27304c; */
    border-left: 1px solid #27304c;
    padding: 8px 0px;
    padding-left: 100px;
}

.roomType4 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-roombot,
.roomType4 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-roombot {
    display: none;
}

.roomType4 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-menu,
.roomType4 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-menu {
    display: none;
}

.roomType4 .newdetail-userList-item:nth-child(7) .J_letUserOut,
.roomType4 .newdetail-userList-item:nth-child(8) .J_letUserOut {
    display: none;
}

.roomType4 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty .newdetail-userList-item-name,
.roomType4 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty .newdetail-userList-item-name {
    display: none;
}

.roomType4 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty.newdetail-userList-item-close .newdetail-userList-item-name,
.roomType4 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty.newdetail-userList-item-close .newdetail-userList-item-name {
    display: inline-block;
}

.roomType4 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty.newdetail-userList-item-close .roomTypemoreLoadingJoin,
.roomType4 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty.newdetail-userList-item-close .roomTypemoreLoadingJoin {
    display: none;
}

.roomType4 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty .roomTypemoreLoadingJoin,
.roomType4 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty .roomTypemoreLoadingJoin {
    display: inline-block;
}

.roomType4 .newdetail-userList-item:nth-child(7),
.roomType4 .newdetail-userList-item:nth-child(8) {
    padding-left: 98px;
    border-bottom: 1px solid #27304c;
}

.roomType4 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty.newdetail-userList-item-close,
.roomType4 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty.newdetail-userList-item-close {
    padding-left: 122px;
}

.roomType4 .newdetail-userList-item:nth-child(8) {
    border-right: 1px solid #27304c;
}

.roomType4 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-name-div,
.roomType4 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-name-div {
    width: auto;
}

.roomType4 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-avatar,
.roomType4 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-avatar img,
.roomType4 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-avatar,
.roomType4 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-avatar img {
    width: 24px;
    height: 24px;
}

.roomType4 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty .newdetail-userList-item-avatar img,
.roomType4 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty .newdetail-userList-item-avatar img {
    width: 30px;
    height: 30px;

}

.roomType4 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-name,
.roomType4 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-name {
    max-width: 100px;
}

.roomType4 .newdetail-userList-item:hover .newdetail-userList-item-empty-operation {
    opacity: 1;
}

.roomType4 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-empty-operation,
.roomType4 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-empty-operation {
    left: 25px;
    top: 4px;
    width: 291px;
    height: 35px;
    text-align: center;
}

.roomType4 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty .newdetail-userList-item-avatar,
.roomType4 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty .newdetail-userList-item-avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    right: 1px;
    top: -3px;
}

.roomType4 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty .newdetail-userList-item-avatar,
.roomType4 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty .newdetail-userList-item-avatar {
    width: 30px;
    height: 30px;
}

.roomType4 .newdetail-userList-item:nth-child(7).newdetail-userList-item-empty .newdetail-userList-item-name-div,
.roomType4 .newdetail-userList-item:nth-child(8).newdetail-userList-item-empty .newdetail-userList-item-name-div {
    display: inline-block;
    position: relative;
    right: 1px;
    top: -5px;
}


.roomType4 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-roombot,
.roomType4 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-roombot {
    top: 12px;
    left: 70px;
}

.newdetail-row-left.roomType-left4 .newdetail-chatDiv {
    height: 142px;
}

.newdetail-row-left.roomType-left4 .newdetail-chatDiv .newdetail-chatDiv-scroll {
    height: 43%;
}

.newdetail-row-left.roomType-left4 .newdetail-chatDiv.emptyMessage .newdetail-chatDiv-scroll {
    height: 62.5%;
}

/*
    ---------------------------------4V4-----------------------------
*/

.roomType5 {
    border: none !important;
    min-height: 405px;
}

.roomType5 .newdetail-userList-item {
    height: 48px;
}

.roomType5 .newdetail-userList-item:nth-child(1),
.roomType5 .newdetail-userList-item:nth-child(5) {
    padding-top: 13px;
    height: 52px;
}

.roomType5 .newdetail-userList-item:nth-child(1) .newdetail-userList-item-roombot,
.roomType5 .newdetail-userList-item:nth-child(5) .newdetail-userList-item-roombot {
    top: 21px;
}

.roomType5 .newdetail-userList-item:nth-child(5) {
    margin-top: 10px;
    position: relative;
    /* border: 1px solid #2E3D6B; */
    border-top: none;
}

.roomType5 .newdetail-userList-item:nth-child(8) {
    border-radius: 0px 0px 4px 4px;
}
.roomType5 .newdetail-userList-item:nth-child(5) {
    border-radius: 5px 5px 0px 0px;
}
.roomType5 .newdetail-userList-item:nth-child(1) {
    border-radius: 5px 5px 0px 0px;
}

.roomType5 .newdetail-userList-item:nth-child(1),
.roomType5 .newdetail-userList-item:nth-child(2),
.roomType5 .newdetail-userList-item:nth-child(3),
.roomType5 .newdetail-userList-item:nth-child(4),
.roomType5 .newdetail-userList-item:nth-child(5),
.roomType5 .newdetail-userList-item:nth-child(6),
.roomType5 .newdetail-userList-item:nth-child(7),
.roomType5 .newdetail-userList-item:nth-child(8) {
    border-left: 1px solid #2E3D6B;
    border-right: 1px solid #2E3D6B;
}

.roomType5 .newdetail-userList-item:nth-child(4),
.roomType5 .newdetail-userList-item:nth-child(8) {
    border-bottom: 1px solid #2E3D6B;
}

.roomType5 .newdetail-userList-item:nth-child(1),
.roomType5 .newdetail-userList-item:nth-child(5) {
    border-top: 1px solid #2E3D6B;
}


.roomType5 .newdetail-userList-item:nth-child(1):after {
    content: attr(data-content-after);
    width: 57px;
    height: 16px;
    background: url('../../../images/details/4v4team.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 16px;
    pointer-events: none;
    text-align: left;
    padding-left: 9px;
    font-size: 10px;
    color: rgba(255, 255, 255, .8);
}

.roomType5 .newdetail-userList-item:nth-child(5):before {
    content: attr(data-content-after);
    text-align: right;
    width: 57px;
    height: 16px;
    background: url('../../../images/details/4v4team.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 16px;
    pointer-events: none;
    text-align: left;
    padding-left: 9px;
    font-size: 10px;
    color: rgba(255, 255, 255, .8);
}

.roomType5 .newdetail-userList-item-menu-team {
    display: none;
}

.roomType5 .newdetail-userList-item-name-div {
    width: 271px;
}

.roomType5 .newdetail-userList-item-name {
    max-width: 180px;
}


.roomType5 .newdetail-userList-item:hover .newdetail-userList-item-empty-operation {
    opacity: 1;
}

/* .roomType5 .newdetail-userList-item:nth-child(7) .newdetail-userList-item-roombot,
.roomType5 .newdetail-userList-item:nth-child(8) .newdetail-userList-item-roombot {
    top: 12px;
    left: 70px;
} */

.newdetail-row-left.roomType-left5 .newdetail-chatDiv {
    height: 175px;
    margin-top: 10px;
}

.newdetail-row-left.roomType-left5 .newdetail-chatDiv .newdetail-chatDiv-scroll {
    height: 51%;
}

.newdetail-row-left.roomType-left5 .newdetail-chatDiv.emptyMessage .newdetail-chatDiv-scroll {
    height: 67%;
}

/*
    ---------------------------------公用-----------------------------
*/
.newdetail-userList-item-empty-operation-item {
    position: relative;
    left: -2px
}

.newdetail-userList-item-empty-operation-item .changeweiloading {
    display: none;
}

.newdetail-userList-item-empty-operation-item.operation-item-changeweiloading .changeweiloading {
    display: inline-block;
}

.newdetail-userList-item-empty-operation-item.operation-item-changeweiloading .changeweiloading-uptext {
    display: none;
}

.newdetail-userList-item-close .newdetail-userList-item-name {
    position: relative;
    /* top: 2px; */
}